{% extends base_template %}

{% block stylesheets %}
    {{ parent() }}
{% endblock %}


{% block alerts_menu %}
    {# TODO : trouver un moyen de faire descendre le menu gauche ou de vider cette zone #}
    <ul class="smm-alerts">
        <li></li>
    </ul>
{% endblock alerts_menu %}


{% block mainMenu_listItems %}
    <li class="active"><a href="{{ path("fos_user_profile_show") }}">Profil</a></li>
    <li><a href="#">autres</a></li>
{% endblock mainMenu_listItems %}

{% block content_body %}
    <div class="card">
        <div class="card-header">
            <h1>Profil</h1>
        </div>
        <div class="card-body card-padding">
            {% if app.request.hasPreviousSession and app.session.flashBag.peekall()|length>0 %}
                <div class="row">
                    {% for type, messages in app.session.flashbag.all() %}
                        {% for message in messages %}
                            <div class="flash-{{ type }}">
                                {{ message }}
                            </div>
                        {% endfor %}
                    {% endfor %}
                </div>
            {% endif %}

            {% block fos_user_content %}{% endblock fos_user_content %}
        </div>
    </div>

{% endblock %}

{% block javascripts %}
    {{ parent() }}
{% endblock %}