{% extends base_template %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" type="text/css" href="{{ asset("bundles/app/css/plugins/iCheck/flat/green.css") }}"/>
{% endblock %}

{% block content_body %}
    {% if app.request.hasPreviousSession and app.session.flashBag.peekall()|length>0 %}
        <div class="row">
            {% for type, messages in app.session.flashbag.all() %}
                {% for message in messages %}
                    <div class="flash-{{ type }}">
                        {{ message }}
                    </div>
                {% endfor %}
            {% endfor %}
        </div>
    {% endif %}

    {% block fos_user_content %}{% endblock fos_user_content %}

{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('bundles/app/js/plugins/iCheck/icheck.min.js') }}"></script>
    <script>
        $(document).ready(function () {
            $('.i-checks').iCheck({
                checkboxClass: 'icheckbox_flat-green',
                radioClass: 'iradio_flat-green'
            });
        });
    </script>
{% endblock %}