{% extends "::base.html.twig" %}

{# LAYOUT : une colonne centrale #}
{% block main_section_class %}index-main{% endblock %}
{% block main_content_class %}container-fluid{% endblock %}

{# Vidage du menu latéral #}
{% block sidebar_collapse_cmd %}{% endblock %}
{% block s_main_menu %}{% endblock s_main_menu %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset("bundles/app/css/yp-index.css") }}">
{% endblock %}

{% block content_body %}
    <!-- Header -->
    <div class="row">
        {# Inscription #}
        <section class="index-section bgm-white">
            <div class="container">
                <div class="row text-center">
                    <div class="col-md-8 col-md-offset-2">
                        <h2>1. Inscription</h2>
                        <hr class="small black">
                        <div class="row">
                            <div class="col-xs-12 col-sm-6 p-t-10">
                                <p>Cette étape est optionnelle, mais nous vous conseillons toutefois de vous inscrire.</p>
                                <p>Vous inscrire vous permettra de retrouver et gérer simplement vos pages.</p>
                            </div>
                            <div class="col-xs-12 col-sm-6">
                                <img src="{{ asset("bundles/app/img/help-pro/inscription-fr.jpg") }}" class="img-max100 p-b-10">
                            </div>
                        </div>
                    </div>
                </div>
                <!-- /.row -->
            </div>
            <!-- /.container -->
        </section>


        {# Creation evenement #}
        <section class="index-section bgm-teal">
            <div class="container">
                <div class="row text-center">
                    <div class="col-lg-8 col-lg-offset-2">
                        <h2 class="c-white">2. Créer votre page</h2>
                        <hr class="small">
                        <div class="row">
                            <div class="col-xs-12 col-sm-6">
                                <img src="{{ asset("bundles/app/img/help-pro/creation-fr.png") }}" class="img-max100 p-b-10">
                            </div>
                            <div class="col-xs-12 col-sm-6 p-t-10">
                                <div class="m-t-30 hidden-xs"></div>
                                 <p class="c-white">Cette étape est la plus importante, c'est celle qui vous permettra de créer votre page.</p>
                                 <p class="c-white">Elle se déroule en 3 sous-étapes :<br>
                                 <br>
                                    a. Renseignez les informations sur vos activités<br>
                                    b. Ajouter les fonctionnalités nécessaires<br>
                                    c. Activer la duplication d'événements</p>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- /.row -->
            </div>
            <!-- /.container -->
        </section>

          <section class="index-section bgm-white">
            <div class="container">
                <div class="row text-center">
                    <div class="col-md-8 col-md-offset-2">
                        <h2>2.a Vos informations</h2>
                        <hr class="small black">
                        <div class="row text-left text-justify">
                            <div class="col-xs-12 col-sm-6 p-t-10">
                                <p>A cette étape (= parties 1 et 2 de l'assistant de création) vous allez pouvoir renseigner les informations relatives à votre activité :<br>
                                <ul>
                                    <li>Un nom et une description</li>
                                    <li>Votre adresse</li>
                                    <li>Vos horaires</li>
                                    <li>Vos moyens de contact</li>
                                    <li>Votre site web et vos réseaux sociaux</li>
                                    <li>...</li>
                                </ul>
                                La partie "à propos de vous" ne sera pas visible par l'utilisateur final.</p>
                            </div>
                            <div class="col-xs-12 col-sm-6">
                                <img src="{{ asset("bundles/app/img/help-pro/creation2-fr.png") }}" class="img-max100 p-b-10">
                            </div>
                        </div>
                    </div>
                </div>
                <!-- /.row -->
            </div>
            <!-- /.container -->
        </section>

        <section class="index-section">
            <div class="container">
                <div class="row text-center">
                    <div class="col-md-8 col-md-offset-2">
                        <h2>2.b Vos activités</h2>
                        <hr class="small black">
                        <div class="row text-left text-justify">
                            <div class="col-xs-12 col-sm-5 col-md-4 col-lg-3 text-center">
                                <img src="{{ asset("bundles/app/img/help-pro/creation3-fr.png") }}" class="img-max100 img-maxh500px p-b-10">
                            </div>
                            <div class="col-xs-12 col-sm-7 col-md-8 col-lg-9 p-t-10">
                                <p>C'est ici que vous allez ajouter des éléments pour aider vos clients, les aider à choisir une date, une de vos activités,...
                                vous disposez pour cela des options suivantes :<br>
                                <ul>
                                    <li>Activité : l'élément le plus complet, il permet de présenter une activité à l'aide d'un nom d'une description et d'une photo</li>
                                    <li>Quand : permet de choisir une date, <strong>nous vous conseillons de mettre ce sondage dans chacune de vos pages</strong></li>
                                    <li>Où : Permet de choisir un lieu, utile si vous possédez plusieurs implantations géographiques</li>
                                    <li>Qui apporte quoi : Permet des réponses sous forme numérique</li>
                                    <li>Quoi : Pour tout le reste!</li>
                                </ul>
                                Pour chaque fonctionnalité vous pouvez changer le nom et ajouter une description, par exemple pour renommer "Activité" en "Choix d'une salle" ou "Choix d'un parcours".<br>
                                <br>
                                Pour chaque fonctionnalité il vous faut ensuite ajouter des "Propositions".</p>
                                <p>Après avoir validé cette étape, l'étape suivante vous permettra d'inviter des amis, passez cette étape.</p>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- /.row -->
            </div>
            <!-- /.container -->
        </section>

        {# Creation evenement #}
        <section class="index-section bgm-white">
            <div class="container">
                <div class="row text-center">
                    <div class="col-lg-8 col-lg-offset-2">
                        <h2>Résultat</h2>
                        <hr class="small black">
                        <div class="row">
                            <div class="col-xs-12">
                                 <p>Voici le résultat que vous obtiendrez!</p>
                                 <p>La dernière étape est de faire profiter vos clients de cette page!</p>
                            </div>
                            <div class="col-xs-12">
                                <img src="{{ asset("bundles/app/img/help-pro/page-event-fr.jpg") }}" class="img-max100 p-b-10">
                            </div>
                        </div>
                    </div>
                </div>
                <!-- /.row -->
            </div>
            <!-- /.container -->
        </section>

        {# Creation evenement #}
        <section class="index-section bgm-teal">
            <div class="container">
                <div class="row text-center">
                    <div class="col-lg-8 col-lg-offset-2">
                        <h2 class="c-white">3. Partager votre événement</h2>
                        <hr class="small">
                        <div class="row">
                            <div class="col-xs-12 col-sm-6">
                                <img src="{{ asset("bundles/app/img/help-pro/partage1-fr.png") }}" class="img-max100 img-maxh500px p-b-10">
                            </div>
                            <div class="col-xs-12 col-sm-6 p-t-10 text-left text-justify">
                                <div class="m-t-30 hidden-xs"></div>
                                 <p class="c-white">C'est la dernière étape !</p>
                                 <p class="c-white">Pour activer le partage :
                                     <ul class="c-white">
                                        <li>Cliquer sur la roue crantée de la description de votre page</li>
                                        <li>Selectionner "Options de duplication"</li>
                                        <li>Une fenêtre s'ouvre il faut alors, activer la duplication et valider</li>
                                        <li>Votre lien apparait</li>
                                     </ul>
                                 </p>
                                 <p class="c-white">Ce lien permet à quiconque clique dessus de dupliquer votre page pour l'utiliser, vos clients pourront donc l'utiliser pour s'organiser et venir profiter de vos activités.<br>
                                 Quelques suggestions d'utilisation:
                                     <ul class="c-white">
                                        <li>Sur votre site : ne laissez pas vos visteurs partir sans qu'ils invitent leurs amis</li>
                                        <li>Sur votre page facebook, lorsque vous proposez des activités</li>
                                        <li>Sur vos flyeurs</li>
                                        <li>Vous pouvez également le transformer en Qrcode pour tous vos imprimables : <a class="c-white" href="http://fr.qr-code-generator.com/" target="_blank">http://fr.qr-code-generator.com/</a></li>
                                     </ul>
                                 </p>
                                 <p class="c-white">Pour tout besoin d'aide n'hésitez pas à nous contacter, nous serons ravis de vous aider. </p>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- /.row -->
            </div>
            <!-- /.container -->
        </section>

         <section class="index-section  bgm-white">
            <div class="container">
                <div class="row">
                    <div class="col-lg-10 col-lg-offset-1 text-center">
                    <h2><strong>Contactez-nous pour plus d’information :</strong></h2>
                        <hr class="small black">
                        <ul class="list-inline">
                            <li>
                                <i class="zmdi zmdi-email zmdi-hc-3x"></i><br>
                                <a href="mailto:contact@yziplan.fr"><strong>contact@yziplan.fr</strong></a>
                            </li>
                            <li>
                                <i class="zmdi zmdi-phone zmdi-hc-3x"></i><br>
                                <strong>06 28 92 21 53</strong>
                            </li>
                        </ul>
                        <hr class="small black">
                        <p>Ou via les réseaux sociaux:</p>
                        <ul class="list-inline">
                            <li>
                                <a href="https://www.facebook.com/Yziplan" target="_blank" class="link-facebook m-r-15" title="{{ "text.social_network.facebook"|trans }}">
                                <i class="zmdi zmdi-facebook-box zmdi-hc-4x"></i></a>
                            </li>
                            <li>
                                <a href="https://twitter.com/Yziplan" target="_blank" class="link-twitter m-l-15" title="{{ "text.social_network.twitter"|trans }}">
                                <i class="zmdi zmdi-twitter zmdi-hc-4x"></i></a>
                            </li>
                            <li>
                                <a href="https://www.instagram.com/yziplan/n" target="_blank" class="link-instagram m-l-15" title="{{ "text.social_network.instagram"|trans }}">
                                <i class="zmdi zmdi-instagram zmdi-hc-4x"></i></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
         </section>
{% endblock %}

{% block javascripts %}
    {{ parent () }}
{% endblock %}