{% extends "::base.html.twig" %}

{# LAYOUT : une colonne centrale #}
{% block main_section_class %}index-main{% endblock %}
{% block main_content_class %}container-fluid{% endblock %}

{# Vidage du menu latéral #}
{% block sidebar_collapse_cmd %}{% endblock %}
{% block s_main_menu %}{% endblock s_main_menu %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset("bundles/app/css/yp-index.css") }}">
    <link rel="stylesheet" href="{{ asset("bundles/app/css/jqcloud.min.css") }}">
{% endblock %}

{% block content_body %}
    <!-- Header -->
    <div class="row">
        <section class="index-section bgm-white">
            <div class="container">
                <div class="row text-center">
                    <div class="col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2">
                        <img src="{{ asset('includes/img/logo/logo_prop3_inv_header.png') }}" class="img-responsive center-block" alt="{{ "global.project_name"|trans }}">
                        <h2>Bienvenue sur Yziplan</h2>
                        <hr class="small black">
                        <div class="text-left">
                            <p><strong>Yziplan est un site d'aide à l'organisation d'activités entre amis.</strong><br>Ce site va vous permettre de créer des pages permettant aux visiteurs
                            de votre site web de s'organiser autour de votre activité en toute simplicité.</p>
                            <p>Les visiteurs de votre site sont intéressés par les activités que vous leur proposez, mais votre taux de réservation en ligne reste faible? Augmenter votre taux de
                            conversion avec une page Yziplan!</p>
                        </div>
                    </div>
                </div>
                <!-- /.row -->
            </div>
            <!-- /.container -->
        </section>

        <section class="index-section bgm-teal">
            <div class="container">
                <div class="row text-center">
                    <div class="col-lg-10 col-lg-offset-1">
                        <h2 class="c-white">Pourquoi une page Yziplan ?</h2>
                        <hr class="small">
                        <div class="row">
                            <div class="col-xs-12 col-sm-6">
                                <div class="row">
                                    <div class="col-xs-12"></div>
                                    <div class="col-xs-12 col-md-6">
                                        <div class="service-item">
                                            <span class="zmdi-hc-stack zmdi-hc-4x">
                                                <i class="zmdi zmdi-circle zmdi-hc-stack-2x c-white"></i>
                                                <i class="zmdi zmdi-share zmdi-hc-stack-1x c-teal"></i>
                                            </span>
                                            <h4 class="c-white">
                                                <strong>Meilleure acquisition</strong>
                                            </h4>
                                            <p class="c-white">Vos futurs clients pourront consulter leurs amis pour planifier leur partie tout en gardant constamment le lien avec votre site.</p>
                                             <p class="c-white">Vous pourrez ainsi augmenter le nombre de réservation en ligne.</p>
                                        </div>
                                    </div>
                                    <div class="col-xs-12 col-md-6">
                                        <div class="service-item">
                                            <span class="zmdi-hc-stack zmdi-hc-4x">
                                                <i class="zmdi zmdi-circle zmdi-hc-stack-2x c-white"></i>
                                                <i class="zmdi zmdi-calendar-check zmdi-hc-stack-1x c-teal"></i>
                                            </span>
                                            <h4 class="c-white">
                                                <strong>Le choix de la date</strong>
                                            </h4>
                                            <p class="c-white">Yziplan met en place un système de sondage simple, permettant de trouver la date et l'heure qui convient le mieux pour organiser votre activité.</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xs-12 col-sm-6">
                                <div class="row">
                                    <div class="col-xs-12 col-md-6">
                                        <div class="service-item">
                                            <span class="zmdi-hc-stack zmdi-hc-4x">
                                                <i class="zmdi zmdi-circle zmdi-hc-stack-2x c-white"></i>
                                                <i class="zmdi zmdi-thumb-up-down zmdi-hc-stack-1x c-teal"></i>
                                            </span>
                                            <h4 class="c-white">
                                                <strong>Le choix de l'activité</strong>
                                            </h4>
                                             <p class="c-white">Vous proposez plusieurs activités, pas de soucis! Yziplan à des sondages pour cela aussi!</p>
                                              <p class="c-white">Listez vos activités et les clients utilisant votre page pourront choisir une (ou des) activité(s) en se concertant avec leurs amis.</p>
                                        </div>
                                    </div>
                                    <div class="col-xs-12 col-md-6">
                                        <div class="service-item">
                                            <span class="zmdi-hc-stack zmdi-hc-4x">
                                                <i class="zmdi zmdi-circle zmdi-hc-stack-2x c-white"></i>
                                                <i class="zmdi zmdi-edit zmdi-hc-stack-1x c-teal"></i>
                                            </span>
                                            <h4 class="c-white">
                                                <strong>Tout est gratuit</strong>
                                            </h4>
                                             <p class="c-white">Bien sur Yziplan est gratuit aussi bien pour vous que pour vos clients.</p>
                                              <p class="c-white"><strong>Qu'attendez vous pour essayer?</strong></p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2 col-lg-6 col-lg-offset-3 text-center">
                                <p class="c-white">Voici un guide pour la réalisation de ces pages, elles pourront ensuite être partagées en toute simplicité :
                               <a class="c-white" href="{{ path('helpPageCreation') }}"><strong><u>Création de page</u></strong></a></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section class="index-section  bgm-white">
            <div class="container">
                <div class="row">
                    <div class="col-lg-10 col-lg-offset-1 text-center">
                    <h2><strong>Contactez-nous pour plus d’information :</strong></h2>
                        <hr class="small black">
                        <ul class="list-inline">
                            <li>
                                <i class="zmdi zmdi-email zmdi-hc-3x"></i><br>
                                <a href="mailto:contact@yziplan.fr"><strong>contact@yziplan.fr</strong></a>
                            </li>
                            <li>
                                <i class="zmdi zmdi-phone zmdi-hc-3x"></i><br>
                                <strong>06 28 92 21 53</strong>
                            </li>
                        </ul>
                        <hr class="small black">
                        <p>Ou via les réseaux sociaux:</p>
                        <ul class="list-inline">
                            <li>
                                <a href="https://www.facebook.com/Yziplan" target="_blank" class="link-facebook m-r-15" title="{{ "text.social_network.facebook"|trans }}">
                                <i class="zmdi zmdi-facebook-box zmdi-hc-4x"></i></a>
                            </li>
                            <li>
                                <a href="https://twitter.com/Yziplan" target="_blank" class="link-twitter m-l-15" title="{{ "text.social_network.twitter"|trans }}">
                                <i class="zmdi zmdi-twitter zmdi-hc-4x"></i></a>
                            </li>
                            <li>
                                <a href="https://www.instagram.com/yziplan/n" target="_blank" class="link-instagram m-l-15" title="{{ "text.social_network.instagram"|trans }}">
                                <i class="zmdi zmdi-instagram zmdi-hc-4x"></i></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
         </section>
{% endblock %}

{% block javascripts %}
    {{ parent () }}
    <script src="{{ asset("bundles/app/js/parallax.js") }}"></script>
    <script src="{{ asset("bundles/app/js/jqcloud.js") }}"></script>
    <script>
        $('.parallax-window').parallax();
    </script>
    <script>
        var words = [
            {# Fonctionnalité #}
            {text: "Organiser", weight: 20},
            {text: "Quoi ?", weight: 16},
            {text: "Quand ?", weight: 16},
            {text: "Ou ?", weight: 15},
            {text: "Qui ?", weight: 15},
            {text: "Qui apporte quoi ?", weight: 12},
            {text: "Inviter", weight: 17},
            {text: "Checklist", weight: 9},
            {text: "Collaboratif", weight: 8},
            {text: "Sondage", weight: 7},
            {text: "Planifier", weight: 14},
            {text: "Decider", weight: 8},
            {text: "Discuter", weight: 11},

            {# Activités #}
            {text: "Activités", weight: 5},
            {text: "Soirées", weight: 5},
            {text: "Week-ends", weight: 8},
            {text: "Vacances", weight: 5},
            {text: "Sorties", weight: 4},
            {text: "Fêtes", weight: 4},
            {text: "Anniversaires", weight: 4},
            {text: "After-works", weight: 4},
            {# Ambiancage #}
            {text: "Amis", weight: 5},
            {text: "Contacts", weight: 2},
            {text: "Loisir", weight: 4},
            {text: "Fun", weight: 2},
            {text: "Simple", weight: 3},
            {text: "Utile", weight: 3},
        ];

        $('#index-feature').jQCloud(words,{
            autoResize : true,
            colors: ["#FFFFFF", "#F5F5F5", "#DFF2FF", "#BBD2E1", "#EFEFEF", "#DCDCDC", "#D3D3D3", "#CECECE", "#C0C0C0", "#A9A9A9"],
        });
    </script>
{% endblock %}