{# Données d'entrée :
- userEventInvitation (EventInvitation|null) L'invitation de l'utilisateur "connecté"
- invitation (EventInvitation|ModuleInvitation) L'invitation concernée

- Pensez a a inclure les avatars dans une div avatar-img-cintainer-xxx qui vont determiner la taille de l'avatar.
#}

{# Dans le cas d'une invitation de module on récupère l'eventInvitation liée #}
{% set eventInvitation = (invitation.eventInvitation is defined ? invitation.eventInvitation : invitation) %}

{% set hasAppUser = (eventInvitation.applicationUser is not null) %}
{% set userEventInvitation = userEventInvitation is defined?userEventInvitation:null %}
{% set eventInvitationDisplayableName = eventInvitation.displayableName(true, userEventInvitation is null?true:not userEventInvitation.organizer) %}

{# Définition de l'avatar #}
{% set avatar = null %}
{% if hasAppUser and eventInvitation.applicationUser.appUserInformation.avatar is not null %}
    {% set avatar = eventInvitation.applicationUser.appUserInformation.avatar %}
{% endif %}

{# {# Todo: Décommenter et supprimer la ligne du dessous (penser à tester data-container="body" et l'utilisation de title a la place de data-original-title, en le remettant)
<a data-toggle="dropdown" href="#">#}
<a class="d-block w-100 h-100" data-toggle="tooltip" data-placement="top" title="{{ eventInvitationDisplayableName }}" data-container="body">
    {% if avatar is not null %}
        {#<div class="yzi-avatar-img" style="background-image: url({{ asset('uploads/user/avatar/'~avatar) }})"></div>#}
        <img class="yzi-avatar-img" src="{{ asset('uploads/user/avatar/'~avatar) }}">
    {% else %}
        <img class="yzi-avatar-img" avatar="{{ eventInvitationDisplayableName }}" {% if userEventInvitation == eventInvitation %}userAvatar{% endif %}>
        {#<span class="di-block avatar-char palette-Teal bg" title="{{ eventInvitation.displayableName }}">{{ eventInvitation.displayableName|slice(0,1)|upper }}</span>#}
    {% endif %}
</a>
{# Todo: Décommenter
<ul class="dropdown-menu dm-icon" role="menu">
    <li role="presentation"><a class="user-public-name">{{ eventInvitation.displayableName }}</a></li>
    {% if hasAppUser and app.user and eventInvitation.applicationUser != app.user.applicationUser %} #}{# Si les deux utilisateurs on un compte #}{#
        <li role="separator" class="divider"></li>
        #}{# TODO : Affichage profil et ajour amis #}{#
        <li role="presentation"><a href="#}{#{{ path('displayUserEvents') }}#}{#">{{ "avatar.add_friend"|trans }}</a></li>
        <li role="presentation"><a href="#}{#{{ path('fos_user_profile_show') }}#}{#">{{ "avatar.show_profil"|trans }}</a></li>
        <li role="presentation"><a href="#}{#{{ path('fos_user_profile_show') }}#}{#">{{ "avatar.send_message"|trans }}</a></li>
    {% endif %}
</ul>#}

