{# Données d'entrée :
- userEventInvitation (EventInvitation|null) L'invitation de l'utilisateur "connecté"
- invitation (EventInvitation|ModuleInvitation) L'invitation concernée

- Pensez a a inclure les avatars dans une div avatar-img-cintainer-xxx qui vont determiner la taille de l'avatar.
#}

{# Dans le cas d'une invitation de module on récupère l'eventInvitation liée #}
{% set eventInvitation = (invitation.eventInvitation is defined ? invitation.eventInvitation : invitation) %}

{% set hasAppUser = (eventInvitation.applicationUser is not null) %}
{% set userEventInvitation = userEventInvitation is defined?userEventInvitation:null %}

{% set invitationGuestName = eventInvitation.displayableName(false) %}
{% set invitationEmail = eventInvitation.displayableEmail(true) %}

<div class="dropdown">
    <a data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
        {{ include('@App/Avatar/partials/avatar_display.html.twig',{"invitation" : eventInvitation, "userEventInvitation": userEventInvitation} ) }}
    </a>
    <ul class="dropdown-menu pull-center dm-icon" role="menu">
        <li role="presentation">
            <a>
                {% if invitationGuestName is not empty %}
                    {# TODO lien d'affichage du profil #}
                    {{ invitationGuestName }}&nbsp;
                {% endif %}
                {% if invitationEmail is not empty %}
                    <span class="hidden-email">{{ invitationEmail }}</span>
                {% endif %}
            </a>
        </li>

        {% block dropdown_menu_item %}{% endblock dropdown_menu_item %}

        {#{% if hasAppUser and app.user and eventInvitation.applicationUser != app.user.applicationUser %}#}
        {# Si les deux utilisateurs ont un compte #}
        {#<li role="separator" class="divider"></li>#}
        {# TODO : Affichage profil et ajout d'amis #}
        {#
        <li role="presentation"><a href="#{{ path('displayUserEvents') }}">{{ "avatar.add_friend"|trans }}</a></li>
        <li role="presentation"><a href="#{{ path('fos_user_profile_show') }}">{{ "avatar.show_profil"|trans }}</a></li>
        <li role="presentation"><a href="#{{ path('fos_user_profile_show') }}">{{ "avatar.send_message"|trans }}</a></li>
        #}
        {#{% endif %}#}
    </ul>
</div>
