{% extends "::base.html.twig" %}

{# LAYOUT : une colonne centrale #}
{% block main_section_class %}{% endblock %}
{% block main_content_class %}{{ parent() }}{% endblock %}

{# Vidage du menu latéral #}
{% block sidebar_collapse_cmd %}{% endblock %}
{% block s_main_menu %}{% endblock s_main_menu %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset("bundles/app/css/morphext.css") }}">
{% endblock %}

{% block content_body %}
    <div class="card z-depth-3">
        <div class="card-body">
            <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
                <!-- Indicators -->
                <ol class="carousel-indicators">
                    <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
                    <li data-target="#carousel-example-generic" data-slide-to="1" class=""></li>
                    <li data-target="#carousel-example-generic" data-slide-to="2" class=""></li>
                </ol>

                <!-- Wrapper for slides -->
                <div class="carousel-inner" role="listbox">
                    <div class="item active">
                        <div class="carousel-img" style="background-image: url({{ asset('bundles/app/img/index/carousel/nouvel-an-2017.jpg') }})"></div>
                        <div class="carousel-caption">
                            <h3>{{ "landing_page.carousel.new_year.title"|trans }}</h3>
                            <p>{{ "landing_page.carousel.new_year.text"|trans }}</p>
                            <p class="m-t-15"><a href="{{ path('createEvent') }}" class="btn btn-lg palette-Teal bg waves-effect">{{ "landing_page.carousel.button.new_event"|trans }}</a></p>
                        </div>
                    </div>
                    <div class="item">
                        <div class="carousel-img" style="background-image: url({{ asset('bundles/app/img/index/carousel/noel.jpg') }})"></div>
                        <div class="carousel-caption">
                            <h3>{{ "landing_page.carousel.christmas.title"|trans }}</h3>
                            <p>{{ "landing_page.carousel.christmas.text"|trans }}</p>
                            <p class="m-t-15"><a href="{{ path('createEvent') }}" class="btn btn-lg palette-Teal bg waves-effect">{{ "landing_page.carousel.button.new_event"|trans }}</a></p>
                        </div>
                    </div>
                    <div class="item">
                        <div class="carousel-img" style="background-image: url({{ asset('bundles/app/img/index/carousel/galette.jpg') }})"></div>
                        <div class="carousel-caption">
                            <h3>{{ "landing_page.carousel.king_cake.title"|trans }}</h3>
                            <p>{{ "landing_page.carousel.king_cake.text"|trans }}</p>
                            <p class="m-t-15"><a href="{{ path('createEvent') }}" class="btn btn-lg palette-Teal bg waves-effect">{{ "landing_page.carousel.button.new_event"|trans }}</a></p>
                        </div>
                    </div>
{#                    <div class="item active">
                        <div class="carousel-img" style="background-image: url({{ asset('bundles/app/img/carousel/carousel-bar.jpg') }})"></div>
                        <div class="carousel-caption">
                            <h3>{{ "landing_page.carousel.after_work.title"|trans }}</h3>
                            <p>{{ "landing_page.carousel.after_work.text"|trans }}</p>
                            <p class="m-t-15"><a href="{{ path('createEvent') }}" class="btn btn-lg palette-Teal bg waves-effect">{{ "landing_page.carousel.button.new_event"|trans }}</a></p>
                        </div>
                    </div>
                    <div class="item">
                        <div class="carousel-img" style="background-image: url({{ asset('bundles/app/img/carousel/carousel-reunion.jpg') }})"></div>
                        <div class="carousel-caption">
                            <h3>{{ "landing_page.carousel.meeting.title"|trans }}</h3>
                            <p>{{ "landing_page.carousel.meeting.text"|trans }}</p>
                            <p class="m-t-15"><a href="{{ path('createEvent') }}" class="btn btn-lg palette-Teal bg waves-effect">{{ "landing_page.carousel.button.new_event"|trans }}</a></p>
                        </div>
                    </div>
                    <div class="item">
                        <div class="carousel-img" style="background-image: url({{ asset('bundles/app/img/carousel/carousel-soiree.jpg') }})"></div>
                        <div class="carousel-caption">
                            <h3>{{ "landing_page.carousel.party.title"|trans }}</h3>
                            <p>{{ "landing_page.carousel.party.text"|trans }}</p>
                            <p class="m-t-15"><a href="{{ path('createEvent') }}" class="btn btn-lg palette-Teal bg waves-effect">{{ "landing_page.carousel.button.new_event"|trans }}</a></p>
                        </div>
                    </div>
                    <div class="item">
                        <div class="carousel-img" style="background-image: url({{ asset('bundles/app/img/carousel/carousel-vacances.jpg') }})"></div>
                        <div class="carousel-caption">
                            <h3>{{ "landing_page.carousel.holiday.title"|trans }}</h3>
                            <p>{{ "landing_page.carousel.holiday.text"|trans }}</p>
                            <p class="m-t-15"><a href="{{ path('createEvent') }}" class="btn btn-lg palette-Teal bg waves-effect">{{ "landing_page.carousel.button.new_event"|trans }}</a></p>
                        </div>
                    </div>#}
                </div>

                <!-- Controls -->
                <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev"> <span class="zmdi zmdi-chevron-left" aria-hidden="true"></span> <span
                            class="sr-only">Previous</span> </a> <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next"> <span
                            class="zmdi zmdi-chevron-right" aria-hidden="true"></span> <span class="sr-only">Next</span> </a>
            </div>
        </div>
    </div>

    <div class="card palette-Grey-100 bg z-depth-3">
        <div class="card-header c-boxed text-center">
            <h1><strong>Comment ça marche?</strong></h1>
        </div>
        <div class="card-body card-padding c-boxed">
            <div class="row">
                <div class="col-md-4">
                    <div class="card z-depth-3">
                        <div class="card-header text-center">
                            <h3><strong><i class="zmdi zmdi-border-color zmdi-hc-2x"></i><br>Créez votre évènement</strong></h3>
                        </div>
                        <div class="card-body card-padding">
                            <p>Puis posez vos questions :</p>
                            <div class="list-md-icon m-b-10">
                                <ul>
                                    <li class="ng-binding"><i class="zmdi zmdi-help-outline"></i>On fait quoi ?</li>
                                    <li class="ng-binding"><i class="zmdi zmdi-calendar"></i>Vous êtes disponible quand ?</li>
                                    <li class="ng-binding"><i class="zmdi zmdi-pin"></i>On part où ?</li>
                                    <li class="ng-binding"><i class="zmdi zmdi-accounts"></i>Qui vient?</li>
                                    <li class="ng-binding"><i class="zmdi zmdi-check-all"></i>Qui apporte quoi ?</li>
                                    <li class="ng-binding">...</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card z-depth-3">
                        <div class="card-header text-center">
                            <h3><strong><i class="zmdi zmdi-account-add zmdi-hc-2x"></i><br>Invitez vos amis.</strong></h3>
                        </div>
                        <div class="card-body card-padding">
                            <p>Répondez ensuite aux questions précédentes de manière collaborative.</p>
                            <p><strong>De nombreux avantages:</strong></p>
                            <div class="list-md-icon m-b-10">
                                <ul>
                                    <li class="ng-binding"><i class="zmdi zmdi-chevron-right"></i></i>Un endroit unique pour les centraliser toutes, et dans la simplicité s'organiser.</li>
                                    <li class="ng-binding"><i class="zmdi zmdi-chevron-right"></i></i>(Presque) Plus besoin de courir après vos amis pour avoir des réponses.</li>
                                    <li class="ng-binding"><i class="zmdi zmdi-chevron-right"></i></i>Eviter le syndrome du "Comme vous voulez!" généralisé !</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card z-depth-3">
                        <div class="card-header text-center">
                            <h3><strong><i class="zmdi zmdi-check zmdi-hc-2x"></i><br>Profitez de l'évènement</strong></h3>
                        </div>
                        <div class="card-body card-padding">
                            <p><strong>Il ne vous reste plus qu'à vous amuser avec vos amis!</strong></p>

                            <p>Et retrouvez bientôt de nouvelles fonctionnalités pour gérer l'après événement :</p>
                            <div class="list-md-icon m-b-10">
                                <ul>
                                    <li class="ng-binding"><i class="zmdi zmdi-image"></i>Partage de photos</li>
                                    <li class="ng-binding"><i class="zmdi zmdi-balance-wallet"></i></i>Remboursements</li>
                                    <li class="ng-binding">...</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="card palette-Green-50 bg z-depth-3">
        <div class="card-header c-boxed text-center">
            <h1><strong>Ils en parlent</strong></h1>
        </div>
        <div class="card-body c-boxed card-padding">
            <blockquote class="blockquote m-b-25">
                <div class="quote-table">
                    <div class="quote-tr">
                        <div class="quote-img quote-td pull-left m-r-15" style="background-image: url({{ asset('bundles/app/img/index/quote-mi.jpg') }})"></div>
                        <div class="quote-td p-l-10">
                            <p>On devait organiser une mission d'infiltration.<br>On pensait que c'était mission impossible, puis on a découvert Yziplan.</p>
                            <footer>Ethan Hunt - <cite title="Source Title">Mission Impossible</cite></footer>
                        </div>
                    </div>
                </div>
            </blockquote>
            <blockquote class="blockquote-reverse m-b-25">
                <div class="quote-table">
                    <div class="quote-tr">
                        <div class="quote-img quote-td pull-right m-l-15" style="background-image: url({{ asset('bundles/app/img/index/quote-hannibal.jpg') }})"></div>
                        <div class="quote-td p-r-10">
                            <p>J'aime quand un plan se déroule sans accroc. </p>
                            <footer>Hannibal - <cite title="Source Title">Agence tous risques</cite></footer>
                        </div>
                    </div>
                </div>
            </blockquote>
            <blockquote class="blockquote m-b-25">
                <div class="quote-table">
                    <div class="quote-tr">
                        <div class="quote-img quote-td pull-left m-r-15" style="background-image: url({{ asset('bundles/app/img/index/quote-ocean.jpg') }})"></div>
                        <div class="quote-td p-l-10">
                            <p>On se demandait comment on allait pouvoir cambrioler 3 casinos simultanément.<br>Yziplan nous a permis d'atteindre notre objectif en toute sérénité !</p>
                            <footer>Daniel "Danny" Ocean - <cite title="Source Title">Ocean's Eleven</cite></footer>
                        </div>
                    </div>
                </div>
            </blockquote>
        </div>
    </div>
{% endblock %}