{% extends "::base.html.twig" %}
{# Liste des activités publiques

Données d'entrée :
- activities : liste des activités
- searchForm : formulaire de recherche d'activité
#}

{# LAYOUT : une colonne centrale #}
{% block main_section_class %}index-main{% endblock %}
{% block main_content_class %}container-fluid{% endblock %}

{% block meta_data %}
    {{ parent() }}
{% endblock %}

{# Vidage du menu latéral #}
{% block sidebar_collapse_cmd %}{% endblock %}
{% block s_main_menu %}{% endblock s_main_menu %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset("bundles/app/css/yp-index.css") }}">
    <link rel="stylesheet" href="{{ asset("bundles/app/css/jqcloud.min.css") }}">
{% endblock %}

{% block content_body %}
    <!-- Header -->
    <div class="row">
        <section id="top" class="header" style="background-image: url({{ asset('bundles/app/img/index/organisation.jpeg') }})">
            <div class="text-vertical-center">
                <h1 class="c-white">{{ "index.header.title"|trans }}</h1>
                <h3 class="c-white">{{ "index.header.subtitle"|trans }}</h3><br> <a href="{{ path('createEvent') }}" class="btn btn-action bgm-teal btn-lg">{{ "index.header.button"|trans }}</a>
            </div>
        </section>

        <!-- About -->
        <section id="index-about" class="index-about">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12 text-center">
                        <img src="{{ asset('includes/img/logo/logo_prop3_inv_header.png') }}" class="img-responsive center-block" alt="{{ "global.project_name"|trans }}">
                        <h2>{{ "index.about.title"|trans }}</h2>
                        <p class="lead">{{ "index.about.subtitle"|trans }}</p>
                    </div>
                </div>
                <!-- /.row -->
            </div>
            <!-- /.container -->
        </section>

        <section id="index-section-use" class="index-section bgm-teal">
            <div class="container">
                <div class="row text-center">
                    <div class="col-lg-10 col-lg-offset-1">
                        <h2 class="c-white">{{ "index.section_use.title"|trans }}</h2>
                        <hr class="small">
                        <div class="row">
                            <div class="col-md-3 col-sm-6">
                                <div class="service-item">
                                    <span class="zmdi-hc-stack zmdi-hc-4x">
                                        <i class="zmdi zmdi-circle zmdi-hc-stack-2x c-white"></i>
                                        <i class="zmdi zmdi-edit zmdi-hc-stack-1x c-teal"></i>
                                    </span>
                                    <h4 class="c-white">
                                        <strong>{{ "index.section_use.create"|trans }}</strong>
                                    </h4>
                                    {#<p class="c-white">Simple et rapide</p>#}
                                </div>
                            </div>
                            <div class="col-md-3 col-sm-6">
                                <div class="service-item">
                                    <span class="zmdi-hc-stack zmdi-hc-4x">
                                        <i class="zmdi zmdi-circle zmdi-hc-stack-2x c-white"></i>
                                        <i class="zmdi zmdi-share zmdi-hc-stack-1x c-teal"></i>
                                    </span>
                                    <h4 class="c-white">
                                        <strong>{{ "index.section_use.share"|trans }}</strong>
                                    </h4>
                                    {#<p class="c-white">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>#}
                                </div>
                            </div>
                            <div class="col-md-3 col-sm-6">
                                <div class="service-item">
                                    <span class="zmdi-hc-stack zmdi-hc-4x">
                                        <i class="zmdi zmdi-circle zmdi-hc-stack-2x c-white"></i>
                                        <i class="zmdi zmdi-thumb-up-down zmdi-hc-stack-1x c-teal"></i>
                                    </span>
                                    <h4 class="c-white">
                                        <strong>{{ "index.section_use.organize"|trans }}</strong>
                                    </h4>
                                    {#<p class="c-white">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>#}
                                </div>
                            </div>
                            <div class="col-md-3 col-sm-6">
                                <div class="service-item">
                                    <span class="zmdi-hc-stack zmdi-hc-4x">
                                        <i class="zmdi zmdi-circle zmdi-hc-stack-2x c-white"></i>
                                        <i class="zmdi zmdi-calendar-check zmdi-hc-stack-1x c-teal"></i>
                                    </span>
                                    <h4 class="c-white">
                                        <strong>{{ "index.section_use.enjoy"|trans }}</strong>
                                    </h4>
                                    {#<p class="c-white">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>#}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section id="section_why" class="index-section bgm-white">
            <div class="container">
                <div class="row text-center">
                    <div class="col-lg-10 col-lg-offset-1">
                        <h2>{{ "index.section_why.title"|trans }}</h2>
                        <hr class="small black">
                        <div class="row">
                            <div class="col-xs-12">
                                <p>{{ "index.section_why.why1"|trans|raw }}</p>
                                <p><strong>{{ "index.section_why.why2"|trans|raw }}</strong></p>
                                <hr class="small black">
                            </div>
                            <div class="col-xs-12 col-sm-6 m-t-why">
                                <div class="col-xs-12">
                                    <img src="{{ asset("bundles/app/img/index/use/vote2.png") }}" class="img-maxw300px p-b-10">
                                </div>
                                <div class="col-xs-12">
                                    <p>{{ "index.section_why.vote"|trans|raw }}</p>
                                </div>
                                <div class="col-xs-12 visible-xs">
                                    <hr class="small black">
                                </div>
                            </div>
                            <div class="col-xs-12 col-sm-6">
                                <div class="col-xs-12">
                                    <img src="{{ asset("bundles/app/img/index/use/result2.png") }}" class="img-maxw400px p-b-10">
                                </div>
                                <div class="col-xs-12">
                                    <p>{{ "index.section_why.result"|trans|raw }}</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <aside id="callout1" class="callout parallax-window" data-parallax="scroll" data-image-src="{{ asset("bundles/app/img/index/drinks.jpg") }}">
            <div class="text-vertical-center">
                <h1 class="c-white">{{ "index.callout1"|trans }}</h1>
            </div>
        </aside>

        {#<!-- Type d'événement -->
        <section id="section-event" class="section-event">
            <div class="container">
                <div class="row">
                    <div class="col-lg-10 col-lg-offset-1 text-center">
                        <h2>{{ "index.section_event.tiltle"|trans }}</h2>
                        <hr class="small black">
                        <div class="row">
                            <div class="col-xs-6 col-sm-4 col-md-3">
                                <div class="event-item" style="background-image:url('{{ asset("bundles/app/img/index/eventtype/event-party.jpg") }}')">
                                    <div class="event-wrapper">
                                        <div class="event-text">
                                            <p>{{ "index.section_event.party"|trans }}</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xs-6  col-sm-4 col-md-3">
                                <div class="event-item" style="background-image:url('{{ asset("bundles/app/img/index/eventtype/event-afterwork.jpg")}}')">
                                    <div class="event-wrapper">
                                        <div class="event-text">
                                            <p>{{ "index.section_event.after-work"|trans }}</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xs-6  col-sm-4 col-md-3">
                                <div class="event-item" style="background-image:url('{{ asset("bundles/app/img/index/eventtype/event-holidays.jpeg") }}')">
                                    <div class="event-wrapper">
                                        <div class="event-text">
                                            <p>{{ "index.section_event.holidays"|trans }}</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xs-6 col-sm-4 col-md-3">
                                <div class="event-item" style="background-image:url('{{ asset("bundles/app/img/index/eventtype/event-sortie.jpg") }}')">
                                    <div class="event-wrapper">
                                        <div class="event-text">
                                            <p>{{ "index.section_event.outing"|trans }}</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xs-6  col-sm-4 col-md-3">
                                <div class="event-item" style="background-image:url('{{ asset("bundles/app/img/index/eventtype/event-cinema.jpg")}}')">
                                    <div class="event-wrapper">
                                        <div class="event-text">
                                            <p>{{ "index.section_event.cinema"|trans }}</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xs-6  col-sm-4 col-md-3">
                                <div class="event-item" style="background-image:url('{{ asset("bundles/app/img/index/eventtype/event-activity.jpg") }}')">
                                    <div class="event-wrapper">
                                        <div class="event-text">
                                            <p>{{ "index.section_event.activity"|trans }}</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xs-6  col-sm-4 col-md-3">
                                <div class="event-item" style="background-image:url('{{ asset("bundles/app/img/index/eventtype/event-bbq.jpg") }}')">
                                    <div class="event-wrapper">
                                        <div class="event-text">
                                            <p>{{ "index.section_event.barbecue"|trans }}</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xs-6  col-sm-4 col-md-3">
                                <div class="event-item" style="background-image:url('{{ asset("bundles/app/img/index/eventtype/event-weekend.jpg") }}')">
                                    <div class="event-wrapper">
                                        <div class="event-text">
                                            <p>{{ "index.section_event.weekend"|trans }}</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- /.col-lg-10 -->
                </div>
                <!-- /.row -->
            </div>
            <!-- /.container -->
        </section>#}

        <!-- Annuaire -->
        <section id="section-event" class="section-event bgm-white">
            <div class="container">
                <div class="row">
                    <div class="col-lg-10 col-lg-offset-1 text-center">
                        <h2>{{ "index.section_directory.title"|trans }}</h2>
                        <hr class="small black">
                        <div class="row">
                            <div class="col-xs-12 col-md-8 col-md-offset-2 col-lg-6 col-lg-offset-3">
                                <p>{{ "index.section_directory.subtitle1"|trans|raw }}</p>
                                <p>{{ "index.section_directory.subtitle2"|trans }}</p>
                            </div>
                        </div>
                        <hr class="small black">
                        <div class="row">
                            {% for activity in activities %}
                            <div class="col-xs-12 col-sm-6 col-md-4 col-xs-p-lr-0">
                                <div class="card z-depth-1">
                                    <div class="card-header mini-picture p-0 m-0">
                                        <div class="focuspoint mini-picture-focuspoint" data-focus-x="{{ activity.event.pictureFocusX is not null ? activity.event.pictureFocusX:0 }}"
                                             data-focus-y="{{ activity.event.pictureFocusY is not null ? activity.event.pictureFocusY:0 }}"
                                             data-image-w="{{ activity.event.pictureWidth is not null ? activity.event.pictureWidth:1024 }}"
                                             data-image-h="{{ activity.event.pictureHeight is not null ? activity.event.pictureHeight:669 }}">
                                            <img src="{{ activity.event.pictureFilename is not null ? vich_uploader_asset(activity.event, 'pictureFile') :
                                            asset("bundles/app/img/event-header/organisation.jpeg") }}" alt="{{ activity.event.name }}" class="mini-picture"
                                            />
                                        </div>
                                    </div>
                                    <div class="card-header">
                                        <h2 class="m-b-20">
                                            {{ activity.event.name }}
                                        </h2>
                                        <div class="m-b-15">
                                            <small><i class="zmdi zmdi-ticket-star"></i>
                                                {% for activityType in activity.activityTypes %}
                                                    {% if not loop.first %}
                                                        ,
                                                    {% endif %}
                                                    {{ activityType.keyName }}
                                                {% endfor %}
                                            </small>
                                        </div>
                                        <div>
                                            {% for city in  activity.cities %}
                                                <div>
                                                    <small><i class="zmdi zmdi-pin"></i> {{ city.name }}, {{ city.department.name }}, {{ city.department.region.name }}</small>
                                                </div>
                                            {% endfor %}
                                        </div>
                                    </div>
                                    <div class="card-footer text-center">
                                        <a href="#modal_information_{{ activity.event.tokenDuplication }}" data-toggle="modal" class="btn btn-flat btn-icon-text m-b-10" aria-expanded="false">
                                            <i class="zmdi zmdi-info-outline"></i> {{ "directory.card.details"|trans }}
                                        </a>
                                        <a href="{{ path('duplicateEvent', {'tokenDuplication': activity.event.tokenDuplication}) }}" class="btn btn-primary btn-icon-text m-b-10" rel="nofollow">
                                            <i class="zmdi zmdi-plus-circle-o-duplicate"></i>{{ "directory.card.organize"|trans }}
                                        </a>
                                        <div class="modal fade" id="modal_information_{{ activity.event.tokenDuplication }}" tabindex="-1" role="dialog" data-backdrop="static"
                                             aria-labelledby="modal_information_{{ activity.event.tokenDuplication }}_title">
                                            <div class="modal-dialog modal-lg" role="document">
                                                <div class="modal-content">
                                                    <div class="modal-header">
                                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true"><i class="zmdi zmdi-close"></i></span></button>
                                                        <h3 class="modal-title" id="modal_information_{{ activity.event.tokenDuplication }}_title">{{ activity.event.name }}</h3>
                                                        <div class="m-b-15">
                                                            <small><i class="zmdi zmdi-ticket-star"></i>
                                                                {% for activityType in activity.activityTypes %}
                                                                    {% if not loop.first %}
                                                                        ,
                                                                    {% endif %}
                                                                    {{ activityType.keyName }}
                                                                {% endfor %}
                                                            </small>
                                                        </div>
                                                        <div>
                                                            {% for city in  activity.cities %}
                                                                <div>
                                                                    <small><i class="zmdi zmdi-pin"></i> {{ city.name }}, {{ city.department.name }}, {{ city.department.region.name }}</small>
                                                                </div>
                                                            {% endfor %}
                                                        </div>
                                                    </div>

                                                    <div class="modal-body text-center m-b-10">
                                                        <img class="pp-elt-picture picture-large"
                                                             src="{{ activity.event.pictureFilename is not null ? vich_uploader_asset(activity.event, 'pictureFile') : asset("bundles/app/img/event-header/organisation.jpeg") }}"
                                                             alt="{{ activity.event.pictureFile is defined ? '':activity.event.pictureFile.filename }}">
                                                    </div>
                                                    <div class="modal-body">
                                                        <p>{{ activity.event.description|raw }}</p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                        </div>
                        <div class="card z-depth-1">
                            <div class="card-header">
                                <h2>{{ "directory.title"|trans }}
                                    <small>{{ "directory.subtitle"|trans }}</small>
                                </h2>
                            </div>
                            <div class="card-body card-padding-sm">
                                {{ form_start(searchForm, {'action':path('directoryIndex')}) }}
                                <div class="row">
                                    <div class="col-sm-6 col-md-3 col-md-offset-2 col-md-3 col-md-offset-2">
                                        {{ form_row(searchForm.type, {
                                            'label_attr': {'class': 'hidden'},
                                            'attr':{'title':'directory.form.type', 'class':'selectpicker', 'data-live-search':'true'},
                                            'widget_options':{'fgline':true, 'displayInRow' : true}
                                        }) }}
                                    </div>
                                    <div class="col-sm-6 col-md-3">
                                        {{ form_row(searchForm.place, {
                                            'label_attr': {'class': 'hidden'},
                                            'attr':{'placeholder':'directory.form.place'},
                                            'widget_options':{'fgline':true, 'displayInRow' : true}
                                        }) }}
                                    </div>
                                    <div class="col-sm-12 col-md-2">
                                        <div>
                                            <button type="submit" class="btn btn-primary" data-loading-text="{{ "global.button.loading"|trans }}" data-original-text="{{ "global.button.save"|trans }}">
                                                <i class="zmdi zmdi-search zmdi-hc-lg"></i> {{ "directory.form.button"|trans }}
                                            </button>
                                        </div>
                                    </div>
                                </div>
                                {{ form_end(searchForm) }}
                            </div>
                        </div>
                        <a href="{{ path('directoryIndex') }}" class="btn btn-action bgm-teal btn-lg">{{ "index.section_directory.button"|trans }}</a>
                    </div>
                    <!-- /.col-lg-10 -->
                </div>
                <!-- /.row -->
            </div>
            <!-- /.container -->
        </section>

        <aside id="callout2" class="callout parallax-window" data-parallax="scroll" data-image-src="{{ asset("bundles/app/img/index/concert.jpg") }}">
            <div class="text-vertical-center">
                <h1 class="c-white">{{ "index.callout2"|trans }}</h1>
            </div>
        </aside>

        <section id="index-section-features" class="index-section bgm-teal">
            <div class="container">
                <div class="row text-center">
                    <h2 class="c-white">{{ "index.section_feature.title"|trans }}</h2>
                    <hr class="small">
                    <div id="index-feature"></div>
                </div>
            </div>
        </section>

        <aside id="callout3" class="callout parallax-window" data-parallax="scroll" data-image-src="{{ asset("bundles/app/img/index/coworking.jpg") }}">
            <div class="text-vertical-center">
                <h1 class="c-white">{{ "index.callout3"|trans }}</h1>
            </div>
        </aside>

        <section id="index-section-quote" class="index-section bgm-white">
            <div class="container">
                <div class="row text-center">
                    <div class="col-lg-10 col-lg-offset-1">
                        <h2>{{ "index.section_quote.title"|trans }}</h2>
                        <hr class="small black">
                        <blockquote>
                            <div class="quote-img quote-td pull-left m-r-15" style="background-image: url({{ asset('bundles/app/img/index/quotes/quote-mi.jpg') }})"></div>
                            {{ "index.section_quote.quote1.sentense1"|trans }}<br>{{ "index.section_quote.quote1.sentense2"|trans }}
                            <cite>{{ "index.section_quote.quote1.author"|trans }}</cite>
                        </blockquote>
                        <blockquote class="blockquote-reverse">
                            <div class="quote-img quote-td pull-right m-l-15" style="background-image: url({{ asset('bundles/app/img/index/quotes/quote-hannibal.jpg') }})"></div>
                            {{ "index.section_quote.quote2.sentense"|trans }}
                            <cite>{{ "index.section_quote.quote2.author"|trans }}</cite>
                        </blockquote>
                        <blockquote>
                            <div class="quote-img quote-td pull-left m-r-15" style="background-image: url({{ asset('bundles/app/img/index/quotes/quote-ocean.jpg') }})"></div>
                            {{ "index.section_quote.quote3.sentense1"|trans }}<br>{{ "index.section_quote.quote3.sentense2"|trans }}
                            <cite>{{ "index.section_quote.quote3.author"|trans }}</cite>
                        </blockquote>
                        <!-- /.row (nested) -->
                    </div>
                    <!-- /.col-lg-10 -->
                </div>
                <!-- /.row -->
            </div>
            <!-- /.container -->
        </section>

        <aside id="callout4" class="callout parallax-window" data-parallax="scroll" data-image-src="{{ asset("bundles/app/img/index/tchin.jpg") }}">
            <div class="text-vertical-center">
                <h1 class="c-white">{{ "index.callout4"|trans }}</h1>
            </div>
        </aside>

        <section id="newsletter-subscription" class="index-section bgm-white">
            <div class="container">
                <div class="row">
                    <div class="col-md-8 col-md-offset-2 text-center">
                        <h2><strong>{{ "index.section_newsletter.title"|trans }}</strong></h2>
                        <hr class="small">
                        <p>{{ "index.section_newsletter.subtitle"|trans }}</p><br>
                        <!-- Begin MailChimp Signup Form -->
                        <div id="mc_embed_signup">
                            <form action="//ardteam.us16.list-manage.com/subscribe/post?u=624db66e473c84a8d447a261f&amp;id=688c1a4be2" method="post" id="mc-embedded-subscribe-form"
                                  name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
                                <div id="mc_embed_signup_scroll">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="form-group">
                                                <label for="mce-EMAIL" class="sr-only">{{ "index.section_newsletter.form.email"|trans }}<span class="asterisk">*</span></label> <input type="email"
                                                                                                                                                                                       name="EMAIL"
                                                                                                                                                                                       class="required email form-control"
                                                                                                                                                                                       id="mce-EMAIL"
                                                                                                                                                                                       placeholder="{{ "index.section_newsletter.form.email"|trans }} *">
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label for="mce-FNAME" class="sr-only">{{ "index.section_newsletter.form.firstname"|trans }}</label> <input type="text" name="FNAME"
                                                                                                                                                            class="form-control" id="mce-FNAME"
                                                                                                                                                            placeholder="{{ "index.section_newsletter.form.firstname"|trans }}">
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label for="mce-LNAME" class="sr-only">{{ "index.section_newsletter.form.lastname"|trans }}</label> <input type="text" name="LNAME" class="form-control"
                                                                                                                                                           id="mce-LNAME"
                                                                                                                                                           placeholder="{{ "index.section_newsletter.form.lastname"|trans }}">
                                            </div>
                                        </div>
                                        <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
                                        <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_624db66e473c84a8d447a261f_688c1a4be2" tabindex="-1" value=""></div>
                                        <div class="col-md-12">
                                            <div class="clear">
                                                <button type="submit" name="subscribe" id="mc-embedded-subscribe" class="btn btn-primary btn-default">{{ "index.section_newsletter.form.submit"|trans }}</button>
                                            </div>
                                        </div>
                                    </div>

                                    <div id="mce-responses" class="clear">
                                        <div class="response" id="mce-error-response" style="display:none"></div>
                                        <div class="response" id="mce-success-response" style="display:none"></div>
                                    </div>

                                </div>
                            </form>
                        </div>
                        <!--End mc_embed_signup-->
                    </div>
                </div>
            </div>
        </section>

        <section class="index-section  bgm-white">
            <div class="container">
                <div class="row">
                    <div class="col-lg-10 col-lg-offset-1 text-center">
                        <h2><strong>{{ "index.section_social.title"|trans }}</strong></h2>
                        <hr class="small">
                        <p>{{ "index.section_social.subtitle"|trans }}</p><br>
                        <ul class="list-inline">
                            <li>
                                <a href="https://www.facebook.com/Yziplan" target="_blank" class="link-facebook m-r-15" title="{{ "text.social_network.facebook"|trans }}"> <i
                                            class="zmdi zmdi-facebook-box zmdi-hc-4x"></i></a>
                            </li>
                            <li>
                                <a href="https://twitter.com/Yziplan" target="_blank" class="link-twitter m-l-15" title="{{ "text.social_network.twitter"|trans }}"> <i
                                            class="zmdi zmdi-twitter zmdi-hc-4x"></i></a>
                            </li>
                            <li>
                                <a href="https://www.instagram.com/yziplan" target="_blank" class="link-instagram m-l-15" title="{{ "text.social_network.instagram"|trans }}"> <i
                                            class="zmdi zmdi-instagram zmdi-hc-4x"></i></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </section>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent () }}
    <script>
        $('.focuspoint').focusPoint();
    </script>
    <script src="{{ asset("bundles/app/js/parallax.js") }}"></script>
    <script src="{{ asset("bundles/app/js/jqcloud.js") }}"></script>
    <script>
        {# La réponse doit être sous la forme : "suggestions": [
            { "value": "United Arab Emirates", "data": "AE" },
            { "value": "United Kingdom",       "data": "UK" },
            { "value": "United States",        "data": "US" }
        ]

        Documenttation : https://www.devbridge.com/sourcery/components/jquery-autocomplete/#}
        $(document).ready(function () {
            $('#{{ searchForm.place.vars.id }}').autocomplete({
                serviceUrl: '{{ path("placeAutocompletion") }}',
                minChars: 3,
                deferRequestBy: 1000
            });
        })
    </script>
    <script>
        $('.parallax-window').parallax();
    </script>
    <script>
        var words = [
            {# Fonctionnalité #}
            {text: "Organiser", weight: 20},
            {text: "Quoi ?", weight: 16},
            {text: "Quand ?", weight: 16},
            {text: "Ou ?", weight: 15},
            {text: "Qui ?", weight: 15},
            {text: "Qui apporte quoi ?", weight: 12},
            {text: "Inviter", weight: 17},
            {text: "Checklist", weight: 9},
            {text: "Collaboratif", weight: 8},
            {text: "Sondage", weight: 7},
            {text: "Planifier", weight: 14},
            {text: "Decider", weight: 8},
            {text: "Discuter", weight: 11},

            {# Activités #}
            {text: "Activités", weight: 5},
            {text: "Soirées", weight: 5},
            {text: "Week-ends", weight: 8},
            {text: "Vacances", weight: 5},
            {text: "Sorties", weight: 4},
            {text: "Fêtes", weight: 4},
            {text: "Anniversaires", weight: 4},
            {text: "After-works", weight: 4},
            {# Ambiancage #}
            {text: "Amis", weight: 5},
            {text: "Contacts", weight: 2},
            {text: "Loisir", weight: 4},
            {text: "Fun", weight: 2},
            {text: "Simple", weight: 3},
            {text: "Utile", weight: 3},
        ];

        $('#index-feature').jQCloud(words, {
            autoResize: true,
            colors: ["#FFFFFF", "#F5F5F5", "#DFF2FF", "#BBD2E1", "#EFEFEF", "#DCDCDC", "#D3D3D3", "#CECECE", "#C0C0C0", "#A9A9A9"],
        });
    </script>
{% endblock %}