{% extends "::base.html.twig" %}

{# LAYOUT : une colonne centrale #}
{% block main_section_class %}index-main{% endblock %}
{% block main_content_class %}container-fluid{% endblock %}

{# Vidage du menu latéral #}
{% block sidebar_collapse_cmd %}{% endblock %}
{% block s_main_menu %}{% endblock s_main_menu %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset("bundles/app/css/yp-index.css") }}">
    <link rel="stylesheet" href="{{ asset("bundles/app/css/jqcloud.min.css") }}">
{% endblock %}

{% block content_body %}
    <!-- Header -->
    <div class="row">
        <section id="top" class="header" style="background-image: url({{ asset('bundles/app/img/index/organisation.jpeg') }})">
            <div class="text-vertical-center">
                <h1 class="c-white">{{ "index.header.title"|trans }}</h1>
                <h3 class="c-white">{{ "index.header.subtitle"|trans }}</h3>
                <br>
                <a href="{{ path('createEvent') }}" class="btn btn-action bgm-teal btn-lg">{{ "index.header.button"|trans }}</a>
            </div>
        </section>

        <!-- About -->
        <section id="index-about" class="index-about">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12 text-center">
                        <img src="{{ asset('includes/img/logo/logo_prop3_inv_header.png') }}" class="img-responsive center-block" alt="{{ "global.project_name"|trans }}">
                        <h2>{{ "index.about.title"|trans }}</h2>
                        <p class="lead">{{ "index.about.subtitle"|trans }}</p>
                    </div>
                </div>
                <!-- /.row -->
            </div>
            <!-- /.container -->
        </section>

        <section id="index-section-use" class="index-section bgm-teal">
            <div class="container">
                <div class="row text-center">
                    <div class="col-lg-10 col-lg-offset-1">
                        <h2 class="c-white">{{ "index.section_use.title"|trans }}</h2>
                        <hr class="small">
                        <div class="row">
                            <div class="col-md-3 col-sm-6">
                                <div class="service-item">
                                    <span class="zmdi-hc-stack zmdi-hc-4x">
                                        <i class="zmdi zmdi-circle zmdi-hc-stack-2x c-white"></i>
                                        <i class="zmdi zmdi-edit zmdi-hc-stack-1x c-teal"></i>
                                    </span>
                                    <h4 class="c-white">
                                        <strong>{{ "index.section_use.create"|trans }}</strong>
                                    </h4>
                                    {#<p class="c-white">Simple et rapide</p>#}
                                </div>
                            </div>
                            <div class="col-md-3 col-sm-6">
                                <div class="service-item">
                                    <span class="zmdi-hc-stack zmdi-hc-4x">
                                        <i class="zmdi zmdi-circle zmdi-hc-stack-2x c-white"></i>
                                        <i class="zmdi zmdi-share zmdi-hc-stack-1x c-teal"></i>
                                    </span>
                                    <h4 class="c-white">
                                        <strong>{{ "index.section_use.share"|trans }}</strong>
                                    </h4>
                                    {#<p class="c-white">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>#}
                                </div>
                            </div>
                            <div class="col-md-3 col-sm-6">
                                <div class="service-item">
                                    <span class="zmdi-hc-stack zmdi-hc-4x">
                                        <i class="zmdi zmdi-circle zmdi-hc-stack-2x c-white"></i>
                                        <i class="zmdi zmdi-thumb-up-down zmdi-hc-stack-1x c-teal"></i>
                                    </span>
                                    <h4 class="c-white">
                                        <strong>{{ "index.section_use.organise"|trans }}</strong>
                                    </h4>
                                    {#<p class="c-white">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>#}
                                </div>
                            </div>
                            <div class="col-md-3 col-sm-6">
                                <div class="service-item">
                                    <span class="zmdi-hc-stack zmdi-hc-4x">
                                        <i class="zmdi zmdi-circle zmdi-hc-stack-2x c-white"></i>
                                        <i class="zmdi zmdi-calendar-check zmdi-hc-stack-1x c-teal"></i>
                                    </span>
                                    <h4 class="c-white">
                                        <strong>{{ "index.section_use.enjoy"|trans }}</strong>
                                    </h4>
                                    {#<p class="c-white">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>#}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <aside id="callout1" class="callout parallax-window" data-parallax="scroll" data-image-src="{{ asset("bundles/app/img/index/drinks.jpg") }}">
            <div class="text-vertical-center">
               <h1 class="c-white">{{ "index.callout1"|trans }}</h1>
            </div>
        </aside>

        <!-- Portfolio -->
        <section id="section-event" class="section-event">
            <div class="container">
                <div class="row">
                    <div class="col-lg-10 col-lg-offset-1 text-center">
                        <h2>{{ "index.section_event.tiltle"|trans }}</h2>
                        <hr class="small">
                        <div class="row">
                            <div class="col-xs-6 col-sm-4 col-md-3">
                                <div class="event-item" style="background-image:url('{{ asset("bundles/app/img/index/eventtype/event-party.jpg") }}')">
                                    <div class="event-wrapper">
                                        <div class="event-text">
                                            <p>{{ "index.section_event.party"|trans }}</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xs-6  col-sm-4 col-md-3">
                                <div class="event-item" style="background-image:url('{{ asset("bundles/app/img/index/eventtype/event-afterwork.jpg")}}')">
                                    <div class="event-wrapper">
                                        <div class="event-text">
                                            <p>{{ "index.section_event.after-work"|trans }}</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xs-6  col-sm-4 col-md-3">
                                <div class="event-item" style="background-image:url('{{ asset("bundles/app/img/index/eventtype/event-holidays.jpeg") }}')">
                                    <div class="event-wrapper">
                                        <div class="event-text">
                                            <p>{{ "index.section_event.holidays"|trans }}</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xs-6 col-sm-4 col-md-3">
                                <div class="event-item" style="background-image:url('{{ asset("bundles/app/img/index/eventtype/event-sortie.jpg") }}')">
                                    <div class="event-wrapper">
                                        <div class="event-text">
                                            <p>{{ "index.section_event.outing"|trans }}</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xs-6  col-sm-4 col-md-3">
                                <div class="event-item" style="background-image:url('{{ asset("bundles/app/img/index/eventtype/event-cinema.jpg")}}')">
                                    <div class="event-wrapper">
                                        <div class="event-text">
                                            <p>{{ "index.section_event.cinema"|trans }}</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xs-6  col-sm-4 col-md-3">
                                <div class="event-item" style="background-image:url('{{ asset("bundles/app/img/index/eventtype/event-activity.jpg") }}')">
                                    <div class="event-wrapper">
                                        <div class="event-text">
                                            <p>{{ "index.section_event.activity"|trans }}</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xs-6  col-sm-4 col-md-3">
                                <div class="event-item" style="background-image:url('{{ asset("bundles/app/img/index/eventtype/event-bbq.jpg") }}')">
                                    <div class="event-wrapper">
                                        <div class="event-text">
                                            <p>{{ "index.section_event.barbecue"|trans }}</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xs-6  col-sm-4 col-md-3">
                                <div class="event-item" style="background-image:url('{{ asset("bundles/app/img/index/eventtype/event-weekend.jpg") }}')">
                                    <div class="event-wrapper">
                                        <div class="event-text">
                                            <p>{{ "index.section_event.weekend"|trans }}</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- /.col-lg-10 -->
                </div>
                <!-- /.row -->
            </div>
            <!-- /.container -->
        </section>

        <aside id="callout2" class="callout parallax-window" data-parallax="scroll" data-image-src="{{ asset("bundles/app/img/index/concert.jpg") }}">
            <div class="text-vertical-center">
                <h1 class="c-white">{{ "index.callout2"|trans }}</h1>
            </div>
        </aside>

        <section id="index-section-features" class="index-section bgm-teal">
            <div class="container">
                <div class="row text-center">
                    <h2 class="c-white">{{ "index.section_feature.title"|trans }}</h2>
                    <hr class="small">
                    <div id="index-feature"></div>
                </div>
            </div>
        </section>

        <aside id="callout3" class="callout parallax-window" data-parallax="scroll" data-image-src="{{ asset("bundles/app/img/index/coworking.jpg") }}">
            <div class="text-vertical-center">
                <h1 class="c-white">{{ "index.callout3"|trans }}</h1>
            </div>
        </aside>

        <section id="index-section-quote" class="index-section bgm-white">
            <div class="container">
                <div class="row text-center">
                    <div class="col-lg-10 col-lg-offset-1">
                        <h2>{{ "index.section_quote.title"|trans }}</h2>
                        <hr class="small">
                         <blockquote>
                            <div class="quote-img quote-td pull-left m-r-15" style="background-image: url({{ asset('bundles/app/img/index/quotes/quote-mi.jpg') }})"></div>
                            {{ "index.section_quote.quote1.sentense1"|trans }}<br>{{ "index.section_quote.quote1.sentense2"|trans }}
                            <cite>{{ "index.section_quote.quote1.author"|trans }}</cite>
                         </blockquote>
                         <blockquote class="blockquote-reverse">
                            <div class="quote-img quote-td pull-right m-l-15" style="background-image: url({{  asset('bundles/app/img/index/quotes/quote-hannibal.jpg')  }})"></div>
                            {{ "index.section_quote.quote2.sentense"|trans }}
                            <cite>{{ "index.section_quote.quote2.author"|trans }}</cite>
                         </blockquote>
                         <blockquote>
                            <div class="quote-img quote-td pull-left m-r-15" style="background-image: url({{ asset('bundles/app/img/index/quotes/quote-ocean.jpg') }})"></div>
                            {{ "index.section_quote.quote3.sentense1"|trans }}<br>{{ "index.section_quote.quote3.sentense2"|trans }}
                            <cite>{{ "index.section_quote.quote3.author"|trans }}</cite>
                         </blockquote>
                        <!-- /.row (nested) -->
                    </div>
                    <!-- /.col-lg-10 -->
                </div>
                <!-- /.row -->
            </div>
            <!-- /.container -->
        </section>

        <aside id="callout4" class="callout parallax-window" data-parallax="scroll" data-image-src="{{ asset("bundles/app/img/index/tchin.jpg") }}">
            <div class="text-vertical-center">
                <h1 class="c-white">{{ "index.callout4"|trans }}</h1>
            </div>
        </aside>

         <section class="index-section  bgm-white">
            <div class="container">
                <div class="row">
                    <div class="col-lg-10 col-lg-offset-1 text-center">
                    <h2><strong>{{ "index.section_social.title"|trans }}</strong></h2>
                        <hr class="small">
                        <p>{{ "index.section_social.subtitle"|trans }}</p>
                        <br>
                        <ul class="list-inline">
                            <li>
                                <a href="https://www.facebook.com/Yziplan" target="_blank" class="link-facebook m-r-15" title="{{ "text.social_network.facebook"|trans }}">
                                <i class="zmdi zmdi-facebook-box zmdi-hc-4x"></i></a>
                            </li>
                            <li>
                                <a href="https://twitter.com/Yziplan" target="_blank" class="link-twitter m-l-15" title="{{ "text.social_network.twitter"|trans }}">
                                <i class="zmdi zmdi-twitter zmdi-hc-4x"></i></a>
                            </li>
                            <li>
                                <a href="https://www.instagram.com/yziplan/n" target="_blank" class="link-instagram m-l-15" title="{{ "text.social_network.instagram"|trans }}">
                                <i class="zmdi zmdi-instagram zmdi-hc-4x"></i></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
         </section>
{% endblock %}

{% block javascripts %}
    {{ parent () }}
    <script src="{{ asset("bundles/app/js/parallax.js") }}"></script>
    <script src="{{ asset("bundles/app/js/jqcloud.js") }}"></script>
    <script>
        $('.parallax-window').parallax();
    </script>
    <script>
        var words = [
            {# Fonctionnalité #}
            {text: "Organiser", weight: 20},
            {text: "Quoi ?", weight: 16},
            {text: "Quand ?", weight: 16},
            {text: "Ou ?", weight: 15},
            {text: "Qui ?", weight: 15},
            {text: "Qui apporte quoi ?", weight: 12},
            {text: "Inviter", weight: 17},
            {text: "Checklist", weight: 9},
            {text: "Collaboratif", weight: 8},
            {text: "Sondage", weight: 7},
            {text: "Planifier", weight: 14},
            {text: "Decider", weight: 8},
            {text: "Discuter", weight: 11},

            {# Activités #}
            {text: "Activités", weight: 5},
            {text: "Soirées", weight: 5},
            {text: "Week-ends", weight: 8},
            {text: "Vacances", weight: 5},
            {text: "Sorties", weight: 4},
            {text: "Fêtes", weight: 4},
            {text: "Anniversaires", weight: 4},
            {text: "After-works", weight: 4},
            {# Ambiancage #}
            {text: "Amis", weight: 5},
            {text: "Contacts", weight: 2},
            {text: "Loisir", weight: 4},
            {text: "Fun", weight: 2},
            {text: "Simple", weight: 3},
            {text: "Utile", weight: 3},
        ];

        $('#index-feature').jQCloud(words,{
            autoResize : true,
            colors: ["#FFFFFF", "#F5F5F5", "#DFF2FF", "#BBD2E1", "#EFEFEF", "#DCDCDC", "#D3D3D3", "#CECECE", "#C0C0C0", "#A9A9A9"],
        });
    </script>
{% endblock %}