{% extends "::base.html.twig" %}

{# LAYOUT : une colonne centrale #}

{# Vidage du menu latéral #}
{% block sidebar_collapse_cmd %}{% endblock %}
{% block s_main_menu %}{% endblock s_main_menu %}

{% block main_section_id %}{% endblock %}
{% block main_content_class %}{{ parent() }}{% endblock %}


{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset("bundles/app/css/index.css") }}">
    <link rel="stylesheet" href="{{ asset("bundles/app/css/morphext.css") }}">
{% endblock %}

{% block content_body %}

    <div class="card">
        <div class="card-body">
            <div class="wrapper-video">

                {#  <h1>Object Fit!<br>↓</h1>#}
                <video autoplay loop preload="auto">
                    <source src="{{ asset('bundles/app/video/Beach-Ball/Mp4/Beach-Ball.mp4') }}" type="video/mp4"/>
                    Your browser does not support the video tag. I suggest you upgrade your browser.
                    <source src="{{ asset('bundles/app/video/Beach-Ball/Webm/Beach-Ball.webm') }}" type="video/webm"/>
                    Your browser does not support the video tag. I suggest you upgrade your
                    browser.
                </video>
                <div class="poster">
                    <img src="{{ asset('bundles/app/video/Beach-Ball/Snapshot/Beach-Ball.jpg') }}" alt="">
                </div>
            </div>
            <div id="topcontent">
                <p class="p-index-topcontent text-center">A chaque sortie son organisation! </p>
                <div class="row">
                    <div class="col-xs-6 text-right">
                        <h1></h1>Organise</h1>
                    </div>
                    <div class="col-xs-6 text-left">
                        <p class="p-index-topcontent"><span id="rotate-event" class="">ta soirée,tes activités,tes vacances,ton anniversaire</span></p>
                    </div>
                </div>

                <span class="m-t-15"><a href="{{ path('createEvent') }}" class="btn btn-lg palette-Teal bg waves-effect">Créer votre événement</a></span>
                <br/>
                <p class="p-index-topcontent"><i class="zmdi zmdi-chevron-down zmdi-hc-2x"></i>
                <p class="p-index-topcontent">
            </div>
        </div>
    </div>



    {#    <div class="card">
            <div class="card-body">
                <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
                    <!-- Indicators -->
                    <ol class="carousel-indicators">
                        <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
                        <li data-target="#carousel-example-generic" data-slide-to="1" class=""></li>
                        <li data-target="#carousel-example-generic" data-slide-to="2" class=""></li>
                        <li data-target="#carousel-example-generic" data-slide-to="3" class=""></li>
                    </ol>

                    <!-- Wrapper for slides -->
                    <div class="carousel-inner" role="listbox">
                        <div class="item active">
                            <img src="{{ asset('bundles/app/img/carousel/carousel-bar.jpg') }}" alt="{{ "landing_page.carousel.after_work.alt"|trans }}">
                            <div class="carousel-caption">
                                <h3>{{ "landing_page.carousel.after_work.title"|trans }}</h3>
                                <p>{{ "landing_page.carousel.after_work.text"|trans }}</p>
                                <p class="m-t-15"><a href="{{ path('createEvent') }}" class="btn btn-lg palette-Teal bg waves-effect">{{ "landing_page.carousel.button.new_event"|trans }}</a></p>
                            </div>
                        </div>
                        <div class="item">
                            <img src="{{ asset('bundles/app/img/carousel/carousel-reunion.jpg') }}" alt="{{ "landing_page.carousel.meeting.alt"|trans }}">
                            <div class="carousel-caption">
                                <h3>{{ "landing_page.carousel.meeting.title"|trans }}</h3>
                                <p>{{ "landing_page.carousel.meeting.text"|trans }}</p>
                                <p class="m-t-15"><a href="{{ path('createEvent') }}" class="btn btn-lg palette-Teal bg waves-effect">{{ "landing_page.carousel.button.new_event"|trans }}</a></p>
                            </div>
                        </div>
                        <div class="item">
                            <img src="{{ asset('bundles/app/img/carousel/carousel-soiree.jpg') }}" alt="{{ "landing_page.carousel.party.alt"|trans }}">
                            <div class="carousel-caption">
                                <h3>{{ "landing_page.carousel.party.title"|trans }}</h3>
                                <p>{{ "landing_page.carousel.party.text"|trans }}</p>
                                <p class="m-t-15"><a href="{{ path('createEvent') }}" class="btn btn-lg palette-Teal bg waves-effect">{{ "landing_page.carousel.button.new_event"|trans }}</a></p>
                            </div>
                        </div>
                        <div class="item">
                            <img src="{{ asset('bundles/app/img/carousel/carousel-vacances.jpg') }}" alt="{{ "landing_page.carousel.holiday.alt"|trans }}">
                            <div class="carousel-caption">
                                <h3>{{ "landing_page.carousel.holiday.title"|trans }}</h3>
                                <p>{{ "landing_page.carousel.holiday.text"|trans }}</p>
                                <p class="m-t-15"><a href="{{ path('createEvent') }}" class="btn btn-lg palette-Teal bg waves-effect">{{ "landing_page.carousel.button.new_event"|trans }}</a></p>
                            </div>
                        </div>
                    </div>

                    <!-- Controls -->
                    <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev"> <span class="zmdi zmdi-chevron-left" aria-hidden="true"></span> <span
                                class="sr-only">Previous</span> </a> <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next"> <span
                                class="zmdi zmdi-chevron-right" aria-hidden="true"></span> <span class="sr-only">Next</span> </a>
                </div>
            </div>
        </div>#}

    {# <div class="homepage-hero-module">
         <div class="video-container">
             <div class="filter"></div>
             <video autoplay loop class="fillWidth">
                 <source src="{{ asset('bundles/app/video/Beach-Ball/Mp4/Beach-Ball.mp4') }}" type="video/mp4" />Your browser does not support the video tag. I suggest you upgrade your browser.
                 <source src="{{ asset('bundles/app/video/Beach-Ball/Webm/Beach-Ball.webm') }}" type="video/webm" />Your browser does not support the video tag. I suggest you upgrade your
                 browser.
             </video>
             <div class="poster hidden">
                 <img src="{{ asset('bundles/app/video/Beach-Ball/Snapshot/Beach-Ball.jpg') }}" alt="">
             </div>
         </div>
     </div>#}

    <div class="card palette-Grey-100 bg z-depth-3">
        <div class="card-header c-boxed text-center">
            <h1><strong>Comment ça marche?</strong></h1>
        </div>
        <div class="card-body card-padding c-boxed">
            <div class="row">
                <div class="col-md-4">
                    <div class="card z-depth-3">
                        <div class="card-header text-center">
                            <h3><strong><i class="zmdi zmdi-border-color zmdi-hc-2x"></i><br>Créez votre évènement</strong></h3>
                        </div>
                        <div class="card-body card-padding">
                            <p>Vous organisez un événement ou une activité ?</p>
                            <p>Vous vous posez des questions similaires :</p>
                            <div class="list-md-icon m-b-10">
                                <ul>
                                    <li class="ng-binding"><i class="zmdi zmdi-help-outline"></i>On fait quoi ?</li>
                                    <li class="ng-binding"><i class="zmdi zmdi-calendar"></i>Vous êtes disponible quand ?</li>
                                    <li class="ng-binding"><i class="zmdi zmdi-pin"></i>On part où ?</li>
                                    <li class="ng-binding"><i class="zmdi zmdi-accounts"></i>Qui vient?</li>
                                    <li class="ng-binding"><i class="zmdi zmdi-check-all"></i>Qui apporte quoi ?</li>
                                    <li class="ng-binding">...</li>
                                </ul>
                            </div>
                            <p><strong>Pas de panique Yziplan est fait pour vous!</strong></p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card z-depth-3">
                        <div class="card-header text-center">
                            <h3><strong><i class="zmdi zmdi-account-add zmdi-hc-2x"></i><br>Invitez vos amis.</strong></h3>
                        </div>
                        <div class="card-body card-padding">
                            <p>Partagez vos informations, vos choix et vos envies.</p>
                            <p>L'organisation se fait naturellement.</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card z-depth-3">
                        <div class="card-header text-center">
                            <h3><strong><i class="zmdi zmdi-check zmdi-hc-2x"></i><br>Profitez de l'évènement</strong></h3>
                        </div>
                        <div class="card-body card-padding">
                            <p><strong>Il ne vous reste plus qu'à vous amuser avec vos amis!</strong></p>

                            <p>Et retrouvez bientôt de nouvelles fonctionnalités pour gérer l'après événement :</p>
                            <div class="list-md-icon m-b-10">
                                <ul>
                                    <li class="ng-binding"><i class="zmdi zmdi-image"></i>Partage de photos</li>
                                    <li class="ng-binding"><i class="zmdi zmdi-balance-wallet"></i></i>Remboursements</li>
                                    <li class="ng-binding">...</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="card palette-Blue-50 bg">
        <div class="card-header c-boxed">
            <h1><strong>Types d'évènement</strong><br/></h1>
            <i>Découvrez nos événements pré-configurés!</i>

        </div>
        <div class="card-body card-padding c-boxed">
            <div class="row">
                <div class="col-xs-6 col-sm-4 col-md-2 p-10">
                    <div class="card z-depth-3">
                        <div class="card-header ch-img" style="background-image: url({{ asset('bundles/app/img/index/fun-1673255_960_720.jpg') }}); height: 150px;"></div>
                        <div class="card-header text-center">
                            <h2>
                                Soirées
                            </h2>
                        </div>
                    </div>
                </div>
                <div class="col-xs-6 col-sm-4 col-md-2 p-10">
                    <div class="card z-depth-3">
                        <div class="card-header ch-img" style="background-image: url({{ asset('bundles/app/img/index/event-holidays.jpg') }}); height: 150px;"></div>
                        <div class="card-header text-center">
                            <h2>
                                Vacances
                            </h2>
                        </div>
                    </div>
                </div>
                <div class="col-xs-6 col-sm-4 col-md-2 p-10">
                    <div class="card z-depth-3">
                        <div class="card-header ch-img" style="background-image: url({{ asset('bundles/app/img/index/event-birthday.jpg') }}); height: 150px;"></div>
                        <div class="card-header text-center">
                            <h2>
                                Anniversaires
                            </h2>
                        </div>
                    </div>
                </div>
                <div class="col-xs-6 col-sm-4 col-md-2 p-10">
                    <div class="card z-depth-3">
                        <div class="card-header ch-img" style="background-image: url({{ asset('bundles/app/img/index/fun-1673255_960_720.jpg') }}); height: 150px;"></div>
                        <div class="card-header text-center ">
                            <h2>
                                Activités
                            </h2>
                        </div>
                    </div>
                </div>
                <div class="col-xs-6 col-sm-4 col-md-2 p-10">
                    <div class="card z-depth-3">
                        <div class="card-header ch-img" style="background-image: url({{ asset('bundles/app/img/index/event-afterwork.jpg') }}); height: 150px;"></div>
                        <div class="card-header text-center">
                            <h2>
                                After-Work
                            </h2>
                        </div>
                    </div>
                </div>
                <div class="col-xs-6 col-sm-4 col-md-2 p-10">
                    <div class="card z-depth-3">
                        <div class="card-header ch-img" style="background-image: url({{ asset('bundles/app/img/index/event-bbq.jpg') }}); height: 150px;"></div>
                        <div class="card-header text-center">
                            <h2>
                                Barbecues
                            </h2>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="card palette-Grey-100 bg">
        <div class="card-header c-boxed">
            <h1><strong>Fonctionnalités</strong><br/></h1>
            <i>Découvrez nos événements pré-configurés!</i>

        </div>
        <div class="card-body card-padding c-boxed">

            <div class="rotation_card_wrapper">
                <div class="rotation_card effect__random" data-id="1">
                    <div class="rotation_card__front bg palette-Pink-A400 z-depth-3">
                        <div class="rotation_card__text"><i class="zmdi zmdi-calendar zmdi-hc-4x"></i></div>
                    </div>
                    <div class="rotation_card__back bg palette-Pink-A400 z-depth-3">
                        <div class="rotation_card__text">Quand&#160;?</div>
                    </div>
                </div><!-- /card -->

                <div class="rotation_card effect__random" data-id="2">
                    <div class="rotation_card__front bg palette-Teal-A400 z-depth-3">
                        <div class="rotation_card__text"><i class="zmdi zmdi-map zmdi-hc-4x"></i></div>
                    </div>
                    <div class="rotation_card__back bg palette-Teal-A400 z-depth-3">
                        <div class="rotation_card__text">Où&#160;?</div>
                    </div>
                </div><!-- /card -->

                <div class="rotation_card effect__random" data-id="3">
                    <div class="rotation_card__front bg palette-Orange-A400 z-depth-3">
                        <div class="rotation_card__text"><i class="zmdi zmdi-pin-help zmdi-hc-4x"></i></div>
                    </div>
                    <div class="rotation_card__back bg palette-Orange-A400 z-depth-3">
                        <div class="rotation_card__text">Quoi&#160;?</div>
                    </div>
                </div><!-- /card -->

                <div class="rotation_card effect__random" data-id="4">
                    <div class="rotation_card__front bg palette-Blue-A400 z-depth-3">
                        <div class="rotation_card__text"><i class="zmdi zmdi-check-square zmdi-hc-4x"></i></div>
                    </div>
                    <div class="rotation_card__back bg palette-Blue-A400 z-depth-3">
                        <div class="rotation_card__text">Qui apporte quoi&#160;?</div>
                    </div>
                </div><!-- /card -->

                <div class="rotation_card effect__random" data-id="5">
                    <div class="rotation_card__front bg palette-Red-A400 z-depth-3">
                        <div class="rotation_card__text"><i class="zmdi zmdi-balance-wallet zmdi-hc-4x"></i></div>
                    </div>
                    <div class="rotation_card__back bg palette-Red-A400 z-depth-3">
                        <div class="rotation_card__text">Gestion des dépenses<br>(A venir)</div>
                    </div>
                </div><!-- /card -->

                <div class="rotation_card effect__random" data-id="6">
                    <div class="rotation_card__front bg palette-Red z-depth-3">
                        <div class="rotation_card__text"><i class="zmdi zmdi-balance-wallet zmdi-hc-4x"></i></div>
                    </div>
                    <div class="rotation_card__back bg palette-Red z-depth-3">
                        <div class="rotation_card__text">Cagnottes<br>(A venir)</div>
                    </div>
                </div><!-- /card -->

                <div class="rotation_card effect__random" data-id="7">
                    <div class="rotation_card__front bg palette-Red z-depth-3">
                        <div class="rotation_card__text"><i class="zmdi zmdi-accounts-alt zmdi-hc-4x"></i></div>
                    </div>
                    <div class="rotation_card__back bg palette-Red z-depth-3">
                        <div class="rotation_card__text">Qui&#160;?</div>
                    </div>
                </div><!-- /card -->

                <div class="rotation_card effect__random" data-id="8">
                    <div class="rotation_card__front bg palette-Red z-depth-3">
                        <div class="rotation_card__text"><i class="zmdi zmdi-help-outline zmdi-hc-4x"></i></div>
                    </div>
                    <div class="rotation_card__back bg palette-Red z-depth-3">
                        <div class="rotation_card__text">Sondages</div>
                    </div>
                </div><!-- /card -->
                <div class="rotation_card effect__random" data-id="9">
                    <div class="rotation_card__front bg palette-Red z-depth-3">
                        <div class="rotation_card__text"><i class="zmdi zmdi-image zmdi-hc-4x"></i></div>
                    </div>
                    <div class="rotation_card__back bg palette-Red z-depth-3">
                        <div class="rotation_card__text">Partage de photos<br>(A venir)</div>
                    </div>
                </div><!-- /card -->
            </div>
        </div>
    </div>

    <div class="card palette-Blue-50 bg ">
        <div class="card-header c-boxed">
            <h1><strong>Exemples d'évènement</strong><br/></h1>
            <i>Découvrez nos événements pré-configurés!</i>
        </div>
        <div class="card-body card-padding c-boxed">
            <div class="row">
                <div class="col-sm-4 p-20">
                    <div class="card z-depth-3">
                        <div class="card-header ch-img" style="background-image: url({{ asset('bundles/app/img/index/fun-1673255_960_720.jpg') }}); height: 250px;"></div>
                        <div class="card-header">
                            <h2>
                                Pellentesque Ligula Fringilla

                                <small>by Malinda Hollaway on 19th June 2015 at 09:10 AM</small>
                            </h2>
                        </div>
                        <div class="card-body card-padding">
                            <p>Donec ullamcorper nulla non metus auctor fringilla. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Fusce dapibus, tellus ac cursus commodo, tortor mauris
                                condimentum nibh, ut fermentum massa justo sit amet risus. Vestibulum id ligula porta felis euismod semper. Nulla vitae elit libero, a pharetra </p>

                            <a href="" class="view-more"><i class="zmdi zmdi-long-arrow-right"></i> Voir l'événement</a>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4 p-20">
                    <div class="card z-depth-3">
                        <div class="card-header ch-img" style="background-image: url({{ asset('bundles/app/img/index/adventure-842584_960_720.jpg') }}); height: 250px;"></div>
                        <div class="card-header">
                            <h2>
                                Pellentesque Ligula Fringilla

                                <small>by Malinda Hollaway on 19th June 2015 at 09:10 AM</small>
                            </h2>
                        </div>
                        <div class="card-body card-padding">
                            <p>Donec ullamcorper nulla non metus auctor fringilla. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Fusce dapibus, tellus ac cursus commodo, tortor mauris
                                condimentum nibh, ut fermentum massa justo sit amet risus. Vestibulum id ligula porta felis euismod semper. Nulla vitae elit libero, a pharetra </p>

                            <a href="" class="view-more"><i class="zmdi zmdi-long-arrow-right"></i> Voir l'événement</a>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4 p-20">
                    <div class="card z-depth-3">
                        <div class="card-header ch-img" style="background-image: url({{ asset('bundles/app/img/index/beer-1585467_960_720.jpg') }}); height: 250px;"></div>
                        <div class="card-header">
                            <h2>
                                Pellentesque Ligula Fringilla

                                <small>by Malinda Hollaway on 19th June 2015 at 09:10 AM</small>
                            </h2>
                        </div>
                        <div class="card-body card-padding">
                            <p>Donec ullamcorper nulla non metus auctor fringilla. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Fusce dapibus, tellus ac cursus commodo, tortor mauris
                                condimentum nibh, ut fermentum massa justo sit amet risus. Vestibulum id ligula porta felis euismod semper. Nulla vitae elit libero, a pharetra </p>

                            <a href="" class="view-more"><i class="zmdi zmdi-long-arrow-right"></i> Voir l'événement</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="card palette-Green-50 bg z-depth-3">
        <div class="card-header c-boxed">
            <h1>Ils en parlent</h1>
        </div>
        <div class="card-body c-boxed card-padding">
            <blockquote class="blockquote m-b-25">
                <div class="quote-table">
                    <div class="quote-tr">
                        <div class="quote-img quote-td" style="background-image: url({{ asset('bundles/app/img/index/quote-mi.jpg') }})"></div>
                        <div class="quote-td p-l-10">
                            <p>On devait organiser une mission d'infiltration.<br>On pensait que c'était mission impossible, puis on a découvert Yziplan.</p>
                            <footer>Ethan Hunt - <cite title="Source Title">Mission Impossible</cite></footer>
                        </div>
                    </div>
                </div>
            </blockquote>
            <blockquote class="blockquote-reverse m-b-25">
                <div class="quote-table">
                    <div class="quote-tr">
                        <div class="quote-td p-r-10">
                            <p>J'aime quand un plan se déroule sans accroc. </p>
                            <footer>Hannibal - <cite title="Source Title">Agence tous risques</cite></footer>
                        </div>
                        <div class="quote-img quote-td" style="background-image: url({{ asset('bundles/app/img/index/quote-hannibal.jpg') }})"></div>
                    </div>
                </div>
            </blockquote>
            <blockquote class="blockquote m-b-25">
                <div class="quote-table">
                    <div class="quote-tr">
                        <div class="quote-img quote-td" style="background-image: url({{ asset('bundles/app/img/index/quote-ocean.jpg') }})"></div>
                        <div class="quote-td p-l-10">
                            <p>On se demandait comment on allait pouvoir cambrioler 3 casinos simultanément.<br>Yziplan nous a permis d'atteindre notre objectif en toute sérénité !</p>
                            <footer>Daniel "Danny" Ocean - <cite title="Source Title">Ocean's Eleven</cite></footer>
                        </div>
                    </div>
                </div>
            </blockquote>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset("bundles/app/js/morphext.js") }}"></script>
    <script>
        $("#rotate-event").Morphext({
            // The [in] animation type. Refer to Animate.css for a list of available animations.
            animation: "fadeInDown",
            // An array of phrases to rotate are created based on this separator. Change it if you wish to separate the phrases differently (e.g. So Simple | Very Doge | Much Wow | Such Cool).
            separator: ",",
            // The delay between the changing of each phrase in milliseconds.
            speed: 1500,
            complete: function () {
                // Called after the entrance animation is executed.
            }
        });
    </script>
    <script>
        (function () {
            // cache vars
            var cards = document.querySelectorAll(".rotation_card.effect__random");
            var timeMin = 1;
            var timeMax = 10;
            var timeouts = [];

            // loop through cards
            for (var i = 0, len = cards.length; i < len; i++) {
                var card = cards[i];
                var cardID = card.getAttribute("data-id");
                var id = "timeoutID" + cardID;
                var time = randomNum(timeMin, timeMax) * 1000;
                cardsTimeout(id, time, card);
            }

            // timeout listener
            function cardsTimeout(id, time, card) {
                if (id in timeouts) {
                    clearTimeout(timeouts[id]);
                }
                timeouts[id] = setTimeout(function () {
                    var c = card.classList;
                    var newTime = randomNum(timeMin, timeMax) * 1000;
                    c.contains("flipped") === true ? c.remove("flipped") : c.add("flipped");
                    cardsTimeout(id, newTime, card);
                }, time);
            }

            // random number generator given min and max
            function randomNum(min, max) {
                return Math.random() * (max - min) + min;
            }
        })();
    </script>
{% endblock %}