<ul class="f-menu">
    <li><a href="{{ path('home') }}">{{ "base.footer.home"|trans }}</a></li>
    <li><a href="{{ path('directoryIndex') }}">{{ "base.footer.directory"|trans }}</a></li>
    <li><a href="{{ path('indexPro') }}">{{ "base.footer.pro"|trans }}</a></li>
    <li><a href="{{ path('legalNotices') }}">{{ "legal_notices.title"|trans }}</a></li>
</ul>

<ul class="f-menu">
    <li>
        <a href="https://www.facebook.com/Yziplan" target="_blank" title="{{ "text.social_network.facebook"|trans }}">
            <span class="zmdi-hc-stack zmdi-hc-lg">
                <i class="zmdi zmdi-facebook zmdi-hc-stack-1x"></i>
                <i class="zmdi zmdi-circle-o zmdi-hc-stack-2x"></i>
            </span>
        </a>
    </li>
    <li>
        <a href="https://twitter.com/Yziplan" target="_blank" title="{{ "text.social_network.twitter"|trans }}">
            <span class="zmdi-hc-stack zmdi-hc-lg">
                <i class="zmdi zmdi-twitter zmdi-hc-stack-1x"></i>
                <i class="zmdi zmdi-circle-o zmdi-hc-stack-2x"></i>
            </span>
        </a>
    </li>
    <li>
        <a href="https://www.instagram.com/yziplan" target="_blank" title="{{ "text.social_network.instagram"|trans }}">
            <span class="zmdi-hc-stack zmdi-hc-lg">
                <i class="zmdi zmdi-instagram zmdi-hc-stack-1x"></i>
                <i class="zmdi zmdi-circle-o zmdi-hc-stack-2x"></i>
            </span>
        </a>
    </li>
    <li>
        <a href="#" data-toggle="modal" data-target="#addSuggestion" id="lienOuvreSuggestion" class="btn btn-primary btn-icon-text c-white"><i
                    class="zmdi zmdi-comment-outline"></i> {{ "suggestion.button"|trans }}</a>
    </li>
</ul>

<p><a href="mailto:pbagnpg@lmvcyna.se" class="hidden-email">pbagnpg@lmvcyna.se</a>&nbsp;-&nbsp;Copyright&nbsp;&copy;&nbsp;2017&nbsp;Yziplan</p>
