<div class="modal fade in" id="addSuggestion" tabindex="-1" role="dialog" aria-labelledby="addSuggestionModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content ">
            <form id="formSuggestion" action="{{ path("addSuggestion") }}" method="post" class="form-horizontal">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title text-center" id="addSuggestionModalLabel">{{ "suggestion.modal.text"|trans }}</h4>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <label class="col-sm-3 control-label" for="titre">{{ "suggestion.modal.form.title.label"|trans }}</label>
                        <div class="col-sm-8">
                            <div class="fg-line">
                                <input type="text" class="form-control" id="titre" name="titre">
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label" for="description">{{ "suggestion.modal.form.description.label"|trans }}</label>
                        <div class="col-sm-8">
                            <div class="fg-line">
                                <textarea id="description" name="description" class="resize-vertical form-control" rows="10"
                                          placeholder="{{ "suggestion.modal.form.description.placeholder"|trans }}"></textarea>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label" for="nom">{{ "suggestion.modal.form.name.label"|trans }}</label>
                        <div class="col-sm-8">
                            <div class="fg-line">
                                <input type="text" class="form-control" id="nom" name="nom"
                                       value="{{ is_granted("IS_AUTHENTICATED_REMEMBERED")?app.user.applicationUser.appUserInformation.publicName }}">
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label" for="mail">{{ "suggestion.modal.form.email.label"|trans }}</label>
                        <div class="col-sm-8">
                            <div class="fg-line">
                                <input type="text" class="form-control" id="mail" name="mail" value="{{ is_granted("IS_AUTHENTICATED_REMEMBERED")?app.user.email }}">
                            </div>
                        </div>
                    </div>
                    <input type="hidden" name="resolution" id="resolution"> <input type="hidden" name="os" id="os"> <input type="hidden" name="navigateur" id="navigateur"> <input type="hidden"
                                                                                                                                                                                   name="userAgent"
                                                                                                                                                                                   id="userAgent">
                    <input type="hidden" name="pageURL" id="pageURL">
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-flat waves-effect" data-dismiss="modal">{{ "global.button.close"|trans }}</button>
                    <button id="envoyerSuggestionOuBug" type="submit" class="btn waves-effect btn-primary" data-style="zoom-in"><span>{{ "global.button.add"|trans }}</span>
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>

<!-- Base : Suggestion/Bugs-->
<script>
    // Formulaire de soumission de suggestions/bugs
    var formSuggestion = $('form#formSuggestion');
    formSuggestion.on("submit", function (event) {
        if (event != null) {
            event.preventDefault();
        }
        var preloader = $('.at-global-preloader');
        $(preloader).show();

        // On prévient de la double soumission d'un formulaire
        formSuggestion.find('[type=submit]').each(function () {
            $(this).on('click', function (e) {
                e.preventDefault();
            });
            $(this).prop("disabled");
            $(this).addClass("disabled");
            if ($(this).data('loading-text')) {
                $(this).html($(this).data('loading-text'));
            }
        });

        datas = $(this).serializeArray();
        $.ajax("{{ path("addSuggestion") }}", {
            type: "POST",
            data: datas
        }).done(function (data) {
            document.querySelector("#formSuggestion").reset();
            toastr["info"](data['message'], data['titre']);
        }).fail(function (data) {
            toastr["error"](data['message'], data['titre']);
        }).then(function (data) {
            $('#addSuggestion').modal('toggle');
            $(preloader).hide();
            formSuggestion.find('[type=submit]').each(function () {
                $(this).off('click');
                $(this).removeProp("disabled");
                $(this).removeClass("disabled");
                if ($(this).data('original-text')) {
                    $(this).html($(this).data('original-text'));
                }
            });
        });
    });

    $('#lienOuvreSuggestion').click(function () {
        // Resolution de l'écran
        formSuggestion.find('#resolution').val("Height: " + $(window).height() + ' ; Width: ' + $(window).width());

        // OS
        var OSName = "Unknown OS";
        if (navigator.appVersion.indexOf("Win") != -1) OSName = "Windows";
        if (navigator.appVersion.indexOf("Mac") != -1) OSName = "MacOS";
        if (navigator.appVersion.indexOf("X11") != -1) OSName = "UNIX";
        if (navigator.appVersion.indexOf("Linux") != -1) OSName = "Linux";
        formSuggestion.find('#os').val(OSName);

        // Navigateur
        formSuggestion.find('#navigateur').val(navigator.appName + " " + navigator.appVersion);

        // User Agent
        formSuggestion.find('#userAgent').val(navigator.userAgent);

        // Page ocurante
        formSuggestion.find('#pageURL').val(window.location.href);
    })
</script>