{% extends "@App/Event/layout.html.twig" %}
{# Données d'entrée :
- event (Event) L'évenement à afficher
- eventForm (Form|null) Formulaire d'édition des information général de l'événement (si les droits le permettent)
- invitationsForm (Form|null) Formulaire permettant d'inviter (renseignement des e-mails des invités)
- modules (array) Tableau des modules de l'événement. Chaque module est décrit un tableau de données (Cf. EventManager:getModulesToDisplay(...) )
- userEventInvitation (EventInvitation) L'invitation à afficher
- userEventInvitationForm (Form) Formulaire de réponse à l'invitation
#}


{% block mainMenu_listItems %}
    <li><a href="#event-header-card">{{ "global.event"|trans|capitalize }}</a></li>
    {% for moduleDescription in modules if moduleDescription.module.name is not empty and moduleDescription.module.status != constant("AppBundle\\Utils\\enum\\ModuleStatus::DELETED") %}
        <li><a href="#module-{{ moduleDescription.module.token }}">{{ moduleDescription.module.name|capitalize }}</a></li>
    {% endfor %}
{% endblock mainMenu_listItems %}

{% block event_content %}
    {{ include("@App/Event/partials/eventHeaderCard.html.twig", {'event':event, 'eventForm':eventForm, 'userEventInvitation':userEventInvitation, 'invitationsForm':invitationsForm}) }}

    <div class="row">
        <div class="col-xs-12 col-sm-8" id="eventModulesContainer">
            {% for moduleDescription in modules if moduleDescription.module.status != constant("AppBundle\\Utils\\enum\\ModuleStatus::DELETED") %}
                {% if moduleDescription.module.pollModule is not null %}
                    {{ include('@App/Event/module/displayPollModule.html.twig', {
                        'module':moduleDescription.module,
                        'moduleForm':(moduleDescription.moduleForm is defined?moduleDescription.moduleForm:null),
                        'pollProposalAddForm':(moduleDescription.pollProposalAddForm is defined?moduleDescription.pollProposalAddForm:null ),
                        'userModuleInvitation':userEventInvitation.getModuleInvitationForModule(moduleDescription.module)
                    }) }}
                {% elseif moduleDescription.module.expenseModule is not null %}
                    {{ include('@App/Event/module/displayExpenseModule.html.twig', {
                        'module':moduleDescription.module,
                        'moduleForm':(moduleDescription.moduleForm is defined?moduleDescription.moduleForm:null),
                        'userModuleInvitation':userEventInvitation.getModuleInvitationForModule(moduleDescription.module)
                    }) }}
                {% else %}
                    {{ include('@App/Event/module/displayModule.html.twig', {
                        'module':moduleDescription.module,
                        'moduleForm':(moduleDescription.moduleForm is defined?moduleDescription.moduleForm:null),
                        'userModuleInvitation':userEventInvitation.getModuleInvitationForModule(moduleDescription.module)
                    }) }}
                {% endif %}
            {% endfor %}
        </div>

        <div class="col-xs-12 col-sm-4">
            {% if userEventInvitation is defined %}
                {{ include("@App/Event/partials/eventInvitationUserMainDataCard.html.twig", {
                    "userEventInvitation":userEventInvitation,
                    'userEventInvitationForm' : userEventInvitationForm}) }}
            {% endif %}
            {{ include("@App/Event/partials/eventTechniqueDataCard.html.twig", {"event":event, 'userEventInvitation':userEventInvitation}) }}
        </div>
    </div>
{% endblock event_content %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset("bundles/app/css/selectize.css") }}">
    <link rel="stylesheet" href="{{ asset("bundles/app/css/selectize.bootstrap3.css") }}">
    <link rel="stylesheet" href="{{ asset("bundles/app/css/selectize.at.css") }}">
{% endblock stylesheets %}

{% block top_javascripts %}
    {{ parent() }}
    <script src="{{ asset("bundles/app/js/jquery.collection.js") }}"></script>
    <script src="{{ asset("bundles/app/js/selectize-standalone.min.js") }}"></script>
    <script src="{{ asset("bundles/app/js/at-selectize.js") }}"></script>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset("bundles/app/js/at-event.js") }}"></script>

    {% if userEventInvitation is defined and userEventInvitation.status is constant('AppBundle\\Utils\\enum\\EventInvitationStatus::AWAITING_VALIDATION') %}
        <script>
            swal({
                title: "{{ "eventInvitation.maindata.card.new_warning_alert.title"|trans|raw }}",
                text: "{{ "eventInvitation.maindata.card.new_warning_alert.message"|trans|raw }}",
                type: "input",
                showCancelButton: true,
                closeOnConfirm: false,
                animation: "slide-from-top",
                inputPlaceholder: "{{ "eventInvitation.form.guestname.placeholder"|trans|raw }}"
            }, function (inputValue) {
                if (inputValue === false) return false;
                if (inputValue === "") {
                    swal.showInputError("{{ "eventInvitation.maindata.card.new_warning_alert.inputError"|trans|raw }}");
                    return false
                }
                $('#event_invitation_guestName').val(inputValue);
                $('form#userEventInvitationAbout').submit();
                swal.close();
            });
        </script>
    {% endif %}

{% endblock %}