{% extends "@App/Event/layout.html.twig" %}

{% block mainMenu_listItems %}
    <li><a href="#event-header-card">{{ "global.event"|trans|capitalize }}</a></li>
    {% for module in event.modules %}
        <li><a href="#{{ module.name|replace({' ':'_'}) }}">{{ module.name|capitalize }}</a></li>
    {% endfor %}
{% endblock mainMenu_listItems %}

{% block event_content %}
    {{ include("@App/Event/partials/eventHeaderCard.html.twig", {'event':event, 'allowEdit':allowEdit, 'eventForm':eventForm}) }}

    <div class="row">
        <div class="col-xs-12 col-sm-8">
            {% for module in event.modules %}
                {{ render(controller("AppBundle:Event:displayModulePartial", {"moduleId":module.id} )) }}
            {% endfor %}
        </div>

        <div class="col-xs-12 col-sm-4">
            {% if event.creator is not null %}
                {{ render(controller("AppBundle:Event:displayAppUserPartial", {"appUserId":event.creator.appUser.id})) }}
            {% endif %}
        </div>
    </div>


{% endblock event_content %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset("bundles/app/css/bootstrap-datetimepicker.min.css") }}">
    <link rel="stylesheet" href="{{ asset("bundles/app/css/bootstrap-clockpicker.css") }}">
{% endblock stylesheets %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('bundles/app/js/bootstrap-datetimepicker.min.js') }}"></script>
    <script src="{{ asset("bundles/app/js/bootstrap-clockpicker.js") }}"></script>

    <script src="{{ asset("bundles/app/js/at-event.js") }}"></script>
{% endblock %}