{% extends "AppBundle:Event:layout.html.twig" %}

{% block title %}{{ parent() }} - {{ "global.event"|trans }}{% endblock %}

{% block mainMenu_listItems %}
    <li><a href="{{ path('accueil') }}"><i class="zmdi zmdi-home"></i> Accueil</a></li>
    <li class="active"><a href="#">Description</a></li>
    <li><a href="#">Module Quand</a></li>
{% endblock mainMenu_listItems %}

{% block content_body %}
    {{ parent() }}

    <div class="card">
        <div class="card-header">
            <h2>Evenement de test
                <small>Sous-titre ou description brève</small>
            </h2>
        </div>
        <div class="card-body card-padding-sm">
            C'est la page d'un événement à compléter.
        </div>
    </div>

    <div class="row">
        <div class="col-md-8">
            {{ include("@App/Event/module/addModule.html.twig") }}
        </div>
        <div class="col-md-8">
            {{ include("@App/Event/module/expenseModule.html.twig") }}
        </div>
        <div class="col-md-4">
            {{ include("@App/Event/module/who.html.twig") }}
        </div>
    </div>

    <div id="c-grid" class="clearfix" data-columns>
        <div class="card c-dark palette-Green bg">
            <div class="card-header">
                <h2>Module 1</h2>
            </div>
            <div class="card-body card-padding">
                <p>Contenu du module 1</p>
            </div>
        </div>

        <div class="card c-dark palette-Indigo bg">
            <div class="card-header">
                <h2>Module 2</h2>
            </div>
            <div class="card-body card-padding">
                <p>Contenu du module 2</p>
            </div>
        </div>

        <div class="card c-dark palette-Blue bg">
            <div class="card-header">
                <h2>Module 3</h2>
            </div>
            <div class="card-body card-padding">
                <p>Contenu du module 3</p>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript">
        $(document).ready(function () {
            //Basic Example
            $("#data-table-basic").bootgrid({
                css: {
                    icon: 'zmdi icon',
                    iconColumns: 'zmdi-view-module',
                    iconDown: 'zmdi-expand-more',
                    iconRefresh: 'zmdi-refresh',
                    iconUp: 'zmdi-expand-less'
                },
                formatters: {
                    "image": function (column, row) {
                        /**
                         * format requis du Json
                         * avatars:
                         *     avatar:
                         *
                         */
                        /*var jsonData = JSON.parse(row[column.id]);
                         for (var i = 0; i < jsonData.counters.length; i++) {
                         var counter = jsonData.counters[i];
                         console.log(counter.counter_name);
                         }*/
                        var resultat = ""
                        try {
                            var jsonData = JSON.parse(row[column.id]);
                            if (jsonData.hasOwnProperty("avatars")) {
                                for (var i = 0; i < jsonData.avatars.length; i++) {
                                    if (jsonData.avatars[i].hasOwnProperty("avatarSrc")) {
                                        resultat = resultat + "<img class='table-img' src='" + jsonData.avatars[i].avatarSrc + "' />";
                                    }
                                }
                            }
                        }catch(error){}
                        return resultat;
                    },
                },
            });
        });
    </script>
{% endblock %}