{% extends "@App/Event/layout_cboxed.html.twig" %}

{# Données d'entrée :
- event (Event) L'évenement à afficher
- eventForm (Form|null) Formulaire d'édition des information général de l'événement (si les droits le permettent)
- eventTemplateSettingsForm (Form|null) Formulaire de configuration des options de duplication de type "Template"
- eventRecurrenceSettingsForm (Form) Formulaire de configuration des options de duplication de type "Recurrence"
- thread (Thread) Le fil de discussion de l'événement
- comments(Comment[]) Les commentaires appartenant au fil de discussion de l'événement
- invitationsForm (Form|null) Formulaire permettant d'inviter (renseignement des e-mails des invités)
- modules (array) Tableau des modules de l'événement. Chaque module est décrit un tableau de données (Cf. EventManager:getModulesToDisplay(...) )
- userEventInvitation (EventInvitation) L'invitation à afficher
- userEventInvitationForm (Form) Formulaire de réponse à l'invitation : données de profil
- sendMessageForm (Form|null) Formulaire permettant d'envoyer un rappel aux invités
- userEventInvitationAnswerForm (Form) Formulaire de réponse à l'invitation
- redirectedAfterEventDuplication (boolean|undefined) si true alors on affiche une alerte pour informer l'utilisateur qu'il a dupliqué un événement
#}


{% block title %}{{ parent() }} - {{ event.name is empty?"event.page.meta_title.new_event"|trans:event.name }}{% endblock %}

{% block event_content %}
    <div class="grid row">
        <div class="grid-item col-xs-12 col-xs-p-lr-0 col-lg-8">
            {{ include("@App/Event/partials/event_header_card.html.twig", {'userEventInvitation':userEventInvitation, 'eventForm':eventForm, 'thread':thread, 'comments':comments}) }}
        </div>

        <div class="grid-item col-xs-12 col-xs-p-lr-0 col-lg-4">
            <div class="row">
                <div id="profileCard" class="col-xs-12 col-xs-p-lr-0 col-sm-6 col-lg-12">
                    {{ include("@App/Event/partials/profile/eventInvitation_profile_card.html.twig", {
                        "userEventInvitation":userEventInvitation,
                        'userEventInvitationForm' : userEventInvitationForm}) }}
                </div>

                <div id="guestListCard" class="col-xs-12 col-xs-p-lr-0 col-sm-6 col-lg-12">
                    {{ include('@App/Event/partials/event_guests_card.html.twig', {
                        'userEventInvitation':userEventInvitation,
                        'event':event,
                        'sendMessageForm ': (sendMessageForm is defined ? sendMessageForm:null),
                        'userEventInvitationAnswerForm':userEventInvitationAnswerForm
                    }) }}
                </div>
            </div>
        </div>

        {# Affiche les modules de l'événement, les modules ajoutés via Ajax sont ajoutés à la fin de la div #eventModulesContainer #}
        <div class="grid-item col-xs-12 col-xs-p-lr-0 col-lg-8" id="eventModulesContainer">
            {% for moduleDescription in modules if moduleDescription.module.status != constant("AppBundle\\Utils\\enum\\ModuleStatus::DELETED") %}
                {% set userModuleInvitation = userEventInvitation.getModuleInvitationForModule(moduleDescription.module) %}
                {% if userModuleInvitation != null %}
                    {% if moduleDescription.module.pollModule is not null %}
                        {{ include('@App/Event/module/displayPollModule.html.twig', {
                            'module':moduleDescription.module,
                            'moduleForm':(moduleDescription.moduleForm is defined?moduleDescription.moduleForm:null),
                            'userModuleInvitation':userModuleInvitation,
                            'thread':moduleDescription.thread,'comments':moduleDescription.comments,
                            'pollModuleOptions':(moduleDescription.pollModuleOptions is defined?moduleDescription.pollModuleOptions:null )
                        }) }}
                    {% elseif moduleDescription.module.expenseModule is not null %}
                        {{ include('@App/Event/module/displayExpenseModule.html.twig', {
                            'module':moduleDescription.module,
                            'moduleForm':(moduleDescription.moduleForm is defined?moduleDescription.moduleForm:null),
                            'userModuleInvitation':userModuleInvitation,
                            'thread':moduleDescription.thread,'comments':moduleDescription.comments
                        }) }}
                    {% else %}
                        {{ include('@App/Event/module/displayModule.html.twig', {
                            'module':moduleDescription.module,
                            'moduleForm':(moduleDescription.moduleForm is defined?moduleDescription.moduleForm:null),
                            'userModuleInvitation':userModuleInvitation,
                            'thread':moduleDescription.thread,'comments':moduleDescription.comments
                        }) }}
                    {% endif %}
                {% endif %}
            {% endfor %}
        </div>

        {# Carte permettant l'ajout de modules supplémentaires, n'est affiché que si l'utilisateur a le droit #}
        {% if is_granted(constant('AppBundle\\Security\\EventVoter::ADD_EVENT_MODULE'), userEventInvitation) %}
            <div class="grid-item col-xs-12 col-xs-p-lr-0 col-lg-8" id="addModule">
                <div class="card c-dark z-depth-1" id="addModule-main-div">
                    <div class="card-header palette-Teal bg m-b-10">
                        <h2><i class="zmdi zmdi-collection-plus zmdi-hc-lg c-white m-r-15"></i>{{ "addModule.display.title"|trans }}</h2>
                    </div>
                    <div class="card-body card-padding-xs" id="addModule-body-card">
                        {{ include('@App/Event/module/displayAddModule_card.html.twig',{'event': event}) }}
                    </div>
                </div>
            </div>
        {% endif %}
        <!-- .grid-sizer empty element, only used for element sizing -->
        <div class="grid-sizer col-xs-12 col-xs-p-lr-0 col-sm-6 col-lg-4"></div>
    </div>
{% endblock event_content %}

{% block page_modal_container %}
    {{ parent() }}
    {% if eventForm is not null %}
        {{ include("@App/Event/partials/event_edit_modal.html.twig", {'userEventInvitation':userEventInvitation, 'eventForm':eventForm}) }}
    {% endif %}
    {% if eventTemplateSettingsForm is not null or eventRecurrenceSettingsForm is not null %}
        {{ include("@App/Event/partials/event_duplication_settings_modal.html.twig", {
            'event':event,
            'eventTemplateSettingsForm':eventTemplateSettingsForm,
            'eventRecurrenceSettingsForm':eventRecurrenceSettingsForm
        }) }}
    {% endif %}
{% endblock %}

{% block top_javascripts %}
    {{ parent() }}
    <script>
        var eventInvitationValid = true;
    </script>
{% endblock %}

{% block javascripts %}
    {{ parent() }}

    <script>
        var fos_comment_thread_container = $('.commentable_thread ');
        var fos_comment_thread_api_base_url = '{{ path('fos_comment_get_threads') }}';
        // Snippet for asynchronously loading the comments
        $(document).ready(function () {
            var fos_comment_script = document.createElement('script');
            fos_comment_script.async = true;
            fos_comment_script.src = '{{ asset('bundles/app/js/yzi-comment.js') }}';
            fos_comment_script.type = 'text/javascript';
            document.getElementsByTagName('body')[0].appendChild(fos_comment_script);

            $(document).on('fos_comment_add_comment fos_comment_show_form fos_comment_show_edit_form fos_comment_cancel_form', function (event, data) {
                $grid = $('.grid');
                if ($grid[0]) {
                    $grid.masonry('layout');
                }
                LetterAvatar.transform();
            });
        });
    </script>

    <script>
        $(document).ready(function () {
            initialiseYziplanMasonry();
            $grid = $('.grid');
            if ($grid[0]) {
                $grid.masonry('layout');
            }

            window.onresize = function (event) {
                $grid = $('.grid');
                if ($grid[0]) {
                    $grid.masonry('layout');
                }
            };

            new Clipboard("#btn_url_event_public_invitation");

            $('textarea, .auto-size').on('autosize:resized', function () {
                $grid = $('.grid');
                if ($grid[0]) {
                    $grid.masonry('layout');
                }
            });

            {% if redirectedAfterEventDuplication is defined and redirectedAfterEventDuplication %}
            {# Affichage de l'événement après une duplication => information à l'utilisateur#}
            swal({
                type: "success",
                titleText: "{{ 'duplication.notice.swal.title'|trans }}",
                html: "{{ 'duplication.notice.swal.message'|trans|raw }}"
            });
            {% endif %}
        });

        if (typeof google === 'object' && typeof google.maps === 'object') {
            initEventShowMap();
        } else {
            var script = document.createElement("script");
            script.type = "text/javascript";
            script.async = true;
            script.src = "https://maps.googleapis.com/maps/api/js?key={{ google_maps_api_id }}&libraries=places&callback=initEventGMapAPI";
            document.body.appendChild(script);
        }

        function initEventGMapAPI() {
            initEventShowMap();

            // Init event map fait a l'ouverture de l'edition
            // initEventEditMap();

            // Active l'autocomplétion des champs "Où" lors de l'ajout de proposition "Where"
            initPollProposalWhereElements('.googlePlaceId_name', '.googlePlaceId_value');
        }
        
        {% if (userEventInvitation.creator or userEventInvitation.administrator) and userEventInvitation.event.name is empty %}
        $(document).ready(function () {
            $('#event_header_edit_information').click();
        });
        {% endif %}
    </script>

{% endblock %}