{% extends "@App/Event/layout.html.twig" %}

{% block mainMenu_listItems %}
    <li><a href="#event-header-card">{{ "global.event"|trans|capitalize }}</a></li>
    {% for moduleDescription in modules if moduleDescription.module.name is not empty and moduleDescription.module.status != constant("AppBundle\\Entity\\enum\\ModuleStatus::DELETED") %}
        <li><a href="#module-{{ moduleDescription.module.token }}">{{ moduleDescription.module.name|capitalize }}</a></li>
    {% endfor %}
{% endblock mainMenu_listItems %}

{% block event_content %}
    {{ include("@App/Event/partials/eventHeaderCard.html.twig", {'event':event, 'allowEdit':allowEdit, 'eventForm':eventForm}) }}

    <div class="row">
        <div class="col-xs-12 col-sm-8" id="eventModulesContainer">
            {% for moduleDescription in modules if moduleDescription.module.status != constant("AppBundle\\Entity\\enum\\ModuleStatus::DELETED") %}
                {% if moduleDescription.module.pollModule is not null %}
                    {{ include('@App/Event/module/displayPollModule.html.twig', {
                        'module':moduleDescription.module,
                        'allowEdit':moduleDescription.allowEdit,
                        'moduleForm':moduleDescription.moduleForm,
                        'addPollProposalForm':(moduleDescription.addPollProposalForm is defined?moduleDescription.addPollProposalForm:null ),
                        'userModuleInvitation':userEventInvitation.getModuleInvitationForModule(moduleDescription.module.id)
                    }) }}
                {% elseif moduleDescription.module.expenseModule is not null %}
                    {{ include('@App/Event/module/displayExpenseModule.html.twig', {
                        'module':moduleDescription.module,
                        'allowEdit':moduleDescription.allowEdit,
                        'moduleForm':moduleDescription.moduleForm
                    }) }}
                {% else %}
                    {{ include('@App/Event/module/displayModule.html.twig', {
                        'module':moduleDescription.module,
                        'allowEdit':moduleDescription.allowEdit,
                        'moduleForm':moduleDescription.moduleForm
                    }) }}
                {% endif %}
            {% endfor %}
        </div>

        <div class="col-xs-12 col-sm-4">
            {% if userEventInvitation is defined %}
                {{ include("@App/Event/partials/eventInvitationUserMainDataCard.html.twig", {"userEventInvitation":userEventInvitation, 'userEventInvitationForm' : userEventInvitationForm}) }}
            {% endif %}
            {% if event.creator is not null %}
                {{ render(controller("AppBundle:Event:displayAppUserPartial", {"appUserId":event.creator.appUser.id})) }}
            {% endif %}
            {{ include("@App/Event/partials/eventTechniqueDataCard.html.twig", {"event":event, 'userEventInvitation':userEventInvitation}) }}
        </div>
    </div>


{% endblock event_content %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset("bundles/app/css/bootstrap-datetimepicker.min.css") }}">
    <link rel="stylesheet" href="{{ asset("bundles/app/css/bootstrap-clockpicker.css") }}">
    <link rel="stylesheet" href="{{ asset("bundles/app/css/sweetalert.css") }}">


{% endblock stylesheets %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('bundles/app/js/bootstrap-datetimepicker.min.js') }}"></script>
    <script src="{{ asset("bundles/app/js/bootstrap-clockpicker.js") }}"></script>
    <script src="{{ asset("bundles/app/js/sweetalert.min.js") }}"></script>

    <script src="{{ asset("bundles/app/js/at-event.js") }}"></script>
{% endblock %}