{% extends "@App/Event/layout_cboxed.html.twig" %}

{# Données d'entrée :
- event (Event) L'évenement à afficher
- eventForm (Form|null) Formulaire d'édition des information général de l'événement (si les droits le permettent)
- invitationsForm (Form|null) Formulaire permettant d'inviter (renseignement des e-mails des invités)
- modules (array) Tableau des modules de l'événement. Chaque module est décrit un tableau de données (Cf. EventManager:getModulesToDisplay(...) )
- userEventInvitation (EventInvitation) L'invitation à afficher
- userEventInvitationForm (Form) Formulaire de réponse à l'invitation : données de profil
- userEventInvitationAnswerForm (Form) Formulaire de réponse à l'invitation
#}


{% block title %}{{ parent() }} - {{ event.name is empty?"event.page.meta_title.new_event"|trans:event.name }}{% endblock %}

{% block event_content %}
    {% if is_granted(constant('AppBundle\\Security\\EventVoter::ADD_EVENT_MODULE'), userEventInvitation) %}
        {# TODO Positionner le menu s'ouvrant relativement au browser #}
        <div class="dropup add-module-menu z-depth-4">
            <button class="btn btn-float palette-Pink bg m-btn waves-effect waves-circle waves-float z-depth-btn" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <i class="zmdi zmdi-plus"></i>
            </button>

            {#<a data-toggle="dropdown" href="#" class="btn btn-float palette-Teal bg waves-effect waves-circle waves-float"><i class="zmdi zmdi-plus"></i></a>#}
            <ul class="dropdown-menu dropdown-menu-right">
                <li>
                    <a class="add-pollmodule-link" href="{{ url('addEventModule', {'token': event.token, 'type':constant('AppBundle\\Utils\\enum\\ModuleType::POLL_MODULE'),
                        'subtype':constant('AppBundle\\Utils\\enum\\PollModuleType::WHAT')}) }}" id="addWhatPollModule">
                        <small>{{ "pollmodule.add_link.what"|trans }}</small>
                        <i class="waves-effect palette-Deep-Orange bg zmdi zmdi-pin-help zmdi-hc-fw"></i> </a>
                </li>
                <li>
                    <a class="add-pollmodule-link" href="{{ url('addEventModule', {'token': event.token,'type':constant('AppBundle\\Utils\\enum\\ModuleType::POLL_MODULE'),
                        'subtype':constant('AppBundle\\Utils\\enum\\PollModuleType::WHEN')}) }}" id="addWhenPollModule">
                        <small>{{ "pollmodule.add_link.when"|trans }}</small>
                        <i class="waves-effect palette-Blue bg zmdi zmdi-calendar zmdi-hc-fw"></i> </a>
                </li>
                <li>
                    <a class="add-pollmodule-link" href="{{ url('addEventModule', {'token': event.token,'type':constant('AppBundle\\Utils\\enum\\ModuleType::POLL_MODULE'),
                        'subtype':constant('AppBundle\\Utils\\enum\\PollModuleType::WHERE')}) }}" id="addWherePollModule">
                        <small>{{ "pollmodule.add_link.where"|trans }}</small>
                        <i class="waves-effect palette-Green bg zmdi zmdi-pin zmdi-hc-fw"></i> </a>
                </li>
                <li>
                    <a class="add-pollmodule-link" href="{{ url('addEventModule', {'token': event.token,'type':constant('AppBundle\\Utils\\enum\\ModuleType::POLL_MODULE'),
                        'subtype':constant('AppBundle\\Utils\\enum\\PollModuleType::WHO_BRINGS_WHAT')}) }}" id="addWhoBringsWhatPollModule">
                        <small>{{ "pollmodule.add_link.whobringswhat"|trans }}</small>
                        <i class="waves-effect palette-Purple bg zmdi zmdi-format-list-bulleted zmdi-hc-fw"></i> </a>
                </li>
            </ul>
        </div>
        <script>
            $('.add-pollmodule-link').on('click', function (e) {
                ajaxRequest(this, null, e, function (responseJSON, textStatus, jqXHR) {
                    var eventModulesContainer = $('#eventModulesContainer');
                    $('.grid').masonry('layout');
                    $(document).scrollTop($(eventModulesContainer).children().last().offset().top);
                    LetterAvatar.transform();
                }, null, null);
            });
        </script>
    {% endif %}

    <div class="grid row">
        <div class="grid-item col-xs-12 col-lg-8">
            {{ include("@App/Event/partials/event_header_card.html.twig", {'userEventInvitation':userEventInvitation, 'eventForm':eventForm}) }}
        </div>

        <div class="grid-item col-xs-12 col-lg-4">
            <div class="row">
                <div id="profileCard" class="col-xs-12 col-sm-6 col-md-12">
                    {{ include("@App/Event/partials/profile/eventInvitation_profile_card.html.twig", {
                        "userEventInvitation":userEventInvitation,
                        'userEventInvitationForm' : userEventInvitationForm,
                        'userEventInvitationAnswerForm':userEventInvitationAnswerForm}) }}
                </div>

                <div id="guestListCard" class="col-xs-12">
                    {{ include('@App/Event/partials/eventInvitation_list_card.html.twig', {
                        'userEventInvitation':userEventInvitation,
                        'eventInvitations':event.eventInvitations
                    }) }}
                </div>

                <div id="invitationCard" class="col-xs-12 col-sm-6 col-md-12">
                    {{ include('@App/Event/partials/eventInvitation_card.html.twig', {
                        'userEventInvitation':userEventInvitation,
                        'invitationsForm':invitationsForm
                    }) }}
                </div>
            </div>
        </div>

        <div class="grid-item col-xs-12 col-lg-8" id="eventModulesContainer">
            {% for moduleDescription in modules if moduleDescription.module.status != constant("AppBundle\\Utils\\enum\\ModuleStatus::DELETED") %}
                {% set userModuleInvitation = userEventInvitation.getModuleInvitationForModule(moduleDescription.module) %}
                {% if userModuleInvitation != null %}
                    {% if moduleDescription.module.pollModule is not null %}
                        {{ include('@App/Event/module/displayPollModule.html.twig', {
                            'module':moduleDescription.module,
                            'moduleForm':(moduleDescription.moduleForm is defined?moduleDescription.moduleForm:null),
                            'userModuleInvitation':userModuleInvitation,
                            'pollProposalAddForm':(moduleDescription.pollProposalAddForm is defined?moduleDescription.pollProposalAddForm:null )
                        }) }}
                    {% elseif moduleDescription.module.expenseModule is not null %}
                        {{ include('@App/Event/module/displayExpenseModule.html.twig', {
                            'module':moduleDescription.module,
                            'moduleForm':(moduleDescription.moduleForm is defined?moduleDescription.moduleForm:null),
                            'userModuleInvitation':userModuleInvitation
                        }) }}
                    {% else %}
                        {{ include('@App/Event/module/displayModule.html.twig', {
                            'module':moduleDescription.module,
                            'moduleForm':(moduleDescription.moduleForm is defined?moduleDescription.moduleForm:null),
                            'userModuleInvitation':userModuleInvitation
                        }) }}
                    {% endif %}
                {% endif %}
            {% endfor %}
        </div>
        <!-- .grid-sizer empty element, only used for element sizing -->
        <div class="grid-sizer col-xs-12 col-lg-4"></div>
    </div>
{% endblock event_content %}

{% block stylesheets %}
    {{ parent() }}
    {# Necessaire ? <link rel="stylesheet" href="{{ asset("bundles/app/css/selectize.css") }}">#}
    <link rel="stylesheet" href="{{ asset("bundles/app/css/selectize.bootstrap3.css") }}">
    <link rel="stylesheet" href="{{ asset("bundles/app/css/selectize.at.css") }}">
    <link rel="stylesheet" href="{{ asset("bundles/app/css/fileinput.min.css") }}">
    <link rel="stylesheet" href="{{ asset("bundles/app/css/datatables.min.css") }}"/>
    <link rel="stylesheet" href="{{ asset("bundles/app/css/jquery.bootstrap-touchspin.min.css") }}"/>

{% endblock stylesheets %}

{% block top_javascripts %}
    {{ parent() }}
    <script src="{{ asset("bundles/app/js/jquery.collection.js") }}"></script>
    <script src="{{ asset("bundles/app/js/selectize-standalone.min.js") }}"></script>
    <script src="{{ asset("bundles/app/js/at-selectize.js") }}"></script>
    <script src="{{ asset("bundles/app/js/datatables.min.js") }}"></script>
    <script src="{{ asset("bundles/app/js/jquery.bootstrap-touchspin.min.js") }}"></script>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset("bundles/app/js/masonry.pkgd.min.js") }}"></script>

    <!-- canvas-to-blob.min.js is only needed if you wish to resize images before upload.
     This must be loaded before fileinput.min.js -->
    <script src="{{ asset("bundles/app/js/fileinput_dep/canvas-to-blob.min.js") }}" type="text/javascript"></script>
    <!-- sortable.min.js is only needed if you wish to sort / rearrange files in initial preview.
         This must be loaded before fileinput.min.js -->
    <script src="{{ asset("bundles/app/js/fileinput_dep/sortable.min.js") }}" type="text/javascript"></script>
    <!-- purify.min.js is only needed if you wish to purify HTML content in your preview for HTML files.
         This must be loaded before fileinput.min.js -->
    <script src="{{ asset("bundles/app/js/fileinput_dep/purify.min.js") }}" type="text/javascript"></script>
    <!-- the main fileinput plugin file -->
    <script src="{{ asset('bundles/app/js/fileinput.js') }}"></script>
    <!-- optionally if you need a theme like "Material Design" theme  -->
    <script src="{{ asset('bundles/app/js/fileinput_dep/theme_zmdi.js') }}"></script>
    {% if app.request.attributes.get('_locale') == 'fr' %}
        <!-- optionally if you need translation for your language -->
        <script src="{{ asset('bundles/app/js/fileinput_dep/fr.js') }}"></script>
    {% endif %}

    {# Plugin for cliplboard field (copy into clipboard by clicking) #}
    <script src="{{ asset('bundles/app/js/clipboard.min.js') }}"></script>

    <script src="{{ asset("bundles/app/js/at-event.js") }}"></script>

    <script>
        if (typeof google === 'object' && typeof google.maps === 'object') {
            initEventShowMap();
        } else {
            var script = document.createElement("script");
            script.type = "text/javascript";
            script.async = true;
            script.src = "https://maps.googleapis.com/maps/api/js?key=AIzaSyD85iLilkz3ywzsN6VZKA-HEz2SLTEFIOE&libraries=places&callback=initEventGMapAPI";
            document.body.appendChild(script);
        }

        function initEventGMapAPI() {
            initEventShowMap();

            // Init event map fait a l'ouverture de l'edition
            // initEventEditMap();

            // Active l'autocomplétion des champs "Où" lors de l'ajout de proposition "Where"
            initPollProposalWhereElements('.googlePlaceId_name', '.googlePlaceId_value');
        }
    </script>

{% endblock %}