{% extends "@App/Event/layout.html.twig" %}

{% block mainMenu_listItems %}
    <li><a href="#event-header-card">{{ "global.event"|trans|capitalize }}</a></li>
    {% for moduleDescription in modules if moduleDescription.module.name is not empty and moduleDescription.module.status != constant("AppBundle\\Entity\\enum\\ModuleStatus::DELETED") %}
        <li><a href="#module-{{ moduleDescription.module.token }}">{{ moduleDescription.module.name|capitalize }}</a></li>
    {% endfor %}
{% endblock mainMenu_listItems %}

{% block event_content %}
    {{ include("@App/Event/partials/eventHeaderCard.html.twig", {'event':event, 'eventForm':eventForm}) }}

    <div class="row">
        <div class="col-xs-12 col-sm-8" id="eventModulesContainer">
            {% for moduleDescription in modules if moduleDescription.module.status != constant("AppBundle\\Entity\\enum\\ModuleStatus::DELETED") %}
                {% if moduleDescription.module.pollModule is not null %}
                    {{ include('@App/Event/module/displayPollModule.html.twig', {
                        'module':moduleDescription.module,
                        'moduleForm':(moduleDescription.moduleForm is defined?moduleDescription.moduleForm:null),
                        'addPollProposalForm':(moduleDescription.addPollProposalForm is defined?moduleDescription.addPollProposalForm:null ),
                        'userModuleInvitation':userEventInvitation.getModuleInvitationForModule(moduleDescription.module)
                    }) }}
                {% elseif moduleDescription.module.expenseModule is not null %}
                    {{ include('@App/Event/module/displayExpenseModule.html.twig', {
                        'module':moduleDescription.module,
                        'moduleForm':(moduleDescription.moduleForm is defined?moduleDescription.moduleForm:null),
                        'userModuleInvitation':userEventInvitation.getModuleInvitationForModule(moduleDescription.module)
                    }) }}
                {% else %}
                    {{ include('@App/Event/module/displayModule.html.twig', {
                        'module':moduleDescription.module,
                        'moduleForm':(moduleDescription.moduleForm is defined?moduleDescription.moduleForm:null),
                        'userModuleInvitation':userEventInvitation.getModuleInvitationForModule(moduleDescription.module)
                    }) }}
                {% endif %}
            {% endfor %}
        </div>

        <div class="col-xs-12 col-sm-4">
            {% if userEventInvitation is defined %}
                {{ include("@App/Event/partials/eventInvitationUserMainDataCard.html.twig", {"userEventInvitation":userEventInvitation, 'userEventInvitationForm' : userEventInvitationForm}) }}
            {% endif %}
            {% if event.creator is not null and event.creator.appUser is not null %}
                {# TODO refaire l'affichage du cadre de l'organisateur à partir de l'EventInvitation et non de l'AppUser #}
                {{ render(controller("AppBundle:Event:displayAppUserPartial", {"appUserId":event.creator.appUser.id})) }}
            {% endif %}
            {{ include("@App/Event/partials/eventTechniqueDataCard.html.twig", {"event":event, 'userEventInvitation':userEventInvitation}) }}
        </div>
    </div>
{% endblock event_content %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset("bundles/app/css/bootstrap-datetimepicker.min.css") }}">
    <link rel="stylesheet" href="{{ asset("bundles/app/css/bootstrap-clockpicker.css") }}">
    <link rel="stylesheet" href="{{ asset("bundles/app/css/sweetalert.css") }}">
{% endblock stylesheets %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('bundles/app/js/bootstrap-datetimepicker.min.js') }}"></script>
    <script src="{{ asset("bundles/app/js/bootstrap-clockpicker.js") }}"></script>
    <script src="{{ asset("bundles/app/js/sweetalert.min.js") }}"></script>
    <script src="{{ asset("bundles/app/js/at-event.js") }}"></script>

    {% if userEventInvitation is defined and userEventInvitation.status is constant('AppBundle\\Entity\\enum\\EventInvitationStatus::AWAITING_VALIDATION') %}
        <script>
            swal({
                title: "{{ "eventInvitation.maindata.card.new_warning_alert.title"|trans|raw }}",
                text: "{{ "eventInvitation.maindata.card.new_warning_alert.message"|trans|raw }}",
                type: "input",
                showCancelButton: true,
                closeOnConfirm: false,
                animation: "slide-from-top",
                inputPlaceholder: "{{ "eventInvitation.form.name.placeholder"|trans|raw }}"
            }, function (inputValue) {
                if (inputValue === false) return false;
                if (inputValue === "") {
                    swal.showInputError("{{ "eventInvitation.maindata.card.new_warning_alert.inputError"|trans|raw }}");
                    return false
                }
                $('#event_invitation_form_name').val(inputValue);
                $('form#userEventInvitationAbout').submit();
                swal.close();
            });
        </script>
    {% endif %}

{% endblock %}