<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8"/>
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="{% block meta_viewport %}width=device-width, initial-scale=1{% endblock %}">
    <meta name="author" content="ArdTeam">
    {% block meta_data %}{% endblock %}

    <title>{% block title %}{{ "global.project_name"|trans }}{% endblock %}</title>

    {% block stylesheets %}
        <link rel="stylesheet" href="{{ asset("bundles/app/css/jquery-ui.min.css") }}">
        <link rel="stylesheet" href="{{ asset("bundles/app/css/bootstrap.min.css") }}">
        <link rel="stylesheet" href="{{ asset("bundles/app/css/animate.css") }}">
        <link rel="stylesheet" href="{{ asset("bundles/app/css/waves.min.css") }}">
        <link rel="stylesheet" href="{{ asset("bundles/app/css/material-design-iconic-font.min.css") }}">
        <link rel="stylesheet" href="{{ asset("bundles/app/css/jquery.bootgrid.min.css") }}">
        <link rel="stylesheet" href="{{ asset("bundles/app/css/jquery.mCustomScrollbar.min.css") }}">
        <link rel="stylesheet" href="{{ asset("bundles/app/css/bootstrap-clockpicker.min.css") }}">
        <link rel="stylesheet" href="{{ asset("bundles/app/css/bootstrap-datetimepicker.min.css") }}">
        <link rel="stylesheet" href="{{ asset("bundles/app/css/palette.css") }}">
        <link rel="stylesheet" href="{{ asset("bundles/app/css/sweetalert2.min.css") }}">
        <link rel="stylesheet" href="{{ asset("bundles/app/css/toastr.min.css") }}">
        <link rel="stylesheet" href="{{ asset("bundles/app/css/bootstrap-select.min.css") }}">
        <link rel='stylesheet' href="{{ asset("bundles/app/css/fullcalendar-3.0.1.min.css") }}"/>
    {% endblock %}
    <link rel="stylesheet" href="{{ asset("bundles/app/css/app.min.1.css") }}">
    <link rel="stylesheet" href="{{ asset("bundles/app/css/app.min.2.css") }}">
    <link rel="stylesheet" href="{{ asset("bundles/app/css/app_style.css") }}">

    {#Only for pint purpose #}
    <link rel="stylesheet" href="{{ asset("bundles/app/css/print_style.css") }}" media="print">

    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}"/>
</head>
<body data-ma-header="teal" class="{% if display_beta %} beta {% endif %}">
<noscript>
    <div class="alert alert-danger  at-alert-no-js" role="alert">
        <i class="zmdi zmdi-alert-triangle zmdi-hc-2x"></i> {{ "global.error.javascrip_disabled"|trans }}
    </div>
</noscript>

{% block top_javascripts %}
    <script src="{{ asset("bundles/app/js/jquery-3.1.1.min.js") }}"></script>
    <script src="{{ asset("bundles/app/js/jquery-ui.min.js") }}"></script>
    <script src="{{ asset("bundles/app/js/bootstrap.min.js") }}"></script>
{% endblock top_javascripts %}


{% block header_body %}
    <header id="header" class="media header-fixed-top palette-Teal bg z-depth-3-bottom">
        <div class="container {% block header_class %}{% endblock %}">
            <div class="pull-left h-logo">
                {% block sidebar_collapse_cmd %}
                    <div class="menu-collapse" data-ma-action="sidebar-open" data-ma-target="main-menu">
                        <div class="mc-wrap">
                            <div class="mcw-line top palette-White bg"></div>
                            <div class="mcw-line center palette-White bg"></div>
                            <div class="mcw-line bottom palette-White bg"></div>
                        </div>
                    </div>
                {% endblock sidebar_collapse_cmd %}

                <a href="{{ path('home') }}" class="di-block"><img src="{{ asset('includes/img/logo/logo_prop3_transp_header.png') }}" class="img-responsive" alt="{{ "global.project_name"|trans }}">
                </a>
            </div>

            <div class="pull-right h-menu-wrapper">
                <ul class="h-menu">
                    <li class="hm-new-event-link">
                        <a href="{{ path('createEvent') }}" class="btn btn-link navbar-btn c-teal"> <i class="zmdi zmdi-plus-circle-o-duplicate"></i> <span> {{ 'navbar.new_event'|trans() }}</span></a>
                    </li>

                    {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                        {# Commande d'ouverture des panneaux d'affichage des messages de l'utilisateur connecté "aside#s-en-alerts" #}
                        {# TODO decommenter : non necessaire pour la version beta
                        <li class="hm-alert" data-user-alert="sua-messages" data-ma-action="sidebar-open" data-ma-target="user-alerts">
                            <a href="#"><i class="hm-icon zmdi zmdi-email"></i></a>
                        </li>#}
                        {# Commande d'ouverture des panneaux d'affichage des notifications de l'utilisateur connecté "aside#s-user-alerts" #}
                        {# TODO decommenter : non necessaire pour la version beta
                        <li class="hm-alert" data-user-alert="sua-notifications" data-ma-action="sidebar-open" data-ma-target="user-alerts">
                            <a href="#"><i class="hm-icon zmdi zmdi-notifications"></i></a>
                        </li>#}
                        {# Menu dropwdown du profil Utilisateur #}
                        <li class="dropdown hm-profile">
                            {# TODO : style : alignement vertical : hm-profile #}
                            <a data-toggle="dropdown" href="#">
                                {# TODO : mettre l'avatar de l'utilisateur #}
                                {% if app.user.applicationUser.appUserInformation.avatar is not null %}
                                    <img src="{{ asset('uploads/user/avatar/'~app.user.applicationUser.appUserInformation.avatar) }}" class="avatar-img">
                                {% else %}
                                    <img src="{{ asset('bundles/app/img/user/avatar/menu_avatar_default.png') }}" class="avatar-img">
                                {% endif %}
                            </a>
                            <ul class="dropdown-menu pull-right dm-icon" role="menu">
                                <li role="presentation"><a class="user-public-name">{{ app.user.displayableName is not empty ? app.user.displayableName:"global.user_anonyme"|trans }}</a>
                                </li>
                                <li role="separator" class="divider"></li>
                                <li role="presentation" class="hmp-alerts">
                                    {# Commande d'ouverture des panneaux d'affichage des messages de l'utilisateur connecté "aside#s-en-alerts" #}
                                    {# TODO decommenter : non necessaire pour la version beta
                                    <div class="hmp-alert" data-user-alert="sua-messages" data-ma-action="sidebar-open" data-ma-target="user-alerts">
                                        <a href="#"><i class="hm-icon zmdi zmdi-email"></i></a>
                                    </div>#}
                                    {# Commande d'ouverture des panneaux d'affichage des notifications de l'utilisateur connecté "aside#s-user-alerts" #}
                                    {# TODO decommenter : non necessaire pour la version beta
                                    <div class="hmp-alert" data-user-alert="sua-notifications" data-ma-action="sidebar-open" data-ma-target="user-alerts">
                                        <a href="#"><i class="hm-icon zmdi zmdi-notifications"></i></a>
                                    </div>#}
                                </li>
                                <li role="separator" class="hmp-alerts divider"></li>
                                <li role="presentation"><a href="{{ path('displayUserEvents') }}">{{ "eventInvitations.user_menu.entry"|trans }}</a>
                                </li>
                                <li role="presentation"><a href="{{ path('fos_user_profile_show') }}">{{ "profile.user_menu.entry"|trans }}</a>
                                </li>
                                <li role="separator" class="divider"></li>
                                {# TODO : définir le menu déroulant de l'utilisateur connecté : profil, déconnexion, ... #}
                                <li role="presentation"><a href="{{ path('fos_user_security_logout') }}">{{ 'layout.logout'|trans({}, 'FOSUserBundle') }}</a>
                                </li>
                            </ul>
                        </li>
                    {% else %}
                        <li class="hm-registration-link hidden-xs">
                            <a data-toggle="modal" href="#modalRegistration" class="navbar-btn"> <i class="zmdi zmdi-sign-in"></i> <span> {{ 'layout.register'|trans({}, 'FOSUserBundle') }}</span></a>
                        </li>
                        <li class="hm-login-link">
                            <a data-toggle="modal" href="#modalLogin" class="navbar-btn"> <i class="zmdi zmdi-power"></i> <span> {{ 'layout.login'|trans({}, 'FOSUserBundle') }}</span></a></li>
                    {% endif %}
                </ul>
            </div>

            {#<div class="media-body h-title hidden-xs">
                <span>{{ "global.project_name"|trans|upper }}
                    <small>{{ "navbar.subtitle"|trans|upper }}</small></span>
            </div>#}
        </div>
    </header>
{% endblock %}

<!-- CONTENT -->
{# Pour avoir une page AVEC un menu latéral : conserver section.with-s-main-menu et redéfinir le block "s_main_menu" ou juste "mainMenu_listItems" #}
{# Pour avoir une page SANS menu latéral : redéfinir(vider) le block "main_section_clss" et définir les blocks "s_main_menu" et "sidebar_collapse_cmd" vides #}
<section id="main" class="{% block main_section_class %}with-s-main-menu{% endblock %}">
    {# TODO non necessaire pour la version beta #}
    {% if false and is_granted("IS_AUTHENTICATED_REMEMBERED") %}
        {# Panneaux d'affichage des "Notifications utilisateur" ouverts via les icones de la navbar #}
        <aside id="s-user-alerts" class="sidebar">
            <ul class="tab-nav tn-justified tn-icon m-t-10" data-tab-color="teal">
                <li><a class="sua-messages" href="#sua-messages" data-toggle="tab"><i class="zmdi zmdi-email"></i></a>
                </li>
                <li><a class="sua-notifications" href="#sua-notifications" data-toggle="tab"><i class="zmdi zmdi-notifications"></i></a></li>
            </ul>

            <div class="tab-content">
                <div class="tab-pane fade" id="sua-messages">
                    <ul class="sua-menu list-inline list-unstyled palette-Light-Blue bg">
                        <li>Messages</li>
                        <li><a href="" data-ma-action="sidebar-close"><i class="zmdi zmdi-close"></i> Close</a></li>
                    </ul>
                    {# TODO Messages de l'utilisateur à afficher #}
                </div>
                <div class="tab-pane fade" id="sua-notifications">
                    <ul class="sua-menu list-inline list-unstyled palette-Orange bg">
                        <li>Utilisateur</li>
                        <li><a href="" data-ma-action="sidebar-close"><i class="zmdi zmdi-close"></i> Close</a></li>
                    </ul>
                    {# TODO Notifications à afficher #}
                </div>
            </div>
        </aside>
    {% endif %}


    <!-- SIDEBAR -->
    {# Menu principal latéral (optionnel)#}
    {% block s_main_menu %}
        <aside id="s-main-menu" class="sidebar">
            {# En-tête du menu quand il est replié (largeur < 1280px) #}
            <div class="smm-header">
                <i class="zmdi zmdi-long-arrow-left" data-ma-action="sidebar-close"></i>
            </div>

            <ul class="main-menu">
                {% block mainMenu_listItems %}{% endblock %}
            </ul>
        </aside>
    {% endblock s_main_menu %}

    <!-- CONTENT -->
    {# Block du contenu des pages #}
    <section id="content">
        <div class="{% block main_content_class %}container{% endblock %}">
            {% block content_body %}{% endblock %}
        </div>
    </section>

    <!-- FOOTER -->
    <footer id="footer">
        {% block footer %}
            {{ include(':partials:footer.html.twig') }}
        {% endblock footer %}
    </footer>
</section>

<div class="preloader at-global-preloader">
    <svg class="pl-circular" viewBox="25 25 50 50">
        <circle class="plc-path" cx="50" cy="50" r="20"></circle>
    </svg>
</div>

<div id="page_modal_container">
    {% if not is_granted("IS_AUTHENTICATED_REMEMBERED") %}
        {{ render(controller('ATUserBundle:Security:login', {"parentRequest":app.request, "display":"modal"})) }}
        {{ render(controller('ATUserBundle:Registration:register', {"parentRequest":app.request, "display":"modal"})) }}
    {% endif %}
    {% block page_modal_container %}
        {{ include(':partials:suggestion.html.twig') }}
    {% endblock %}
</div>

<!-- Older IE warning message --><!--[if lte IE 9]>
<div class="ie-warning">
    <h1 class="c-white">Warning!!</h1>
    <p>{{ "base.ie_warning.text1"|trans|raw }}</p>
    <div class="iew-container">
        <ul class="iew-download">
            <li>
                <a href="http://www.google.com/chrome/"> <img src="{{ asset('bundles/app/img/browsers/chrome.png') }}" alt="Chrome">
                    <div>{{ "base.ie_warning.browser.chrome"|trans }}</div>
                </a>
            </li>
            <li>
                <a href="https://www.mozilla.org/en-US/firefox/new/"> <img src="{{ asset('bundles/app/img/browsers/firefox.png') }}" alt="Firefox">
                    <div>{{ "base.ie_warning.browser.firefox"|trans }}</div>
                </a>
            </li>
            <li>
                <a href="http://www.opera.com"> <img src="{{ asset('bundles/app/img/browsers/opera.png') }}" alt="Opera">
                    <div>{{ "base.ie_warning.browser.opera"|trans }}</div>
                </a>
            </li>
            <li>
                <a href="https://www.apple.com/safari/"> <img src="{{ asset('bundles/app/img/browsers/safari.png') }}" alt="Safari">
                    <div>{{ "base.ie_warning.browser.safari"|trans }}</div>
                </a>
            </li>
            <li>
                <a href="http://windows.microsoft.com/en-us/internet-explorer/download-ie"> <img src="{{ asset('bundles/app/img/browsers/ie.png') }}" alt="Internet Explorer">
                    <div>{{ "base.ie_warning.browser.ie"|trans }}</div>
                </a>
            </li>
        </ul>
    </div>
    <p>{{ "base.ie_warning.text2"|trans }}</p>
</div><![endif]-->

{% block javascripts %}
    <script src="{{ asset("bundles/app/js/moment-with-locales.js") }}"></script>
    <script src="{{ asset("bundles/app/js/waves.min.js") }}"></script>
    <script src="{{ asset("bundles/app/js/jquery.bootgrid-updated.js") }}"></script>
    <script src="{{ asset("bundles/app/js/bootstrap-clockpicker.min.js") }}"></script>
    <script src="{{ asset("bundles/app/js/bootstrap-datetimepicker.min.js") }}"></script>
    <script src="{{ asset("bundles/app/js/bootstrap-select.min.js") }}"></script>
    <script src="{{ asset("bundles/app/js/jquery.mCustomScrollbar.concat.min.js") }}"></script>
    <script src="{{ asset("bundles/app/js/palette.js") }}"></script>
    <script src="{{ asset("bundles/app/js/toastr.min.js") }}"></script>

    <!-- for IE support : SweetAlert2 -->
    <script src="{{ asset("bundles/app/js/es6-promise.auto.min.js") }}"></script>

    <script src="{{ asset("bundles/app/js/sweetalert2.min.js") }}"></script>

    <script src="{{ asset("bundles/app/js/letter-avatar.js") }}"></script>
    <script src="{{ asset("bundles/app/js/fullcalendar-3.0.1.min.js") }}"></script>

    <script src="{{ asset("bundles/app/js/hinclude.js") }}"></script>
    <script src="{{ asset("bundles/app/js/autosize.min.js") }}"></script>

    <!-- Placeholder for IE9 -->
    <!--[if IE 9 ]>
    <script src="{{ asset(" bundles/app/js/jquery.placeholder.min.js") }}"></script><![endif]-->


    {# /!\ en cas d'ajout de nouveaux widgets venant du Template AdminExtended, vérifier dans le fichier ci-dessus
    les functions appelées et les ajouter au fichier "app.js" au cas par cas
    <script src="{{ asset("bundles/app/js/functions.js") }}"></script>#}
    <script src="{{ asset("bundles/app/js/actions.js") }}"></script>
    <script src="{{ asset("includes/js/app.js") }}"></script>

    <!-- Connexion/Registration Modals -->
    <script>
        {# Fermeture des modals Inscription/Connexion à l'ouverture de l'autre #}
        $('#modalLogin').on('show.bs.modal', function () {
            // Load up a new modal...
            $('#modalRegistration').modal('hide')
        });

        $('#modalRegistration').on('show.bs.modal', function () {
            // Load up a new modal...
            $('#modalLogin').modal('hide')
        });
    </script>

    <script>
        var locale_js = "{{ app.request.locale }}";
    </script>

    <!-- Base : Config pluggin Toastr -->
    <script>
        // Configuration des notifcations via le pluggin TOASTR
        toastr.options = {
            "closeButton": true,
            "debug": false,
            "progressBar": true,
            "preventDuplicates": false,
            "positionClass": "toast-top-full-width",
            "onclick": null,
            "showDuration": "400",
            "hideDuration": "1000",
            "timeOut": "7000",
            "extendedTimeOut": "2000",
            "showEasing": "swing",
            "hideEasing": "linear",
            "showMethod": "fadeIn",
            "hideMethod": "fadeOut"
        };
        /** Affichage des messages du FlashBag sous forme de notifications (toastr) */
        $(function () {
            {% for type, messages in app.session.flashBag.all %}
            //En cas de type "exotique"
            {% set notif_type = (type=="danger")?"error":(type=="notice")?"info":(type=="primary")?"info":type %}
            {% for message in messages %}
            toastr["{{ notif_type }}"]("{{ message|raw }}", "{{ type|capitalize }}");
            {% endfor %}
            {% endfor %}
        });
    </script>

{% endblock %}
</body>
</html>
