<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8"/>
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="{% block meta_viewport %}width=device-width, initial-scale=1{% endblock %}">
    <meta name="author" content="ArdTeam">
    {% block meta_data %}{% endblock %}

    <title>{% block title %}{{ 'base.page.meta_title'|trans }}{% endblock %}</title>

    {% block stylesheets %}
        <link rel="stylesheet" href="{{ asset("bundles/app/css/animate.css") }}">
        <link rel="stylesheet" href="{{ asset("bundles/app/css/waves.css") }}">
        <link rel="stylesheet" href="{{ asset("bundles/app/css/material-design-iconic-font.css") }}">
        <link rel="stylesheet" href="{{ asset("bundles/app/css/jquery.mCustomScrollbar.min.css") }}">
        <link rel="stylesheet" href="{{ asset("bundles/app/css/jquery.bootgrid.css") }}">
        <link rel="stylesheet" href="{{ asset("bundles/app/css/palette.css") }}">
        <link rel="stylesheet" href="{{ asset("bundles/app/css/toastr.min.css") }}">
    {% endblock %}
    <link rel="stylesheet" href="{{ asset("bundles/app/css/app.min.1.css") }}">
    <link rel="stylesheet" href="{{ asset("bundles/app/css/app.min.2.css") }}">
    <link rel="stylesheet" href="{{ asset("bundles/app/css/at_style.css") }}">

    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}"/>
</head>
<body data-ma-header="teal">
{% block header_body %}
    <header id="header" class="media">
        <div class="pull-left h-logo">
            <a href="{{ path('home') }}" class="{#hidden-xs#}">{{ "navbar.brand"|trans }}
                <small>{{ "navbar.subtitle"|trans }}</small>
            </a>

            {% block sidebar_collapse_cmd %}
                <div class="menu-collapse" data-ma-action="sidebar-open" data-ma-target="main-menu">
                    <div class="mc-wrap">
                        <div class="mcw-line top palette-White bg"></div>
                        <div class="mcw-line center palette-White bg"></div>
                        <div class="mcw-line bottom palette-White bg"></div>
                    </div>
                </div>
            {% endblock sidebar_collapse_cmd %}
        </div>

        <ul class="pull-right h-menu">
            <li class="hm-search-trigger">
                {# Commande d'ouverture de la zone de recherche pour les petits écrans (<992px) #}
                <a href="#" data-ma-action="search-open"> <i class="hm-icon zmdi zmdi-search"></i> </a>
            </li>
            {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                {# Commande d'ouverture des panneaux d'affichage des notifications de l'utilisateur connecté "aside#s-user-alerts" #}
                <li data-user-alert="sua-notifications" data-ma-action="sidebar-open" data-ma-target="user-alerts">
                    <a href="#"><i class="hm-icon zmdi zmdi-notifications"></i></a>
                </li>
                {# Menu dropwdown du profil Utilisateur #}
                <li class="dropdown hm-profile">
                    {# TODO : style : alignement vertical : hm-profile #}
                    <a data-toggle="dropdown" href="#">
                        {# TODO : mettre l'avatar de l'utilisateur #}
                        <i class="hm-icon zmdi zmdi-account-circle"></i> </a>
                    <ul class="dropdown-menu pull-right dm-icon" role="menu">
                        <li role="presentation"><a href="{{ path('fos_user_profile_show') }}">{{ app.user.username }}</a></li>
                        <li role="separator" class="divider"></li>
                        {# TODO : définir le menu déroulant de l'utilisateur connecté : profil, déconnexion, ... #}
                        <li role="presentation"><a href="{{ path('fos_user_security_logout') }}">{{ 'layout.logout'|trans({}, 'FOSUserBundle') }}</a></li>
                    </ul>
                </li>
            {% else %}
                <li><a data-toggle="modal" href="#modalRegistration">{{ 'layout.register'|trans({}, 'FOSUserBundle') }}</a></li>
                <li role="separator" class="divider"></li>
                <li><a data-toggle="modal" href="#modalLogin">{{ 'layout.login'|trans({}, 'FOSUserBundle') }}</a></li>
            {% endif %}
        </ul>

        <div class="media-body h-search">
            <form class="p-relative">
                <input type="text" class="hs-input" placeholder="{{ "navbar.search.placeholder"|trans }}"> <i class="zmdi zmdi-search hs-reset" data-ma-action="search-clear"></i>
            </form>
        </div>
    </header>
    {{ render(controller('ATUserBundle:Security:login', {"display":"modal"})) }}
    {{ render(controller('ATUserBundle:Registration:register', {"display":"modal"})) }}
{% endblock %}
<!-- CONTENT -->
{# Pour avoir une page AVEC un menu latéral : conserver section#main et redéfinir le block "s_main_menu" #}
{# Pour avoir une page SANS menu latéral : redfinir le block "main_section_id" et définir les blocks "s_main_menu" et "sidebar_collapse_cmd" vides #}
<section id="{% block main_section_id %}main{% endblock %}">

    {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
        {# Panneaux d'affichage des "Notifications utilisateur" ouverts via l'icone #}
        <aside id="s-user-alerts" class="sidebar">
            <ul class="tab-nav tn-justified tn-icon m-t-10" data-tab-color="teal">
                <li><a class="sua-messages" href="#sua-messages" data-toggle="tab"><i class="zmdi zmdi-email"></i></a></li>
                <li><a class="sua-notifications" href="#sua-notifications" data-toggle="tab"><i class="zmdi zmdi-notifications"></i></a></li>
            </ul>

            <div class="tab-content">
                <div class="tab-pane fade" id="sua-messages">
                    <ul class="sua-menu list-inline list-unstyled palette-Light-Blue bg">
                        <li>Utilisateur</li>
                        <li><a href="" data-ma-action="sidebar-close"><i class="zmdi zmdi-close"></i> Close</a></li>
                    </ul>
                    {# TODO Messages de l'utilisateur à afficher #}
                </div>
                <div class="tab-pane fade" id="sua-notifications">
                    <ul class="sua-menu list-inline list-unstyled palette-Orange bg">
                        <li>Utilisateur</li>
                        <li><a href="" data-ma-action="sidebar-close"><i class="zmdi zmdi-close"></i> Close</a></li>
                    </ul>
                    {# TODO Notifications à afficher #}
                </div>
            </div>
        </aside>
    {% endif %}


    <!-- SIDEBAR -->
    {# Menu principal latéral #}
    {% block s_main_menu %}
        {# Alerts tab : panneaux d'affichage commandés par le block "alerts_menu" #}
        {% block alerts_tabs %}{% endblock %}

        <aside id="s-main-menu" class="sidebar">
            {# En-tête du menu quand il est replié (largeur < 1280px) #}
            <div class="smm-header">
                <i class="zmdi zmdi-long-arrow-left" data-ma-action="sidebar-close"></i>
            </div>

            {# Alerts menu : commandes des panneaux d'affichage (block "alerts_tabs" #}
            {% block alerts_menu %}{% endblock %}

            <ul class="main-menu">
                {% block mainMenu_listItems %}{% endblock %}
            </ul>
        </aside>
    {% endblock s_main_menu %}

    <!-- CONTENT -->
    {# Block du contenu des pages #}
    <section id="content">
        <div class="{% block main_content_class %}container{% endblock %}">
            {% block content_body %}{% endblock %}
        </div>
    </section>

    <!-- FOOTER -->
    <footer id="footer">
        {% block footer %}
            {{ include(':partials:footer.html.twig') }}
        {% endblock footer %}
    </footer>
</section>

<!-- Older IE warning message --><!--[if lt IE 9]>
<div class="ie-warning">
    <h1 class="c-white">Warning!!</h1>
    <p>{{ "base.ie_warning.text1"|trans|raw }}</p>
    <div class="iew-container">
        <ul class="iew-download">
            <li>
                <a href="http://www.google.com/chrome/"> <img src="{{ asset('bundles/app/img/browsers/chrome.png') }}" alt="Chrome">
                    <div>{{ "base.ie_warning.browser.chrome"|trans }}</div>
                </a>
            </li>
            <li>
                <a href="https://www.mozilla.org/en-US/firefox/new/"> <img src="{{ asset('bundles/app/img/browsers/firefox.png') }}" alt="Firefox">
                    <div>{{ "base.ie_warning.browser.firefox"|trans }}</div>
                </a>
            </li>
            <li>
                <a href="http://www.opera.com"> <img src="{{ asset('bundles/app/img/browsers/opera.png') }}" alt="Opera">
                    <div>{{ "base.ie_warning.browser.opera"|trans }}</div>
                </a>
            </li>
            <li>
                <a href="https://www.apple.com/safari/"> <img src="{{ asset('bundles/app/img/browsers/safari.png') }}" alt="Safari">
                    <div>{{ "base.ie_warning.browser.safari"|trans }}</div>
                </a>
            </li>
            <li>
                <a href="http://windows.microsoft.com/en-us/internet-explorer/download-ie"> <img src="{{ asset('bundles/app/img/browsers/ie.png') }}" alt="Internet Explorer">
                    <div>{{ "base.ie_warning.browser.ie"|trans }}</div>
                </a>
            </li>
        </ul>
    </div>
    <p>{{ "base.ie_warning.text2"|trans }}</p>
</div><![endif]-->

{% block javascripts %}
    <script src="{{ asset("bundles/app/js/jquery.js") }}"></script>
    <script src="{{ asset("bundles/app/js/bootstrap.js") }}"></script>
    <script src="{{ asset("bundles/app/js/jquery.mCustomScrollbar.concat.min.js") }}"></script>
    <script src="{{ asset("bundles/app/js/waves.js") }}"></script>
    <script src="{{ asset("bundles/app/js/moment-with-locales.js") }}"></script>
    <script src="{{ asset("bundles/app/js/salvattore.js") }}"></script>
    <script src="{{ asset("bundles/app/js/autosize.js") }}"></script>
    <script src="{{ asset("bundles/app/js/hinclude.js") }}"></script>
    <script src="{{ asset("bundles/app/js/bootstrap-datetimepicker.min.js") }}"></script>
    <script src="{{ asset("bundles/app/js/jquery.bootstrap.wizard.min.js") }}"></script>
    <script src="{{ asset("bundles/app/js/jquery.bootgrid.updated.min.js") }}"></script>

    <!-- Placeholder for IE9 --><!--[if IE 9 ]>
    <script src="{{ asset(" bundles/app/js/jquery.placeholder.min.js") }}"></script><![endif]-->

    <script src="{{ asset("bundles/app/js/functions.js") }}"></script>
    <script src="{{ asset("bundles/app/js/actions.js") }}"></script>

    <!-- Connexion/Registration Modals -->
    <script>
        {# Fermeture des modals Inscription/Connexion à l'ouverture de l'autre #}
        $('#modalLogin').on('show.bs.modal', function () {
            // Load up a new modal...
            $('#modalRegistration').modal('hide')
        });

        $('#modalRegistration').on('show.bs.modal', function () {
            // Load up a new modal...
            $('#modalLogin').modal('hide')
        });
    </script>

    <!-- Base : Config pluggin Toastr -->
    <script src="{{ asset("bundles/app/js/toastr.min.js") }}"></script>
    <script>
        // Configuration des notifcations via le pluggin TOASTR
        toastr.options = {
            "closeButton": true,
            "debug": false,
            "progressBar": true,
            "preventDuplicates": false,
            "positionClass": "toast-top-full-width",
            "onclick": null,
            "showDuration": "400",
            "hideDuration": "1000",
            "timeOut": "7000",
            "extendedTimeOut": "2000",
            "showEasing": "swing",
            "hideEasing": "linear",
            "showMethod": "fadeIn",
            "hideMethod": "fadeOut"
        };
        /** Affichage des messages du FlashBag sous forme de notifications (toastr) */
        $(function () {
            {% for type, messages in app.session.flashBag.all %}
                //En cas de type "exotique"
                {% set notif_type = (type=="danger")?"error":(type=="notice")?"info":(type=="primary")?"info":type %}
                {% for message in messages %}
                    toastr["{{ notif_type }}"]("{{ message|raw }}", "{{ type|capitalize }}");
                {% endfor %}
            {% endfor %}
        });
    </script>
{% endblock %}
</body>
</html>
