{% extends '@ATUser/layout_cboxed.html.twig' %}

{% block title %}
    {% spaceless %}{{ parent() }} - {{ "register.page.meta_title"|trans }}{% endspaceless %}
{% endblock %}

{% block fos_user_content %}
    <div class="col-xs-12 col-sm-6">
        <div class="card">
            <div class="card-header">
                <h1>{{ "register.page.subtitle_email"|trans }}</h1>
            </div>
            <div class="card-body card-padding">
                {{ include('@ATUser/Registration/partials/registration_form.html.twig') }}
            </div>
        </div>
    </div>

    <div class="col-xs-12 col-sm-6">
        <div class="card">
            <div class="card-header">
                <h1>{{ "register.page.subtitle_social_network"|trans }}</h1>
            </div>
            <div class="card-body card-padding">
               {{  include('@ATUser/Security/partials/social_networks_connexion.html.twig') }}
            </div>
        </div>
    </div>
{% endblock fos_user_content %}
