{# Données d'entrée :
- userModuleInvitation (ModueInvitation) Le ModuleInvitation de l'utilisateur connecté
- pollProposalForm (FormInterface) Le formulaire d'ajout/édition d'un PollProposal
- pp_form_modal_prefix (string) Le prefix utilisé pour identifier la modal
- edition (boolean) false si le formulaire concerne la création d'une nouvelle PollProposal
#}


<div id="{{ pp_form_modal_prefix }}_formContainer">
    {% if userModuleInvitation.module.pollModule.getType() == constant('AppBundle\\Utils\\enum\\PollModuleType::WHEN') %}
        {{ include('@App/Event/module/pollModulePartials/pollProposal_form_when.html.twig', {
            "userModuleInvitation":userModuleInvitation,
            "pollProposalForm":pollProposalForm,
            "pp_form_modal_prefix":pp_form_modal_prefix,
            "edition":edition
        }) }}
    {% else %}
        {{ include('@App/Event/module/pollModulePartials/pollProposal_form_default.html.twig', {
            "userModuleInvitation":userModuleInvitation,
            "pollProposalForm":pollProposalForm,
            "pp_form_modal_prefix":pp_form_modal_prefix,
            "edition":edition
        }) }}
    {% endif %}

    <script type="text/javascript">
        if (typeof google === 'object' && typeof google.maps === 'object') {
            initPollProposalWhereElements('.googlePlaceId_name', '.googlePlaceId_value');
        }

        $('form#{{ pp_form_modal_prefix }}_form_id').on('submit', function (e) {
            var $form = $(this);
            if (!eventInvitationValid && askGuestName !== undefined) {
                e.preventDefault();
                var modalContainer = $("#{{ pp_form_modal_prefix }}_modal_id");
                if (modalContainer[0]) {
                    modalContainer.modal('hide');
                }
                askGuestName(e, submitAddPollProposalForm, [$form, e, '{{ userModuleInvitation.module.token }}', '{{ pp_form_modal_prefix }}', '{{ edition }}']);
            } else {
                submitAddPollProposalForm([$form, e, '{{ userModuleInvitation.module.token }}', '{{ pp_form_modal_prefix }}', '{{ edition }}']);
            }
        });
    </script>
</div>



