{# Données d'entrée :
- userModuleInvitation (ModueInvitation) Le ModuleInvitation de l'utilisateur connecté
- pollProposalForm (FormInterface) Le formulaire d'ajout/édition d'un PollProposal
- pp_form_modal_prefix (string) Le prefix utilisé pour identifier la modal
- edition (boolean) false si le formulaire concerne la création d'une nouvelle PollProposal
- type (string) : type of pollmodule, available type : 'when'
#}
{% if is not defined type %}
    {% set type = '' %}
{% endif %}

<div id="{{ pp_form_modal_prefix }}_formContainer">
    {% it type == 'when' %}
        {{ include('@App/Event/module/pollModulePartials/pollProposal_form_when.html.twig', {
            "userModuleInvitation":userModuleInvitation,
            "pollProposalForm":pollProposalForm,
            "pp_form_modal_prefix":pp_form_modal_prefix,
            "edition":edition
        }) }}
    {% else %}
        {{ include('@App/Event/module/pollModulePartials/pollProposal_form_default.html.twig', {
            "userModuleInvitation":userModuleInvitation,
            "pollProposalForm":pollProposalForm,
            "pp_form_modal_prefix":pp_form_modal_prefix,
            "edition":edition
        }) }}
    {% endif %}
    <script type="text/javascript">
        if (typeof google === 'object' && typeof google.maps === 'object') {
            initPollProposalWhereElements('.googlePlaceId_name', '.googlePlaceId_value');
        }

        $('form#{{ pp_form_modal_prefix }}_form_id').on('submit', function (e) {
            var $form = $(this);
            if (!eventInvitationValid && askGuestName !== undefined) {
                e.preventDefault();
                var modalContainer = $("#{{ pp_form_modal_prefix }}_modal_id");
                if (modalContainer[0]) {
                    modalContainer.modal('hide');
                }
                askGuestName();
            } else {
                ajaxFormSubmission(this, e, function (responseJSON, textStatus, jqXHR) {
                            {% if not edition %}
                        $form[0].reset();
                        $('#pollmodule-table-{{ userModuleInvitation.module.token }} > tbody > tr:nth-last-child(1)').before(responseJSON['data']);
                        $('#pollModuleDisplayAllResult_{{ userModuleInvitation.module.token }}_button').show();
                            {% endif %}
                        $('#{{ pp_form_modal_prefix }}_modal_id').modal('hide');
                    }, function (jqXHR, textStatus, errorThrown) {
                        if (jqXHR.hasOwnProperty('responseJSON')) {
                            var responseJSON = jqXHR['responseJSON'];
                            if (responseJSON.hasOwnProperty('data') && responseJSON['data'].hasOwnProperty('eventInvitationValid') && !responseJSON['data']['eventInvitationValid']) {
                                if (!eventInvitationValid && askGuestName !== undefined) {
                                    var modalContainer = $("#{{ pp_form_modal_prefix }}_modal_id");
                                    if (modalContainer[0]) {
                                        modalContainer.modal('hide');
                                    }
                                    askGuestName();
                                }
                            }
                        }
                    },
                    function () {
                        $grid = $('.grid');
                        if ($grid[0]) {
                            $grid.masonry('layout');
                        }
                    }
                );
            }
        });
    </script>
</div>



