{# Données d'entrée :
- userModuleInvitation (ModueInvitation) Le ModuleInvitation de l'utilisateur connecté
- pollModuleOptions (Array), contains:
        - pollProposalAddForm (Form|null) Le formulaire d'ajout d'une proposition
        - pollProposalListAddForm (Form|null) Le formulaire d'ajout de plusieurs propositions
- pp_form_modal_prefix (string) Le prefix utilisé pour identifier la modal
- edition (boolean) false si le formulaire concerne la création d'une nouvelle PollProposal
#}
{% set pollProposalForm = pollModuleOptions.pollProposalAddForm %}
{% if pollModuleOptions.pollProposalListAddForm is defined %}
    {% set pollProposalListForm = pollModuleOptions.pollProposalListAddForm %}
{% endif %}

{% if edition %}
    {{ include('@App/Event/module/pollModulePartials/pollProposal_form_when_single.html.twig', {
        "userModuleInvitation":userModuleInvitation,
        "pollModuleOptions":pollModuleOptions,
        "pp_form_modal_prefix":pp_form_modal_prefix,
        "edition":edition
    }) }}
{% else %}
    <div>
        <div role="tabpanel">
            <ul class="tab-nav" role="tablist">
                <li class="active"><a href="#{{ pp_form_modal_prefix }}OneDate" aria-controls="{{ pp_form_modal_prefix }}OneDate" role="tab" data-toggle="tab">Une seule</a></li>
                <li><a href="#{{ pp_form_modal_prefix }}SeveralDate" aria-controls="{{ pp_form_modal_prefix }}SeveralDate" role="tab" data-toggle="tab">Plusieurs</a></li>
            </ul>

            <div class="tab-content">
                <div role="tabpanel" class="tab-pane active" id="{{ pp_form_modal_prefix }}OneDate">
                    {{ include('@App/Event/module/pollModulePartials/pollProposal_form_when_single.html.twig', {
                        "userModuleInvitation":userModuleInvitation,
                        "pollModuleOptions":pollModuleOptions,
                        "pp_form_modal_prefix":pp_form_modal_prefix,
                        "edition":edition
                    }) }}
                </div>
                <div role="tabpanel" class="tab-pane" id="{{ pp_form_modal_prefix }}SeveralDate">
                    {{ include('@App/Event/module/pollModulePartials/pollProposal_form_when_multiple.html.twig', {
                        "userModuleInvitation":userModuleInvitation,
                        "pollModuleOptions":pollModuleOptions,
                        "pp_form_modal_prefix":pp_form_modal_prefix,
                        "edition":edition
                    }) }}
                </div>
            </div>
        </div>
    </div>
{% endif %}


