<div class="pc-ligne" id="pp_display_row_{{ pollProposal.id }}">
    <div class="pcl-celulle ">
        {% for ppElt in pollProposal.pollProposalElements %}
            {% set val = attribute(ppElt, 'val'~ppElt.type) %}
            {{ ppElt.name }} : {{ ppElt.type==constant('AppBundle\\Entity\\enum\\PollProposalElementType::DATE_TIME')?val|localizeddate:val }}{% if not loop.last %}<br>{% endif %}
        {% endfor %}
    </div>
    {% if userModuleInvitation is defined and userModuleInvitation is not null %}
        <div class="pcl-celulle">
            {% set responseValue = null %}
            {% for ppResponse in userModuleInvitation.pollProposalResponses if ppResponse.pollProposal == pollProposal %}
                {% set responseValue = (ppResponse.value is not empty?ppResponse.value:null) %}
            {% endfor %}
            <div class="btn-group-vertical btn-group-xs pollproposal-response" data-toggle="buttons" role="group">
                <label class="btn palette-Light-Green bg waves-effect {{ responseValue == "yes"?'active' }}"> <input type="radio" autocomplete="off" name="pollProposalReponse_{{ pollProposal.id }}"
                                                                                                                     value="yes" {{ responseValue == "yes"?'checked="checked"' }}> <i
                            class="zmdi zmdi-thumb-up"></i> </label> <label class="btn palette-Amber bg waves-effect {{ responseValue == "maybe"?'active' }}"> <input type="radio" autocomplete="off"
                                                                                                                                                                      name="pollProposalReponse_{{ pollProposal.id }}"
                                                                                                                                                                      value="maybe" {{ responseValue == "maybe"?'checked="checked"' }}>
                    <i class="zmdi zmdi-thumb-up-down"></i> </label> <label class="btn palette-Red bg waves-effect {{ responseValue == "no"?'active' }}"> <input type="radio" autocomplete="off"
                                                                                                                                                                 name="pollProposalReponse_{{ pollProposal.id }}"
                                                                                                                                                                 value="no" {{ responseValue == "no"?'checked="checked"' }}>
                    <i class="zmdi zmdi-thumb-down"></i> </label>
            </div>
        </div>
        <script>
            $("input[name='pollProposalReponse_{{ pollProposal.id }}']").on('change', function () {
                var $data = {
                    'pollProposalId': {{ pollProposal.id }},
                    'userModuleInvitationToken': "{{ userModuleInvitation.token }}",
                    'value': $(this).val()
                };
                var icon = $(this).parent("label");
                var preloader = $('.at-global-preloader');
                $(preloader).show();
                $.ajax({
                    url: "{{ path('answerPollModuleProposal') }}",
                    method: "POST",
                    data: $data
                }).done(function (responseJSON, textStatus, jqXHR) {
                    var animation = 'bounceIn';
                    icon.addClass('animated ' + animation);
                    setTimeout(function () {
                        icon.removeClass(animation);
                    }, 1000);
                }).fail(function (jqXHR, textStatus, errorThrown) {
                }).always(function (responseDataOrJSON) {
                    if (responseDataOrJSON.responseJSON) {
                        responseDataOrJSON = responseDataOrJSON.responseJSON;
                    }
                    if (responseDataOrJSON.messages) {
                        var messages = responseDataOrJSON.messages;
                        for (var messageType in messages) {
                            if (messages.hasOwnProperty(messageType)) {
                                messages[messageType].forEach(function (mess) {
                                    toastr[messageType](mess);
                                });
                            }
                        }
                    }
                    $(preloader).hide();
                });
            });
        </script>
    {% endif %}
    {% for moduleInvitation in moduleInvitations if (userModuleInvitation is not defined or userModuleInvitation is null or moduleInvitation.id != userModuleInvitation.id) %}
        <div class="pcl-celulle">
            {% for ppResponse in moduleInvitation.pollProposalResponses if ppResponse.pollProposal == pollProposal %}
                {{ ppResponse.value is empty?'?':ppResponse.value }}
            {% else %}
                ?
            {% endfor %}
        </div>
    {% endfor %}
    <div class="pcl-celulle">
        {% if userModuleInvitation is defined and userModuleInvitation is not null and pollProposal.creator == userModuleInvitation %}
            <a href="{{ path('getPollProposalEditionForm', {"pollProposalId":pollProposal.id, "moduleInvitationToken" : userModuleInvitation.token}) }}"
               id="getPPEditionForm_{{ pollProposal.id}}">Edition</a>
            <a href="{{ path('removePollProposal', {"pollProposalId":pollProposal.id, "moduleInvitationToken" : userModuleInvitation.token}) }}" class="text-danger"
               id="removePP_{{ pollProposal.id}}">Supprimer</a>
            <script>
                $('#getPPEditionForm_{{ pollProposal.id}}').on('click', function (e){
                   ajaxRequest($(this), e, function (responseJSON, textStatus, jqXHR) {
                        if (responseJSON.htmlContent) {
                            var moduleModalsContainer = $('#modal-container-block-{{ pollProposal.pollmodule.module.token }}');
                            $(moduleModalsContainer).children('#pollProposalEdition_{{ pollProposal.id }}_modal_id').each(function(){
                                $(this).remove();
                            });
                            moduleModalsContainer.append(responseJSON.htmlContent);
                            $(moduleModalsContainer).children('#pollProposalEdition_{{ pollProposal.id }}_modal_id').each(function(){
                                $(this).modal('show');
                            });
                        }
                    }, null, null);
                });
                $('#removePP_{{ pollProposal.id}}').on('click', function(e){
                    ajaxRequest($(this), e, function (responseJSON, textStatus, jqXHR) {
                        if (responseJSON.actionResult) {
                            $('#pp_display_row_{{ pollProposal.id }}').remove();
                            var moduleModalsContainer = $('#modal-container-block-{{ pollProposal.pollmodule.module.token }}');
                            $(moduleModalsContainer).children('#pollProposalEdition_{{ pollProposal.id }}_modal_id').each(function(){
                                $(this).remove();
                            });
                        }
                    }, null, null);
                });
            </script>
        {% endif %}
    </div>
</div>