<div class="modal fade" id="addPollProposal_modal_{{ module.token }}" tabindex="-1" role="dialog" aria-hidden="true" aria-labelledby="#addPP_title_{{ module.token }}">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            {{ form_start(addPollProposalForm, {'action':path('displayEvent', {'token':module.event.token}),'attr':{'id':"addPollProposalForm_"~module.token,"novalidate":"novalidate"}
            }) }}
            <div class="modal-header">
                <div class="modal-title" id="addPP_title_{{ module.token }}">
                    <h2>{{ "pollmodule.modale.addPollProposal.title"|trans }}</h2>
                </div>
            </div>
            <div class="modal-body">
                {{ form_row(addPollProposalForm.name) }}
                {{ form_row(addPollProposalForm.description) }}

                <div class="alert alert-warning">
                    A faire
                    <ul>
                        <li>Formulaire valide meme si le nom est vide (form : novalidate="novalidate")</li>
                        <li>Ajouter les éléments de la proposition.</li>
                        <li>Design</li>
                        <li>Gérer le créateur de la proposition</li>
                    </ul>
                </div>
            </div>
            <div class="modal-footer">
                <div class="pull-right">
                    <button class="btn btn-link waves-effect" data-dismiss="modal">{{ "global.button.cancel"|trans }}</button>
                    <button type="submit" class="btn btn-primary">{{ "global.button.add"|trans }}</button>
                </div>
            </div>
            {{ form_end(addPollProposalForm) }}
        </div>
    </div>
</div>