<div class="modal fade" id="addPollProposal_modal_{{ module.token }}" tabindex="-1" role="dialog" aria-hidden="true" aria-labelledby="#addPP_title_{{ module.token }}">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            {{ form_start(addPollProposalForm, {'action':path('displayEvent',
                {
                    'token':module.event.token,
                    'tokenEdition': (is_granted(constant('AppBundle\\Security\\EventVoter::EDIT'),[module.event,app.request.get('tokenEdition')])?module.event.tokenEdition:null)
                }),
                'attr':{'id':"addPollProposalForm_"~module.token}
            }) }}
            <div class="modal-header">
                <div class="modal-title" id="addPP_title_{{ module.token }}">
                    <h2>{{ "pollmodule.modale.addPollProposal.title"|trans }}</h2>
                </div>
            </div>
            <div class="modal-body">
                <div class="alert alert-info" id="{{ module.token }}_container">
                    {{ form_row(addPollProposalForm.strPPElts, {
                        'label':'AddText',
                        'attr':{
                            'class':'strPPECollection_'~module.token,
                            'data-prefix':module.token~'_str'
                        }}) }}
                    {{ form_row(addPollProposalForm.intPPElts, {
                        'label':'AddInt',
                        'attr':{
                            'class':'intPPECollection_'~module.token,
                            'data-prefix':module.token~'_integer'
                        }}) }}
                    {{ form_row(addPollProposalForm.datetimePPElts, {
                        'label':'AddDatetime',
                        'attr':{
                            'class':'datetimePPECollection_'~module.token,
                            'data-prefix':module.token~'_datetime'
                        }}) }}
                </div>

                <div class="alert alert-warning">
                    A faire
                    <ul>
                        <li>Ajouter les éléments de la proposition (en cours)</li>
                        <li>Design</li>
                    </ul>
                </div>
            </div>
            <div class="modal-footer">
                <div class="pull-right">
                    <button class="btn btn-link waves-effect" data-dismiss="modal">{{ "global.button.cancel"|trans }}</button>
                    <button type="submit" class="btn btn-primary">{{ "global.button.add"|trans }}</button>
                </div>
            </div>
            {{ form_end(addPollProposalForm) }}
        </div>
    </div>
</div>


<script type="text/javascript">
    $('.strPPECollection_{{ module.token }}').collection(
            {
                'drag_drop': false,
                'add': '<a href="#" class="btn btn-default"><i class="zmdi zmdi-comment-text"></i></a>'
            }
    );
    $('.intPPECollection_{{ module.token }}').collection(
            {
                'drag_drop': false,
                'add': '<a href="#" class="btn btn-default"><i class="zmdi zmdi-plus-1"></i></a>'
            }
    );
    $('.datetimePPECollection_{{ module.token }}').collection(
            {
                'drag_drop': false,
                'add': '<a href="#" class="btn btn-default"><i class="zmdi zmdi-time"></i></a>',
                'after_add' : function(collection, element){
                    jsPlugginActivation();
                }
            }
    );
</script>