{% extends "@App/EventInvitation/layout_cboxed.html.twig" %}

{#
TODO Commentaires dev : - Choix du layout modifiable. Définir le menu de gauche si besoin, les alerts et autres paneau de notifications
    Liste des invitations d'un utilisateur

Données d'entrée :
- eventInvitations : tableau d'EventInvitation qui sont à afficher
#}

{% block title %}{{ parent() }} - {{ 'eventInvitations.page.meta_title'|trans }}{% endblock %}

{% block event_invitations_content %}
    <div class="card">
        <div class="card-header">
            <h2>{{ "eventInvitations.page.title"|trans }}
                <small>{{ "eventInvitations.page.subtitle"|trans }}</small>
            </h2>
        </div>
        <div class="card-body card-padding">
            <div class="table-responsive">
                <table class="table table-striped">
                    <thead>
                    <tr>
                        <th>{{ "eventInvitations.table.event_name"|trans }}</th>
                        <th>{{ "eventInvitations.table.organiser"|trans }}</th>
                        <th>{{ "eventInvitations.table.date"|trans }}</th>
                        <th>{{ "eventInvitations.table.place"|trans }}</th>
                        <th>{{ "eventInvitations.table.response"|trans }}</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for eventInvitation in eventInvitations %}
                        {{ include('@App/EventInvitation/partials/event_invitation.html.twig', {'eventInvitation':eventInvitation}) }}
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}