{% extends "@App/EventInvitation/layout_cboxed.html.twig" %}

{# Liste des invitations d'un utilisateur

Données d'entrée :
- eventInvitations : tableau d'EventInvitation qui sont à afficher
#}

{% block title %}{{ parent() }} - {{ 'eventInvitations.page.meta_title'|trans }}{% endblock %}

{% block event_invitations_content %}
    <div class="row">
        <div class="col-xs-12 col-xs-p-lr-0 col-md-8">
            <div class="card z-depth-1">
                <div class="card-header">
                    <h2>{{ "eventInvitations.page.title"|trans }}
                        <small>{{ "eventInvitations.page.subtitle"|trans }}</small>
                    </h2>
                </div>
                <div class="card-body card-padding-sm">
                    <div role="tabpanel">
                        <ul class="tab-nav" role="tablist" id="userEventsTabs">
                            <li class="active"><a href="#upcomingEvents" data-toggle="tab" aria-controls="upcomingEvents" role="tab">{{ "eventInvitations.tabs.title.upcomingEvents"|trans }}</a></li>
                            <li><a href="#passedArchivedEvents" id="passedArchivedEventsLink" data-toggle="tab" aria-controls="archivedEvents" role="tab">
                                    {{ "eventInvitations.tabs.title.archivedEvents"|trans }}</a></li>
                        </ul>
                        <div class="tab-content">
                            <div id="upcomingEvents" class="tab-pane active" role="tabpanel">
                                {{ include('@App/EventInvitation/partials/event_invitations_table.html.twig', {'eventInvitations':eventInvitations,'userEventTabId':'#upcomingEvents'}) }}
                            </div>
                            <div id="passedArchivedEvents" class="tab-pane" role="tabpanel"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-xs-p-lr-0 col-md-4">
            <div id='calendar' class="card z-depth-1"></div>
        </div>
    </div>

    <script>
        $(document).ready(function () {
            $('#userEventsTabs').on('shown.bs.tab', 'a[data-toggle="tab"]', function (e) {
                var now_tab = e.target; // newly activated tab
                var targetLinkHref = $(now_tab).attr('href');
                if ($(targetLinkHref).children().length == 0) {
                    {# On ajoute le loader  #}
                    var loader = '<div class="userEvents-preloader text-center">' +
                        '<div class="preloader pl-sm"><svg class="pl-circular" viewBox="25 25 50 50"><circle class="plc-path" cx="50" cy="50" r="20"></circle></svg></div></div>';
                    $(targetLinkHref).append(loader);
                    var data = {
                        'userEventTabId': targetLinkHref
                    };
                    ajaxRequest("{{ path('displayUserEventsTab') }}", data, e, null, null, function () {
                        $('.userEvents-preloader').remove();
                    });
                }
            });


            var cId = $('#calendar'); //Change the name if you want. I'm also using thsi add button for more actions

            //Generate the Calendar
            cId.fullCalendar({
                header: {
                    right: '',
                    center: 'prev, title, next',
                    left: ''
                },

                theme: true, //Do not remove this as it ruin the design
                selectable: true,
                selectHelper: true,
                editable: false,
                firstDay: 1, // value for monday
                locale: window.navigator.userLanguage || window.navigator.language || 'fr',

                //Add Events
                events: [
                    {% for eventInvitation in eventInvitations if eventInvitation.event.when is not null %}
                    {
                        {% set day = eventInvitation.event.when|date("d") %}
                        {% set month = eventInvitation.event.when|date("m") -1 %}
                        {% set year = eventInvitation.event.when|date("Y") %}
                        title: ' {{ eventInvitation.event.name is not empty ? eventInvitation.event.name: ('eventInvitations.table.no_name'|trans) }}',
                        start: new Date({{ year }},{{ month }}, {{ day }}),
                        allDay: true,
                        {% if eventInvitation.answer is constant('AppBundle\\Utils\\enum\\EventInvitationAnswer::YES') %}
                        className: 'palette-Teal bg',
                        {% elseif eventInvitation.answer is constant('AppBundle\\Utils\\enum\\EventInvitationAnswer::DONT_KNOW') %}
                        className: 'palette-Light-Blue bg',
                        {% elseif eventInvitation.answer is constant('AppBundle\\Utils\\enum\\EventInvitationAnswer::NO') %}
                        className: 'palette-Deep-Orange bg',
                        {% endif %}
                        url: '{{ path('displayEventInvitation', {'token': eventInvitation.token}) }}',

                    },
                    {% endfor %}
                ],

                //On Day Select
                select: function (start, end, allDay) {
                    $('#addNew-event').modal('show');
                    $('#addNew-event input:text').val('');
                    $('#getStart').val(start);
                    $('#getEnd').val(end);
                }
            });

            //Create and ddd Action button with dropdown in Calendar header.
            var actionMenu = '<ul class="actions actions-alt" id="fc-actions">' +
                '<li class="dropdown pull-right">' +
                '<a href="" data-toggle="dropdown"><i class="zmdi zmdi-more-vert"></i></a>' +
                '<ul class="dropdown-menu">' +
                '<li class="active">' +
                '<a data-view="month" href="">{{ "eventInvitations.calendar.month_view"|trans }}</a>' +
                '</li>' +
                '<li>' +
                '<a data-view="agendaWeek" href="">{{ "eventInvitations.calendar.week_view"|trans }}</a>' +
                '</li>' +
                '<li>' +
                '<a data-view="basicDay" href="">{{ "eventInvitations.calendar.day_view"|trans }}</a>' +
                '</li>';

            {# Pour les autres vues
            '<li>' +
            '<a data-view="basicWeek" href="">Week View</a>' +
            '</li>' +
            '<li>' +
            '<a data-view="agendaDay" href="">Agenda Day View</a>' +
            '</li>' +
            '</ul>' +
            '</div>' +
            '</li>'#}

            cId.find('.fc-toolbar').append(actionMenu);

            //Event Tag Selector
            (function () {
                $('body').on('click', '.event-tag > span', function () {
                    $('.event-tag > span').removeClass('selected');
                    $(this).addClass('selected');
                });
            })();

            //Add new Event
            /*$('body').on('click', '#addEvent', function () {
             var eventName = $('#eventName').val();
             var tagColor = $('.event-tag > span.selected').attr('data-tag');

             if (eventName != '') {
             //Render Event
             $('#calendar').fullCalendar('renderEvent', {
             title: eventName,
             start: $('#getStart').val(),
             end: $('#getEnd').val(),
             allDay: true,
             className: tagColor

             }, true); //Stick the event

             $('#addNew-event form')[0].reset()
             $('#addNew-event').modal('hide');
             }

             else {
             $('#eventName').closest('.form-group').addClass('has-error');
             }
             });*/

            //Calendar views
            $('body').on('click', '#fc-actions [data-view]', function (e) {
                e.preventDefault();
                var dataView = $(this).attr('data-view');

                $('#fc-actions li').removeClass('active');
                $(this).parent().addClass('active');
                cId.fullCalendar('changeView', dataView);
            });
        });
    </script>
{% endblock %}