{#
    Résumé d'une EventInvitation pour lister les invitations d'un utilisateur

Données d'entrée :
- eventInvitation : EventInvitation à afficher

#}
{#
<th>Nom de l'évènement</th>
<th>Organisateur</th>
<th>Date</th>
<th>Lieu</th>
<th>Réponse</th>
#}
<tr>
    <td><a href="{{ path('displayEventInvitation', {'token': eventInvitation.token}) }}">
            {{ eventInvitation.event.name is not empty ? eventInvitation.event.name: ('eventInvitations.table.no_name'|trans)}}</a>
    </td>
    <td>{{ eventInvitation.event.getCreators[0].getDisplayableName }}</td>
    <td>{{ eventInvitation.event.when is not null ? eventInvitation.event.when|localizeddate:'-' }}</td>
    <td>{{ eventInvitation.event.whereName is not empty ? eventInvitation.event.whereName:"-" }}</td>
    {% if eventInvitation.answer is constant('AppBundle\\Utils\\enum\\EventInvitationAnswer::YES') %}
        <td class="palette-Teal-50 bg">{{ "eventInvitation.answer.yes"|trans }}</td>
    {% elseif eventInvitation.answer is constant('AppBundle\\Utils\\enum\\EventInvitationAnswer::DONT_KNOW') %}
        <td class="palette-Light-Blue-50 bg">{{ "eventInvitation.answer.dont_know"|trans }}</td>
    {% elseif eventInvitation.answer is constant('AppBundle\\Utils\\enum\\EventInvitationAnswer::NO') %}
        <td class="palette-Deep-Orange-50 bg ">{{ "eventInvitation.answer.no"|trans }}</td>
    {% endif %}
</tr>