{# Données d'entrée :
- eventInvitations : tableau d'EventInvitation qui sont à afficher
- userEventTabId {upcomingEvents|passedArchivedEvents}
#}
{% if eventInvitations|length>0 %}
    <div class="table-responsive" id="table_{{ userEventTabId|replace({'#':''}) }}">
        <table class="table table-striped">
            <thead>
            <tr>
                <th>{{ "eventInvitations.table.event_name"|trans }}</th>
                <th>{{ "eventInvitations.table.organiser"|trans }}</th>
                <th>{{ "eventInvitations.table.date"|trans }}</th>
                <th>{{ "eventInvitations.table.place"|trans }}</th>
                <th>{{ "eventInvitations.table.response"|trans }}</th>
                <th>{{ "eventInvitations.table.status"|trans }}</th>
            </tr>
            </thead>
            <tbody>
            {% for eventInvitation in eventInvitations %}
                {{ include('@App/EventInvitation/partials/event_invitation.html.twig', {'eventInvitation':eventInvitation}) }}
            {% endfor %}
            </tbody>
        </table>
    </div>
    <script>
        $(document).ready(function () {
            $('#table_{{ userEventTabId|replace({'#':''}) }}').on('click', '.eventInvitationAction', function (e) {
                ajaxRequest($(this), null, e, null, null, null);
            });
        });
    </script>
{% else %}
    <p class="text-center"><i>{{ ("eventInvitations.table.no_event."~(userEventTabId|replace({'#':''})))|trans }}</i></p>
{% endif %}