<form action="{{ path("fos_user_security_check") }}" method="POST" class="form-horizontal" autocomplete="off">
    <div class="help-block">
        {% if error %}
            <div class="alert alert-warning" role="alert">
                <i class="zmdi zmdi-alert-circle zmdi-hc-lg" aria-hidden="true"></i> <span class="sr-only">Error:</span>
                {{ error.messageKey|trans(error.messageData, 'security') }}
            </div>
        {% endif %}
    </div>

    <input type="hidden" name="_csrf_token" value="{{ csrf_token }}"/>

    <div class="input-group m-t-25 m-b-25 fg-float">
        <span class="input-group-addon"><i class="zmdi zmdi-email"></i></span>
        <div class="fg-line">
            <input type="text" class="form-control input-lg" id="username" name="_username" value="{{ last_username }}" required="required"/> <label class="fg-label"
                                                                                                                                                     for="username">{{ "form.email"|trans({},"FOSUserBundle") }}</label>
        </div>
    </div>

    <div class="input-group m-b-25 fg-float">
        <span class="input-group-addon"><i class="zmdi zmdi-lock"></i></span>
        <div class="fg-line">
            <input type="password" class="form-control input-lg" id="password" name="_password" required="required"/> <label class="fg-label"
                                                                                                                             for="password">{{ "form.password"|trans({}, "FOSUserBundle") }}</label>
        </div>
    </div>

    <div class="checkbox m-b-25">
        <label>
            <input type="checkbox" id="remember_me" name="_remember_me" value="on" checked="checked">
            <i class="input-helper"></i>
            {{ "security.login.remember_me"|trans({},"FOSUserBundle") }}
        </label>
    </div>

    <div class="row">
        <div class="col-xs-12 m-b-30">
            <button type="submit" class="btn btn-block btn-lg palette-Teal bg waves-effect">
                {{ 'security.login.submit'|trans({}, "FOSUserBundle") }}
            </button>
        </div>
    </div>

    <div class="row m-b-25">
        <div class="col-xs-12 text-center">
            <p><i>{{ "texte.social_network_connexion"|trans }}&nbsp;:</i></p>
        </div>
        <div class="col-xs-6">
            <a href="{{ path('hwi_oauth_service_redirect',{'service':'google'}) }}" class="btn btn-lg btn-block btn-danger"> <i class="zmdi zmdi-google-plus zmdi-hc-fw"></i> <span
                        class="hidden-xs">{{ 'texte.social_network.google'|trans }}</span> </a>
        </div>
        <div class="col-xs-6">
            <a href="{{ path('hwi_oauth_service_redirect',{'service':'facebook'}) }}" class="btn btn-lg btn-block palette-Blue-A700 bg"> <i class="zmdi zmdi-facebook zmdi-hc-fw"></i> <span
                        class="hidden-xs">{{ 'texte.social_network.facebook'|trans }}</span> </a>
        </div>
    </div>

    <div class="text-center m-b-25">
        <p>
            <i><a href="{{ path("fos_user_resetting_request") }}">{{ "security.form.mot_de_passe_oublie"|trans }}   </a></i>
            <span>&nbsp;<i class="zmdi zmdi-minus"></i>&nbsp;</span>
            <a href="{{ path('fos_user_registration_register') }}"><i>{{ "security.texte.pas_de_compte"|trans }}&nbsp;?</i></a>
        </p>
    </div>
</form>