{# Tuile d'affichage de l'invitation en cours sur la page d'événement pour que l'utilisateur renseigne ses informations
Données d'entrée :
- userEventInvitation (EventInvitation) Invitation de l'utilisateur de l'utilisateur
- userEventInvitationAnswerForm (Form) Formulaire de réponse à l'invitation
#}

<div id="eventInvitation-answer-panel" {#class="pop-help"#}>
    {#{{ include("@App/Event/partials/event_help_popover.html.twig",{'divId' : 'eventInvitation-answer-panel'}) }}#}
    <h4>{{ "eventInvitation.form.answer.label"|trans }}</h4>
    {{ form_start(userEventInvitationAnswerForm, {'action': path('displayEvent', {'token':userEventInvitation.event.token}), 'attr':{'id':'userEventInvitationAnswer','class':'answer-form'}}) }}
    {{ form_row(userEventInvitationAnswerForm.answer,{
        'label_attr':{'class' : 'sr-only'},
        'attr':{'type' : 'answer'}
    }) }}

    {{ form_rest(userEventInvitationAnswerForm) }}
    {{ form_end(userEventInvitationAnswerForm) }}

    <script>
        $("input[name='event_invitation_anwser[answer]']").on('change', function (e) {
            $(this).closest('form').submit();
        });
        $('form#userEventInvitationAnswer').on('submit', function (e) {
            ajaxFormSubmission(this, e, function(responseJSON, textStatus, jqXHR){
                if(!eventInvitationValid && askGuestName !== undefined){
                    askGuestName();
                }
            }, null, null);
        });
    </script>
</div>