{# Tuile d'affichage de l'invitation en cours sur la page d'événement pour que l'utilisateur renseigne ses informations
Données d'entrée :
- userEventInvitation (EventInvitation) Invitation de l'utilisateur de l'utilisateur
- userEventInvitationForm (Form) Formulaire permettant de répondre à l'invitation
- userEventInvitationAnswerForm (Form) Formulaire de réponse à l'invitation
#}

<div class="card c-dark z-depth-2" id="user-event-invitation-card">
    <div class="card-header palette-Teal bg m-b-10">
        <h2>{{ "eventInvitation.profile.card.title"|trans }}</h2>
    </div>
    <div class="card-body card-padding-sm">
        {{ include('@App/Event/partials/profile/eventInvitation_profile_form.html.twig',{
            'userEventInvitation' : userEventInvitation,
            'userEventInvitationForm' : userEventInvitationForm
        }) }}
    </div>
    <div class="card-body card-padding-sm">
        {{ include('@App/Event/partials/profile/eventInvitation_profile_answer_form.html.twig',{
            'userEventInvitation' : userEventInvitation,
            'userEventInvitationAnswerForm' : userEventInvitationAnswerForm
        }) }}
    </div>

    {% if userEventInvitation.applicationUser is null or userEventInvitation.applicationUser.accountUser is null %}
        <div class="card-footer card-padding">
            <label class="control-label text-info" for="url_user_invitation">{{ "eventInvitation.url.text"|trans }}&nbsp;: </label>
            <div class="input-group">
                <input id="url_user_invitation" type="text" class="form-control" readonly="readonly" value="{{ url("displayEventInvitation",{'token':userEventInvitation.token}) }}"> <span
                        class="input-group-btn"><button type="button" id="btn_copy_invitation_url" class="btn btn-primary" data-clipboard-target="#url_user_invitation">
                        <i class="zmdi zmdi-copy"></i> {{ "global.button.copy"|trans }}</button></span>
            </div>
        </div>
    {% endif %}
</div>