{# Données d'entrée :
- userEventInvitation (EventInvitation) Invitation de l'utilisateur de l'utilisateur
- userEventInvitationForm (Form) Formulaire du profil de l'invité pour l'invitation
#}

<div id="eventInvitationProfile_formContainer">
    {% block form_start %}
        {{ include("@App/Event/partials/event_help_popover.html.twig",{'userInvitation':userEventInvitation,'divId':'event_invitation_guestName','text': 'event.help.popover.name'}) }}
        {{ form_start(userEventInvitationForm, {'action': path('displayEvent',{'token':userEventInvitation.event.token}), 'attr':{'id':'userEventInvitationProfile'}}) }}
    {% endblock form_start %}
    <div class="row">
        <div class="col-xs-7">
            {{ form_row(userEventInvitationForm.guestName, {
                'label':'eventInvitation.form.guestname.label'|trans,
                'label_attr':{'class':'sr-only'},
                'attr':{'class':'input-sm', 'placeholder':'eventInvitation.form.guestname.placeholder'},
                'widget_options':{'fgline' : true}
            }) }}
            {{ form_row(userEventInvitationForm.email, {
                'label':'eventInvitation.form.email.label',
                'label_attr':{'class':'sr-only'},
                'attr':{'class':'input-sm', 'placeholder':'eventInvitation.form.email.placeholder'},
                'widget_options':{'fgline' : true}
            }) }}
            {% block action_buttons %}
                <div class="text-center">
                    {% if not is_granted("IS_AUTHENTICATED_REMEMBERED") and userEventInvitation.displayableName is not empty %}
                        <i class="m-r-10"><a href="{{ path('disconnectEventInvitation', {'eventToken':userEventInvitation.event.token}) }}">
                                {{ "eventInvitation.profile.card.text.disconnect"|trans({'%user%': userEventInvitation.displayableName}) }}</a></i>
                    {% endif %}
                    {% if userEventInvitationForm is defined %}
                        <button type="submit" class="btn btn-primary waves-effect">{{ "global.button.save"|trans }}</button>
                    {% endif %}
                </div>
            {% endblock action_buttons %}
        </div>
        <div class="col-xs-5">
            <div class="avatar-img-container-md center-block">
                {{ include("@App/Avatar/partials/avatar_display.html.twig",{invitation : userEventInvitation, isUserConnected : true}) }}
            </div>
        </div>
    </div>
    {{ form_rest(userEventInvitationForm) }}
    {{ form_end(userEventInvitationForm) }}

    <script>

        {% block js_form_submission %}
        $('form#userEventInvitationProfile').on("submit", function (e) {
            ajaxFormSubmission(this, e, function (responseJSON, textStatus, jqXHR) {
                if (responseJSON.hasOwnProperty('data') && responseJSON['data'].hasOwnProperty('userDisplayableName')) {
                    LetterAvatar.setConnectedUserName(responseJSON['data']['userDisplayableName']);
                    LetterAvatar.transform();
                }
            }, null, null);
        });
        {% endblock js_form_submission %}

        {% block js_functions %}
        {% if userEventInvitation.status is constant('AppBundle\\Utils\\enum\\EventInvitationStatus::AWAITING_VALIDATION') %}
        eventInvitationValid = false;
        /**
         * Affichage d'une fenêtre "dialog" pour demander le nom de l'invité et d'executer la fonction donnée (ex : soumission d'un formulaire)
         */
        function askGuestName() {
            if (!eventInvitationValid) {
                swal({
                    title: "{{ "eventInvitation.profile.card.guestname_required_alert.title"|trans|raw }}",
                    text: "{{ "eventInvitation.profile.card.guestname_required_alert.message"|trans|raw }}",
                    type: "question",
                    input: "text",
                    showCancelButton: false,
                    animation: "slide-from-top",
                    inputPlaceholder: "{{ "eventInvitation.form.guestname.placeholder"|trans|raw }}",
                    preConfirm: function (input) {
                        return new Promise(function (resolve, reject) {
                            if (input === false || input.trim() === '') {
                                reject("{{ "eventInvitation.profile.card.guestname_required_alert.inputError"|trans|raw }}");
                            } else {
                                resolve();
                            }
                        })
                    }
                }).then(function (inputValue) {
                    $('#event_invitation_guestName').val(inputValue);
                    $('form#userEventInvitationProfile').submit();
                }, function (dismiss) {
                    swal({
                        title: "{{ "global.swal.title.error"|trans }}",
                        text: "{{ "eventInvitation.profile.card.guestname_required_alert.dismiss"|trans|raw }}",
                        type: "error"
                    });
                });
            }
        }
        {% else %}
        eventInvitationValid = true;
        {% endif %}
        {% endblock js_functions %}
    </script>
</div>