{# Données d'entrée :
- userEventInvitation (EventInvitation) Invitation de l'utilisateur en cours
- userEventInvitationForm (Form) Formulaire du profil de l'invité pour l'invitation
#}

<div id="eventInvitationProfile_formContainer">
    {% block form_start %}
        {{ form_start(userEventInvitationForm, {'action': path('displayEvent',{'token':userEventInvitation.event.token}), 'attr':{'id':'userEventInvitationProfile'}}) }}
    {% endblock form_start %}


    {% if not is_granted("IS_AUTHENTICATED_REMEMBERED") %}
        <div class="row">
            <div class="col-xs-12 text-center m-b-10">
                <a data-toggle="modal" href="#modalLogin" class="btn btn-link btn-icon-text c-blue" role="button"><i class="zmdi zmdi-sign-in"></i> {{ 'layout.login'|trans({}, 'FOSUserBundle') }}</a>
            </div>
        </div>
    {% endif %}
    <div class="row">
        <div class="col-xs-7">
            {{ form_row(userEventInvitationForm.guestName, {
                'label':'eventInvitation.form.guestname.label'|trans,
                'label_attr':{'class':'sr-only'},
                'attr':{'class':'input-sm', 'placeholder':'eventInvitation.form.guestname.placeholder'},
                'widget_options':{'fgline' : true}
            }) }}
            {{ form_row(userEventInvitationForm.email, {
                'label':'eventInvitation.form.email.label',
                'label_attr':{'class':'sr-only'},
                'attr':{'class':'input-sm', 'placeholder':'eventInvitation.form.email.placeholder'},
                'widget_options':{'fgline' : true}
            }) }}
            {% block action_buttons %}
                <div class="text-center">
                    {% if not is_granted("IS_AUTHENTICATED_REMEMBERED") and userEventInvitation.displayableName(false) is not empty %}
                        <i class="m-r-10"><a href="{{ path('disconnectEventInvitation', {'eventToken':userEventInvitation.event.token}) }}">
                                {{ "eventInvitation.profile.card.text.disconnect"|trans({'%user%': userEventInvitation.displayableName(false)}) }}</a></i>
                    {% endif %}
                    {% if userEventInvitationForm is defined %}
                        <button type="submit" class="btn {{ userEventInvitation.displayableName(false) is empty?"btn-primary":"btn-link b-1" }}">{{ "global.button.save"|trans }}</button>
                    {% endif %}
                </div>
            {% endblock action_buttons %}
        </div>
        <div class="col-xs-5">
            <div class="avatar-img-container-md center-block">
                {{ include("@App/Avatar/partials/avatar_display.html.twig",{"invitation" : userEventInvitation, "userEventInvitation": userEventInvitation}) }}
            </div>
        </div>
    </div>
    {{ form_rest(userEventInvitationForm) }}
    {{ form_end(userEventInvitationForm) }}

    {% block js_script %}
        {% use "@App/Event/partials/block/invitationUrl_copyClipboardInput.html.twig" %}
        {% set htmlInputBlock = block('inviationUrl_copyCLipboardInput_block') %}
        <script>
            $(document).ready(function () {
                new Clipboard('#btn_copy_invitation_url');

                $('form#userEventInvitationProfile').on("submit", preSubmitEventInvitationProfileForm);
            });

            function preSubmitEventInvitationProfileForm(e) {
                if (e != null) {
                    e.preventDefault();
                }
                var profileEmail = $('#{{ userEventInvitationForm.email.vars.id }}').val();
                var $form = $(this);
                if (profileEmail.trim() == "") {
                    swal({
                        titleText: "{{ "eventInvitation.profile.card.guestemail_empty_alert.title"|trans }}",
                        html: '{{ htmlInputBlock|raw }}<br>{{ "eventInvitation.profile.card.guestemail_empty_alert.html"|trans }}',
                        input: "email",
                        showCancelButton: true,
                        buttonsStyling: false,
                        cancelButtonText: "{{ "eventInvitation.profile.card.guestemail_empty_alert.button.cancel"|trans }}",
                        cancelButtonClass: "btn btn-default btn-link c-blue m-b-10 m-l-5 m-r-5",
                        confirmButtonText: "{{ "eventInvitation.profile.card.guestemail_empty_alert.button.confirm"|trans }}",
                        confirmButtonClass: "btn btn-primary m-b-10  m-l-5 m-r-5",
                        animation: "slide-from-top",
                        inputPlaceholder: "{{ "eventInvitation.form.email.placeholder"|trans|raw }}"
                    }).then(function (inputValue) {
                        $('#{{ userEventInvitationForm.email.vars.id }}').val(inputValue);
                        submitEventInvitationProfileForm($form, e);
                    }, function (dismiss) {
                        if (dismiss === 'cancel') {
                            // L'utilsiateur a cliqué sur le bouton "J'ai bien noté le lien" => pas d'email volontairement
                            submitEventInvitationProfileForm($form, e);
                        }
                    });
                } else {
                    submitEventInvitationProfileForm($form, e);
                }
            }

            /** Submit the profile form with ajax request */
            function submitEventInvitationProfileForm($form, e) {
                ajaxFormSubmission($form, e, function (responseJSON, textStatus, jqXHR) {
                    if (responseJSON.hasOwnProperty('data') && responseJSON['data'].hasOwnProperty('userDisplayableName')) {
                        LetterAvatar.setConnectedUserName(responseJSON['data']['userDisplayableName']);
                        LetterAvatar.transform();
                    }
                }, null, null, profileFormAsynchronousAjaxSubmission);
                profileFormAsynchronousAjaxSubmission = true;
            }

            {% if userEventInvitation.status is constant('AppBundle\\Utils\\enum\\EventInvitationStatus::AWAITING_VALIDATION') or
            userEventInvitation.status is constant('AppBundle\\Utils\\enum\\EventInvitationStatus::AWAITING_ANSWER') %}
            eventInvitationValid = false;
            /**
             * Affichage d'une fenêtre "dialog" pour demander le nom de l'invité et d'executer la fonction donnée (ex : soumission d'un formulaire)
             */
            function askGuestName(e, thenConfirmCallback, thenConfirmCallbackParams, thenCancelCallback, thenCancelCallbackParams) {
                if (!eventInvitationValid) {
                    e.preventDefault();
                    var currentStep = 0;
                    var guestNameInput = 0;
                    var form = $('form#userEventInvitationProfile');
                    var steps = [
                        {
                            titleText: "{{ "eventInvitation.profile.card.guestname_required_alert.title"|trans }}",
                            html: "{{ "eventInvitation.profile.card.guestname_required_alert.message"|trans|raw }}",
                            input: "text",
                            showCancelButton: true,
                            cancelButtonText: "{{ "global.button.cancel"|trans }}",
                            reverseButtons: true,
                            animation: "slide-from-top",
                            inputPlaceholder: "{{ "eventInvitation.form.guestname.placeholder"|trans|raw }}",
                            preConfirm: function (input) {
                                return new Promise(function (resolve, reject) {
                                    if (input === false || input.trim() === '') {
                                        reject("{{ "eventInvitation.profile.card.guestname_required_alert.inputError"|trans|raw }}");
                                    } else {
                                        currentStep = 1;
                                        $('#{{ userEventInvitationForm.guestName.vars.id }}').val(input);
                                        resolve();
                                    }
                                })
                            }
                        }
                    ];


                    var profileEmail = $('#{{ userEventInvitationForm.email.vars.id }}').val();
                    if (profileEmail.trim() == "") {
                        steps.push({
                            titleText: "{{ "eventInvitation.profile.card.guestemail_empty_alert.title"|trans }}",
                            html: '{{ htmlInputBlock|raw }}<br>{{ "eventInvitation.profile.card.guestemail_empty_alert.html"|trans }}',
                            input: "email",
                            buttonsStyling: false,
                            showCancelButton: true,
                            cancelButtonText: "{{ "eventInvitation.profile.card.guestemail_empty_alert.button.cancel"|trans }}",
                            cancelButtonClass: "btn btn-default btn-link c-blue m-b-10 m-l-5 m-r-5",
                            confirmButtonText: "{{ "eventInvitation.profile.card.guestemail_empty_alert.button.confirm"|trans }}",
                            confirmButtonClass: "btn btn-primary m-b-10  m-l-5 m-r-5",
                            animation: "slide-from-top",
                            inputPlaceholder: "{{ "eventInvitation.form.email.placeholder"|trans|raw }}"
                        });
                    }
                    swal.queue(steps).then(function (result) {
                        console.log("result=" + result);
                        console.log("currentStep =" + currentStep);
                        $('#{{ userEventInvitationForm.guestName.vars.id }}').val(result[0]);

                        if (result.length > 1) {
                            $('#{{ userEventInvitationForm.email.vars.id }}').val(result[1]);
                        }
                        profileFormAsynchronousAjaxSubmission = false;
                        submitEventInvitationProfileForm(form, e);

                        if (typeof thenConfirmCallback === 'function') {
                            if (thenConfirmCallbackParams == undefined) {
                                thenConfirmCallbackParams = null;
                            }
                            thenConfirmCallback(thenConfirmCallbackParams)
                        }
                    }, function (dismiss) {
                        console.log("dismiss : " + dismiss);
                        console.log("currentStep : " + currentStep);
                        if (currentStep == 0) {
                            swal({
                                title: "{{ "global.swal.title.warning"|trans }}",
                                html: "{{ "eventInvitation.profile.card.guestname_required_alert.dismiss"|trans }}",
                                type: "error"
                            });
                        } else if (currentStep == 1) {
                            if (dismiss === 'cancel') {
                                // L'utilsiateur a cliqué sur le bouton "J'ai bien noté le lien" => pas d'email volontairement
                                console.log(form);
                                submitEventInvitationProfileForm(form, e);
                            }
                        }

                        if (typeof thenCancelCallback === 'function') {
                            if (thenCancelCallbackParams == undefined) {
                                thenCancelCallbackParams = null;
                            }
                            thenCancelCallback(thenCancelCallbackParams)
                        }
                    });
                }
            }
            {% else %}
            eventInvitationValid = true;
            {% endif %}
        </script>
    {% endblock js_script %}
</div>