{# Formulaire de réponse de la présence de l'invité à l'événement (invitation en cours sur la page d'un événement)
Données d'entrée :
- userEventInvitation (EventInvitation) Invitation de l'utilisateur de l'utilisateur
- userEventInvitationAnswerForm (Form) Formulaire de réponse à l'invitation
#}

<div id="eventInvitation-answer-panel" class="p-l-10 p-r-10 text-center">
    {% if userEventInvitation.status is constant('AppBundle\\Utils\\enum\\EventInvitationStatus::CANCELLED') %}
        <div class="well well-sm palette-Purple-300 bg c-white">{{ "eventInvitation.message.warning.invitation_cancelled"|trans }}</div>
    {% else %}
        <h4>{{ "eventInvitation.form.answer.label"|trans }}</h4>
        {{ form_start(userEventInvitationAnswerForm, {'action': path('displayEvent', {'token':userEventInvitation.event.token}), 'attr':{'id':'userEventInvitationAnswer','class':'answer-form'}}) }}
        {{ form_row(userEventInvitationAnswerForm.answer,{
            'label_attr':{'class' : 'sr-only'},
            'attr':{'type' : 'answer'}
        }) }}

        {{ form_rest(userEventInvitationAnswerForm) }}
        {{ form_end(userEventInvitationAnswerForm) }}

        <script>
            $("input[name='event_invitation_anwser[answer]']").on('change', function (e) {
                $(this).closest('form').submit();
            });
            $('form#userEventInvitationAnswer').on('submit', function (e) {
                ajaxFormSubmission(this, e, function (responseJSON, textStatus, jqXHR) {
                    if (!eventInvitationValid && askGuestName !== undefined) {
                        askGuestName();
                    }
                }, null, null);
            });
        </script>
    {% endif %}
</div>