{# Données d'entrée :
- form_contact_details (Form) Formulaire à afficher
#}

<div id="userContactDetails_form_container">
    {{ form_start(form_contact_details, {'action':path('updateUserContactDetails'), 'method':'post',
        'attr':{ 'id':'userContactDetails', 'data-profile-pmb-block-target':'#pmbblock_contact_details'} }) }}

    {{ form_row(form_contact_details.livingCountry, {
        'label':'profile.show.profile_information.contact_details.living_country.label'|trans,
        'attr':{
            'class':'selectpicker',
            'data-none-selected-text':'profile.show.profile_information.contact_details.living_country.none_selected_text'|trans,
            'data-live-search' : true
        },
        'widget_options':{'dlhorizontal':true}
    }) }}
    {{ form_row(form_contact_details.livingCity, {
        'label':'profile.show.profile_information.contact_details.living_city.label'|trans,
        'attr':{'placeholder': 'profile.show.profile_information.contact_details.living_city.placeholder'|trans},
        'widget_options':{'dlhorizontal':true, 'fgline':true}
    }) }}
    <div class=" m-t-10 pull-right">
        <button data-profile-action="reset" data-profile-action-target="#pmbblock_contact_details" class="btn btn-flat">{{ "global.button.cancel"|trans }}</button>
        <button type="submit" class="btn btn-primary waves-effect">{{ "global.button.save"|trans }}</button>
    </div>
    {{ form_rest(form_contact_details) }}
    {{ form_end(form_contact_details) }}
    <div class="clearfix"></div>
    <script>
        $('form#userContactDetails').on("submit", function (e) {
            var $form = $(this);
            ajaxFormSubmission(this, e, function (responseJSON, textStatus, jqXHR) {
                // update form's inputs
                if (responseJSON.hasOwnProperty('data')) {
                    for (var inputTarget in responseJSON['data']) {
                        if (responseJSON['data'].hasOwnProperty(inputTarget)) {
                            $('#pmb-view-' + inputTarget).html(responseJSON['data'][inputTarget]);
                            /** Update information elsewhere in the page */
                            $('.user-' + inputTarget).each(function () {
                                $(this).html(responseJSON['data'][inputTarget]);
                            });
                        }
                    }
                }
                // close edition block
                var t = $form.data('profile-pmb-block-target');
                $(t).removeClass('toggled');
            }, null, null);
        });
    </script>
</div>