<div class="pmb-block" id="mandatory_information">
    <div class="pmbb-header">
        <h2><i class="zmdi zmdi-account m-r-5"></i> {{ "profile.show.about.mandatory_information.title"|trans }}</h2>
        <ul class="actions">
            <li><a data-profile-action="edit" data-profile-action-target="#mandatory_information" href="#"><i class="zmdi zmdi-edit"></i></a></li>
        </ul>
    </div>

    <div class="pmbb-body p-l-30">
        <div class="pmbb-view">
            <dl class="dl-horizontal">
                <dt>{{ "profile.show.about.mandatory_information.username.title"|trans }}</dt>
                <dd id="pmb-view-username">{{ app.user.username }}</dd>
            </dl>
            <dl class="dl-horizontal">
                <dt>{{ "profile.show.about.mandatory_information.email.title"|trans }}</dt>
                <dd id="pmb-view-email">{{ app.user.email }}</dd>
            </dl>
            <dl class="dl-horizontal">
                <dt>{{ "profile.show.about.mandatory_information.pseudo.title"|trans }}</dt>
                <dd id="pmb-view-pseduo">{{ app.user.pseudo }}</dd>
            </dl>
            <dl class="dl-horizontal">
                <dt>{{ "profile.show.about.mandatory_information.password.title"|trans }}</dt>
                <dd>
                    {% if app.user.passwordKnown %}
                        <a href="{{ path('fos_user_change_password') }}" >{{ "profile.show.about.mandatory_information.password.change"|trans }}</a>
                    {% else %}
                        <a href="{{ path('initializePassword') }}" >{{ "profile.show.about.mandatory_information.password.init"|trans }}</a>
                    {% endif %}
                </dd>
            </dl>
            <dl class="dl-horizontal">
                <dt>{{ "profile.show.about.mandatory_information.social_network.title"|trans }}</dt>
                <dd>
                    {% if app.user.googleId is not empty %}
                        <i class="zmdi zmdi-google-plus-box zmdi-hc-2x palette-Red text"></i>
                    {% endif %}
                    {% if app.user.facebookId is not empty %}
                        <i class="zmdi zmdi-facebook-box zmdi-hc-2x  palette-Blue-A700 text"></i>
                    {% endif %}
                </dd>
            </dl>
        </div>

        <div class="pmbb-edit">
            {{ form_start(form_mandatory_information, {'method': 'post', 'action': path('updateUserProfileAjax'), 'attr':{'id':'userMandatoryInformation',
                'data-profile-pmb-block-target':'#mandatory_information'} }) }}
            <dl class="dl-horizontal">
                <dt class="p-t-10">{{ form_label(form_mandatory_information.username, "profile.show.about.mandatory_information.username.label"|trans) }}</dt>
                <dd>
                    <div class="fg-line">
                        {{ form_widget(form_mandatory_information.username, {'attr':{'placeholder': "profile.show.about.mandatory_information.username.placeholder"|trans}}) }}
                    </div>
                </dd>
            </dl>
            <dl class="dl-horizontal">
                <dt class="p-t-10">{{ form_label(form_mandatory_information.email, 'profile.show.about.mandatory_information.email.label'|trans) }}</dt>
                <dd>
                    <div class="fg-line">
                        {{ form_widget(form_mandatory_information.email, {'attr':{'placeholder':'profile.show.about.mandatory_information.email.placeholder'|trans}}) }}
                    </div>
                </dd>
            </dl>
            <dl class="dl-horizontal">
                <dt class="p-t-10">{{ form_label(form_mandatory_information.pseudo, 'profile.show.about.mandatory_information.pseudo.label'|trans) }}</dt>
                <dd>
                    <div class="fg-line">
                        {{ form_widget(form_mandatory_information.pseudo, {'attr':{'placeholder':"profile.show.about.mandatory_information.pseudo.placeholder"|trans}}) }}
                    </div>
                </dd>
            </dl>

            <div class="m-t-30">
                <button type="submit" class="btn btn-primary btn-sm waves-effect">{{ "global.button.save"|trans }}</button>
                <button data-profile-action="reset" data-profile-action-target="#mandatory_information" class="btn btn-default btn-sm">{{ "global.button.cancel"|trans }}</button>
            </div>
            {{ form_rest(form_mandatory_information) }}
            {{ form_end(form_mandatory_information) }}
        </div>
    </div>
</div>

<div class="pmb-block" id="basic_information">
    <div class="pmbb-header">
        <h2><i class="zmdi zmdi-account m-r-5"></i> {{ "profile.show.about.basic_information.title"|trans }}</h2>
        <ul class="actions">
            <li><a data-profile-action="edit" data-profile-action-target="#basic_information" href="#"><i class="zmdi zmdi-edit"></i></a></li>
        </ul>
    </div>

    <div class="pmbb-body p-l-30">
        <div class="pmbb-view">
            <dl class="dl-horizontal">
                <dt>{{ "profile.show.about.basic_information.fullname.title"|trans }}</dt>
                <dd id="pmb-view-fullname">{{ app.user.userAbout.fullname is not empty ? app.user.userAbout.fullname : "-" }}</dd>
            </dl>
            <dl class="dl-horizontal">
                <dt>{{ "profile.show.about.basic_information.gender.title"|trans }}</dt>
                <dd id="pmb-view-gender">{{ app.user.userAbout.gender is not empty ? ("global.gender."~app.user.userAbout.gender)|trans():"-" }}</dd>
            </dl>
            <dl class="dl-horizontal">
                <dt>{{ "profile.show.about.basic_information.birthday.title"|trans }}</dt>
                <dd id="pmb-view-birthday">{{ app.user.userAbout.birthday is not null?app.user.userAbout.birthday|localizeddate('short', 'none'):"-" }}</dd>
            </dl>
        </div>

        <div class="pmbb-edit">
            {{ form_start(form_basic_information, {'method': 'post', 'action': path('updateUserBasicInformationAjax'), 'attr':{'id':'userBasicInformation',
                'data-profile-pmb-block-target':'#basic_information'} }) }}
            <dl class="dl-horizontal">
                <dt class="p-t-10">{{ form_label(form_basic_information.fullname, "profile.show.about.basic_information.fullname.label") }}</dt>
                <dd>
                    <div class="fg-line">
                        {{ form_widget(form_basic_information.fullname, {'attr':{'placeholder': "profile.show.about.basic_information.fullname.placeholder"|trans}} ) }}
                    </div>
                </dd>
            </dl>
            <dl class="dl-horizontal">
                <dt class="p-t-10">{{ form_label(form_basic_information.gender, 'profile.show.about.basic_information.gender.label'|trans) }}</dt>
                <dd>
                    <div class="fg-line">
                        {{ form_widget(form_basic_information.gender, {'attr':{'class':'selectpicker', 'placeholder':'profile.show.about.basic_information.gender.placeholder'|trans}}) }}
                    </div>
                </dd>
            </dl>
            <dl class="dl-horizontal">
                <dt class="p-t-10">{{ form_label(form_basic_information.birthday, 'profile.show.about.basic_information.birthday.title'|trans) }}</dt>
                <dd>
                    <div class="dtp-container dropdown fg-line">
                        {{ form_widget(form_basic_information.birthday, {'attr':{'class':'date-picker', 'placeholder':'profile.show.about.basic_information.birthday.placeholder'}}) }}
                    </div>
                </dd>
            </dl>

            <div class="m-t-30">
                <button type="submit" class="btn btn-primary btn-sm waves-effect">{{ "global.button.save"|trans }}</button>
                <button data-profile-action="reset" data-profile-action-target="#basic_information" class="btn btn-default btn-sm">{{ "global.button.cancel"|trans }}</button>
            </div>
            {{ form_rest(form_basic_information) }}
            {{ form_end(form_basic_information) }}
        </div>
    </div>
</div>

<div class="pmb-block" id="pmb-biography">
    <div class="pmbb-header">
        <h2><i class="zmdi zmdi-face m-r-5"></i> {{ "profile.show.about.biography.title"|trans }}</h2>
        <ul class="actions">
            <li><a data-profile-action="edit" data-profile-action-target="#pmb-biography" href="#"><i class="zmdi zmdi-edit"></i></a></li>
        </ul>
    </div>
    <div class="pmbb-body p-l-30">
        <div class="pmbb-view" id="pmb-view-biography">
            {{ app.user.userAbout.biography is not empty?app.user.userAbout.biography:"profile.show.about.biography.empty"|trans }}
        </div>

        <div class="pmbb-edit">
            {{ form_start(form_biography, {'method': 'post', 'action': path('updateUserBiographyAjax'), 'attr': {'id':'userBiography','data-profile-pmb-block-target':'#pmb-biography'} }) }}
            <div class="fg-line">
                {{ form_label(form_biography.biography, 'profile.show.about.biography.label', {'label_attr':{'class':'sr-only'}} ) }}
                {{ form_widget(form_biography.biography, {'attr':{'rows':5,'placeholder':'profile.show.about.biography.placeholder'|trans}} ) }}
            </div>
            <div class="m-t-10">
                <button type="submit" class="btn btn-primary btn-sm waves-effect">{{ "global.button.save"|trans }}</button>
                <button data-profile-action="reset" data-profile-action-target="#pmb-biography" class="btn btn-default btn-sm">{{ "global.button.cancel"|trans }}</button>
            </div>
            {{ form_rest(form_biography) }}
            {{ form_end(form_biography) }}
        </div>
    </div>
</div>

{#<div class="pmb-block" id="contact_info">
    <div class="pmbb-header">
        <h2><i class="zmdi zmdi-phone m-r-5"></i> Contact Information</h2>

        <ul class="actions">
            <li><a data-profile-action="edit" data-profile-action-target="#contact_info" href="#"><i class="zmdi zmdi-edit"></i></a></li>
        </ul>
    </div>
    <div class="pmbb-body p-l-30">
        <div class="pmbb-view">
            <dl class="dl-horizontal">
                <dt>Mobile Phone</dt>
                <dd>00971 12345678 9</dd>
            </dl>
            <dl class="dl-horizontal">
                <dt>Email Address</dt>
                <dd>malinda.h@gmail.com</dd>
            </dl>
            <dl class="dl-horizontal">
                <dt>Twitter</dt>
                <dd>@malinda</dd>
            </dl>
            <dl class="dl-horizontal">
                <dt>Skype</dt>
                <dd>malinda.hollaway</dd>
            </dl>
        </div>

        <div class="pmbb-edit">
            <dl class="dl-horizontal">
                <dt class="p-t-10">Mobile Phone</dt>
                <dd>
                    <div class="fg-line">
                        <input type="text" class="form-control" placeholder="eg. 00971 12345678 9">
                    </div>
                </dd>
            </dl>
            <dl class="dl-horizontal">
                <dt class="p-t-10">Email Address</dt>
                <dd>
                    <div class="fg-line">
                        <input type="email" class="form-control" placeholder="eg. malinda.h@gmail.com">
                    </div>
                </dd>
            </dl>
            <dl class="dl-horizontal">
                <dt class="p-t-10">Twitter</dt>
                <dd>
                    <div class="fg-line">
                        <input type="text" class="form-control" placeholder="eg. @malinda">
                    </div>
                </dd>
            </dl>
            <dl class="dl-horizontal">
                <dt class="p-t-10">Skype</dt>
                <dd>
                    <div class="fg-line">
                        <input type="text" class="form-control" placeholder="eg. malinda.hollaway">
                    </div>
                </dd>
            </dl>

            <div class="m-t-30">
                <button class="btn btn-primary btn-sm">Save</button>
                <button data-profile-action="reset" data-profile-action-target="#contact_info" class="btn btn-link btn-sm">Cancel</button>
            </div>
        </div>
    </div>
</div>#}
