{# Données d'entrée :
- contacts (Array of Contact) Tableau des contacts à afficher
- contactGroups (Array of ContactGroup) Tableau des groupes de contacts créés par l'utilisateur
- form_add_contact (Form) Formulaire pour l'ajout de nouveau contact
#}
{% set addContactPrefix = "addContact" %}

<div class="profile-tab">
    <div class="pm-overview c-overflow">
        <div class="pmo-block">
            <h2><i class="zmdi zmdi-accounts zmdi-hc-lg"></i>&nbsp;{{ "contacts.left-menu.title"|trans }}</h2>
            <div class="list-group">
                <a href="#" class="list-group-item">{{ "contacts.left-menu.all_contacts"|trans }}</a>
                {% for contactGroup in contactGroups %}
                    <a href="#" class="list-group-item"> <span class="badge">{{ contactGroup.contacts|length }}</span>
                        {{ contactGroup.name }}
                    </a>
                {% endfor %}
            </div>
            <div class="text-center m-t-15">
                <button type="button" class="btn btn-default btn-icon-text waves-effect center" data-toggle="modal" data-target="#addContactGroup">
                    <i class="zmdi zmdi-accounts-add"></i> {{ "contacts.left-menu.add_group.label"|trans }}</button>
            </div>
        </div>
    </div>
    <div class="pm-body clearfix">
        <div class="pmb-block" id="pmbb-contacts">
            <div class="p-header">
                <ul class="p-menu">
                    <li><a href="#{{ addContactPrefix }}_modal" data-toggle="modal" class="toggle-tooltip c-black" title="{{ "contacts.menu.add_contact.tooltip"|trans }}"> <i
                                    class="zmdi zmdi-account-add"></i> {{ "contacts.menu.add_contact.text"|trans }}</a>
                    </li>
                    <li><a class="toggle-tooltip c-black" title="{{ "contacts.menu.import_contact.tooltip"|trans }}">
                            {{ "contacts.menu.import_contact.text"|trans }} <i class="zmdi zmdi-forward"></i></a>
                    </li>
                    {#<li class="pm-search">
                        <div class="pms-inner">
                            <i class="zmdi zmdi-search"></i> <input type="text" placeholder="{{ "contacts.menu.search_contact.placeholder"|trans }}">
                        </div>
                    </li>#}
                </ul>

                {#<ul class="actions m-t-20 hidden-xs">
                    <li class="dropdown">
                        <a href="#" data-toggle="dropdown"> <i class="zmdi zmdi-more-vert"></i> </a>

                        <ul class="dropdown-menu dropdown-menu-right">
                            <li>
                                <a href="#">Refresh</a>
                            </li>
                            <li>
                                <a href="#">Settings</a>
                            </li>
                        </ul>
                    </li>
                </ul>#}
            </div>
            {# Affichage dee contacts de l'utilisateur #}
            {{ include('@App/Contact/partials/display_contacts.html.twig', { 'contacts': contacts}) }}
        </div>
    </div> {# End div.pm-body #}
</div> {# End div.profile-tab #}

{# Ajout de la modal contenant le formulaire d'ajout d'un nouveau contact #}
{{ include('@App/Contact/partials/modal_contact_form.html.twig', {
    'modalIdPrefix':addContactPrefix,
    'contact':null,
    'form_contact':form_add_contact
}) }}
