{# Données d'entrée !
- user (User) L'utilisateur dont on affiche le profil
- form_app_user_info_personals (Form|null) Le formulaire pour la partie "Information basique"
- form_contact_details (Form|null) Le formulaire pour la partie "Coordonnées"
- form_app_user_info_complementaries (Form|null) Le formulaire pour la partie "Informations complémentaires"
#}

<div class="profile-tab">
    <div class="pm-overview">
        <div class="pmo-pic">
            <div class="p-relative">
                {{ include('@App/Avatar/partials/avatar_form.html.twig') }}
                {#<div class="pmop-message">
                    <a href="{{ path("fos_user_profile_edit") }}" class="btn palette-White bg btn-float z-depth-1"><i class="zmdi zmdi-edit"></i></a>
                </div>#}
            </div>

            {#<div class="pmo-stat">
                <h2 class="m-0 c-white">156</h2>
                Total Invitations
            </div>#}
        </div>


        {# User -> AppUserEmails #}
        {{ include('@App/AppUserEmail/partials/profile_appuseremails.html.twig', {
            'appuseremails' : user.applicationUser.appUserEmails,
            'form_appuseremail' : form_appuseremail }) }}
    </div>

    <div class="pm-body clearfix">
        <div class="pmb-block" id="pmbblock_connexion_information">
            <div class="pmbb-header">
                <h2><i class="zmdi zmdi-account m-r-5"></i> {{ "profile.show.profile_information.connexion_information.title"|trans }}</h2>
            </div>

            <div class="pmbb-body p-l-30">
                <div class="pmbb-view">
                    <dl class="dl-horizontal">
                        <dt>{{ "profile.show.profile_information.connexion_information.email.title"|trans }}</dt>
                        <dd id="pmb-view-email">{{ user.email }}</dd>
                    </dl>
                    <dl class="dl-horizontal">
                        <dt>{{ "profile.show.profile_information.connexion_information.password.title"|trans }}</dt>
                        <dd>
                            {% if user.passwordKnown %}
                                <a href="{{ path('fos_user_change_password') }}">{{ "profile.show.profile_information.connexion_information.password.change"|trans }}</a>
                            {% else %}
                                <a href="{{ path('init_password_request') }}">{{ "profile.show.profile_information.connexion_information.password.init"|trans }}</a>
                            {% endif %}
                        </dd>
                    </dl>
                    {% if user.googleId is not empty or  user.facebookId is not empty %}
                        <dl class="dl-horizontal">
                            <dt>{{ "profile.show.profile_information.connexion_information.social_network.title"|trans }}</dt>
                            <dd>
                                {% if user.googleId is not empty %}
                                    <i class="zmdi zmdi-google-plus-box zmdi-hc-2x palette-Red text"></i>
                                {% endif %}
                                {% if user.facebookId is not empty %}
                                    <i class="zmdi zmdi-facebook-box zmdi-hc-2x  palette-Blue-A700 text"></i>
                                {% endif %}
                            </dd>
                        </dl>
                    {% endif %}
                </div>
            </div>
        </div>

        <div class="pmb-block" id="pmbblock_personal_information">
            <div class="pmbb-header">
                <h2><i class="zmdi zmdi-account m-r-5"></i> {{ "profile.show.profile_information.personal_information.title"|trans }}</h2>
                <ul class="actions">
                    <li><a data-profile-action="edit" data-profile-action-target="#pmbblock_personal_information" href="#"><i class="zmdi zmdi-edit"></i></a></li>
                </ul>
            </div>

            <div class="pmbb-body p-l-30">
                <div class="pmbb-view">
                    <dl class="dl-horizontal">
                        <dt>{{ "profile.show.profile_information.personal_information.publicname.title"|trans }}</dt>
                        <dd id="pmb-view-public-name">{{ user.applicationUser.appUserInformation.publicName is not empty?user.applicationUser.appUserInformation.publicName:"-" }}</dd>
                    </dl>
                    <dl class="dl-horizontal">
                        <dt>{{ "profile.show.profile_information.personal_information.legalstatus.title"|trans }}</dt>
                        <dd id="pmb-view-legal-status">{{ user.applicationUser.appUserInformation.legalStatus is not empty?user.applicationUser.appUserInformation.legalStatus|trans:"-" }}</dd>
                    </dl>
                    <dl class="dl-horizontal">
                        <dt>{{ "profile.show.profile_information.personal_information.firstname.title"|trans }}</dt>
                        <dd id="pmb-view-firstname">{{ user.applicationUser.appUserInformation.firstName is not empty? user.applicationUser.appUserInformation.firstName:"-" }}</dd>
                    </dl>
                    <dl class="dl-horizontal">
                        <dt>{{ "profile.show.profile_information.personal_information.lastname.title"|trans }}</dt>
                        <dd id="pmb-view-lastname">{{ user.applicationUser.appUserInformation.lastName is not empty ? user.applicationUser.appUserInformation.lastName: "-" }}</dd>
                    </dl>
                    <dl class="dl-horizontal">
                        <dt>{{ "profile.show.profile_information.personal_information.gender.title"|trans }}</dt>
                        <dd id="pmb-view-gender">{{ user.applicationUser.appUserInformation.gender is not empty ? user.applicationUser.appUserInformation.gender|trans():"-" }}</dd>
                    </dl>
                    <dl class="dl-horizontal">
                        <dt>{{ "profile.show.profile_information.personal_information.birthday.title"|trans }}</dt>
                        <dd id="pmb-view-birthday">{{ user.applicationUser.appUserInformation.birthday is not null?user.applicationUser.appUserInformation.birthday|localizeddate('short', 'none'):"-" }}</dd>
                    </dl>
                    <dl class="dl-horizontal">
                        <dt>{{ "profile.show.profile_information.personal_information.nationality.title"|trans }}</dt>
                        <dd id="pmb-view-nationality">{{ user.applicationUser.appUserInformation.nationality is not null?user.applicationUser.appUserInformation.nationality : "-" }}</dd>
                    </dl>
                </div>
                {% if form_app_user_info_personals is not null %}
                    <div class="pmbb-edit">
                        {{ include('@ATUser/Profile/partials/personal_information_form.html.twig',{'form_app_user_info_personals':form_app_user_info_personals }) }}
                    </div>
                {% endif %}
            </div>
        </div>

        <div class="pmb-block" id="pmbblock_contact_details">
            <div class="pmbb-header">
                <h2><i class="zmdi zmdi-pin m-r-5"></i> {{ "profile.show.profile_information.contact_details.title"|trans }}</h2>
                <ul class="actions">
                    <li><a data-profile-action="edit" data-profile-action-target="#pmbblock_contact_details" href="#"><i class="zmdi zmdi-edit"></i></a></li>
                </ul>
            </div>
            <div class="pmbb-body p-l-30">
                <div class="pmbb-view">
                    <dl class="dl-horizontal">
                        <dt>{{ "profile.show.profile_information.contact_details.living_country.title"|trans }}</dt>
                        <dd id="pmb-view-living-country">{{ user.applicationUser.appUserInformation.livingCountry is not empty ? user.applicationUser.appUserInformation.livingCountry|country : "-" }}</dd>
                    </dl>
                    <dl class="dl-horizontal">
                        <dt>{{ "profile.show.profile_information.contact_details.living_city.title"|trans }}</dt>
                        <dd id="pmb-view-living-city">{{ user.applicationUser.appUserInformation.livingCity is not empty ? user.applicationUser.appUserInformation.livingCity : "-" }}</dd>
                    </dl>
                </div>
                {% if form_contact_details is not null %}
                    <div class="pmbb-edit">
                        {{ include('@ATUser/Profile/partials/contact_details_form.html.twig',{'form_contact_details':form_contact_details}) }}
                    </div>
                {% endif %}
            </div>
        </div>

        <div class="pmb-block" id="pmbblock_complementaries">
            <div class="pmbb-header">
                <h2><i class="zmdi zmdi-face m-r-5"></i> {{ "profile.show.profile_information.complementaries.title"|trans }}</h2>
                <ul class="actions">
                    <li><a data-profile-action="edit" data-profile-action-target="#pmbblock_complementaries" href="#"><i class="zmdi zmdi-edit"></i></a></li>
                </ul>
            </div>
            <div class="pmbb-body p-l-30">
                <div class="pmbb-view">
                    <dl class="dl-horizontal">
                        <dt>{{ "profile.show.profile_information.complementaries.marital_status.title"|trans }}</dt>
                        <dd id="pmb-view-marital-status">{{ user.applicationUser.appUserInformation.maritalStatus is not empty ? user.applicationUser.appUserInformation.maritalStatus|trans : "-" }}</dd>
                    </dl>
                </div>
                <div class="pmbb-view">
                    <dl class="dl-horizontal">
                        <dt>{{ "profile.show.profile_information.complementaries.biography.title"|trans }}</dt>
                        <dd id="pmb-view-biography">
                            {% if user.applicationUser.appUserInformation.biography is not empty %}
                                {% set biography = user.applicationUser.appUserInformation.biography|nl2br %}
                                {{ biography|raw }}
                            {% else %}
                                <i>{{ "profile.show.profile_information.complementaries.biography.empty"|trans }}</i>
                            {% endif %}
                        </dd>
                    </dl>
                </div>
                <div class="pmbb-view">
                    <dl class="dl-horizontal">
                        <dt>{{ "profile.show.profile_information.complementaries.interests.title"|trans }}</dt>
                        <dd id="pmb-view-interets">
                            {% if user.applicationUser.appUserInformation.interests is not empty %}
                                {% set interests = user.applicationUser.appUserInformation.interests|nl2br %}
                                {{ interests|raw }}
                            {% else %}
                                <i>{{ "profile.show.profile_information.complementaries.interests.empty"|trans }}</i>
                            {% endif %}
                        </dd>
                    </dl>
                </div>
                <div class="pmbb-view">
                    <dl class="dl-horizontal">
                        <dt>{{ "profile.show.profile_information.complementaries.food_conveniences.title"|trans }}</dt>
                        <dd id="pmb-view-food-conveniences">
                            {% if user.applicationUser.appUserInformation.foodConveniences is not empty %}
                                {% set foodConveniences = user.applicationUser.appUserInformation.foodConveniences|nl2br %}
                                {{ foodConveniences|raw }}
                            {% else %}
                                <i>{{ "profile.show.profile_information.complementaries.food_conveniences.empty"|trans }}</i>
                            {% endif %}
                        </dd>
                    </dl>
                </div>

                {% if form_app_user_info_complementaries is not null %}
                    <div class="pmbb-edit">
                        {{ include('@ATUser/Profile/partials/complementary_information_form.html.twig', {'form_app_user_info_complementaries':form_app_user_info_complementaries}) }}
                    </div>
                {% endif %}
            </div>
        </div>
    </div>
</div>