{# Données d'entrée !
- user (User) L'utilisateur dont on affiche le profil
- form_connexion_information (Form) Le formulaire des informations obligatoires
- form_app_user_info_personals (Form|null) Le formulaire pour la partie "Information basique"
- form_contact_details (Form|null) Le formulaire pour la partie "Coordonnées"
- form_biography (Form|null) Le formulaire pour la partie "Biographie"
#}

<div class="pmb-block" id="connexion_information">
    <div class="pmbb-header">
        <h2><i class="zmdi zmdi-account m-r-5"></i> {{ "profile.show.profile_information.connexion_information.title"|trans }}</h2>
        <ul class="actions">
            <li><a data-profile-action="edit" data-profile-action-target="#connexion_information" href="#"><i class="zmdi zmdi-edit"></i></a></li>
        </ul>
    </div>

    <div class="pmbb-body p-l-30">
        <div class="pmbb-view">
            <dl class="dl-horizontal">
                <dt>{{ "profile.show.profile_information.connexion_information.email.title"|trans }}</dt>
                <dd id="pmb-view-email">{{ user.email }}</dd>
            </dl>
            <dl class="dl-horizontal">
                <dt>{{ "profile.show.profile_information.connexion_information.password.title"|trans }}</dt>
                <dd>
                    {% if user.passwordKnown %}
                        <a href="{{ path('fos_user_change_password') }}">{{ "profile.show.profile_information.connexion_information.password.change"|trans }}</a>
                    {% else %}
                        <a href="{{ path('init_password_request') }}">{{ "profile.show.profile_information.connexion_information.password.init"|trans }}</a>
                    {% endif %}
                </dd>
            </dl>
            {% if user.googleId is not empty or  user.facebookId is not empty %}
                <dl class="dl-horizontal">
                    <dt>{{ "profile.show.profile_information.connexion_information.social_network.title"|trans }}</dt>
                    <dd>
                        {% if user.googleId is not empty %}
                            <i class="zmdi zmdi-google-plus-box zmdi-hc-2x palette-Red text"></i>
                        {% endif %}
                        {% if user.facebookId is not empty %}
                            <i class="zmdi zmdi-facebook-box zmdi-hc-2x  palette-Blue-A700 text"></i>
                        {% endif %}
                    </dd>
                </dl>
            {% endif %}
        </div>
        <div class="pmbb-edit">
            {{ form_start(form_connexion_information, {'action': path('updateUserConnexionInformation'), 'method': 'post',
                'attr':{'id':'userConnexionInformation', 'data-profile-pmb-block-target':'#connexion_information'} }) }}
            <dl class="dl-horizontal">
                <dt class="p-t-10">{{ form_label(form_connexion_information.email, 'profile.show.profile_information.connexion_information.email.label'|trans) }}</dt>
                <dd>
                    <div class="fg-line">
                        {{ form_widget(form_connexion_information.email, {'attr':{'placeholder':'profile.show.profile_information.connexion_information.email.placeholder'|trans}}) }}
                    </div>
                </dd>
            </dl>

            <div class="m-t-30 pull-right">
                <button type="submit" class="btn btn-primary btn-sm waves-effect">{{ "global.button.save"|trans }}</button>
                <button data-profile-action="reset" data-profile-action-target="#connexion_information" class="btn btn-default btn-sm">{{ "global.button.cancel"|trans }}</button>
            </div>
            {{ form_rest(form_connexion_information) }}
            {{ form_end(form_connexion_information) }}
            <div class="clearfix"></div>
        </div>
    </div>
</div>

<div class="pmb-block" id="personal_information">
    <div class="pmbb-header">
        <h2><i class="zmdi zmdi-account m-r-5"></i> {{ "profile.show.profile_information.personal_information.title"|trans }}</h2>
        <ul class="actions">
            <li><a data-profile-action="edit" data-profile-action-target="#personal_information" href="#"><i class="zmdi zmdi-edit"></i></a></li>
        </ul>
    </div>

    <div class="pmbb-body p-l-30">
        <div class="pmbb-view">
            <dl class="dl-horizontal">
                <dt>{{ "profile.show.profile_information.personal_information.publicname.title"|trans }}</dt>
                <dd id="pmb-view-public-name">{{ user.applicationUser.appUserInformation.publicName is not empty?user.applicationUser.appUserInformation.publicName:"-" }}</dd>
            </dl>
            <dl class="dl-horizontal">
                <dt>{{ "profile.show.profile_information.personal_information.legalstatus.title"|trans }}</dt>
                <dd id="pmb-view-legal-status">{{ user.applicationUser.appUserInformation.legalStatus is not empty?user.applicationUser.appUserInformation.legalStatus|trans:"-" }}</dd>
            </dl>
            <dl class="dl-horizontal">
                <dt>{{ "profile.show.profile_information.personal_information.firstname.title"|trans }}</dt>
                <dd id="pmb-view-firstname">{{ user.applicationUser.appUserInformation.firstName is not empty? user.applicationUser.appUserInformation.firstName:"-" }}</dd>
            </dl>
            <dl class="dl-horizontal">
                <dt>{{ "profile.show.profile_information.personal_information.lastname.title"|trans }}</dt>
                <dd id="pmb-view-lastname">{{ user.applicationUser.appUserInformation.lastName is not empty ? user.applicationUser.appUserInformation.lastName: "-" }}</dd>
            </dl>
            <dl class="dl-horizontal">
                <dt>{{ "profile.show.profile_information.personal_information.gender.title"|trans }}</dt>
                <dd id="pmb-view-gender">{{ user.applicationUser.appUserInformation.gender is not empty ? user.applicationUser.appUserInformation.gender|trans():"-" }}</dd>
            </dl>
            <dl class="dl-horizontal">
                <dt>{{ "profile.show.profile_information.personal_information.birthday.title"|trans }}</dt>
                <dd id="pmb-view-birthday">{{ user.applicationUser.appUserInformation.birthday is not null?user.applicationUser.appUserInformation.birthday|localizeddate('short', 'none'):"-" }}</dd>
            </dl>
            <dl class="dl-horizontal">
                <dt>{{ "profile.show.profile_information.personal_information.nationality.title"|trans }}</dt>
                <dd id="pmb-view-nationality">{{ user.applicationUser.appUserInformation.nationality is not null?user.applicationUser.appUserInformation.nationality : "-" }}</dd>
            </dl>
        </div>
        {% if form_app_user_info_personals is not null %}
            <div class="pmbb-edit">
                {{ form_start(form_app_user_info_personals, {'method':'post', 'action':path('updateUserPersonalInformation'),
                    'attr':{ 'id':'userPersonalInformation', 'data-profile-pmb-block-target':'#personal_information'} }) }}

                <dl class="dl-horizontal">
                    <dt class="p-t-10">{{ form_label(form_app_user_info_personals.publicName, 'profile.show.profile_information.personal_information.publicname.label'|trans,
                        {'help':"profile.show.profile_information.personal_information.publicname.help"|trans}) }}</dt>
                    <dd>
                        <div class="fg-line">
                            {{ form_widget(form_app_user_info_personals.publicName, {'attr':{'placeholder':"profile.show.profile_information.personal_information.publicname.placeholder"|trans}}) }}
                        </div>
                    </dd>
                </dl>
                <dl class="dl-horizontal">
                    <dt class="p-t-10">{{ form_label(form_app_user_info_personals.legalStatus, 'profile.show.profile_information.personal_information.legalstatus.label'|trans) }}</dt>
                    <dd>
                        {{ form_widget(form_app_user_info_personals.legalStatus, {'attr':{
                            'class':'selectpicker',
                            'placeholder':'profile.show.profile_information.personal_information.legalstatus.placeholder'|trans,
                            'data-none-selected-text':'profile.show.profile_information.personal_information.legalstatus.placeholder'|trans }}) }}

                    </dd>
                </dl>
                <dl class="dl-horizontal">
                    <dt class="p-t-10">{{ form_label(form_app_user_info_personals.firstName, "profile.show.profile_information.personal_information.firstname.label") }}</dt>
                    <dd>
                        <div class="fg-line">
                            {{ form_widget(form_app_user_info_personals.firstName, {'attr':{'placeholder': "profile.show.profile_information.personal_information.firstname.placeholder"|trans}} ) }}
                        </div>
                    </dd>
                </dl>
                <dl class="dl-horizontal">
                    <dt class="p-t-10">{{ form_label(form_app_user_info_personals.lastName, "profile.show.profile_information.personal_information.lastname.label") }}</dt>
                    <dd>
                        <div class="fg-line">
                            {{ form_widget(form_app_user_info_personals.lastName, {'attr':{'placeholder': "profile.show.profile_information.personal_information.lastname.placeholder"|trans}} ) }}
                        </div>
                    </dd>
                </dl>
                <dl class="dl-horizontal">
                    <dt class="p-t-10">{{ form_label(form_app_user_info_personals.gender, 'profile.show.profile_information.personal_information.gender.label'|trans) }}</dt>
                    <dd>
                        {{ form_widget(form_app_user_info_personals.gender, {'attr':{
                            'class':'selectpicker',
                            'placeholder':'profile.show.profile_information.personal_information.gender.placeholder'|trans,
                            'data-none-selected-text':'profile.show.profile_information.personal_information.gender.placeholder'|trans}}) }}
                    </dd>
                </dl>
                <dl class="dl-horizontal">
                    <dt class="p-t-10">{{ form_label(form_app_user_info_personals.birthday, 'profile.show.profile_information.personal_information.birthday.title'|trans) }}</dt>
                    <dd>
                        <div class="dtp-container dropdown fg-line">
                            {{ form_widget(form_app_user_info_personals.birthday, {'attr':{'class':'date-picker', 'placeholder':'profile.show.profile_information.personal_information.birthday.placeholder'}}) }}
                        </div>
                    </dd>
                </dl>
                <dl class="dl-horizontal">
                    <dt class="p-t-10">{{ form_label(form_app_user_info_personals.nationality, 'profile.show.profile_information.personal_information.nationality.label'|trans) }}</dt>
                    <dd>
                        <div class="fg-line">
                            {{ form_widget(form_app_user_info_personals.nationality, {'attr':{'placeholder':'profile.show.profile_information.personal_information.nationality.placeholder'|trans }}) }}
                        </div>
                    </dd>
                </dl>
                <div class="m-t-30 pull-right">
                    <button type="submit" class="btn btn-primary btn-sm waves-effect">{{ "global.button.save"|trans }}</button>
                    <button data-profile-action="reset" data-profile-action-target="#basic_information" class="btn btn-default btn-sm">{{ "global.button.cancel"|trans }}</button>
                </div>
                {{ form_rest(form_app_user_info_personals) }}
                {{ form_end(form_app_user_info_personals) }}
                <div class="clearfix"></div>
            </div>
        {% endif %}
    </div>
</div>

<div class="pmb-block" id="contact-details">
    <div class="pmbb-header">
        <h2><i class="zmdi zmdi-pin m-r-5"></i> {{ "profile.show.profile_information.contact_details.title"|trans }}</h2>
        <ul class="actions">
            <li><a data-profile-action="edit" data-profile-action-target="#contact-details" href="#"><i class="zmdi zmdi-edit"></i></a></li>
        </ul>
    </div>
    <div class="pmbb-body p-l-30">
        <div class="pmbb-view">
            <dl class="dl-horizontal">
                <dt>{{ "profile.show.profile_information.contact_details.living_country.title"|trans }}</dt>
                <dd id="pmb-view-living-country">{{ user.applicationUser.appUserInformation.livingCountry is not empty ? user.applicationUser.appUserInformation.livingCountry|country : "-" }}</dd>
            </dl>
            <dl class="dl-horizontal">
                <dt>{{ "profile.show.profile_information.contact_details.living_city.title"|trans }}</dt>
                <dd id="pmb-view-living-city">{{ user.applicationUser.appUserInformation.livingCity is not empty ? user.applicationUser.appUserInformation.livingCity : "-" }}</dd>
            </dl>
        </div>
        {% if form_contact_details is not null %}
            <div class="pmbb-edit">
                {{ form_start(form_contact_details, {'action':path('updateUserContactDetails'), 'method':'post',
                    'attr':{ 'id':'userContactDetails', 'data-profile-pmb-block-target':'#contact-details'} }) }}
                <dl class="dl-horizontal">
                    <dt class="p-t-10">{{ form_label(form_contact_details.livingCountry, 'profile.show.profile_information.contact_details.living_country.label'|trans) }}</dt>
                    <dd>
                        {{ form_widget(form_contact_details.livingCountry, {'attr':{
                            'class':'selectpicker',
                            'placeholder':'profile.show.profile_information.contact_details.living_country.placeholder'|trans,
                            'data-none-selected-text':'profile.show.profile_information.contact_details.living_country.placeholder'|trans,
                            'data-live-search' : "true"
                        }}) }}
                    </dd>
                </dl>
                <dl class="dl-horizontal">
                    <dt class="p-t-10">{{ form_label(form_contact_details.livingCity, 'profile.show.profile_information.contact_details.living_city.label'|trans) }}</dt>
                    <dd>
                        <div class="fg-line">
                            {{ form_widget(form_contact_details.livingCity, {'attr':{'placeholder':'profile.show.profile_information.contact_details.living_city.placeholder'|trans}}) }}
                        </div>
                    </dd>
                </dl>

                <div class="m-t-30 pull-right">
                    <button type="submit" class="btn btn-primary btn-sm waves-effect">{{ "global.button.save"|trans }}</button>
                    <button data-profile-action="reset" data-profile-action-target="#basic_information" class="btn btn-default btn-sm">{{ "global.button.cancel"|trans }}</button>
                </div>
                {{ form_rest(form_contact_details) }}
                {{ form_end(form_contact_details) }}
                <div class="clearfix"></div>
            </div>
        {% endif %}
    </div>
</div>

<div class="pmb-block" id="pmb-biography">
    <div class="pmbb-header">
        <h2><i class="zmdi zmdi-face m-r-5"></i> {{ "profile.show.profile_information.biography.title"|trans }}</h2>
        <ul class="actions">
            <li><a data-profile-action="edit" data-profile-action-target="#pmb-biography" href="#"><i class="zmdi zmdi-edit"></i></a></li>
        </ul>
    </div>
    <div class="pmbb-body p-l-30">
        <div class="pmbb-view" id="pmb-view-biography">
            {{ user.applicationUser.appUserInformation.biography is not empty?user.applicationUser.appUserInformation.biography:"profile.show.profile_information.biography.empty"|trans }}
        </div>

        {% if form_biography is not null %}
            <div class="pmbb-edit">
                {{ form_start(form_biography, {'method': 'post', 'action': path('updateUserBiography'), 'attr': {'id':'userBiography','data-profile-pmb-block-target':'#pmb-biography'}}) }}
                <div class="fg-line">
                    {{ form_label(form_biography.biography, 'profile.show.profile_information.biography.label', {'label_attr':{'class':'sr-only'}} ) }}
                    {{ form_widget(form_biography.biography, {'attr':{'rows':5,'placeholder':'profile.show.profile_information.biography.placeholder'|trans}} ) }}
                </div>
                <div class="m-t-10 pull-right">
                    <button type="submit" class="btn btn-primary btn-sm waves-effect">{{ "global.button.save"|trans }}</button>
                    <button data-profile-action="reset" data-profile-action-target="#pmb-biography" class="btn btn-default btn-sm">{{ "global.button.cancel"|trans }}</button>
                </div>
                {{ form_rest(form_biography) }}
                {{ form_end(form_biography) }}
                <div class="clearfix"></div>
            </div>
        {% endif %}
    </div>
</div>

{#<div class="pmb-block" id="contact_info">
    <div class="pmbb-header">
        <h2><i class="zmdi zmdi-phone m-r-5"></i> Contact Information</h2>

        <ul class="actions">
            <li><a data-profile-action="edit" data-profile-action-target="#contact_info" href="#"><i class="zmdi zmdi-edit"></i></a></li>
        </ul>
    </div>
    <div class="pmbb-body p-l-30">
        <div class="pmbb-view">
            <dl class="dl-horizontal">
                <dt>Mobile Phone</dt>
                <dd>00971 12345678 9</dd>
            </dl>
            <dl class="dl-horizontal">
                <dt>Email Address</dt>
                <dd>malinda.h@gmail.com</dd>
            </dl>
            <dl class="dl-horizontal">
                <dt>Twitter</dt>
                <dd>@malinda</dd>
            </dl>
            <dl class="dl-horizontal">
                <dt>Skype</dt>
                <dd>malinda.hollaway</dd>
            </dl>
        </div>

        <div class="pmbb-edit">
            <dl class="dl-horizontal">
                <dt class="p-t-10">Mobile Phone</dt>
                <dd>
                    <div class="fg-line">
                        <input type="text" class="form-control" placeholder="eg. 00971 12345678 9">
                    </div>
                </dd>
            </dl>
            <dl class="dl-horizontal">
                <dt class="p-t-10">Email Address</dt>
                <dd>
                    <div class="fg-line">
                        <input type="email" class="form-control" placeholder="eg. malinda.h@gmail.com">
                    </div>
                </dd>
            </dl>
            <dl class="dl-horizontal">
                <dt class="p-t-10">Twitter</dt>
                <dd>
                    <div class="fg-line">
                        <input type="text" class="form-control" placeholder="eg. @malinda">
                    </div>
                </dd>
            </dl>
            <dl class="dl-horizontal">
                <dt class="p-t-10">Skype</dt>
                <dd>
                    <div class="fg-line">
                        <input type="text" class="form-control" placeholder="eg. malinda.hollaway">
                    </div>
                </dd>
            </dl>

            <div class="m-t-30">
                <button class="btn btn-primary btn-sm">Save</button>
                <button data-profile-action="reset" data-profile-action-target="#contact_info" class="btn btn-link btn-sm">Cancel</button>
            </div>
        </div>
    </div>
</div>#}
