{# Données d'entrée :
- userEventInvitation (EventInvitation) L'invitation de l'utilisateur "connecté"
- sendMessageForm (Form) Formulaire permettant d'envoyer un rappel aux invités
#}


<div id="sendMessageForm_container">
    {{ form_start(sendMessageForm, {'action':path('displayEvent',{'token':userEventInvitation.event.token}), 'attr':{'id': "sendReminder_form_id"}} ) }}

    {{ form_row(sendMessageForm.message, {
        "label":"send_message.form.message.label",
        "attr":{"placeholder": "send_message.form.message.placeholder", "rows": 3},
        "widget_options":{"fgline":true}
    }) }}

    {{ form_row(sendMessageForm.selection, {
        "label": "send_message.form.selection.label",
        "attr": {"placeholder": "send_message.form.message.label"}
    }) }}

    {{ form_rest(sendMessageForm ) }}
    <div class="pull-right">
        <button class="btn btn-flat" data-dismiss="modal">{{ "global.button.cancel"|trans }}</button>
        <button type="submit" class="btn btn-primary" data-loading-text="{{ "global.button.loading"|trans }}" data-original-text="{{ "global.button.save"|trans }}">
            {{ "global.button.save"|trans }}
        </button>
    </div>
    {{ form_end(sendMessageForm ) }}
    <div class="clearfix"></div>
    <script>
        $(document).ready(function () {
            $('form#sendReminder_form_id').on('submit', function (e) {
                var $form = $(this);
                if (!eventInvitationValid && askGuestName !== undefined) {
                    e.preventDefault();
                    $("#invitations_sendReminder_modal").modal('hide');
                    askGuestName(e, submitMessageForm, [$form, e]);
                } else {
                    submitMessageForm([$form, e]);
                }
            });
        });
    </script>
</div>