{# Données d'entrée :
- userEventInvitation (EventInvitation) L'invitation de l'utilisateur "connecté"
- invitationsForm (Form|null) Formulaire permettant d'inviter (renseignement des e-mails des invités)
#}

<div id="invitations_forms_container">
    {% if userEventInvitation.organizer or not userEventInvitation.event.invitationOnly %}
        {% set event_public_invitation_display_block %}
            <div id="event_public_invitation_display" class="{{ (userEventInvitation.creator or userEventInvitation.administrator) and userEventInvitation.event.invitationOnly?'hidden' }}">
                <div class="form-group animated">
                    <label class="control-label" for="url_event_public_invitation">{{ "event.form.public_invitation.label"|trans }}</label>
                    <div class="input-group">
                        <div class="fg-line">
                            <input type="text" id="url_event_public_invitation" value="{{ url("displayEvent",{'token':userEventInvitation.event.token}) }}" class="form-control" readonly="readonly">
                        </div>
                        <span class="input-group-btn"><button type="button" id="btn_url_event_public_invitation" class="btn btn-primary" data-clipboard-target="#url_event_public_invitation"><i
                                        class="zmdi zmdi-copy"></i>{{ "global.button.copy"|trans }}</button></span>
                    </div>
                </div>
            </div>
        {% endset %}
    {% endif %}


    <div class="m-t-10 w-100 text-center">
        {% if userEventInvitation.organizer or not userEventInvitation.event.invitationOnly %}
            <button type="button" class="btn btn-facebook" id="shareEventFB" name="provider" style="display: none;">
                <i class="zmdi zmdi-facebook zmdi-hc-lg"></i> {{ "invitations.button.via_facebook"|trans }}
            </button>
        {% endif %}
        {% if invitationsForm is not null %}
            <button type="button" class="btn btn-danger" id="loadContacts">
                <i class="zmdi zmdi-google-plus zmdi-hc-lg"></i> {{ "invitations.button.via_gmail_contact.show"|trans }}</button>
            <button type="button" class="btn btn-danger" id="hideContacts" style="display: none;">{{ "global.button.close"|trans }}</button>
            {{ include('@App/Event/partials/invitations/gmail_contacts_selection.html.twig', {'event' : userEventInvitation.event}) }}
        {% endif %}
    </div>

    {% if invitationsForm is not null %}
        <div class="p-15">
            <div id="event_invitations_form_container">
                {% block form_start %}
                    {{ form_start(invitationsForm, {'action':path('displayEvent',{'token':userEventInvitation.event.token}),'attr':{'id':'eventInvitations'}}) }}
                {% endblock form_start %}

                {{ form_row(invitationsForm.invitations, {
                    'id':'eventInvitations_newEmails',
                    'label':'invitations.form.invitations.label',
                    'attr':{'class':'contacts'},
                    'help':'invitations.form.invitations.help'|trans
                }) }}

                <a role="button" class="btn btn-link c-blue" data-toggle="collapse" href="#invitationsMessageCollapase"> <i class="zmdi zmdi-edit"></i> {{ "invitations.form.message.button"|trans }}
                </a>
                <div class="collapse" id="invitationsMessageCollapase">
                    {{ form_row(invitationsForm.message, {
                        'label':'invitations.form.message.label',
                        'label_attr':{'class':'sr-only'},
                        'attr':{'placeholder':'invitations.form.message.placeholder', 'rows':3},
                        'widget_options': {'fgline':true}
                    }) }}
                </div>
                {% block action_buttons %}
                    <div class="text-center">
                        <button type="submit" class="btn btn-primary" data-loading-text="{{ "global.button.loading"|trans }}" data-original-text="{{ "invitations.button.send_invitation"|trans }}">
                            {{ "invitations.button.send_invitation"|trans }}
                        </button>
                    </div>
                {% endblock action_buttons %}
                {{ form_end(invitationsForm) }}

                <script>
                    var $newEmailsSelectize = null;
                    $(document).ready(function () {
                        var $hideContactsButton = $('#hideContacts');
                        var $loadContactsButton = $('#loadContacts');
                        $hideContactsButton.hide();
                        $loadContactsButton.on('click', function (e) {
                            authClick();
                            $loadContactsButton.hide();
                            $hideContactsButton.show();
                        });
                        $hideContactsButton.on('click', function (e) {
                            hideContacts();
                            $hideContactsButton.hide();
                            $loadContactsButton.show();
                        });

                        // initialize the Selectize control
                        var $select = $('#eventInvitations_newEmails').selectize({
                            persist: false,
                            maxItems: null,
                            placeholder: "{{ "invitations.form.invitations.placeholder"|trans }}",
                            valueField: 'value',
                            labelField: 'text',
                            searchField: ['text', 'value'],
                            hideSelected: true,
                            createOnBlur: true,
                            render: {
                                item: renderUserAsItem,
                                option: renderUserAsOption,
                                option_create: renderOptionCreate
                            },
                            createFilter: createFilterEmail,
                            create: createUser
                        });
                        // fetch the instance
                        $newEmailsSelectize = $select[0].selectize;

                        {% block js_document_ready %}
                        $('form#eventInvitations').on('submit', function (e) {
                            e.preventDefault();
                            var $form = $(this);
                            if (!eventInvitationValid && askGuestName !== undefined) {
                                $('#invitations_new_modal').modal('hide');
                                askGuestName(e, submitNewInvitationsForm, [$form, e], function () {
                                    $('#invitations_new_modal').modal('show');
                                });
                            } else {
                                submitNewInvitationsForm([$form, e]);
                            }
                        });

                        function submitNewInvitationsForm(params) {
                            var $form = params[0];
                            var e = params[1];
                            ajaxFormSubmission($form, e, function (responseJSON, textStatus, jqXHR) {
                                $hideContactsButton.click();
                                $('#invitations_new_modal').modal('hide');
                            }, function (dataOrJqXHR, textStatus, jqXHROrErrorThrown) {
                                $('#invitations_new_modal').modal('show');
                            }, null);
                        }
                        {% endblock %}
                    });

                    {% block js_function %}{% endblock js_function %}
                </script>
            </div>
        </div>
    {% endif %}

    {% block belowInvitationForm %}
        {% if event_public_invitation_display_block is defined %}
            {{ event_public_invitation_display_block }}
        {% endif %}
    {% endblock %}

    <script>
        $(document).ready(function () {
            $facebookShareLink = $('#shareEventFB');
            if (isMobile()) {
                $facebookShareLink.remove();
            } else {
                $facebookShareLink.show();
                // Initialize invitation via facebook
                $.ajaxSetup({cache: true});
                $.getScript('//connect.facebook.net/fr_FR/all.js', function () {
                    FB.init({
                        appId: {{ facebook_client_id }},
                        xfbml: true,
                        version: 'v2.8'
                    });
                });

                // React to the invite via facebook button
                $facebookShareLink.click(function () {
                    var pageLink = $("#url_event_public_invitation").val();
                    FB.ui({
                        method: 'send',
                        link: pageLink
                    });
                });
            }
        });
    </script>
</div>