{# Données d'entrée :
- event (Event) L'événement concerné
- invitationsForm (Form) Formulaire permettant d'inviter (renseignement des e-mails des invités)
#}

<div id="invitations_forms_container" class="p-15">
    {% block form_start %}
        {{ form_start(invitationsForm, {'action':path('displayEvent',{'token':event.token}),'attr':{'id':'eventInvitations'}}) }}
    {% endblock form_start %}

    {{ form_row(invitationsForm.invitations, {
        'label':'invitations.form.invitations.label',
        'label_attr':{'class':'sr-only'},
        'attr':{'class':'contacts'}
    }) }}
    <div class="m-t-n10 m-b-20 w-100 text-right">
        <button type="button" class="btn btn-danger btn-icon-text btn-xs" id="loadContacts" data-toggle="modal" data-target="#GoogleContactListModal">
            <i class="zmdi zmdi-google-plus zmdi-hc-lg"></i> {{ "invitations.button.via_gmail_contact.show"|trans }}</button>
    </div>

    <div class="collapse" id="invitationsMessageCollapase">
        {{ form_row(invitationsForm.message, {
            'label':'invitations.form.message.label',
            'label_attr':{'class':'sr-only'},
            'attr':{'placeholder':'invitations.form.message.placeholder', 'rows':3},
            'widget_options': {'fgline':true}
        }) }}
    </div>
    {% block action_buttons %}
        <div class="text-center">
            <a role="button" class="btn btn-link c-blue" data-toggle="collapse" href="#invitationsMessageCollapase"> <i class="zmdi zmdi-edit"></i> {{ "invitations.form.message.button"|trans }}
            </a>
            <button type="submit" class="btn btn-primary" data-loading-text="{{ "global.button.loading"|trans }}" data-original-text="{{ "invitations.button.send_invitation"|trans }}">
                {{ "invitations.button.send_invitation"|trans }}
            </button>
        </div>
    {% endblock action_buttons %}
    {{ form_end(invitationsForm) }}

    <script>
        // initialize the Selectize control
        var $select = $('#{{ invitationsForm.invitations.vars.id }}').selectize({
            persist: false,
            maxItems: null,
            placeholder: "{{ "invitations.form.invitations.placeholder"|trans }}",
            valueField: 'value',
            labelField: 'text',
            searchField: ['text', 'value'],
            hideSelected: true,
            createOnBlur: true,
            render: {
                item: renderUserAsItem,
                option: renderUserAsOption,
                option_create: renderOptionCreate
            },
            createFilter: createFilterEmail,
            create: createUser
        });

        // fetch the instance
        var $newEmailsSelectize = $select[0].selectize;

        $newEmailsSelectize.on('item_remove', function (value, $item) {
            $('#tab-gmail-contact').bootgrid('deselect', [value]);
        });
        var $parentModal;

        $(document).ready(function () {
            $parentModal = $('#invitations_forms_container').parents('.modal');
            $GoogleContactListModal = $('#GoogleContactListModal');


            if ($parentModal[0]) {
                $GoogleContactListModal.addClass('modal-stack-second');
            }

            $GoogleContactListModal.on('shown.bs.modal', function (e) {
                if ($parentModal[0]) {
                    $('.modal-backdrop.in').last().addClass('backdrop-second ');
                }
                authClick();
            });

            $GoogleContactListModal.on('hidden.bs.modal', function (e) {
                if ($parentModal[0]) {
                    // Indicate the parent modal is still opened
                    $('body').addClass('modal-open')
                }
            });

            {% block js_document_ready %}
            $('form#eventInvitations').on('submit', function (e) {
                e.preventDefault();
                var $form = $(this);
                if (!eventInvitationValid && askGuestName !== undefined) {
                    $('#invitations_new_modal').modal('hide');
                    askGuestName(e, submitNewInvitationsForm, [$form, e], function () {
                        $('#invitations_new_modal').modal('show');
                    });
                } else {
                    submitNewInvitationsForm([$form, e]);
                }
            });

            function submitNewInvitationsForm(params) {
                var $form = params[0];
                var e = params[1];
                if ($('#{{ invitationsForm.invitations.vars.id }}').val().length === 0) {
                    e.preventDefault();
                    if ($parentModal[0]) {
                        $parentModal.modal('hide');
                    }
                    swal({
                        title: "{{ "invitations_list.swal.no_email_selected.title"|trans }}",
                        html: "{{ "invitations_list.swal.no_email_selected.text"|trans }}",
                        type: "info",
                        confirmButtonText: "{{ "global.button.ok"|trans }}"
                    }).then(function () {
                        if ($parentModal[0]) {
                            $parentModal.modal('show');
                        }
                    });
                } else {
                    ajaxFormSubmission($form, e, function (responseJSON, textStatus, jqXHR) {
                        $('#tab-gmail-contact').bootgrid('deselect');
                        if ($parentModal[0]) {
                            $parentModal.modal('hide');
                        }
                        LetterAvatar.transform();
                    }, function (dataOrJqXHR, textStatus, jqXHROrErrorThrown) {
                        $parentModal.modal('show');
                    }, null);
                }
            }
            {% endblock %}
        });
    </script>
</div>