{% extends ":Email:template_email.html.twig" %}
{# Données :
- recipient_name (string) Le nom du destinaire
- eventInvitation (EventInvitation) L'invitation de l'invité à qui envoyer l'email
- message (String|null) Le message personnel des organisateurs
- organizerNames (string) Le noms du.des organisateur.s à faire apparaître dans la signature
#}

{% block subject_email %}{{ 'send_message.email.subject'|trans({"%event_name%":eventInvitation.event.name})|raw }}{% endblock %}

{% block text_body %}
    {% if message is defined and message is not empty %}
        {{ message }}
    {% endif %}

    {{ "send_message.email.body.paragraph"|trans({"%event_name%":eventInvitation.event.name}) }}
    {{ url('displayEventInvitation', {'token':eventInvitation.token}) }}
    {{ "send_message.email.body.warning_secret"|trans }}
{% endblock %}
{% block text_signature %}{{ organizerNames is not empty?organizerNames:"email.signature.organizers"|trans }}{% endblock text_signature %}

{% block html_body %}
    {% if message is defined and message is not empty %}
        <div>{{ message|nl2br }}</div>
    {% endif %}

    <p>{{ "send_message.email.body.paragraph"|trans({"%event_name%":eventInvitation.event.name}) }}<br> <a href="{{ url('displayEventInvitation', {'token':eventInvitation.token}) }}">
            {{ url('displayEventInvitation', {'token':eventInvitation.token}) }}</a></p>
    <p style="text-align:center"><i>{{ "send_message.email.body.warning_secret"|trans }}</i></p>
{% endblock %}
{% block html_signature %}
    <h4>{% if organizerNames is not empty %}{{ organizerNames }}{% else %}{{ "email.signature.organizers"|trans }}{% endif %}</h4>
{% endblock %}
