{# Données d'entrée :
- userEventInvitation (EventInvitation) L'invitation à afficher (inclu l'événement concerné)
- eventForm (Form|null) Formulaire d'édition des information général de l'événement (si les droits le permettent)
#}

<div class="card" id="event-header-card">
    {{ include('@App/Event/partials/event_header_card_header.html.twig', {'userEventInvitation':userEventInvitation, 'editEvent' : eventForm is not null }) }}

    <div class="card-body card-padding p-t-25">
        {% if eventForm is not null %}
            {{ form_start(eventForm, {'action':path('displayEvent',{'token':userEventInvitation.event.token}), 'attr':{'id':'eventHeader'}}) }}

            {{ form_row(eventForm.name, {
                'label':'event.form.name.label',
                'label_attr':{'class':'sr-only'},
                'attr':{'placeholder':'event.form.name.placeholder'},
                'fgline':true
            }) }}
            {{ form_row(eventForm.description, {
                'label':'event.form.description.label',
                'attr':{'placeholder':'event.form.description.placeholder','rows':3},
                'fgline':true
            }) }}
            {{ form_row(eventForm.responseDeadline, {
                'label':'event.form.responseDeadline.label',
                'attr':{'placeholder':'event.form.responseDeadline.placeholder'},
                'fgline':true, 'displayInRow' : true
            }) }}

            <div class="row">
                <div class="col-xs-12 col-sm-6">
                    {{ form_row(eventForm.invitationOnly, {'label':'event.form.invitationOnly.label','attr':{'class':'md-toogle-switch'}}) }}
                    {{ form_row(eventForm.guestsCanInvite, {'label':'event.form.guestsCanInvite.label','attr':{'class':'md-toogle-switch'}}) }}
                </div>
                <div class="col-xs-12 col-sm-6">
                    <dl class="dl-horizontal">
                        <dt>{{ "event.form.status.label"|trans }}</dt>
                        <dd><span class="label label-info">{{ userEventInvitation.event.status|trans }}</span></dd>
                    </dl>
                </div>
            </div>

            {{ form_rest(eventForm) }}
            <div class="text-right">
                <button type="submit" class="btn btn-primary waves-effect" data-loading-text="{{ "global.button.loading"|trans }}" data-original-text="{{ "global.button.save"|trans }}">
                    {{ "global.button.save"|trans }}
                </button>
            </div>
            {{ form_end(eventForm) }}
            <script>
                $('form#eventHeader').on("submit", function (e) {
                    ajaxFormSubmission(this, e, null, null, function () {
                        $('.grid').masonry('layout');
                    });
                });
                // Update the Event name while editing the form field
                $('#event_form_name').on('input', function () {
                    $('#event-name').html($(this).val());
                });
                $('#event_invitationOnly').on('change', function (e) {
                    $('#event_public_invitation_display').fadeToggle();
                });
            </script>
        {% else %}
            <dl class="dl-horizontal">
                <dt>{{ "event.form.description.label"|trans }}</dt>
                <dd>{{ userEventInvitation.event.description }}</dd>
                <dt>{{ "event.form.responseDeadline.label"|trans }}</dt>
                <dd>{{ userEventInvitation.event.responseDeadline|localizeddate }}</dd>
                <dt>{{ "event.form.status.label"|trans }}</dt>
                <dd><span class="label label-info">{{ userEventInvitation.event.status|trans }}</span></dd>
                <dt></dt>
                <dd>
                    {% if userEventInvitation.event.invitationOnly %}
                        <div class="text-danger">
                            <i class="zmdi zmdi-close-circle"></i> {{ "event.form.invitationOnly.text.true"|trans }}
                        </div>
                    {% else %}
                        <div class="text-success">
                            <i class="zmdi zmdi-check"></i> {{ "event.form.invitationOnly.text.false"|trans }}
                        </div>
                    {% endif %}
                </dd>
                <dt></dt>
                <dd>
                    {% if userEventInvitation.event.guestsCanInvite %}
                        <div class="text-success">
                            <i class="zmdi zmdi-check"></i> {{ "event.form.guestsCanInvite.text.true"|trans }}
                        </div>
                    {% else %}
                        <div class="text-danger">
                            <i class="zmdi zmdi-close-circle"></i> {{ "event.form.guestsCanInvite.text.false"|trans }}
                        </div>
                    {% endif %}
                </dd>
            </dl>
        {% endif %}
    </div>
</div>