<div class="card" id="event-header-card">
    {% if eventForm is not null %}
        {{ form_start(eventForm, {'action':path('displayEvent',{'token':event.token,'tokenEdition':event.tokenEdition}), 'attr':{'id':'eventHeader'}}) }}
        <script>
            $('form#eventHeader').on("submit", function (e) {
                ajaxFormSubmission(this, e, function (responseJSON, textStatus, jqXHR) {
                    if (responseJSON.htmlContent) {
                        $('#event-header-card').replaceWith(responseJSON.htmlContent);
                    }
                }, null, null);
            });
        </script>
    {% endif %}
    <div class="card-header ch-img" style="background-image: url({{ asset("uploads/events/default/evt-img1.jpg") }}); height:250px;">
        <h1 class="c-white">{{ event.name }}</h1>
        {% if eventForm is not null %}
            <a class="c-white"> <span class="zmdi-hc-stack zmdi-hc-2x"><i class="zmdi zmdi-square-o zmdi-hc-stack-2x"></i><i class="zmdi zmdi-camera-add zmdi-hc-stack-1x"></i></span>
                {{ 'event.form.image.label'|trans }}</a>
        {% endif %}

        {% if is_granted(constant('AppBundle\\Security\\EventVoter::ADD_EVENT_MODULE'),[event,app.request.get('tokenEdition')]) %}
            <div class="dropdown add-module-menu">
                <a data-toggle="dropdown" href="#" class="btn btn-float palette-Teal bg waves-effect waves-circle waves-float"><i class="zmdi zmdi-plus"></i></a>
                <ul class="dropdown-menu pull-right">
                    <li>
                        <a href="{{ url('addEventModule', {
                            'token': event.token,
                            'type':constant('AppBundle\\Utils\\enum\\ModuleType::POLL_MODULE'),
                            'tokenEdition' :app.request.get('tokenEdition')}) }}" id="addWhenPollModule"> <i class="waves-effect palette-Blue bg zmdi zmdi-calendar"></i>
                            <small>Sondage Quand ?</small>
                        </a>
                    </li>
                    <li>
                        <a data-toggle="modal" href="#"><i class="waves-effect palette-Teal bg zmdi zmdi-map"></i>
                            <small>Sondage Où ?</small>
                        </a>
                    </li>
                    <li>
                        <a data-toggle="modal" href="#"><i class="waves-effect palette-Deep-Orange bg zmdi zmdi-pin-help"></i>
                            <small>Sondage Quoi ?</small>
                        </a>
                    </li>
                    <li>
                        <a data-toggle="modal" href="#"> <i class="waves-effect palette-Yellow-900 bg zmdi zmdi-money-box"></i>
                            <small>Cagnotte</small>
                        </a>
                    </li>
                    <li>
                        <a data-toggle="modal" href="#"><i class="waves-effect palette-Green bg zmdi zmdi-format-list-bulleted"></i>
                            <small>Qui apporte quoi ?</small>
                        </a>
                    </li>
                    <li>
                        <a data-toggle="modal" href="#"> <i class="waves-effect palette-Purple bg zmdi zmdi-balance-wallet"></i>
                            <small>Comptes entre amis</small>
                        </a>
                    </li>
                </ul>
            </div>
            <script>
                $('#addWhenPollModule').on('click', function (e) {
                    ajaxRequest(this, null, e, function (responseJSON, textStatus, jqXHR) {
                        if (responseJSON.htmlContent) {
                            var eventModulesContainer = $('#eventModulesContainer');
                            eventModulesContainer.append(responseJSON.htmlContent);
                            $(document).scrollTop($(eventModulesContainer).children().last().offset().top);
                        }
                    }, null, null);
                });
            </script>
        {% endif %}
    </div>
    <div class="card-body card-padding p-t-25">
        <div class="row">
            <div class="col-sm-8">
                {% if eventForm is not null %}
                    <div class="form-group">
                        {{ form_label(eventForm.name, 'event.form.name.label', {'label_attr':{'class':'sr-only'}}) }}
                        <div class="fg-line">
                            {{ form_widget(eventForm.name, {'attr':{'placeholder':'event.form.name.placeholder'}}) }}
                            {{ form_errors(eventForm.name) }}
                        </div>
                    </div>
                    <div class="form-group">
                        {{ form_label(eventForm.description, 'event.form.description.label', {'label_attr':{'class':'sr-only'}}) }}
                        <div class="fg-line">
                            {{ form_widget(eventForm.description, {'attr':{'rows':3,'placeholder':'event.form.description.placeholder'}}) }}
                            {{ form_errors(eventForm.description) }}
                        </div>
                    </div>
                    <div class="form-group">
                        {{ form_label(eventForm.responseDeadline, 'event.form.responseDeadline.label') }}
                        <div class="form-inline fg-line">
                            {{ form_widget(eventForm.responseDeadline, {'attr':{'placeholder':'event.form.responseDeadline.placeholder'}}) }}
                        </div>
                        {{ form_errors(eventForm.responseDeadline) }}
                    </div>
                    {{ form_row(eventForm.invitationOnly, {'label':'event.form.invitationOnly.label','attr':{'class':'md-toogle-switch'}}) }}
                    {{ form_row(eventForm.guestsCanInvite, {'label':'event.form.guestsCanInvite.label','attr':{'class':'md-toogle-switch'}}) }}
                    {{ form_row(eventForm.guestsCanAddModule, {'label':'event.form.guestsCanAddModule.label','attr':{'class':'md-toogle-switch'}}) }}
                    <div class="text-right">
                        <button type="submit" class="btn btn-primary waves-effect" data-loading-text="{{ "global.button.loading"|trans }}" data-original-text="{{ "global.button.save"|trans }}">
                            {{ "global.button.save"|trans }}
                        </button>
                    </div>
                    {{ form_end(eventForm) }}
                {% else %}
                    <dl class="dl-horizontal">
                        <dt>{{ "event.form.description.label"|trans }}</dt>
                        <dd>{{ event.description }}</dd>
                        <dt>{{ "event.form.responseDeadline.label"|trans }}</dt>
                        <dd>{{ event.responseDeadline|localizeddate }}</dd>
                        <dt></dt>
                        <dd>
                            {% if event.invitationOnly %}
                                <div class="text-danger">
                                    <i class="zmdi zmdi-close-circle"></i> {{ "event.form.invitationOnly.text.true"|trans }}
                                </div>
                            {% else %}
                                <div class="text-success">
                                    <i class="zmdi zmdi-check"></i> {{ "event.form.invitationOnly.text.false"|trans }}
                                </div>
                            {% endif %}
                        </dd>
                        <dt></dt>
                        <dd>
                            {% if event.guestsCanInvite %}
                                <div class="text-success">
                                    <i class="zmdi zmdi-check"></i> {{ "event.form.guestsCanInvite.text.true"|trans }}
                                </div>
                            {% else %}
                                <div class="text-danger">
                                    <i class="zmdi zmdi-close-circle"></i> {{ "event.form.guestsCanInvite.text.false"|trans }}
                                </div>
                            {% endif %}
                        </dd>
                        <dt></dt>
                        <dd>
                            {% if event.guestsCanAddModule %}
                                <div class="text-success">
                                    <i class="zmdi zmdi-check"></i> {{ "event.form.guestsCanAddModule.text.true"|trans }} (à garder ?)
                                </div>
                            {% else %}
                                <div class="text-danger">
                                    <i class="zmdi zmdi-close-circle"></i> {{ "event.form.guestsCanAddModule.text.false"|trans }} (à garder ?)
                                </div>
                            {% endif %}
                        </dd>
                    </dl>
                {% endif %}
            </div>
            <div class="col-sm-4">
                {{ include('@App/Event/partials/eventInvitations.html.twig', {
                    'event': event,
                    'eventInvitations' : event.eventInvitations,
                    'invitationsForm':invitationsForm,
                    'editEventMode':(eventForm is not null)
                }) }}
            </div>
        </div>
    </div>
</div>