{# Données d'entrée :
- userEventInvitation (EventInvitation) L'invitation à afficher (inclu l'événement concerné)
#}

<div class="row">
    <div class="col-xs-12{{ userEventInvitation.event.whereGooglePlaceId is not null?' col-sm-8' }}">
        <div class="well well-sm m-b-10">
            {% set creatorsNames = "" %}
            {% for creatorInvitation in userEventInvitation.event.creators %}
                {% set creatorsNames = creatorsNames~(loop.index > 1?', ')~ creatorInvitation.displayableName(true, not userEventInvitation.organizer) %}
            {% endfor %}
            {% if creatorsNames is not empty %}
                <div class="pull-right"><i>
                        <small>{{ "event.header.organised_by"|trans({"%creator%":creatorsNames}) }}</small>
                    </i></div>
            {% endif %}
            <dl>
                <dt class="p-b-5">{{ "event.form.description.label"|trans }}</dt>
                <dd>{% if userEventInvitation.event.description is not empty and userEventInvitation.event.description != '<p><br></p>' %}
                        {{ userEventInvitation.event.description|raw }}
                    {% else %}
                        <i class="text-muted">{{ "event.form.description.empty"|trans }}</i>
                    {% endif %}
                </dd>
            </dl>
        </div>
        <ul class="list-unstyled">
            {% if userEventInvitation.organizer or userEventInvitation.event.when is not empty %}
                <li><i class="zmdi zmdi-calendar zmdi-hc-fw"></i><b>{{ "event.form.when.label"|trans }}&nbsp;</b>
                    {% if userEventInvitation.event.when is not empty %}
                        {{ userEventInvitation.event.when|localizeddate('medium', 'none', app.request.locale, null,"ccc dd MMM yyyy HH:mm")|title }}
                    {% elseif userEventInvitation.organizer %}
                        <i class="zmdi zmdi-info-outline" data-toggle="tooltip" title="{{ "event.form.when.tootlip"|trans }}"></i>
                    {% endif %}
                </li>
            {% endif %}
            {% if userEventInvitation.organizer or userEventInvitation.event.whereName is not empty %}
                <li><i class="zmdi zmdi-pin zmdi-hc-fw"></i><b>{{ "event.form.whereName.label"|trans }}&nbsp;</b>
                    {% if userEventInvitation.event.whereName is not empty %}
                        {{ userEventInvitation.event.whereName }}
                    {% elseif userEventInvitation.organizer %}
                        <i class="zmdi zmdi-info-outline" data-toggle="tooltip" title="{{ "event.form.whereName.tootlip"|trans }}"></i>
                    {% endif %}

                </li>
            {% endif %}
            {# TODO Décommenter quand la date limite de réponse sera utilisée
            {% if userEventInvitation.creator or userEventInvitation.administrator or userEventInvitation.event.responseDeadline is not empty %}
                <dt>{{ "event.form.responseDeadline.label"|trans }}</dt>
                <dd>{{ userEventInvitation.event.responseDeadline is not null ? userEventInvitation.event.responseDeadline|localizeddate:'-' }}</dd>
            {% endif %}
            #}
            {# Todo: décommenter
             <dt>{{ "event.form.status.label"|trans }}</dt>
            <dd><span class="label label-info">{{ userEventInvitation.event.status|trans }}</span></dd>#}
        </ul>

        {% if userEventInvitation.event.coordinates is not null and userEventInvitation.event.coordinates.email|trim ~ userEventInvitation.event.coordinates.phoneNumber|trim
        ~ userEventInvitation.event.coordinates.mobileNumber ~ userEventInvitation.event.coordinates.faxNumber|trim is not empty %}
            {% set coordinatesBlock %}{% spaceless %}
                <ul class="list-unstyled">
                    {% if userEventInvitation.event.coordinates.email is not null %}
                        <li><i class="zmdi zmdi-email"></i><a href="mailto:{{ userEventInvitation.event.coordinates.email }}" class="popover-link-ellipsis"
                                                              title="{{ userEventInvitation.event.coordinates.email }}">{{ userEventInvitation.event.coordinates.email }}</a></li>
                    {% endif %}
                    {% if userEventInvitation.event.coordinates.phoneNumber is not null %}
                        <li><i class="zmdi zmdi-phone"></i> {{ userEventInvitation.event.coordinates.phoneNumber }}</li>
                    {% endif %}
                    {% if userEventInvitation.event.coordinates.mobileNumber is not null %}
                        <li><i class="zmdi zmdi-phone"></i> {{ userEventInvitation.event.coordinates.mobileNumber }}</li>
                    {% endif %}
                    {% if userEventInvitation.event.coordinates.faxNumber is not null %}
                        <li><i class="zmdi zmdi-print"></i> {{ userEventInvitation.event.coordinates.faxNumber }}</li>
                    {% endif %}
                </ul>
            {% endspaceless %}{% endset %}
        {% endif %}
        {% if userEventInvitation.event.openingHours|length > 0 %}
            {% set openingHoursBlock %}
                <table>
                    <tbody>
                    {% for day, timeSlots in userEventInvitation.event.openingHoursOrdered %}
                        <tr>
                            <th>{{ day|trans }}&nbsp;:&nbsp;</th>
                            <td class='{{ "now"|date("w") == loop.index?'f-700':'' }}'>
                                {% for timeSlot in timeSlots %}
                                    {{ timeSlot.timmeOpen|localizeddate( "none", "short", null, null,'HH:mm') }} - {{ timeSlot.timmeClosed|localizeddate("none", "short", null, null,'HH:mm') }}
                                    {{ not loop.last ? '<br>' }}
                                {% else %}
                                    {{ "event.form.opening_hour.closed"|trans }}
                                {% endfor %}
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            {% endset %}
        {% endif %}

        {% if coordinatesBlock is defined or openingHoursBlock is defined %}
            <div class="list-md-icon {{ userEventInvitation.event.openingHours|length == 0 ? 'm-b-15' }}">
                <ul>
                    {% if userEventInvitation.event.coordinates.website is not null %}
                        <li><i class="zmdi zmdi-globe"></i> <a href="{{ userEventInvitation.event.coordinates.website }}"
                                                               target="_blank">{{ userEventInvitation.event.coordinates.website|replace({'http://':''}) }}</a></li>
                    {% endif %}
                    {% if coordinatesBlock is defined and coordinatesBlock|trim is not empty %}
                        <li><i class="zmdi zmdi-globe-alt"></i> <a href="#" tabindex="0" role="button" data-toggle="popover" data-title="{{ "event.form.coordinates.link_popover"|trans }}"
                                                                   data-content='{{ coordinatesBlock }}' data-html="true"> {{ "event.form.coordinates.link_popover"|trans }}</a></li>
                    {% endif %}
                    {% if openingHoursBlock is defined %}
                        <li><i class="zmdi zmdi-time"></i> <a href="#" tabindex="0" role="button" data-toggle="popover" data-title="{{ "event.form.opening_hour.link_collpase"|trans }}"
                                                              data-content="{{ openingHoursBlock }}" data-html="true">{{ "event.form.opening_hour.link_collpase"|trans }}</a>
                        </li>
                    {% endif %}
                    <li>
                        {% if userEventInvitation.event.coordinates.facebookURL is not null %}
                            <a href="{{ userEventInvitation.event.coordinates.facebookURL }}" target="_blank"><span class="zmdi zmdi-facebook-box zmdi-hc-2x"></span></a>
                        {% endif %}
                        {% if userEventInvitation.event.coordinates.googlePlusURL is not null %}
                            <a href="{{ userEventInvitation.event.coordinates.googlePlusURL }}" target="_blank"><span class="zmdi zmdi-google-plus zmdi-hc-2x"></span></a>
                        {% endif %}
                        {% if userEventInvitation.event.coordinates.twitterURL is not null %}
                            <a href="{{ userEventInvitation.event.coordinates.twitterURL }}" target="_blank"><span class="zmdi zmdi-twitter zmdi-hc-2x"></span></a>
                        {% endif %}
                        {% if userEventInvitation.event.coordinates.instagramURL is not null %}
                            <a href="{{ userEventInvitation.event.coordinates.instagramURL }}" target="_blank"><span class="zmdi zmdi-instagram zmdi-hc-2x"></span></a>
                        {% endif %}
                    </li>
                </ul>
            </div>
        {% endif %}

        {% if userEventInvitation.organizer %}
            {% if userEventInvitation.event.guestsCanInvite %}
                <div class="text-success">
                    <i class="zmdi zmdi-check"></i> {{ "event.form.guestsCanInvite.text.true"|trans }}
                </div>
            {% else %}
                <div class="text-danger">
                    <i class="zmdi zmdi-close-circle"></i> {{ "event.form.guestsCanInvite.text.false"|trans }}
                </div>
            {% endif %}
        {% endif %}
    </div>
    {% if userEventInvitation.event.whereGooglePlaceId is not null %}
        <div class="col-xs-12 col-sm-4">
            <div id="eventShowGoogleMap" style="height: 200px;"></div>
        </div>
    {% endif %}
</div>


<script>
    var mapEventShow = null;
    var boundsEventShow = null;

    function initEventShowMap() {
        var mapDiv = document.getElementById('eventShowGoogleMap');
        if (mapDiv != null) {
            mapEventShow = new google.maps.Map(mapDiv, {
                center: {lat: 47, lng: 2.30},
                zoom: 6,
                scrollwheel: false
            });

            boundsEventShow = new google.maps.LatLngBounds();
            var service = new google.maps.places.PlacesService(mapEventShow);

            {% if userEventInvitation.event.whereGooglePlaceId != null %}
            var infowindow = new google.maps.InfoWindow();
            service.getDetails({
                    placeId: '{{ userEventInvitation.event.whereGooglePlaceId }}'
                }
                ,
                function (place, status) {
                    if (status === google.maps.places.PlacesServiceStatus.OK) {
                        var marker = new google.maps.Marker({
                            map: mapEventShow,
                            position: place.geometry.location
                        });
                        {# Permet de s'assurer que la map est pas trop zoomée, a priori  le zoom du firbounds se fait en asynchrone,
                                            donc il faut choper un event, et ne le fait que au premier passage#}

                        google.maps.event.addListener(mapEventShow, 'bounds_changed', function (event) {
                            if (mapEventShow.getZoom() > 15 && mapEventShow.initialZoom == true) {
                                // Change max/min zoom here
                                mapEventShow.setZoom(15);
                                mapEventShow.initialZoom = false;
                            }
                        });
                        mapEventShow.initialZoom = true;
                        // Rendre le marker clickable avec le nom
                        google.maps.event.addListener(marker, 'click', function () {
                            infowindow.setContent(place.name);
                            infowindow.open(mapEventShow, this);
                        });
                        boundsEventShow.extend(place.geometry.location)
                        mapEventShow.fitBounds(boundsEventShow);
                    }
                }
            );
            {% endif %}
        }
    }
</script>

