<div class="card" id="user-event-invitation-card">
    {% if userEventInvitationForm is defined %}
        {{ form_start(userEventInvitationForm, {'action': path('displayEvent',
            {
                'token':userEventInvitation.event.token,
                'tokenEdition': (app.request.get('tokenEdition') == userEventInvitation.event.tokenEdition and
                is_granted(constant('AppBundle\\Security\\EventVoter::EDIT'),[userEventInvitation.event,app.request.get('tokenEdition')])?userEventInvitation.event.tokenEdition:null)
            }),
            'attr':{'id':'userEventInvitationAbout'}
        }) }}
    {% endif %}
    <div class="card-header">
        <h3>{{ "eventInvitation.maindata.card.title"|trans }}</h3>
    </div>
    <div class="card-body card-padding">
        {% if userEventInvitationForm is defined %}
            <div class="form-group">
                {{ form_label(userEventInvitationForm.name, 'eventInvitation.form.name.label') }}
                <div class="fg-line">
                    {{ form_widget(userEventInvitationForm.name, {'attr':{'placeholder':'eventInvitation.form.name.placeholder'}}) }}
                    {{ form_errors(userEventInvitationForm.name) }}
                </div>
            </div>
            <div class="form-group">
                {{ form_label(userEventInvitationForm.email, 'eventInvitation.form.email.label') }}
                <div class="fg-line">
                    {{ form_widget(userEventInvitationForm.email, {'attr':{'placeholder':'eventInvitation.form.email.placeholder'}}) }}
                    {{ form_errors(userEventInvitationForm.email) }}
                </div>
            </div>
        {% else %}
            <dl>
                <dt>{{ "eventInvitation.form.name.label"|trans }}</dt>
                <dd>
                    {{ userEventInvitation.displayableName is not empty?userEventInvitation.displayableName:" - " }}</dd>
                <dt>{{ "eventInvitation.form.email.label"|trans }}</dt>
                <dd>
                    {{ userEventInvitation.displayableEmail is not empty? userEventInvitation.displayableEmail:" - " }}
                </dd>
            </dl>
        {% endif %}
    </div>
    <div class="card-footer card-padding-sm">
        <div class="text-right">
            {% if not is_granted("IS_AUTHENTICATED_REMEMBERED") and userEventInvitation.appUser is null and userEventInvitation.status is not constant
            ('AppBundle\\Entity\\enum\\EventInvitationStatus::AWAITING_VALIDATION') %}
                <i class="m-r-10"><a href="{{ path('disconnectEventInvitation', {'token':userEventInvitation.event.token}) }}">
                        {{ "eventInvitation.maindata.card.text.disconnect"|trans({'%user%': userEventInvitation.displayableName}) }}
                    </a></i>
            {% endif %}
            {% if userEventInvitationForm is defined %}
                <button type="submit" class="btn btn-primary waves-effect">{{ "global.button.save"|trans }}</button>
            {% endif %}
        </div>
    </div>
    {% if userEventInvitationForm is defined %}
        {{ form_end(userEventInvitationForm ) }}
    {% endif %}
    <script>
        $('form#userEventInvitationAbout').on("submit", function (e) {
            ajaxFormSubmission(this, e, function (responseJSON, textStatus, jqXHR) {
                if (responseJSON.htmlContent) {
                    $('#user-event-invitation-card').replaceWith(responseJSON.htmlContent);
                }
            }, null, null);
        });
    </script>
</div>