{# Données d'entrée :
- userEventInvitation (EventInvitation) L'invitation de l'utilisateur "connecté"
- eventInvitations ([EventInvitation]) Les invitations de l'événements
#}


<div class="card c-dark z-depth-2">
    <div class="card-header well-sm bg palette-Teal m-b-20">
        <div class="media">
            <div class="pull-left"></div>
            <div class="pull-right"></div>
            <div class="media-body">
                <h2><span>{{ "invitation_list.display.title"|trans }}</span>
                </h2>
            </div>
        </div>
    </div>
    <div class="card-body card-padding" id="eventinvitation-body-card">
        <div class="well-sm z-depth-2 palette-Grey-200 bg m-b-20">
            <ul class="list-inline" id="eventInvitations_list">
                {% for eventInvitation in eventInvitations if eventInvitation.status is not constant('AppBundle\\Utils\\enum\\EventInvitationStatus::CANCELLED') %}
                    {{ include('@App/Event/partials/eventInvitation_li.html.twig', {'userEventInvitation': userEventInvitation, 'eventInvitation':eventInvitation}) }}
                {% endfor %}
            </ul>
        </div>
    </div>
    <script>
        {% if userEventInvitation.creator or userEventInvitation.administrator %}
        {% if userEventInvitation.event.invitationOnly %}
        $('#event_public_invitation_display').hide();
        {% endif %}
        {% endif %}

        {#{% if editEventMode %}#}
        $('#eventInvitations_list').find('li a.cancelInvitation').each(function () {
            var link = $(this);
            $(this).on('click', function (e) {
                e.preventDefault();
                var text = "{{ "invitations.display.cancel.swal.text"|trans }}";
                if (link.data('guestname') != "") {
                    text = text.replace('%name%', link.data('guestname'));
                }
                swal({
                    title: "{{ "invitations.display.cancel.swal.title"|trans }}",
                    text: text,
                    type: "warning",
                    showCancelButton: true,
                    confirmButtonColor: "#DD6B55",
                    confirmButtonText: '{{ "global.button.delete"|trans }}',
                    closeOnConfirm: true,
                    showLoaderOnConfirm: true
                }, function (isConfirm) {
                    if (isConfirm) {
                        ajaxRequest($(this), null, e, function (responseJSON, textStatus, jqXHR) {
                            $(link).parent().remove();
                        }, null, null);
                    }
                });
            });
        });
        {#{% endif %}#}
    </script>
</div>

