{# Données d'entrée :
- userEventInvitation (EventInvitation) L'invitation de l'utilisateur "connecté"
- eventInvitation (EventInvitation) L'invitation à l'événement à afficher
#}

{% spaceless %}
    <li>
        <div class="userInvitation-avatar">
            <div class="avatar-img-container m-b-5">
                {{ include("@App/Avatar/partials/avatar_display.html.twig",{invitation : eventInvitation, isUserConnected : userEventInvitation == eventInvitation}) }}
            </div>
            {#{{ include('@App/Event/partials/guest/display_guest_avatar.html.twig',{'invitation':eventInvitation}) }}#}

            {% if is_granted(constant('AppBundle\\Security\\EventInvitationVoter::CANCEL'), [userEventInvitation, eventInvitation]) %}
                <a class="cancelInvitation" href="{{ path("cancelEventInvitation", {'eventInvitationTokenToCancel':eventInvitation.token}) }}" data-toggle="tooltip"
                   data-guestname="{{ eventInvitation.displayableName }}"
                   data-original-title="{{ eventInvitation.displayableName is empty?"invitations.display.cancel.link_noname"|trans:"invitations.display.cancel.link"|trans({"%name%":eventInvitation
                   .displayableName}) }}"> <i
                            class="zmdi zmdi-close-circle-o"></i></a>

            {% else %}
                <a class="cancelInvitation">&nbsp;</a>
            {% endif %}
        </div>
    </li>
{% endspaceless %}