{% if eventForm is not null %}
    {% form_theme eventForm with [_self,':Form:at_forms_layout.html.twig'] %}
{% endif %}

<div class="card" id="event-header-card">
    {% if eventForm is not null %}
        {% if event.token is empty %}
            {{ form_start(eventForm, {'action':path('displayEvent'), 'attr':{'id':'eventHeader'}}) }}
        {% else %}
            {{ form_start(eventForm, {'action':path('displayEvent',{'token':event.token,'tokenEdition':event.tokenEdition}), 'attr':{'id':'eventHeader'}}) }}
            <script>
                $('form#eventHeader').on("submit", function (e) {
                    e.preventDefault();
                    var preloader = $('.at-global-preloader');
                    $(preloader).show();
                    var $form = $(this);
                    $('.has-error').each(function () {
                        $(this).find("small.help-block").remove();
                        $(this).removeClass("has-error");
                    });
                    $.ajax({
                        url: $form.attr('action'),
                        type: $form.attr('method'),
                        data: $form.serialize()
                    }).done(function (responseData, textStatus, jqXHR) {
                        if (responseData.htmlContent) {
                            $('#event-header-card').replaceWith(responseData.htmlContent);
                        }
                        autosize($('textarea'));
                        $('.clockpicker').clockpicker();
                        $('.datepicker').datetimepicker({
                            format: "DD/MM/YYYY",
                            locale: "fr",
                            widgetPositioning: {
                                horizontal: 'auto',
                                vertical: 'bottom'
                            }
                        });
                    }).fail(function (jqXHR, textStatus, errorThrown) {
                        var responseJSON = jqXHR.responseJSON;
                        if (responseJSON.formErrors) {
                            var formErrors = responseJSON.formErrors;
                            for (var fieldErrorName in formErrors) {
                                if (formErrors.hasOwnProperty(fieldErrorName)) {
                                    var inputField = $('input[name*=' + fieldErrorName + ']');
                                    inputField.parent().addClass("has-error");
                                    inputField.after('<small class="help-block">' + responseJSON.formErrors[fieldErrorName] + '</small>')
                                }
                            }
                        }
                    }).always(function (responseDataOrJSON) {
                        if (responseDataOrJSON.responseJSON) {
                            responseDataOrJSON = responseDataOrJSON.responseJSON;
                        }
                        if (responseDataOrJSON.messages) {
                            var messages = responseDataOrJSON.messages;
                            for (var messageType in messages) {
                                if (messages.hasOwnProperty(messageType)) {
                                    messages[messageType].forEach(function (mess) {
                                        toastr[messageType](mess);
                                    });
                                }
                            }
                        }
                        $(preloader).hide();
                    });

                });
            </script>
        {% endif %}
    {% endif %}
    <div class="card-header ch-img" style="background-image: url({{ asset("uploads/events/default/evt-img1.jpg") }}); height:250px;">
        <h1 class="c-white">{{ event.name }}</h1>
        {% if eventForm is not null %}
            <a class="c-white"> <span class="zmdi-hc-stack zmdi-hc-2x"><i class="zmdi zmdi-square-o zmdi-hc-stack-2x"></i><i class="zmdi zmdi-camera-add zmdi-hc-stack-1x"></i></span>
                {{ 'event.form.image.label'|trans }}</a>
        {% endif %}


        {% if allowEdit and event.token is not empty %}
            <div class="dropdown add-module-menu">
                <a data-toggle="dropdown" href="#" class="btn btn-float palette-Teal bg waves-effect waves-circle waves-float"><i class="zmdi zmdi-plus"></i></a>
                <ul class="dropdown-menu pull-right">
                    <li>
                        <a href="{{ url('addEventModule', {'eventTokenEdition': event.tokenEdition, 'type':'ollmodule'}) }}" id="addWhenPollModule"> <i
                                    class="waves-effect palette-Blue bg zmdi zmdi-calendar"></i>
                            <small>Sondage Quand ?</small>
                        </a>
                    </li>
                    <li>
                        <a data-toggle="modal" href="#"><i class="waves-effect palette-Teal bg zmdi zmdi-map"></i>
                            <small>Sondage Où ?</small>
                        </a>
                    </li>
                    <li>
                        <a data-toggle="modal" href="#"><i class="waves-effect palette-Deep-Orange bg zmdi zmdi-pin-help"></i>
                            <small>Sondage Quoi ?</small>
                        </a>
                    </li>
                    <li>
                        <a data-toggle="modal" href="#"> <i class="waves-effect palette-Yellow-900 bg zmdi zmdi-money-box"></i>
                            <small>Cagnotte</small>
                        </a>
                    </li>
                    <li>
                        <a data-toggle="modal" href="#"><i class="waves-effect palette-Green bg zmdi zmdi-format-list-bulleted"></i>
                            <small>Qui apporte quoi ?</small>
                        </a>
                    </li>
                    <li>
                        <a data-toggle="modal" href="#"> <i class="waves-effect palette-Purple bg zmdi zmdi-balance-wallet"></i>
                            <small>Comptes entre amis</small>
                        </a>
                    </li>
                </ul>
            </div>
            <script>
                $('#addWhenPollModule').on('click', function (e) {
                    var preloader = $('.at-global-preloader');
                    $(preloader).show();
                    $.ajax({
                        url: $(this).attr("href"),
                        type: 'post'
                    }).done(function (responseJSON, textStatus, jqXHR) {
                        if (responseJSON.htmlContent) {
                            var eventModulesContainer = $('#eventModulesContainer');
                            eventModulesContainer.append(responseJSON.htmlContent);
                            $(document).scrollTop( $(eventModulesContainer ).children().last().offset().top );

                            autosize($('textarea'));
                            $('.clockpicker').clockpicker();
                            $('.datepicker').datetimepicker({
                                format: "DD/MM/YYYY",
                                locale: "fr",
                                widgetPositioning: {
                                    horizontal: 'auto',
                                    vertical: 'bottom'
                                }
                            });
                        }
                    }).fail(function (jqXHR, textStatus, errorThrown) {
                        // nothing
                    }).always(function (responseDataOrJSON) {
                        if (responseDataOrJSON.responseJSON) {
                            responseDataOrJSON = responseDataOrJSON.responseJSON;
                        }
                        if (responseDataOrJSON.messages) {
                            var messages = responseDataOrJSON.messages;
                            for (var messageType in messages) {
                                if (messages.hasOwnProperty(messageType)) {
                                    messages[messageType].forEach(function (mess) {
                                        toastr[messageType](mess);
                                    });
                                }
                            }
                        }
                        $(preloader).hide();
                    });
                    return false;
                });
            </script>
        {% endif %}
    </div>
    <div class="card-body card-padding p-t-25">
        {% if eventForm is not null %}
            <div class="row">
                <div class="col-sm-7">
                    <div class="form-group">
                        {{ form_label(eventForm.name, 'event.form.name.label', {'label_attr':{'class':'sr-only'}}) }}
                        <div class="fg-line">
                            {{ form_widget(eventForm.name, {'attr':{'placeholder':'event.form.name.placeholder'}}) }}
                            {{ form_errors(eventForm.name) }}
                        </div>
                    </div>
                </div>
                <div class="col-sm-5">
                    <div class="form-group">
                        {{ form_label(eventForm.responseDeadline, 'event.form.responseDeadline.label') }}
                        <div class="form-inline fg-line">
                            {{ form_widget(eventForm.responseDeadline, {'attr':{'class':'', 'placeholder':'event.form.responseDeadline.placeholder'}}) }}
                        </div>
                        {{ form_errors(eventForm.responseDeadline) }}
                    </div>
                </div>
            </div>

            <div class="form-group">
                {{ form_label(eventForm.description, 'event.form.description.label', {'label_attr':{'class':'sr-only'}}) }}
                <div class="fg-line">
                    {{ form_widget(eventForm.description, {'attr':{'rows':3,'placeholder':'event.form.description.placeholder'}}) }}
                    {{ form_errors(eventForm.description) }}
                </div>
            </div>
        {% else %}
            <dl class="dl-horizontal">
                <dt>{{ "event.form.description.label"|trans }}</dt>
                <dd>{{ event.description }}</dd>
                <dt>{{ "event.form.responseDeadline.label"|trans }}</dt>
                <dd>{{ event.responseDeadline|localizeddate }}</dd>
            </dl>
        {% endif %}
    </div>
    <div class="card-footer card-padding-sm">
        {% if eventForm is not null %}
            <div class="text-right">

                {% if event.token is empty %}
                    <button type="submit" class="btn btn-primary waves-effect">{{ "global.button.nextStep"|trans }}</button>
                {% else %}
                    <button type="submit" class="btn btn-primary waves-effect">{{ "global.button.save"|trans }}</button>
                {% endif %}

            </div>
        {% endif %}
    </div>

    {% if eventForm is not null %}
        {{ form_end(eventForm) }}
    {% endif %}
</div>