{# Données d'entrée :
- userEventInvitation : EventInvitation de l'utilisateur
- userEventInvitationAnswerForm (Form) Formulaire de réponse à l'invitation
#}

<div class="card c-dark z-depth-2" id="eventInvitation-answer-card">
    <div class="card-header palette-Teal bg">
        <div class="media">
            <div class="pull-left"></div>
            <div class="pull-right"></div>
            <div class="media-body">
                <h2><span>{{ "eventInvitation.answer.card.title"|trans }}</span>
                    <small></small>
                </h2>
            </div>
        </div>
    </div>
    <div class="card-body card-padding m-t-20">
        {{ form_start(userEventInvitationAnswerForm, {'action': path('displayEvent', {'token':userEventInvitation.event.token}), 'attr':{'id':'userEventInvitationAnswer','class':'answer-form'}}) }}
        {{ form_row(userEventInvitationAnswerForm.answer,{
            'label_attr':{'class' : 'sr-only'},
            'attr':{'type' : 'answer'}
        }) }}

        {{ form_rest(userEventInvitationAnswerForm) }}
        {{ form_end(userEventInvitationAnswerForm) }}
        <script>
            $("input[name='event_invitation_anwser[answer]']").on('change', function (e) {
                $(this).closest('form').submit();
            });
            $('form#userEventInvitationAnswer').on('submit', function (e) {
                ajaxFormSubmission(this, e, null, null, null);
            });
        </script>
    </div>
</div>