{# Données d'entrée :
- userEventInvitation (EventInvitation) L'invitation à afficher (inclu l'événement concerné)
- eventForm (Form|null) Formulaire d'édition des information général de l'événement (si les droits le permettent)
- thread (Thread) Le fil de discussion de l'événement
- comments(Comment[]) Les commentaires appartenant au fil de discussion de l'événement
#}

<div class="card z-depth-2" id="event-header-card">
    {{ include('@App/Event/partials/event_header_card_header.html.twig', {'userEventInvitation':userEventInvitation, 'editEvent' : eventForm is not null }) }}

    <div class="card-body card-padding p-t-25">
        <div class="pmb-block m-0 p-0" id="pmbblock_event_header">

            <div class="pmbb-header p-10">
                <ul class="actions">
                    {% if eventForm is not null %}
                        <li><a id="event_header_edit_information" data-event-header-action="edit" data-event-header-action-target="#pmbblock_event_header" href="#" data-toggle="tooltip"
                               title="{{ "event.header.tootltip.edit"|trans }}"> <i class="zmdi zmdi-edit"></i></a></li>
                    {% endif %}

                    <li><a id="event_header_dupplicate" target="_blank" href="{{ path('duplicateEvent',{'token':userEventInvitation.event.token}) }}"
                           title="{{ "event.header.tootltip.duplicate"|trans }}" class="toggle-tooltip"><i class="zmdi zmdi-collection-plus"></i></a></li>
                </ul>
            </div>
            {{ include("@App/Event/partials/event_help_popover.html.twig",{'userInvitation' : userEventInvitation, 'divId' : 'event_header_edit_information','text': 'event.help.popover.header'}) }}

            <div class="pmbb-body">
                <div class="pmbb-view">
                    {{ include("@App/Event/partials/event_header_card_show.html.twig", {'userEventInvitation':userEventInvitation}) }}
                </div>
                <div class="pmbb-edit">
                    {% if eventForm is not null %}
                        {{ include("@App/Event/partials/event_header_card_edit.html.twig", {'userEventInvitation':userEventInvitation, 'eventForm':eventForm}) }}
                    {% endif %}
                </div>
            </div>
        </div>
    </div>

    {% if  thread is defined and thread is not null %}
        <div id="event_comment_thread" data-thread="{{ thread.id }}" class="commentable_thread wall-comment-list">
            {% include 'FOSCommentBundle:Thread:comments.html.twig' with {'comments':comments, 'thread':thread, 'view':'flat', 'userEventInvitation':userEventInvitation} %}
        </div>
    {% endif %}

    <script>
        $(document).ready(function () {
            if (typeof google === 'object' && typeof google.maps === 'object') {
                initEventShowMap();
            }

            if (typeof FOS_COMMENT !== "undefined") {
                FOS_COMMENT.thread_container = $('.commentable_thread ');
                FOS_COMMENT.initializeListeners();
            }
            /** Fonction pour eviter le double envoi de commentaire */
            $('#event_comment_thread')
                .on('fos_comment_add_comment', function (event, commentHtml) {
                    $('#event_comment_thread .fos_comment_submit > button[type=submit], #event_comment_thread .fos_comment_submit > input[type=submit]').removeAttr("disabled");
                })
                .on('fos_comment_submitting_form', function () {
                    $('#event_comment_thread .fos_comment_submit > button[type=submit], #event_comment_thread .fos_comment_submit > input[type=submit]').attr("disabled", "disabled");
                });
        });
    </script>
</div>
