{# Données d'entrée :
- userEventInvitation (EventInvitation) L'invitation de l'utilisateur "connecté"
- eventInvitations ([EventInvitation]) Les invitations de l'événements
#}


<div class="card c-dark z-depth-2" id="eventInvitation_list_card">
    <div class="card-header well-sm bg palette-Teal m-b-20">
        <div class="media">
            <div class="pull-left"></div>
            <div class="pull-right"></div>
            <div class="media-body">
                <h2><span>{{ "invitation_list.display.title"|trans }}</span>
                </h2>
            </div>
        </div>
    </div>
    {# Invitation  Oui#}
    <div class="card-body card-padding-sm" id="eventinvitation-body-card-yes">
        <div class="well-sm z-depth-1 palette-Green-50 bg p-b-0">
            <h5>{{ "invitation_list.display.list.yes"|trans }}</h5>
            <ul class="list-inline eventInvitations_list">
                {% for eventInvitation in eventInvitations
                if eventInvitation.status is not constant('AppBundle\\Utils\\enum\\EventInvitationStatus::CANCELLED')
                and eventInvitation.answer is constant('AppBundle\\Utils\\enum\\EventInvitationAnswer::YES') %}
                    {{ include('@App/Event/partials/eventInvitation_li.html.twig', {'userEventInvitation': userEventInvitation, 'eventInvitation':eventInvitation}) }}
                {% endfor %}
            </ul>
        </div>
    </div>
    {# Invitation  Peut-etre#}
    <div class="card-body card-padding-sm" id="eventinvitation-body-card-maybe">
        <div class="well-sm z-depth-1 palette-Light-Blue-50 bg p-b-0">
            <h5>{{ "invitation_list.display.list.maybe"|trans }}</h5>
            <ul class="list-inline eventInvitations_list">
                {% for eventInvitation in eventInvitations
                if eventInvitation.status is not constant('AppBundle\\Utils\\enum\\EventInvitationStatus::CANCELLED')
                and eventInvitation.answer is constant('AppBundle\\Utils\\enum\\EventInvitationAnswer::DONT_KNOW') %}
                    {{ include('@App/Event/partials/eventInvitation_li.html.twig', {'userEventInvitation': userEventInvitation, 'eventInvitation':eventInvitation}) }}
                {% endfor %}
            </ul>
        </div>
    </div>
    {# Invitation  Non#}
    <div class="card-body card-padding-sm" id="eventinvitation-body-card-no">
        <div class="well-sm z-depth-1 palette-Deep-Orange-50 bg p-b-0">
            <h5>{{ "invitation_list.display.list.no"|trans }}</h5>
            <ul class="list-inline eventInvitations_list">
                {% for eventInvitation in eventInvitations
                if eventInvitation.status is not constant('AppBundle\\Utils\\enum\\EventInvitationStatus::CANCELLED')
                and eventInvitation.answer is constant('AppBundle\\Utils\\enum\\EventInvitationAnswer::NO') %}
                    {{ include('@App/Event/partials/eventInvitation_li.html.twig', {'userEventInvitation': userEventInvitation, 'eventInvitation':eventInvitation}) }}
                {% endfor %}
            </ul>
        </div>
    </div>
    <script>
        {% if userEventInvitation.creator or userEventInvitation.administrator %}
        {% if userEventInvitation.event.invitationOnly %}
        $('#event_public_invitation_display').hide();
        {% endif %}
        {% endif %}

        $('.eventInvitations_list').find('li a.cancelInvitation').each(function () {
            var link = $(this);
            $(this).on('click', function (e) {
                e.preventDefault();
                var text = "";
                if (link.data('guestname') == "") {
                    text = "{{ "invitations.display.cancel.swal.text_noname"|trans }}";
                }else{
                    text = "{{ "invitations.display.cancel.swal.text"|trans }}";
                    text = text.replace('%name%', link.data('guestname'));
                }
                swal({
                    title: "{{ "invitations.display.cancel.swal.title"|trans }}",
                    text: text,
                    type: "warning",
                    showCancelButton: true,
                    confirmButtonColor: "#DD6B55",
                    confirmButtonText: '{{ "global.button.delete"|trans }}',
                    closeOnConfirm: true,
                    showLoaderOnConfirm: true
                }, function (isConfirm) {
                    if (isConfirm) {
                        ajaxRequest($(this), null, e, function (responseJSON, textStatus, jqXHR) {
                            $(link).parent().remove();
                        }, null, null);
                    }
                });
            });
        });
        $(document).ready(function () {
            LetterAvatar.transform()
        });
    </script>
</div>

