{# Gère l'affichage des popover d'aide sur la page d'invitation :
- divId : id de la div sur laquelle appliquer le popover
- userInvitation (EventInvitation ou ModuleInvitation) Invitation de l'utilisateur
- text : text à diffuser dans la modale
- placement : optionnel - placement souhaité de la popover (left, right, top, bottom)

Fonctionnement :
On affiche une popover pour interpeller l'utilisateur cette popover s'affiche si:
- L'utilisateur n'a pas de compte utilisateur
- L'utilisateur a un compte utilisateur et n'a jamais eu ce type de popover
- L'utilisateur a deja vu ce type de popover mais n'a pas cliqué sur "ne plus afficher"

La popover se ferme sous l'une des 3 condition suivante:
- L'utilisateur a effectué l'action indiquée par la popover (+ appliquer l'effet de "ne plus afficher")
- l'utilisateur a cliqué sur "fermer"
- L'utilisateur a cliqué sur "ne plus afficher" (valable sur toute l'appli pour le sutilisateurs connectés, valable uniquement pour l'événement pour les utilisateurs non connecté)
#}

{# Configuration des paramètres #}

{% set placement = (placement is defined ? placement : '') %}
{% set eventInvitation = (userInvitation.eventInvitation is defined ? userInvitation.eventInvitation : userInvitation) %}

{% if eventInvitation.status is constant('AppBundle\\Utils\\enum\\EventInvitationStatus::AWAITING_VALIDATION')%}
{# or eventInvitation.status is constant('AppBundle\\Utils\\enum\\EventInvitationStatus::AWAITING_ANSWER')#}

{# Gestion de l'appel ajax en cas d'appui sur "ne plus afficher" #}

<script>
    $(document).ready(function () {
        $('#{{ divId }}').popover({
            container: 'body',
            trigger: 'manual',
            html : 'true',
            placement : 'auto {{ placement }}',
            content : '{{ text|trans }}',
            template : '<div class="popover pop-help-event z-depth-3" role="tooltip">' +
            '<div class="arrow"></div>' +
            '<h3 class="popover-title"></h3>' +
            '<div class="popover-content"></div>' +
            '<div class="popover-button">' +
            '<div class="pull-right m-b-10 m-r-10">' +
            '<button data-toggle="clickover" class="btn btn-small btn-primary" onclick="$(&quot;#{{ divId }}&quot;).popover(&quot;hide&quot;);">{{ 'global.button.close'|trans }}</button>'+
            '</div>' +
            '</div>' +
            '</div>',
        });

        $('#{{ divId }}').popover('show');
    });

</script>

{% endif %}