{# Données d'entrée :
- userEventInvitation (EventInvitation) L'invitation de l'utilisateur "connecté"
- event (Event) L'événement courant pour afficher les invitations
- sendMessageForm (Form) Formulaire permettant d'envoyer un rappel aux invités
- userEventInvitationAnswerForm (Form) Formulaire de réponse à l'invitation
- invitationsForm (Form|null) Formulaire permettant d'inviter (renseignement des e-mails des invités)
#}


<div class="card c-dark z-depth-1">
    <div class="card-header palette-Teal bg">
        <h2><i class="zmdi zmdi-accounts-add zmdi-hc-lg c-white m-r-15"></i>{{ "invitations_list.display.title"|trans }}</h2>
    </div>

    <div class="card-body border-bottom">
        {{ include('@App/Event/partials/profile/eventInvitation_profile_answer_form.html.twig',{
            'userEventInvitation' : userEventInvitation,
            'userEventInvitationAnswerForm' : userEventInvitationAnswerForm
        }) }}
    </div>

    <div class="card-body border-bottom">
        {{ include("@App/Event/partials/guests_list/guestsList_card_body.html.twig", {
            'userEventInvitation' : userEventInvitation,
            'event':event}) }}
    </div>

    {# TODO revoir les autorisations si pas déjà fait dans le EvenController et vérifier ici que si les xxx_Form existent #}
    {% if (userEventInvitation.organizer or userEventInvitation.event.guestsCanInvite)
    and (invitationsForm is not null or not userEventInvitation.event.invitationOnly or sendMessageForm is not null) %}
        <div class="card-footer text-center m-t-10">
            {% if sendMessageForm is not null %}
                <a href="#invitations_sendMessage_modal" data-toggle="modal" class="btn btn-flat btn-icon-text m-b-10" aria-expanded="false"> <i
                            class="zmdi zmdi-email"></i> {{ 'send_message.link'|trans }}
                </a>
            {% endif %}
            {% if invitationsForm is not null or not userEventInvitation.event.invitationOnly %}
                <a href="#invitations_new_modal" class="btn btn-primary btn-icon-text m-b-10" data-toggle="modal"><i
                            class="zmdi zmdi-accounts-add"></i>{{ "invitations_list.display.new_invitations"|trans }}</a>
            {% endif %}
        </div>
        {% if invitationsForm is not null or not userEventInvitation.event.invitationOnly %}
            {{ include('@App/Event/partials/invitations/invitations_new_modal.html.twig', {'userEventInvitation':userEventInvitation,'invitationsForm':invitationsForm}) }}
        {% endif %}
        {% if sendMessageForm is not null %}
            {{ include('@App/Event/partials/invitations/invitations_send_message_modal.html.twig', {'userEventInvitation' : userEventInvitation, 'sendMessageForm ': sendMessageForm}) }}
        {% endif %}
    {% endif %}
</div>