{% if eventForm is not null %}
    {% form_theme eventForm with [_self,':Form:at_forms_layout.html.twig'] %}
{% endif %}

<div class="card" id="event-header-card">
    {% if eventForm is not null %}
        {% if event.token is empty %}
            {{ form_start(eventForm, {'action':path('displayEvent'), 'attr':{'id':'eventHeader'}}) }}
        {% else %}
            {{ form_start(eventForm, {'action':path('displayEvent',{'token':event.token,'tokenEdition':event.tokenEdition}), 'attr':{'id':'eventHeader'}}) }}
            <script>
                $('form#eventHeader').on("submit", function (e) {
                    e.preventDefault();
                    var $form = $(this);
                    $('.has-error').each(function () {
                        $(this).find("small.help-block").remove();
                        $(this).removeClass("has-error");
                    });
                    $.ajax({
                        url: $form.attr('action'),
                        type: $form.attr('method'),
                        data: $form.serialize()
                    }).done(function (data) {
                        console.log('Form done');
                        if(data['html']) {
                            $('#event-header-card').replaceWith(data['html']);
                        }
                        var successMessages = data['{{ constant('AppBundle\\Utils\\FlashBagTypes::SUCCESS_TYPE') }}'];
                        successMessages.forEach(function(message) {
                            toastr['{{ constant('AppBundle\\Utils\\FlashBagTypes::SUCCESS_TYPE') }}'](message);
                        });
                        autosize($('textarea'));
                        $('.clockpicker').clockpicker();
                        $('.datepicker').datetimepicker({
                            format: "DD/MM/YYYY",
                            locale: "fr",
                            widgetPositioning: {
                                horizontal: 'auto',
                                vertical: 'bottom'
                            }
                        });
                    }).fail(function (jqXHR, textStatus, errorThrown) {
                        var responseJSON = jqXHR.responseJSON;
                        for (fieldErrorName in responseJSON.error) {
                            var inputField = $('input[name*=' + fieldErrorName + ']');
                            inputField.parent().addClass("has-error");
                            inputField.after('<small class="help-block">' + responseJSON.error[fieldErrorName] + '</small>')
                        }
                    });
                });
            </script>
        {% endif %}
    {% endif %}
    <div class="card-header ch-img" style="background-image: url({{ asset("uploads/events/default/evt-img1.jpg") }}); height:250px;">
        {% if eventForm is not null %}
            <a class="c-white"> <span class="zmdi-hc-stack zmdi-hc-2x"><i class="zmdi zmdi-square-o zmdi-hc-stack-2x"></i><i class="zmdi zmdi-camera-add zmdi-hc-stack-1x"></i></span>
                {{ 'event.form.image.label'|trans }}</a>
        {% else %}
            <h2>{{ event.name }}</h2>
        {% endif %}
        {% if allowEdit and event.token is not empty %}
            <div class="dropdown add-module-menu">
                <a data-toggle="dropdown" href="#" class="btn btn-float palette-Teal bg waves-effect waves-circle waves-float"><i class="zmdi zmdi-plus"></i></a>
                <ul class="dropdown-menu pull-right">
                    <li>
                        <a data-toggle="modal" href="#" class=""> <i class="waves-effect palette-Blue bg zmdi zmdi-calendar"></i>
                            <small>Sondage Quand ?</small>
                        </a>
                    </li>
                    <li>
                        <a data-toggle="modal" href="#" class=""><i class="waves-effect palette-Teal bg zmdi zmdi-map"></i>
                            <small>Sondage Où ?</small>
                        </a>
                    </li>
                    <li>
                        <a data-toggle="modal" href="#" class=""><i class="waves-effect palette-Deep-Orange bg zmdi zmdi-pin-help"></i>
                            <small>Sondage Quoi ?</small>
                        </a>
                    </li>
                    <li>
                        <a data-toggle="modal" href="#" class=""> <i class="waves-effect palette-Yellow-900 bg zmdi zmdi-money-box"></i>
                            <small>Cagnotte</small>
                        </a>
                    </li>
                    <li>
                        <a data-toggle="modal" href="#" class=""><i class="waves-effect palette-Green bg zmdi zmdi-format-list-bulleted"></i>
                            <small>Qui apporte quoi ?</small>
                        </a>
                    </li>
                    <li>
                        <a data-toggle="modal" href="#" class=""> <i class="waves-effect palette-Purple bg zmdi zmdi-balance-wallet"></i>
                            <small>Comptes entre amis</small>
                        </a>
                    </li>
                </ul>
            </div>
        {% endif %}
    </div>
    <div class="card-body card-padding p-t-25">
        {% if eventForm is not null %}
            <div class="row">
                <div class="col-sm-7">
                    <div class="form-group">
                        {{ form_label(eventForm.name, 'event.form.name.label') }}
                        <div class="fg-line">
                            {{ form_widget(eventForm.name, {'attr':{"placeholder":"event.form.name.placeholder"}}) }}
                            {{ form_errors(eventForm.name) }}
                        </div>
                    </div>
                </div>
                <div class="col-sm-5">
                    <div class="form-group">
                        {{ form_label(eventForm.responseDeadline, 'event.form.responseDeadline.label') }}
                        <div class="form-inline fg-line">
                            {{ form_widget(eventForm.responseDeadline, {'attr':{'class':'', 'placeholder':'event.form.responseDeadline.placeholder'}}) }}
                        </div>
                        {{ form_errors(eventForm.responseDeadline) }}
                    </div>
                </div>
            </div>

            <div class="form-group">
                {{ form_label(eventForm.description, 'event.form.description.label') }}
                <div class="fg-line">
                    {{ form_widget(eventForm.description, {'attr':{'rows':3,'placeholder':'event.form.description.placeholder'}}) }}
                    {{ form_errors(eventForm.description) }}
                </div>
            </div>
        {% else %}
            <dl class="dl-horizontal">
                <dt>{{ "event.form.description.label"|trans }}</dt>
                <dd>{{ event.description }}</dd>
                <dt>{{ "event.form.responseDeadline.label"|trans }}</dt>
                <dd>{{ event.responseDeadline|localizeddate }}</dd>
            </dl>
        {% endif %}
    </div>
    <div class="card-footer card-padding-sm">
        {% if eventForm is not null %}
            <div class="text-right">
                <button type="submit" class="btn btn-primary waves-effect">{{ "global.button.save"|trans }}</button>
            </div>
        {% endif %}
    </div>

    {% if eventForm is not null %}
        {{ form_end(eventForm) }}
    {% endif %}
</div>