{# Param:
    multiple_selection : boolean indiquant la possibilité, default = false
    event_invitation_list : la liste des eventInvitations des utilisateurs à afficher
    ou
    module_invitation_list : la liste des moduleInvitation
    select_name : name of the select
#}
{% set data_selection = '' %}
{% if multiple_selection is defined and multiple_selection %}
    {% set data_selection = 'multiple' %}
{% endif %}
{% if event_invitation_list is not defined and module_invitation_list is defined %}
    {% set event_invitation_list = [] %}
    {% for moduleInvitation in module_invitation_list %}
        {% set event_invitation_list = event_invitation_list|merge([moduleInvitation.eventInvitation]) %}
    {% endfor %}
{% endif %}
<select class="selectpicker" {{ data_selection }} type="text" data-live-search="true" name="{{ select_name }}">
    {% if event_invitation_list is defined %}
        {% for event_invitation in event_invitation_list %}
            {% set avatar_path = '' %}
            {% if event_invitation.applicationUser is defined and event_invitation.applicationUser.accountUser is defined and event_invitation.applicationUser.accountUser.getAvatarPath is defined %}
                {% set avatar_path = event_invitation.applicationUser.accountUser.getAvatarPath %}
            {% endif %}
            {% set userName = event_invitation.displayableName(false) %}
            {% if avatar_path == '' %}
                <option data-content="<span class='insecable-white-space' ><div class='avatar-char palette-Cyan-200 bg' name='{{ userName }}' style='display: inline-block;'>
                                    {{ userName|slice(0,1) }}</div> {{ userName }}</span>"></option>
            {% else %}
                <option data-content="<span class='insecable-white-space' ><img class='avatar-img' src='{{ asset("bundles/app/img/test/contact/1.jpg") }}' alt='{{ userName }}'>
                        {{ userName }}</span>"></option>
            {% endif %}
        {% endfor %}
    {% endif %}
</select>
