{% extends "@App/Event/module/displayModule.html.twig" %}

{% block moduleCardClass %}c-dark{% endblock moduleCardClass %}
{% block moduleHeaderClass %}palette-Red bg{% endblock moduleHeaderClass %}
{% block moduleHeaderAttributs %}{% endblock moduleHeaderAttributs %}

{% block mhBtnFloat %}
    <a data-toggle="modal" href="#addPollProposal">
        <button class="btn palette-Red-A700 bg btn-float waves-effect waves-circle waves-float"><i class="zmdi zmdi-plus"></i></button>
    </a>
{% endblock mhBtnFloat %}

{% block moduleBody %}
    {% if module.pollModule is not null %}
        <div class="panel">
            <div class="panel-body">
                <h1>PollModule</h1>
                <div class="p-5">
                    <div class="poll-container">
                        <div class="pc-ligne">
                            <div class="pcl-celulle"></div>
                            {% for moduleInvitation in module.moduleInvitations %}
                                <div class="pcl-celulle">
                                    {{ moduleInvitation.eventInvitation.name is not empty ? moduleInvitation.eventInvitation.name:moduleInvitation.eventInvitation.appUser.user }}
                                </div>
                            {% endfor %}
                            <div class="pcl-celulle"></div>
                        </div>
                        <div class="pc-groupe-ligne well">
                            {% for pollProposal in module.pollModule.pollProposals %}
                                <div class="pc-ligne">
                                    <div class="pcl-celulle ">
                                        {{ pollProposal.name }}<br>
                                        <small>{{ pollProposal.description }}</small>
                                        <br>
                                        {% for ppElt in pollProposal.pollProposalElements %}
                                            {{ ppElt.name }} ({{ ppElt.type }}){% if not loop.last %}, {% endif %}
                                        {% endfor %}
                                    </div>
                                    {% for ppResponse in pollProposal.pollProposalResponses %}
                                        <div class="pcl-celulle">{{ ppResponse.value is empty?'?':ppResponse.value }}</div>
                                    {% endfor %}
                                    <div class="pcl-celulle"><i class="zmdi zmdi-info zmdi-hc-2x c-teal"></i></div>
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {% endif %}
{% endblock moduleBody %}

{% block moduleFooter %}{% endblock moduleFooter %}