{# Données d'entrée :
- module (Module) Le module à afficher
- moduleForm (Form|null) Le formulaire d'édition du module
- userModuleInvitation (ModuleInvitation) L'invitation du module de l'utilisateur connecté
- thread (Thread) Le fil de discussion du module
- comments(Comment[]) Les commentaires appartenant au fil de discussion du module
#}

<div class="card c-dark z-depth-1 {% block moduleCardClass %}{% endblock %}" id="module-{{ module.token }}">
    {{ include("@App/Event/module/displayModule_header.html.twig", {'module':module, 'moduleForm':moduleForm, 'userModuleInvitation':userModuleInvitation}) }}

    {{ include('@App/Event/module/displayModule_informations.html.twig', {'module':module}) }}

    {% block moduleBody %}{% endblock moduleBody %}

    <div class="{% block moduleFooterClass %}card-footer{% endblock moduleFooterClass %}">
        {% block moduleFooter %}{% endblock moduleFooter %}

        {% block moduleDiscussion %}
            {% if thread is defined and thread is not null %}
                <div id="module_{{ module.token }}_comment_thread" data-thread="{{ thread.id }}" class="commentable_thread wall-comment-list">
                    {% include 'FOSCommentBundle:Thread:comments.html.twig' with {'comments':comments, 'thread':thread, 'view':'flat', 'userEventInvitation':userModuleInvitation.eventInvitation} %}
                </div>
                <script>
                    $(document).ready(function () {
                        if (typeof window.fos !== 'undefined' && typeof window.fos.Comment !== "undefined") {
                            window.fos.Comment.thread_container = $('.commentable_thread ');
                            window.fos.Comment.initializeListeners();
                        }
                        /** Fonction pour eviter le double envoi de commentaire */
                        $('#module_{{ module.token }}_comment_thread')
                            .on('fos_comment_add_comment', function (event, commentHtml) {
                                $('#module_{{ module.token }}_comment_thread .fos_comment_submit > button[type=submit], #module_{{ module.token }}_comment_thread .fos_comment_submit > input[type=submit]').removeAttr("disabled");
                            })
                            .on('fos_comment_submitting_form', function () {
                                $('#module_{{ module.token }}_comment_thread .fos_comment_submit > button[type=submit], #module_{{ module.token }}_comment_thread .fos_comment_submit > input[type=submit]').attr("disabled", "disabled");
                            });
                    });
                </script>
            {% endif %}
        {% endblock moduleDiscussion %}
    </div>

    <div id="modal-container-block-{{ module.token }}">
        {% if is_granted(constant('AppBundle\\Security\\ModuleVoter::EDIT'), userModuleInvitation) %}
            {{ include('@App/Event/module/displayModule_edition_modal.html.twig', {'module':module, 'moduleForm':moduleForm, 'userModuleInvitation':userModuleInvitation} ) }}
        {% endif %}
        {% block module_modal_container %}{% endblock module_modal_container %}
    </div>

    {% block JSmodule %}{% endblock %}
</div>