{% extends "@App/Event/module/displayModule.html.twig" %}

{# Données d'entrée :
- module (Module) Le module à afficher
- moduleForm (Form|null) Le formulaire d'édition du module
- userModuleInvitation (ModuleInvitation) L'invitation du module de l'utilisateur connecté
- pollProposalAddForm (Form|null) Le formulaire d'ajout d'une proposition
#}


{% set maxColModule = constant("AppBundle\\Manager\\ModuleInvitationManager::MAX_COLUMN_DISPLAYABLE") %}
{% set add_pp_form_modal_prefix = 'add_pp_fm_'~module.token %}

{% block moduleCardClass %}c-dark{% endblock moduleCardClass %}
{% block moduleHeaderClass %}palette-Red bg{% endblock moduleHeaderClass %}
{% block moduleHeaderAttributs %}{% endblock moduleHeaderAttributs %}

{% block mhBtnFloat %}{% endblock mhBtnFloat %}

{#{% block moduleBodyClass %}{% endblock %}#}
{#{% block moduleBodyAttributs %}{% endblock %}#}
{% block moduleBody %}
    {{ parent() }}
    {% if module.pollModule is not null %}
        {% set modulesInvitationsExceptUserMI = module.filteredModuleInvitations(maxColModule, [userModuleInvitation]) %}
        <div class="panel">
            <div class="panel-body">
                <div class="w-100 poll-container">
                    <table id="pollmodule-table-{{ module.token }}" class="compact stripe hover row-border" cellspacing="0" width="100%">
                        <thead>
                        <tr>
                            <td></td>
                            <td class="dt-head-center" style="width:40px">
                                <span class="userInvitation-avatar">
                                    <div class="avatar-img-container-sm center-block">
                                        {{ include("@App/Avatar/partials/avatar_display.html.twig",{invitation : userModuleInvitation}) }}
                                    </div>
                                </span>
                            </td>
                            {% for moduleInvitation in modulesInvitationsExceptUserMI %}
                                <td class="dt-center" style="width:40px">
                                    <div class="avatar-img-container-sm center-block">
                                        {{ include("@App/Avatar/partials/avatar_display.html.twig",{invitation : moduleInvitation}) }}
                                    </div>
                                </td>
                            {% endfor %}
                            <td></td>
                        </tr>
                        </thead>
                        <tbody class="palette-Grey-100 bg" id="pp-row-group-{{ module.token }}">
                        {% for pollProposal in module.pollModule.pollProposals if not pollProposal.deleted and pollProposal.id is not null %}
                            {{ include('@App/Event/module/pollModulePartials/pollProposalGuestResponseRowDisplay.html.twig', {
                                "pollProposal":pollProposal,
                                "userModuleInvitation":userModuleInvitation,
                                "moduleInvitations":modulesInvitationsExceptUserMI
                            }) }}
                        {% endfor %}
                        </tbody>
                    </table>
                    <script>
                        $(document).ready(function () {
                            $('#pollmodule-table-{{ module.token }}').DataTable({
                                /*dom: "rt",*/
                                paging: false,
                                ordering: false,
                                info: false,
                                searching: false,
                                scrollX: true,
                                stateSave: true,
                                fixedColumns: {leftColumns: 2},
                                buttons: false,
                                columnDefs: [/*{targets: 0, width: 130},*/ {targets: -1, width: 'auto'}]
                            });
                        });
                    </script>
                </div>

                {% if pollProposalAddForm is defined and pollProposalAddForm is not null %}
                    {{ include('@App/Event/module/pollModulePartials/pollProposal_form_min.html.twig', {
                        'userModuleInvitation' : userModuleInvitation,
                        'pollProposalForm' : pollProposalAddForm,
                        'pp_form_modal_prefix' : add_pp_form_modal_prefix
                    }) }}
                {% endif %}
            </div>
        </div>
    {% endif %}
{% endblock moduleBody %}

{% block moduleFooter %}{% endblock moduleFooter %}

{% block module_modal_container %}{% endblock module_modal_container %}
