{# Données d'entrée :
- module (Module) Le module à afficher
- moduleForm (Form|null) Le formulaire d'édition du module
- userModuleInvitation (ModuleInvitation) L'invitation du module de l'utilisateur connecté
#}

<div id="moduleEdit_form_{{ module.token }}">
    {% block form_start %}
        {{ form_start(moduleForm, {'action':path('displayEvent', {'token':module.event.token}), 'attr':{'id':"moduleForm-"~module.token} }) }}
    {% endblock form_start %}
    <div class="row">
        <div class="col-sm-12">
            {{ form_row(moduleForm.name, {
                'label': 'module.form.name.label',
                'attr':{},
                'widget_options':{'fgfloat':true, 'fgline':true}
            }) }}
            {{ form_row(moduleForm.description, {
                'label':'module.form.description.label',
                'attr':{'rows':3},
                'widget_options':{'fgfloat':true, 'fgline':true}
            }) }}
        </div>
    </div>
    {% block action_buttons %}
        <div class="pull-right m-r-20">
            <button type="button" class="btn btn-default waves-effect" data-dismiss="modal">{{ "global.button.cancel"|trans }}</button>
            <button type="submit" class="btn btn-primary waves-effect">{{ "global.button.save"|trans }}</button>
        </div>
    {% endblock action_buttons %}
    <div class="hidden">
        {{ form_rest(moduleForm) }}
    </div>
    {{ form_end(moduleForm) }}
    <div class="clearfix"></div>

    <script>
        $(document).ready(function () {
            // Update the Event name while editing the form field
            $('#module_form_{{ module.token }}_name').on('input', function () {
                var moduleName = $(this).val();
                if (moduleName == "") {
                    moduleName = "{{ "module.form.name.label"|trans }}";
                }
                $('#module_{{ module.token }}_name').html(moduleName);
            });

            {% block js_document_ready %}
            $('form#moduleForm-{{ module.token }}').on("submit", function (e) {
                ajaxFormSubmission(this, e, function (responseJSON, textStatus, jqXHR) {
                    $("#moduleEdit_modal_{{ module.token }}").modal('hide');
                }, null, function () {
                    $grid = $('.grid');
                    if($grid[0]) {
                        $grid.masonry('layout');
                    }
                });
            });
            {% endblock js_document_ready %}
        });
    </script>
</div>

