{% extends "@App/Event/module/displayModule.html.twig" %}

{% block moduleCardClass %}c-dark{% endblock moduleCardClass %}
{% block moduleHeaderClass %}ch-img{% endblock moduleHeaderClass %}
{% block moduleHeaderAttributs %}style="background-image: url({{ asset('bundles/app/img/module-head/05.jpg') }}); height: 150px;"{% endblock moduleHeaderAttributs %}

{% block mhMediaLeft %}
    <img class="avatar-img a-lg" src="{{ asset("bundles/app/img/test/contact/1.jpg") }}" alt="">
{% endblock mhMediaLeft %}
{% block mhBtnFloat %}
    <a data-toggle="modal" href="#addPayment">
        <button class="btn palette-Light-Green bg btn-float waves-effect waves-circle waves-float"><i class="zmdi zmdi-plus"></i></button>
    </a>
{% endblock mhBtnFloat %}

{% block moduleBody %}
    <div role="tabpanel">
        <ul class="tab-nav" role="tablist">
            <li class="active"><a href="#displayExpense" aria-controls="displayExpense" role="tab" data-toggle="tab" aria-expanded="false">Dépenses</a></li>
            <li class=""><a href="#balanceExpense" aria-controls="profile11" role="tab" data-toggle="tab" aria-expanded="true">Equilibre</a></li>
            <li class=""><a href="#preferenceExpense" aria-controls="preferenceExpense" role="tab" data-toggle="tab" aria-expanded="false">Paramètre</a></li>
        </ul>

        <div class="tab-content p-20">
            <div role="tabpanel" class="tab-pane active" id="displayExpense">
                <div class="table-responsive">
                    <table id="event-data-table-expense-1" class="table bootgrid-table table-condensed" aria-busy="false">
                        <thead>
                        <tr>
                            <th data-column-id="Qui" data-formatter="image">Qui</th>
                            <th data-column-id="Quoi">Quoi</th>
                            <th data-column-id="Combien">Combien</th>
                            <th data-column-id="PourVous">Pour Vous</th>
                            <th data-column-id="Quand">Quand</th>
                            <th data-column-id="PourQui" data-formatter="image">Pour Qui</th>
                            <th data-column-id="Info">Info</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for proposal in module.expenseModule.expenseProposals %}
                            <tr data-row-id="{{ proposal.id }}">
                                <td>
                                    {% if proposal.creator.appUser.user.avatar is defined and proposal.creator.appUser.user.avatar is not null %}
                                        {"avatars" : [{"avatarSrc" : "{{ asset(proposal.creator.appUser.user.avatar) }}", "pseudo" : "{{ proposal.creator.name }}"}] }
                                    {% else %}
                                        {"avatars" : [{"pseudo" : "{{ proposal.creator.name }}"}] }
                                    {% endif %}
                                </td>
                                <td>{{ proposal.name }}</td>
                                <td>{{ proposal.amount|number_format(2, ',', '') }}</td>
                                <td>To define</td>
                                <td>{{ proposal.expenseDate|date("d/m/Y") }}</td>
                                <td>
                                    {#Construction du Json avec la liste des participants#}
                                    {"avatars" : [
                                    {% set firstElt = true %}
                                    {% for participant in proposal.listOfParticipants %}
                                        {% if firstElt %}
                                            {% set firstElt = false %}
                                        {% else %}
                                            ,
                                        {% endif %}
                                        {% if participant.appUser.user.avatar is defined
                                        and participant.appUser.user.avatar is not null %}
                                            {"avatarSrc" : "{{ asset(proposal.creator.appUser.user.avatar) }}", "pseudo" : "{{ proposal.creator.name }}"}
                                        {% else %}
                                            {"pseudo" : "{{ participant.name }}"}
                                        {% endif %}
                                    {% endfor %}
                                    ]}
                                </td>
                                <td class="p-5">
                                    Ajouter information et édition
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
            <div role="tabpanel" class="tab-pane" id="balanceExpense">
                <p>Morbi mattis ullamcorper velit. Etiam rhoncus. Phasellus leo dolor, tempus non, auctor et, hendrerit quis, nisi. Cras id dui. Curabitur turpis. Etiam ut purus mattis mauris sodales
                    aliquam. Aenean viverra rhoncus pede. Nulla sit amet est. Donec mi odio, faucibus at, scelerisque quis, convallis in, nisi. Praesent ac sem eget est egestas volutpat. Cras varius.
                    Morbi mollis tellus ac sapien. In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo. Nam ipsum risus, rutrum vitae, vestibulum eu, molestie vel, lacus. Fusce vel dui.</p>
            </div>
            <div role="tabpanel" class="tab-pane" id="preferenceExpense">
                <p>Etiam rhoncus. Phasellus leo dolor, tempus non, auctor et, hendrerit quis, nisi. Cras id dui. Curabitur turpis. Etiam ut purus mattis mauris sodales aliquam. Aenean viverra rhoncus
                    pede. Nulla sit amet est. Donec mi odio, faucibus at, scelerisque quis, convallis in, nisi. Praesent ac sem eget est egestas volutpat. Cras varius. Morbi mollis tellus ac sapien.
                    In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo. Nam ipsum risus, rutrum vitae, vestibulum eu, molestie vel, lacus. Fusce vel dui.Morbi mattis ullamcorper velit.
                    Etiam rhoncus. Phasellus leo dolor, tempus non, auctor et, hendrerit quis, nisi. Cras id dui. Curabitur turpis. Etiam ut purus mattis mauris sodales aliquam. Aenean viverra rhoncus
                    pede. Nulla sit amet est. Donec mi odio, faucibus at, scelerisque quis, convallis in, nisi. Praesent ac sem eget est egestas volutpat. Cras varius. Morbi mollis tellus ac sapien.
                    In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo. Nam ipsum risus, rutrum vitae, vestibulum eu, molestie vel, lacus. Fusce vel dui.</p>
            </div>
        </div>
    </div>

    <div class="modal fade" id="addPayment" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Ajouter un paiement</h4>
                </div>
                <div class="modal-body">
                    <div class="form-group fg-float m-b-30">
                        <div class="fg-line">
                            <input class="form-control input-sm" type="email"> <label class="fg-label">Payeur</label>
                        </div>
                    </div>

                    <div class="form-group fg-float m-b-30">
                        <div class="fg-line">
                            <input class="form-control input-sm" type="email"> <label class="fg-label">Pour</label>
                        </div>
                    </div>

                    <div class="form-group fg-float m-b-30">
                        <div class="fg-line">
                            <input class="form-control input-sm" type="email"> <label class="fg-label">Montant</label>
                        </div>
                    </div>

                    <div class="form-group fg-float m-b-30">
                        <div class="fg-line">
                            <input class="form-control input-sm" type="email"> <label class="fg-label">Raison</label>
                        </div>
                    </div>

                    <div class="form-group fg-float">
                        <div class="fg-line">
                            <textarea style="overflow: hidden; word-wrap: break-word; height: 43px;" data-autosize-on="true" class="form-control auto-size input-sm"></textarea> <label
                                    class="fg-label">Message</label>
                        </div>
                    </div>

                    <div class="clearfix"></div>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-info waves-effect">Valider</button>
                    <button class="btn btn-info waves-effect">Valider et ajouter une autre dépense</button>
                    <button class="btn btn-link waves-effect">Annuler</button>
                </div>
            </div>
        </div>
    </div>
{% endblock moduleBody %}

{% block moduleFooter %}{% endblock moduleFooter %}

{#{% block moduleBody %}
    {{ parent() }}
    <div role="tabpanel">
        <ul class="tab-nav" role="tablist">
            <li class="active"><a href="#displayExpense" aria-controls="displayExpense" role="tab" data-toggle="tab" aria-expanded="false">Dépenses</a></li>
            <li class=""><a href="#balanceExpense" aria-controls="profile11" role="tab" data-toggle="tab" aria-expanded="true">Equilibre</a></li>
            <li class=""><a href="#preferenceExpense" aria-controls="preferenceExpense" role="tab" data-toggle="tab" aria-expanded="false">Paramètre</a></li>
        </ul>

        <div class="tab-content">
            <div role="tabpanel" class="tab-pane active" id="displayExpense">
                <div class="table-responsive">
                    <table id="event-data-table-expense-1" class="table bootgrid-table table-condensed" aria-busy="false">
                        <thead>
                        <tr>
                            <th data-column-id="Qui" data-formatter="image">Qui</th>
                            <th data-column-id="Quoi">Quoi</th>
                            <th data-column-id="Combien">Combien</th>
                            <th data-column-id="PourVous">Pour Vous</th>
                            <th data-column-id="Quand">Quand</th>
                            <th data-column-id="PourQui" data-formatter="image">Pour Qui</th>
                            <th data-column-id="Info">Info</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr data-row-id="0">
                            <td class="text-left p-5" style="">
                                {"avatars" : [ {"avatarSrc" : "{{ asset("bundles/app/img/test/contact/1.jpg") }}", "pseudo" : "monPseudo"}] }
                            </td>
                            <td class="text-left p-5" style="">Un truc</td>
                            <td class="text-left p-5" style="">59,50</td>
                            <td class="text-left p-5" style="">{{ 5000|number_format(2, ',', '') }}</td>
                            <td class="text-left p-5" style="">28/10/2016</td>
                            <td class="text-left p-5" style="">
                                {"avatars" : [ {"avatarSrc" : "{{ asset("bundles/app/img/test/contact/1.jpg") }}"},{"avatarSrc" : "{{ asset("bundles/app/img/test/contact/1.jpg") }}"}] }
                            </td>
                            <td class="p-5">
                                <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo"> <span
                                            class="zmdi icon zmdi-info zmdi-hc-2x"></span> </a>
                            </td>
                        </tr>
                        #}{#<tr aria-expanded="false" style="height: 0px;" id="collapseTwo" class="collapse" role="tabpanel" aria-labelledby="headingTwo">
                            <td class="text-left p-5"><i class="zmdi zmdi-arrow-right"></i></td>
                            <td class="text-left p-5" colspan="5">Ceci est un test pour dire que c'est pour payer des saussices</td>
                        </tr>#}{#
                        <tr data-row-id="1">
                            <td class="text-left p-5" style="">{"avatars" : [ {"avatarSrc" : "{{ asset("bundles/app/img/test/contact/1.jpg") }}"}] }</td>
                            <td class="text-left p-5" style="">Un truc</td>
                            <td class="text-left p-5" style="">59,50</td>
                            <td class="text-left p-5" style="">5,50</td>
                            <td class="text-left p-5" style="">28.10.2016</td>
                            <td class="text-left p-5" style="">
                                {"avatars" : [ {"avatarSrc" : "{{ asset("bundles/app/img/test/contact/1.jpg") }}"},{"avatarSrc" : "{{ asset("bundles/app/img/test/contact/1.jpg") }}"}] }
                            </td>
                        </tr>
                        <tr data-row-id="2">
                            <td class="text-left p-5" style="">{"avatars" : [ {"avatarSrc" : "{{ asset("bundles/app/img/test/contact/1.jpg") }}"}] }</td>
                            <td class="text-left p-5" style="">Un truc</td>
                            <td class="text-left p-5" style="">59,50</td>
                            <td class="text-left p-5" style="">5,50</td>
                            <td class="text-left p-5" style="">28.10.2016</td>
                            <td class="text-left p-5" style="">
                                {"avatars" : [ {"avatarSrc" : "{{ asset("bundles/app/img/test/contact/10.jpg") }}"} ,{"avatarSrc" : "{{ asset("bundles/app/img/test/contact/1.jpg") }}"} ,{"avatarSrc" :
                                "{{ asset("bundles/app/img/test/contact/2.jpg") }}"} ,{"avatarSrc" : "{{ asset("bundles/app/img/test/contact/3.jpg") }}"} ,{"avatarSrc" :
                                "{{ asset("bundles/app/img/test/contact/7.jpg") }}"} ,{"avatarSrc" : "{{ asset("bundles/app/img/test/contact/16.jpg") }}"} ] }
                            </td>
                        </tr>
                        <tr data-row-id="3">
                            <td class="text-left p-5" style="">{"avatars" : [ {"avatarSrc" : "{{ asset("bundles/app/img/test/contact/12.jpg") }}"}] }</td>
                            <td class="text-left p-5" style="">Un truc</td>
                            <td class="text-left p-5" style="">59,50</td>
                            <td class="text-left p-5" style="">5,50</td>
                            <td class="text-left p-5" style="">28.10.2016</td>
                            <td class="text-left p-5" style="">
                                {"avatars" : [ {"avatarSrc" : "{{ asset("bundles/app/img/test/contact/10.jpg") }}"},{"avatarSrc" : "{{ asset("bundles/app/img/test/contact/1.jpg") }}"} ,{"avatarSrc" :
                                "{{ asset("bundles/app/img/test/contact/15.jpg") }}"},{"avatarSrc" : "{{ asset("bundles/app/img/test/contact/8.jpg") }}"}] }
                            </td>
                        </tr>
                        <tr data-row-id="4">
                            <td class="text-left p-5" style="">{"avatars" : [ {"avatarSrc" : "{{ asset("bundles/app/img/test/contact/12.jpg") }}"}] }</td>
                            <td class="text-left p-5" style="">Un truc de ouf qu'est trop de la balle!</td>
                            <td class="text-left p-5" style="">59,50</td>
                            <td class="text-left p-5" style="">5,50</td>
                            <td class="text-left p-5" style="">28.10.2016</td>
                            <td class="text-left p-5" style="">
                                {"avatars" : [ {"avatarSrc" : "{{ asset("bundles/app/img/test/contact/13.jpg") }}"},{"avatarSrc" : "{{ asset("bundles/app/img/test/contact/1.jpg") }}"} ,{"avatarSrc" :
                                "{{ asset("bundles/app/img/test/contact/15.jpg") }}"}] }
                            </td>
                        </tr>
                        <tr data-row-id="5">
                            <td class="text-left p-5" style="">{"avatars" : [ {"avatarSrc" : "{{ asset("bundles/app/img/test/contact/.41.jpg") }}"}] }</td>
                            <td class="text-left p-5" style="">Un truc</td>
                            <td class="text-left p-5" style="">59,50</td>
                            <td class="text-left p-5" style="">5,50</td>
                            <td class="text-left p-5" style="">28.10.2016</td>
                            <td class="text-left p-5" style="">
                                {"avatars" : [ {"avatarSrc" : "{{ asset("bundles/app/img/test/contact/16.jpg") }}"},{"avatarSrc" : "{{ asset("bundles/app/img/test/contact/1.jpg") }}"} ,{"avatarSrc" :
                                "{{ asset("bundles/app/img/test/contact/2.jpg") }}"},{"avatarSrc" : "{{ asset("bundles/app/img/test/contact/1.jpg") }}"} ,{"avatarSrc" :
                                "{{ asset("bundles/app/img/test/contact/6.jpg") }}"},{"avatarSrc" : "{{ asset("bundles/app/img/test/contact/1.jpg") }}"} ,{"avatarSrc" :
                                "{{ asset("bundles/app/img/test/contact/8.jpg") }}"} ,{"avatarSrc" : "{{ asset("bundles/app/img/test/contact/7.jpg") }}"}] }
                            </td>
                        </tr>
                        <tr data-row-id="6">
                            <td class="text-left p-5" style="">{"avatars" : [ {"avatarSrc" : "{{ asset("bundles/app/img/test/contact/1.jpg") }}"}] }</td>
                            <td class="text-left p-5" style="">Un truc</td>
                            <td class="text-left p-5" style="">59,50</td>
                            <td class="text-left p-5" style="">5,50</td>
                            <td class="text-left p-5" style="">28.10.2016</td>
                            <td class="text-left p-5" style="">
                                {"avatars" : [ {"avatarSrc" : "{{ asset("bundles/app/img/test/contact/1.jpg") }}"},{"avatarSrc" : "{{ asset("bundles/app/img/test/contact/1.jpg") }}"},{"avatarSrc" :
                                "{{ asset("bundles/app/img/test/contact/1.jpg") }}"}] }
                            </td>
                        </tr>
                        <tr data-row-id="7">
                            <td class="text-left p-5" style="">{"avatars" : [ {"avatarSrc" : "{{ asset("bundles/app/img/test/contact/1.jpg") }}"}] }</td>
                            <td class="text-left p-5" style="">Un truc</td>
                            <td class="text-left p-5" style="">59,50</td>
                            <td class="text-left p-5" style="">5,50</td>
                            <td class="text-left p-5" style="">28.10.2016</td>
                            <td class="text-left p-5" style="">
                                {"avatars" : [ {"avatarSrc" : "{{ asset("bundles/app/img/test/contact/1.jpg") }}"},{"avatarSrc" : "{{ asset("bundles/app/img/test/contact/1.jpg") }}"} ,{"avatarSrc" :
                                "{{ asset("bundles/app/img/test/contact/1.jpg") }}"},{"avatarSrc" : "{{ asset("bundles/app/img/test/contact/1.jpg") }}"}] }
                            </td>
                        </tr>
                        <tr data-row-id="8">
                            <td class="text-left p-5" style="">{"avatars" : [ {"avatarSrc" : "{{ asset("bundles/app/img/test/contact/1.jpg") }}"}] }</td>
                            <td class="text-left p-5" style="">Un truc</td>
                            <td class="text-left p-5" style="">59,50</td>
                            <td class="text-left p-5" style="">5,50</td>
                            <td class="text-left p-5" style="">28.10.2016</td>
                            <td class="text-left p-5" style="">
                                {"avatars" : [ {"avatarSrc" : "{{ asset("bundles/app/img/test/contact/1.jpg") }}"},{"avatarSrc" : "{{ asset("bundles/app/img/test/contact/1.jpg") }}"}] }
                            </td>
                        </tr>
                        <tr data-row-id="9">
                            <td class="text-left p-5" style="">{"avatars" : [ {"avatarSrc" : "{{ asset("bundles/app/img/test/contact/1.jpg") }}"}] }</td>
                            <td class="text-left p-5" style="">Un truc</td>
                            <td class="text-left p-5" style="">59,50</td>
                            <td class="text-left p-5" style="">5,50</td>
                            <td class="text-left p-5" style="">28.10.2016</td>
                            <td class="text-left p-5" style="">
                                {"avatars" : [ {"avatarSrc" : "{{ asset("bundles/app/img/test/contact/1.jpg") }}"},{"avatarSrc" : "{{ asset("bundles/app/img/test/contact/1.jpg") }}"}] }
                            </td>
                        </tr>
                        <tr data-row-id="3">
                            <td class="text-left p-5" style="">{"avatars" : [ {"avatarSrc" : "{{ asset("bundles/app/img/test/contact/12.jpg") }}"}] }</td>
                            <td class="text-left p-5" style="">Un truc</td>
                            <td class="text-left p-5" style="">59,50</td>
                            <td class="text-left p-5" style="">5,50</td>
                            <td class="text-left p-5" style="">28.10.2016</td>
                            <td class="text-left p-5" style="">
                                {"avatars" : [ {"avatarSrc" : "{{ asset("bundles/app/img/test/contact/10.jpg") }}"},{"avatarSrc" : "{{ asset("bundles/app/img/test/contact/1.jpg") }}"} ,{"avatarSrc" :
                                "{{ asset("bundles/app/img/test/contact/15.jpg") }}"},{"avatarSrc" : "{{ asset("bundles/app/img/test/contact/8.jpg") }}"}] }
                            </td>
                        </tr>
                        <tr data-row-id="4">
                            <td class="text-left p-5" style="">{"avatars" : [ {"avatarSrc" : "{{ asset("bundles/app/img/test/contact/12.jpg") }}"}] }</td>
                            <td class="text-left p-5" style="">Un truc de ouf qu'est trop de la balle!</td>
                            <td class="text-left p-5" style="">59,50</td>
                            <td class="text-left p-5" style="">5,50</td>
                            <td class="text-left p-5" style="">28.10.2016</td>
                            <td class="text-left p-5" style="">
                                {"avatars" : [ {"avatarSrc" : "{{ asset("bundles/app/img/test/contact/13.jpg") }}"},{"avatarSrc" : "{{ asset("bundles/app/img/test/contact/1.jpg") }}"} ,{"avatarSrc" :
                                "{{ asset("bundles/app/img/test/contact/15.jpg") }}"}] }
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div role="tabpanel" class="tab-pane" id="balanceExpense">
                <p>Morbi mattis ullamcorper velit. Etiam rhoncus. Phasellus leo dolor, tempus non, auctor et, hendrerit quis, nisi. Cras id dui. Curabitur turpis. Etiam ut purus mattis mauris sodales
                    aliquam. Aenean viverra rhoncus pede. Nulla sit amet est. Donec mi odio, faucibus at, scelerisque quis, convallis in, nisi. Praesent ac sem eget est egestas volutpat. Cras varius.
                    Morbi mollis tellus ac sapien. In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo. Nam ipsum risus, rutrum vitae, vestibulum eu, molestie vel, lacus. Fusce vel dui.</p>
            </div>
            <div role="tabpanel" class="tab-pane" id="preferenceExpense">
                <p>Etiam rhoncus. Phasellus leo dolor, tempus non, auctor et, hendrerit quis, nisi. Cras id dui. Curabitur turpis. Etiam ut purus mattis mauris sodales aliquam. Aenean viverra rhoncus
                    pede. Nulla sit amet est. Donec mi odio, faucibus at, scelerisque quis, convallis in, nisi. Praesent ac sem eget est egestas volutpat. Cras varius. Morbi mollis tellus ac sapien.
                    In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo. Nam ipsum risus, rutrum vitae, vestibulum eu, molestie vel, lacus. Fusce vel dui.Morbi mattis ullamcorper velit.
                    Etiam rhoncus. Phasellus leo dolor, tempus non, auctor et, hendrerit quis, nisi. Cras id dui. Curabitur turpis. Etiam ut purus mattis mauris sodales aliquam. Aenean viverra rhoncus
                    pede. Nulla sit amet est. Donec mi odio, faucibus at, scelerisque quis, convallis in, nisi. Praesent ac sem eget est egestas volutpat. Cras varius. Morbi mollis tellus ac sapien.
                    In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo. Nam ipsum risus, rutrum vitae, vestibulum eu, molestie vel, lacus. Fusce vel dui.</p>
            </div>
        </div>
    </div>

    #}{#</div>#}{#


    <div class="modal fade" id="addPayment" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Ajouter un paiement</h4>
                </div>
                <div class="modal-body">
                    <div class="form-group fg-float m-b-30">
                        <div class="fg-line">
                            <input class="form-control input-sm" type="email"> <label class="fg-label">Payeur</label>
                        </div>
                    </div>

                    <div class="form-group fg-float m-b-30">
                        <div class="fg-line">
                            <input class="form-control input-sm" type="email"> <label class="fg-label">Pour</label>
                        </div>
                    </div>

                    <div class="form-group fg-float m-b-30">
                        <div class="fg-line">
                            <input class="form-control input-sm" type="email"> <label class="fg-label">Montant</label>
                        </div>
                    </div>

                    <div class="form-group fg-float m-b-30">
                        <div class="fg-line">
                            <input class="form-control input-sm" type="email"> <label class="fg-label">Raison</label>
                        </div>
                    </div>

                    <div class="form-group fg-float">
                        <div class="fg-line">
                            <textarea style="overflow: hidden; word-wrap: break-word; height: 43px;" data-autosize-on="true" class="form-control auto-size input-sm"></textarea> <label
                                    class="fg-label">Message</label>
                        </div>
                    </div>

                    <div class="clearfix"></div>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-info waves-effect">Valider</button>
                    <button class="btn btn-info waves-effect">Valider et ajouter une autre dépense</button>
                    <button class="btn btn-link waves-effect">Annuler</button>
                </div>
            </div>
        </div>
    </div>
{% endblock moduleBody %}#}

    {#

    <div class="card popular-post">
        <div class="card-header ch-img" style="background-image: url({{ asset('bundles/app/img/module-head/05.jpg') }}); height: 150px;">
            <div class="pull-left m-r-10">
                <img class="avatar-img" src="{{ asset("bundles/app/img/test/contact/1.jpg") }}" alt="">
            </div>
            <h2>Recent Posts
                <small>Venenatis Sollicitudin Ipsum</small>
            </h2>
            <a data-toggle="modal" href="#addPayment">
                <button class="btn palette-Light-Green bg btn-float waves-effect waves-circle waves-float"><i class="zmdi zmdi-plus"></i></button>
            </a>
        </div>
        <div class="card-body card-padding m-t-20">
            <ul class="wall-attrs clearfix list-inline list-unstyled">
                #}
    {#<li class="wa-stats">
                    <span><i class="zmdi zmdi-comments"></i> 36</span>
                    <span class="active"><i class="zmdi zmdi-favorite"></i> 220</span>
                </li>#}{#


                <li class="wa-users">
                    <a href=""><img src="{{ asset("bundles/app/img/test/contact/1.jpg") }}" alt=""></a>
                    <a href=""><img src="img/profile-pics/2.jpg" alt=""></a>
                    <a href=""><img src="img/profile-pics/3.jpg" alt=""></a>
                    <a href=""><img src="img/profile-pics/5.jpg" alt=""></a>
                </li>
            </ul>
            <div class="list-group lg-alt">
                <a href="" class="list-group-item media">
                    <div class="pull-left">
                        <img class="avatar-img" src="{{ asset("bundles/app/img/test/contact/1.jpg") }}" alt="">
                    </div>

                    <div class="media-body">
                        <div class="lgi-heading">David Villa Jacobs</div>
                        <small class="lgi-text">Sorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam mattis lobortis sapien non posuere</small>
                    </div>
                </a>

                <a href="" class="list-group-item media">
                    <div class="pull-left">
                        <img class="avatar-img" src="img/profile-pics/5.jpg" alt="">
                    </div>
                    <div class="media-body">
                        <div class="lgi-heading">Candice Barnes</div>
                        <small class="lgi-text">Quisque non tortor ultricies, posuere elit id, lacinia purus curabitur.</small>
                    </div>
                </a>

                <a href="" class="list-group-item media">
                    <div class="pull-left">
                        <img class="avatar-img" src="img/profile-pics/3.jpg" alt="">
                    </div>
                    <div class="media-body">
                        <div class="lgi-heading">Jeannette Lawson</div>
                        <small class="lgi-text">Donec congue tempus ligula, varius hendrerit mi hendrerit sit amet. Duis ac quam sit amet leo feugiat iaculis</small>
                    </div>
                </a>

                <a href="" class="list-group-item media">
                    <div class="pull-left">
                        <img class="avatar-img" src="img/profile-pics/4.jpg" alt="">
                    </div>
                    <div class="media-body">
                        <div class="lgi-heading">Darla Mckinney</div>
                        <small class="lgi-text">Duis tincidunt augue nec sem dignissim scelerisque. Vestibulum rhoncus sapien sed nulla aliquam lacinia</small>
                    </div>
                </a>

                <a href="" class="list-group-item media">
                    <div class="pull-left">
                        <img class="avatar-img" src="img/profile-pics/2.jpg" alt="">
                    </div>
                    <div class="media-body">
                        <div class="lgi-heading">Rudolph Perez</div>
                        <small class="lgi-text">Phasellus a ullamcorper lectus, sit amet viverra quam. In luctus tortor vel nulla pharetra bibendum</small>
                    </div>
                </a>

                <a href="" class="list-group-item view-more">
                    <i class="zmdi zmdi-long-arrow-right"></i> View all
                </a>
            </div>
        </div>
    </div>#}
