{% extends "@App/Event/module/displayModule.html.twig" %}

{% set maxColModule = 10 %}

{% block moduleCardClass %}c-dark{% endblock moduleCardClass %}
{% block moduleHeaderClass %}palette-Red bg{% endblock moduleHeaderClass %}
{% block moduleHeaderAttributs %}{% endblock moduleHeaderAttributs %}

{% block mhBtnFloat %}
    {% if addPollProposalForm is defined and addPollProposalForm is not null %}
        {# TODO Check authorization to addPollProposal #}
        <a data-toggle="modal" href="#addPollProposal_modal_{{ module.token }}">
            <button class="btn palette-Red-A700 bg btn-float waves-effect waves-circle waves-float"><i class="zmdi zmdi-plus"></i></button>
        </a>
    {% endif %}
{% endblock mhBtnFloat %}

{#{% block moduleBodyClass %}{% endblock %}#}
{#{% block moduleBodyAttributs %}{% endblock %}#}
{% block moduleBody %}
    {{ parent() }}
    {% if module.pollModule is not null %}
        <div class="panel">
            <div class="panel-body">
                <div class="p-5">
                    <div class="poll-container">
                        <div class="pc-ligne">
                            <div class="pcl-celulle"></div>
                            {% if userModuleInvitation is defined and userModuleInvitation is not null %}
                                <div class="pcl-celulle">
                                    <span class="text-warning">{{ userModuleInvitation.displayableName }}</span>
                                </div>
                            {% endif %}
                            {% for moduleInvitation in module.moduleInvitations|slice(0,maxColModule) if userModuleInvitation is not defined or userModuleInvitation is null
                            or moduleInvitation.id != userModuleInvitation.id %}
                                <div class="pcl-celulle">
                                    {{ moduleInvitation.displayableName is not empty?moduleInvitation.displayableName:'-' }}
                                </div>
                            {% endfor %}
                            <div class="pcl-celulle">
                                {% if module.moduleInvitations|length > maxColModule %}
                                    {# TODO implement "display more"-functionnality #}
                                    <span class="zmdi-hc-stack zmdi-hc-lg">
                                        <i class="zmdi zmdi-circle zmdi-hc-stack-2x"></i>
                                        <i class="zmdi zmdi-more zmdi-hc-stack-1x zmdi-hc-inverse"></i>
                                    </span>
                                {% endif %}
                            </div>
                        </div>
                        <div class="pc-groupe-ligne palette-Grey-100 bg" id="pp-row-group-{{ module.token }}">
                            {% for pollProposal in module.pollModule.pollProposals %}
                                {{ include('@App/Event/module/pollModulePartials/pollProposalGuestResponseRowDisplay.html.twig', {
                                    "pollProposal":pollProposal,
                                    "userModuleInvitation":(userModuleInvitation is defined?userModuleInvitation:null),
                                    "moduleInvitations":module.moduleInvitations|slice(0,maxColModule)
                                }) }}
                            {% else %}
                                <div class="pc-ligne" id="pp-empty-{{ module.token }}">
                                    <div class="pcl-celulle w-100">
                                        {{ "noPollProposal"|trans }}
                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {% endif %}
{% endblock moduleBody %}

{% block moduleFooter %}{% endblock moduleFooter %}

{% block modalContainer %}
    {% if addPollProposalForm is defined and addPollProposalForm is not null %}
        {# TODO Check authorization to addPollProposal #}
        {{ include('@App/Event/module/pollModulePartials/pollProposalAddFormModal.html.twig', {'addPollProposalForm' : addPollProposalForm}) }}
    {% endif %}
{% endblock modalContainer %}

{% block JSmodule %}
    {{ parent() }}
    {% if addPollProposalForm is defined and addPollProposalForm is not null %}
        {# TODO Check authorization to addPollProposal #}
        <script>
            $('form#addPollProposalForm_{{ module.token }}').on('submit', function (e) {
                var $form = $(this);
                ajaxFormSubmission(this, e, function (responseJSON, textStatus, jqXHR) {
                    $('#addPollProposal_modal_{{ module.token }}').modal('toggle');
                    if (responseJSON.htmlContent) {
                        if (responseJSON.htmlContent.pollProposalRowDisplay) {
                            $('#pp-row-group-{{ module.token }}').append(responseJSON.htmlContent.pollProposalRowDisplay);
                            if ($('#pp-empty-{{ module.token }}')[0]) {
                                $('#pp-empty-{{ module.token }}').remove();
                            }
                        }
                        $form[0].reset();
                    }
                }, null, null);
            });
        </script>
    {% endif %}
{% endblock JSmodule %}