{# Données d'entrée :
- module (Module) Le module à afficher
- moduleForm (Form|null) Le formulaire d'édition du module
#}

<div id="moduleEdit_form_{{ module.token }}">
    {% block form_start %}
        {{ form_start(moduleForm, {'action':path('displayEvent', {'token':module.event.token}), 'attr':{'id':"moduleForm-"~module.token} }) }}
    {% endblock form_start %}
    <div class="row">
        <div class="col-sm-12">
            {{ form_row(moduleForm.name, {
                'label': 'module.form.name.label',
                'attr':{},
                'widget_options':{'label_icon':'zmdi zmdi-flare','fgfloat':true, 'fgline':true}
            }) }}<br/>
            {{ form_row(moduleForm.description, {
                'label':'module.form.description.label',
                'label_attr':{'class':'sr-only'},
                'attr':{'rows':3},
                'widget_options':{'label_icon':'zmdi zmdi-receipt','fgline':false}
            }) }}
        </div>
    </div>
    {% block action_buttons %}
        <div class="pull-right m-r-20 m-t-10">
            <button type="button" class="btn btn-flat waves-effect" data-dismiss="modal">{{ "global.button.close"|trans }}</button>
            <button type="submit" class="btn btn-primary waves-effect">{{ "global.button.save"|trans }}</button>
        </div>
    {% endblock action_buttons %}
    <div class="hidden">
        {{ form_rest(moduleForm) }}
    </div>
    {{ form_end(moduleForm) }}
    <div class="clearfix"></div>

    <script>
        $(document).ready(function () {
            var summernoteOptions = {
                dialogsInBody: true,
                placeholder: '{{ 'module.form.description.placeholder'|trans }}',
                airMode: true,
                height: 150,
                toolbar: [
                    ['style', ['bold', 'italic', 'underline', 'strikethrough', 'clear']],
                    ['fontsize', ['fontsize']],
                    ['color', ['color']],
                    ['para', ['ul', 'ol', 'paragraph']],
                    ['insert', ['link', 'picture', 'video']]
                ]
            };
            {% if app.request.locale == 'fr' %}
            summernoteOptions.lang = 'fr-FR';
            {% endif %}
            $('#{{ moduleForm.description.vars.id }}').summernote(summernoteOptions);

            {% block js_document_ready %}
            // Update the Event name while editing the form field
            $('#module_form_{{ module.token }}_name').on('input', function () {
                var moduleName = $(this).val();
                if (moduleName == "") {
                    moduleName = "{{ "module.form.name.label"|trans }}";
                }
                $('#module_{{ module.token }}_name').html(moduleName);
            });


            $('form#moduleForm-{{ module.token }}').on("submit", function (e) {
                e.preventDefault();
                var form = $(this);
                if (!eventInvitationValid && askGuestName !== undefined) {
                    $('#moduleEdit_modal_{{ module.token }}').modal('hide');
                    askGuestName(e, submitModuleEditionForm, [form, e, "{{ module.token }}"]);
                } else {
                    submitModuleEditionForm([form, e, "{{ module.token }}"]);
                }
            });
            {% endblock js_document_ready %}
        });
    </script>
</div>

