{% extends "@App/Event/module/displayModule.html.twig" %}

{# Données d'entrée :
- module (Module) Le module à afficher
- moduleForm (Form|null) Le formulaire d'édition du module
- userModuleInvitation (ModuleInvitation) L'invitation du module de l'utilisateur connecté
- pollModuleOptions (Array), contains:
        - pollProposalAddForm (Form|null) Le formulaire d'ajout d'une proposition
#}


{% set maxColModule = constant("AppBundle\\Manager\\ModuleInvitationManager::MAX_COLUMN_DISPLAYABLE") %}
{% set add_pp_form_modal_prefix = 'add_pp_fm_'~module.token %}

{% block moduleCardClass %}{{ parent() }}{% endblock moduleCardClass %}
{% block moduleHeaderClass %}{{ parent() }}{% endblock moduleHeaderClass %}
{% block moduleHeaderAttributs %}{{ parent() }}{% endblock moduleHeaderAttributs %}

{% block mhBtnFloat %}{% endblock mhBtnFloat %}

{% block moduleBody %}
    {% if module.pollModule is not null %}
        <div class="card-body card-padding-xs">
            {% set proposalList = module.pollModule.validPollProposal %}
            <div class="w-100 poll-container">
                <table id="pollmodule-table-{{ module.token }}" class="table-striped w-100">
                    <tbody id="pp-row-group-{{ module.token }}">
                    {# Pour chaque proposition #}
                    {% for pollProposal in module.pollModule.pollProposals if not pollProposal.deleted and pollProposal.id is not null %}
                        {{ include('@App/Event/module/pollModulePartials/pollProposalGuestResponseRowDisplay.html.twig', {
                            "pollProposal":pollProposal,
                            "userModuleInvitation":userModuleInvitation,
                            "moduleInvitations":module.filteredModuleInvitations
                        }) }}
                    {% endfor %}
                    <tr class="tr-no-proposal">
                        <td colspan="3">{{ "pollmodule.display.no_proposal"|trans }}</td>
                    </tr>
                    </tbody>
                    {% if pollModuleOptions.pollProposalAddForm is defined and pollModuleOptions.pollProposalAddForm is not null %}
                        <tfoot>
                        <tr>
                            <td colspan="3">
                                <a id="{{ add_pp_form_modal_prefix }}_modal_open_link" class="btn btn-link btn-icon-text c-blue p-l-0" href="#{{ add_pp_form_modal_prefix }}_modal_id"> <i
                                            class="zmdi zmdi-plus-square"></i>{{ "pollmodule.modal.addPollProposal.title"|trans }}</a>
                                <script>
                                    $('#{{ add_pp_form_modal_prefix }}_modal_open_link').on('click', function (e) {
                                        var modalId = $(this).attr('href');
                                        if (!eventInvitationValid && askGuestName !== undefined) {
                                            e.preventDefault();
                                            askGuestName(e, function () {
                                                $(modalId).modal('show');
                                            });
                                        } else {
                                            $(modalId).modal('show');
                                        }
                                    });
                                </script>
                                {{ include('@App/Event/module/pollModulePartials/pollProposal_form_modal.html.twig', {
                                    'userModuleInvitation' : userModuleInvitation,
                                    'pollModuleOptions' : pollModuleOptions,
                                    'pp_form_modal_prefix' : add_pp_form_modal_prefix,
                                    'edition' : false
                                }) }}
                            </td>
                        </tr>
                        </tfoot>
                    {% endif %}
                </table>
            </div>

            <div class="pollModuleDisplayAllResult text-center m-t-10 m-b-10">
                <a class="btn btn-link b-1 waves-effect" id="pollModuleDisplayAllResult_{{ module.token }}_button" href="{{ path('pollModuleDisplayResultTable', {"moduleToken": module.token }) }}"
                   role="button" {% if proposalList is empty %}style="display: none;"{% endif %}>{{ "pollmodule.display.result.allresult"|trans }}</a>
                <script>
                    $('#pollModuleDisplayAllResult_{{ module.token }}_button').on('click', function (e) {
                        ajaxRequest($(this), null, e, function (responseJSON, textStatus, jqXHR) {
                            LetterAvatar.transform();
                            closeModalOnReturn('#pollModuleDisplayAllResult_{{ module.token }}_modal');
                            $('#pollModuleDisplayAllResult_{{ module.token }}_modal').modal('show');
                        }, null, null);
                    });
                </script>
            </div>

            {# Conteneur pour la modale ajouté via ajax #}
            <div id="pollModuleDisplayAllResult_{{ module.token }}_container"></div>
        </div>
    {% endif %}
{% endblock moduleBody %}

{#{% block moduleFooter %}{% endblock moduleFooter %}#}

{% block module_modal_container %}{% endblock module_modal_container %}
