{% extends "@App/Event/module/displayModule.html.twig" %}

{# Données d'entrée :
- module (Module) Le module à afficher
- moduleForm (Form|null) Le formulaire d'édition du module
- userModuleInvitation (ModuleInvitation) L'invitation du module de l'utilisateur connecté
- pollProposalAddForm (Form|null) Le formulaire d'ajout d'une proposition
#}


{% set maxColModule = constant("AppBundle\\Manager\\ModuleInvitationManager::MAX_COLUMN_DISPLAYABLE") %}
{% set add_pp_form_modal_prefix = 'add_pp_fm_'~module.token %}

{% block moduleCardClass %}c-dark{% endblock moduleCardClass %}
{% block moduleHeaderClass %}palette-Red bg{% endblock moduleHeaderClass %}
{% block moduleHeaderAttributs %}{% endblock moduleHeaderAttributs %}

{% block mhBtnFloat %}
    {% if pollProposalAddForm is defined and pollProposalAddForm is not null %}
        {# TODO Check authorization to addPollProposal #}
        <a data-toggle="modal" href="#{{ add_pp_form_modal_prefix }}_modal_id">
            <button class="btn palette-Red-A700 bg btn-float waves-effect waves-circle waves-float"><i class="zmdi zmdi-plus"></i></button>
        </a>
    {% endif %}
{% endblock mhBtnFloat %}

{#{% block moduleBodyClass %}{% endblock %}#}
{#{% block moduleBodyAttributs %}{% endblock %}#}
{% block moduleBody %}
    {{ parent() }}
    {% if module.pollModule is not null %}
        {% set modulesInvitationsExceptUserMI = module.filteredModuleInvitations(maxColModule, [userModuleInvitation]) %}
        <div class="panel">
            <div class="panel-body">
                <div class="w-100 poll-container">
                    <table id="pollmodule-table-{{ module.token }}" class="compact stripe hover row-border" cellspacing="0" width="100%">
                        <thead>
                        <tr>
                            <td></td>
                            <td class="dt-head-center">
                                <span class="userInvitation-avatar">
                                    {{ include('@App/Event/partials/guest/display_guest_avatar.html.twig', {'invitation':userModuleInvitation}) }}
                                </span>
                            </td>
                            {% for moduleInvitation in modulesInvitationsExceptUserMI %}
                                <td>
                                    {{ include('@App/Event/partials/guest/display_guest_avatar.html.twig', {'invitation':moduleInvitation}) }}
                                </td>
                            {% endfor %}
                            <td>
                                {% if module.moduleInvitations|length > maxColModule %}
                                    {# TODO implement "display more"-functionnality #}
                                    <span class="zmdi-hc-stack zmdi-hc-lg">
                                        <i class="zmdi zmdi-circle zmdi-hc-stack-2x"></i>
                                        <i class="zmdi zmdi-more zmdi-hc-stack-1x zmdi-hc-inverse"></i>
                                    </span>
                                {% endif %}
                            </td>
                        </tr>
                        </thead>
                        <tbody class="palette-Grey-100 bg" id="pp-row-group-{{ module.token }}">
                        {% for pollProposal in module.pollModule.pollProposals if not pollProposal.deleted and pollProposal.id is not null %}
                            {{ include('@App/Event/module/pollModulePartials/pollProposalGuestResponseRowDisplay.html.twig', {
                                "pollProposal":pollProposal,
                                "userModuleInvitation":userModuleInvitation,
                                "moduleInvitations":modulesInvitationsExceptUserMI
                            }) }}
                        {% endfor %}
                        </tbody>
                    </table>
                    <script>
                        $(document).ready(function () {
                            $('#pollmodule-table-{{ module.token }}').DataTable({
                                paging: false,
                                ordering: false,
                                info: false,
                                searching: false,
                                responsive: {
                                    details: {}
                                },
                                columnDefs: [
                                    {targets: 0, responsivePriority: 1, width: 130},
                                    {targets: 1, responsivePriority: 2},
                                    {targets: -1, responsivePriority: 3}
                                ]
                            });
                        });
                    </script>
                </div>

                {#<div class="p-5 o-auto">
                    <div class="poll-container">
                        <div class="pc-ligne">
                            <div class="pcl-celulle"></div>
                            <div class="pcl-celulle">
                                <span class="userInvitation-avatar">
                                    {{ include('@App/Event/partials/guest/display_guest_avatar.html.twig', {'invitation':userModuleInvitation}) }}
                                </span>
                            </div>
                            {% for moduleInvitation in modulesInvitationsExceptUserMI %}
                                <div class="pcl-celulle">
                                    {{ include('@App/Event/partials/guest/display_guest_avatar.html.twig', {'invitation':moduleInvitation}) }}
                                </div>
                            {% endfor %}
                            <div class="pcl-celulle">
                                {% if module.moduleInvitations|length > maxColModule %}
                                    #}{# TODO implement "display more"-functionnality #}{#
                                    <span class="zmdi-hc-stack zmdi-hc-lg">
                                        <i class="zmdi zmdi-circle zmdi-hc-stack-2x"></i>
                                        <i class="zmdi zmdi-more zmdi-hc-stack-1x zmdi-hc-inverse"></i>
                                    </span>
                                {% endif %}
                            </div>
                        </div>
                        <div class="pc-groupe-ligne palette-Grey-100 bg" id="pp-row-group-{{ module.token }}">
                            {% for pollProposal in module.pollModule.pollProposals if not pollProposal.deleted and pollProposal.id is not null %}
                                {{ include('@App/Event/module/pollModulePartials/pollProposalGuestResponseRowDisplay.html.twig', {
                                    "pollProposal":pollProposal,
                                    "userModuleInvitation":userModuleInvitation,
                                    "moduleInvitations":modulesInvitationsExceptUserMI
                                }) }}
                            {% endfor %}
                            <div class="pc-ligne pc-ligne-empty" id="pp-empty-{{ module.token }}">
                                <div class="pcl-celulle w-100">
                                    {{ "pollmodule.display.no_proposal"|trans }}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>#}
            </div>
        </div>
    {% endif %}
{% endblock moduleBody %}

{% block moduleFooter %}{% endblock moduleFooter %}

{% block module_modal_container %}
    {% if pollProposalAddForm is defined and pollProposalAddForm is not null %}
        {# TODO Check authorization to addPollProposal #}
        {{ include('@App/Event/module/pollModulePartials/pollProposal_form_modal.html.twig', {
            'userModuleInvitation' : userModuleInvitation,
            'pollProposalForm' : pollProposalAddForm,
            'pp_form_modal_prefix' : add_pp_form_modal_prefix,
            'edition' : false
        }) }}
    {% endif %}
{% endblock module_modal_container %}
