{# Entête d'un module
Données d'entrée :
- module (Module) Le module à afficher
- moduleForm (Form|null) Le formulaire d'édition du module
- userModuleInvitation (ModuleInvitation) L'invitation du module de l'utilisateur connecté
#}


<div id="module-header-{{ module.token }}" class="card-header {% block moduleHeaderClass %} bgm-teal m-b-10{% endblock %}" {% block moduleHeaderAttributs %}{% endblock %}>
    {% block moduleHeader %}
        <div class="media">
            <div class="pull-left">
                {% block mhMediaLeft %}{% endblock mhMediaLeft %}
            </div>
            <div class="pull-right">
                {% block mhMediaRight %}
                    {% if is_granted(constant('AppBundle\\Security\\ModuleVoter::EDIT'), [module, userModuleInvitation])
                    or is_granted(constant('AppBundle\\Security\\ModuleVoter::DELETE'), [module, userModuleInvitation]) %}
                        <ul class="actions a-alt">
                            <li class="dropdown">
                                <a href="" data-toggle="dropdown" aria-expanded="false"> <i class="zmdi zmdi-settings"></i> </a>
                                <ul class="dropdown-menu dropdown-menu-right dm-icon">
                                    {% if is_granted(constant('AppBundle\\Security\\ModuleVoter::EDIT'), [module, userModuleInvitation]) %}
                                        <li>
                                            <a data-toggle="modal" href="#moduleEdit_modal_{{ module.token }}"><i class="zmdi zmdi-edit"></i> {{ "global.button.edit"|trans }}</a>
                                        </li>
                                    {% endif %}
                                    {% if is_granted(constant('AppBundle\\Security\\ModuleVoter::DELETE'), [module, userModuleInvitation]) %}
                                        <li>
                                            <a href="{{ path('removeEventModule', {'token':module.token}) }}" id="menu_removeModule_{{ module.token }}"> <i class="zmdi zmdi-delete c-red"></i>
                                                {{ "global.button.delete"|trans }}</a></li>
                                        <script>
                                            $('#menu_removeModule_{{ module.token }}').on('click', function (e) {
                                                e.preventDefault();
                                                var removeModuleLink = $(this);
                                                if (!eventInvitationValid && askGuestName !== undefined) {
                                                    askGuestName(e, removeModuleAction, [removeModuleLink, e]);
                                                } else {
                                                    removeModuleAction([removeModuleLink, e]);
                                                }
                                            });

                                            function removeModuleAction(params) {
                                                var link = params[0];
                                                var e = params[1];
                                                swal({
                                                    title: '{{ "module.alert.confirm_deletion.title"|trans }}',
                                                    text: '{{ "module.alert.confirm_deletion.message"|trans }}',
                                                    type: "warning",
                                                    showCancelButton: true,
                                                    cancelButtonText: '{{ "global.button.cancel"|trans }}',
                                                    confirmButtonColor: "#DD6B55",
                                                    confirmButtonText: '{{ "global.button.delete"|trans }}',
                                                    showLoaderOnConfirm: true
                                                }).then(function () {
                                                    ajaxRequest(link, null, e, function (responseJSON, textStatus, jqXHR) {
                                                        if (responseJSON.hasOwnProperty('data') && responseJSON['data'].hasOwnProperty('moduleToken')) {
                                                            $('#module-' + responseJSON['data']['moduleToken']).remove();
                                                            $grid = $('.grid');
                                                            if ($grid[0]) {
                                                                $grid.masonry('layout');
                                                            }
                                                        }
                                                    }, null, null);
                                                });
                                            }
                                        </script>
                                    {% endif %}
                                </ul>
                            </li>
                        </ul>
                    {% endif %}
                {% endblock mhMediaRight %}
            </div>
            <div class="media-body">
                {% block mhMediaBody %}
                    {% set organizerNames = "" %}
                    {% for organizerInvitation in module.organizers %}
                        {% set organizerNames = organizerNames~(loop.index > 1?', ')~ organizerInvitation.displayableName(true, not userModuleInvitation.eventInvitation.organizer) %}
                    {% endfor %}
                    <h2>
                        <i class="zmdi zmdi-help zmdi-hc-lg c-white m-r-10"></i> <span id="module_{{ module.token }}_name">
                           {{ module.name is not empty?module.name }}
                        </span>
                        {% if organizerNames is not empty %}
                            <small>{{ "event.header.organised_by"|trans({"%organizer%":organizerNames}) }}</small>
                        {% endif %}
                    </h2>
                {% endblock mhMediaBody %}
            </div>
        </div>
        {% block mhBtnFloat %}{% endblock mhBtnFloat %}
    {% endblock moduleHeader %}
</div>