{% extends "@App/Event/module/displayModule.html.twig" %}

{# Données d'entrée :
- module (Module) Le module à afficher
- moduleForm (Form|null) Le formulaire d'édition du module
- userModuleInvitation (ModuleInvitation) L'invitation du module de l'utilisateur connecté
- pollProposalAddForm (Form|null) Le formulaire d'ajout d'une proposition
#}


{% set maxColModule = constant("AppBundle\\Manager\\ModuleInvitationManager::MAX_COLUMN_DISPLAYABLE") %}
{% set add_pp_form_modal_prefix = 'add_pp_fm_'~module.token %}

{% block moduleCardClass %}{{ parent() }}{% endblock moduleCardClass %}
{% block moduleHeaderClass %}{{ parent() }}{% endblock moduleHeaderClass %}
{% block moduleHeaderAttributs %}{{ parent() }}{% endblock moduleHeaderAttributs %}

{% block mhBtnFloat %}{% endblock mhBtnFloat %}

{% block moduleBodyClass %}card-padding-sm{% endblock %}
{#{% block moduleBodyAttributs %}{% endblock %}#}
{% block moduleBody %}
    {{ parent() }}
    {% if module.pollModule is not null %}
        <div class="w-100 poll-container">
            <table id="pollmodule-table-{{ module.token }}" class="table-striped w-100">
                {#                <thead>
                                <tr>
                                    <td>Description</td>
                                    <td class="response-column">Résultats</td>
                                    <td class="voting-column">Réponse</td>
                                </tr>
                                </thead>#}
                <tbody id="pp-row-group-{{ module.token }}">
                {# Pour chaque proposition #}
                {% for pollProposal in module.pollModule.pollProposals if not pollProposal.deleted and pollProposal.id is not null %}
                    {{ include('@App/Event/module/pollModulePartials/pollProposalGuestResponseRowDisplay.html.twig', {
                        "pollProposal":pollProposal,
                        "userModuleInvitation":userModuleInvitation,
                        "moduleInvitations":module.moduleInvitations
                    }) }}
                {% endfor %}
                </tbody>
            </table>
        </div>
        <div class="text-center m-20">
                {{ include('@App/Event/module/pollModulePartials/pollProposalGuestResponseTableDisplay.html.twig', {
                    "moduleInvitations":module.moduleInvitations
                }) }}

            <a data-toggle="modal" href="#pollModuleDisplayAllResult_{{ module.token}}" class="btn btn-default waves-effect">Voir l'ensemble des réponses</a>
        </div>


        {% if pollProposalAddForm is defined and pollProposalAddForm is not null %}
            {{ include('@App/Event/module/pollModulePartials/pollProposal_form_min.html.twig', {
                'userModuleInvitation' : userModuleInvitation,
                'pollProposalForm' : pollProposalAddForm,
                'pp_form_modal_prefix' : add_pp_form_modal_prefix
            }) }}
        {% endif %}
    {% endif %}
{% endblock moduleBody %}

{#{% block moduleFooter %}{% endblock moduleFooter %}#}

{% block module_modal_container %}{% endblock module_modal_container %}
