<div class="card c-dark z-depth-1" id="addModule-main-div">
    <div class="card-header palette-Teal bg m-b-10">
        <h2>{{ "addModule.display.title"|trans }}</h2>
    </div>
    <div class="card-body card-padding-sm" id="addModule-body-card">
        <div class="row">
            <div class="col-xs-6 col-sm-3 text-center">
                <a class="add-pollmodule-link" href="{{ url('addEventModule', {'token': event.token, 'type':constant('AppBundle\\Utils\\enum\\ModuleType::POLL_MODULE'),
                    'subtype':constant('AppBundle\\Utils\\enum\\PollModuleType::WHAT')}) }}" id="addWhatPollModule">
                    <i class="waves-effect zmdi zmdi-pin-help zmdi-hc-5x"></i>
                    <p>{{ "pollmodule.add_link.what"|trans }}</p></a>
            </div>
            <div class="col-xs-6 col-sm-3 text-center">
                <a class="add-pollmodule-link" href="{{ url('addEventModule', {'token': event.token,'type':constant('AppBundle\\Utils\\enum\\ModuleType::POLL_MODULE'),
                    'subtype':constant('AppBundle\\Utils\\enum\\PollModuleType::WHEN')}) }}" id="addWhenPollModule">
                    <i class="waves-effect zmdi zmdi-calendar zmdi-hc-5x"></i>
                    <p>{{ "pollmodule.add_link.when"|trans }}</p></a>
            </div>
            <div class="col-xs-6 col-sm-3 text-center">
                <a class="add-pollmodule-link" href="{{ url('addEventModule', {'token': event.token,'type':constant('AppBundle\\Utils\\enum\\ModuleType::POLL_MODULE'),
                    'subtype':constant('AppBundle\\Utils\\enum\\PollModuleType::WHERE')}) }}" id="addWherePollModule">
                    <i class="waves-effect zmdi zmdi-pin zmdi-hc-5x"></i>
                    <p>{{ "pollmodule.add_link.where"|trans }}</p> </a>
            </div>
            <div class="col-xs-6 col-sm-3 text-center">
                <a class="add-pollmodule-link" href="{{ url('addEventModule', {'token': event.token,'type':constant('AppBundle\\Utils\\enum\\ModuleType::POLL_MODULE'),
                    'subtype':constant('AppBundle\\Utils\\enum\\PollModuleType::WHO_BRINGS_WHAT')}) }}" id="addWhoBringsWhatPollModule">
                    <i class="waves-effect zmdi zmdi-format-list-bulleted zmdi-hc-5x"></i>
                    <p>{{ "pollmodule.add_link.whobringswhat"|trans }}</p></a>

            </div>
        </div>
    </div>
</div>

<script>
    $('.add-pollmodule-link').on('click', function (e) {
        if (!eventInvitationValid && askGuestName !== undefined) {
            e.preventDefault();
            askGuestName();
        } else {
            ajaxRequest(this, null, e, function (responseJSON, textStatus, jqXHR) {
                var eventModulesContainer = $('#eventModulesContainer');
                $(document).scrollTop($(eventModulesContainer).children().last().offset().top - 100);
                $('.grid').masonry('layout');
                LetterAvatar.transform();
            }, function(jqXHR, textStatus, errorThrown){
                if (jqXHR.hasOwnProperty('responseJSON')) {
                    var responseJSON = jqXHR['responseJSON'];
                    if(responseJSON.hasOwnProperty('data') && responseJSON['data'].hasOwnProperty('eventInvitationValid') && !responseJSON['data']['eventInvitationValid']) {
                        if (!eventInvitationValid && askGuestName !== undefined) {
                            askGuestName();
                        }
                    }
                }
            }, null);
        }
    });
</script>