{# Données d'entrée :
- event (Event) Evenement affiché
- wizard (boolean) Si true Alors dans le wizard
#}

<div class="row">
    <div class="col-xs-3 col-sm-2 col-sm-offset-1 text-center">
        <a class="add-pollmodule-link" href="{{ url('addEventModule', {'token': event.token,'type':constant('AppBundle\\Utils\\enum\\ModuleType::POLL_MODULE'),
            'subtype':constant('AppBundle\\Utils\\enum\\PollModuleType::ACTIVITY'),'wizard':wizard}) }}" id="addActivityPollModule"> <i class="waves-effect zmdi zmdi-ticket-star zmdi-hc-3x"></i>
            <p>{{ "pollmodule.add_link.activity"|trans }}</p></a>
    </div>
    <div class="col-xs-3 col-sm-2 text-center">
        <a class="add-pollmodule-link" href="{{ url('addEventModule', {'token': event.token,'type':constant('AppBundle\\Utils\\enum\\ModuleType::POLL_MODULE'),
            'subtype':constant('AppBundle\\Utils\\enum\\PollModuleType::WHEN'),'wizard':wizard}) }}" id="addWhenPollModule"> <i class="waves-effect zmdi zmdi-calendar zmdi-hc-3x"></i>
            <p>{{ "pollmodule.add_link.when"|trans }}</p></a>
    </div>
    <div class="col-xs-3 col-sm-2 text-center">
        <a class="add-pollmodule-link" href="{{ url('addEventModule', {'token': event.token,'type':constant('AppBundle\\Utils\\enum\\ModuleType::POLL_MODULE'),
            'subtype':constant('AppBundle\\Utils\\enum\\PollModuleType::WHERE'),'wizard':wizard}) }}" id="addWherePollModule"> <i class="waves-effect zmdi zmdi-pin zmdi-hc-3x"></i>
            <p>{{ "pollmodule.add_link.where"|trans }}</p></a>
    </div>
    <div class="col-xs-3 col-sm-2 text-center">
        <a class="add-pollmodule-link" href="{{ url('addEventModule', {'token': event.token,'type':constant('AppBundle\\Utils\\enum\\ModuleType::POLL_MODULE'),
            'subtype':constant('AppBundle\\Utils\\enum\\PollModuleType::WHO_BRINGS_WHAT'),'wizard':wizard}) }}" id="addWhoBringsWhatPollModule"> <i class="waves-effect zmdi zmdi-format-list-bulleted zmdi-hc-3x"></i>
            <p>{{ "pollmodule.add_link.whobringswhat"|trans }}</p></a>
    </div>
    <div class="col-xs-3 col-sm-2 text-center">
        <a class="add-pollmodule-link" href="{{ url('addEventModule', {'token': event.token, 'type':constant('AppBundle\\Utils\\enum\\ModuleType::POLL_MODULE'),
            'subtype':constant('AppBundle\\Utils\\enum\\PollModuleType::WHAT'),'wizard':wizard}) }}" id="addWhatPollModule"> <i class="waves-effect zmdi zmdi-pin-help zmdi-hc-3x"></i>
            <p>{{ "pollmodule.add_link.what"|trans }}</p></a>
    </div>


    <script>
        $(document).ready(function () {
            $('.add-pollmodule-link').on('click', function (e) {
                var target = $(this);
                e.preventDefault();
                if (!target.hasClass('disabled')) {
                    $('.add-pollmodule-link').addClass("disabled");
                    if (!eventInvitationValid && askGuestName !== undefined) {
                        askGuestName(e, addModuleAction, [target, e], function () {
                            $('.add-pollmodule-link').removeClass("disabled");
                        });
                    } else {
                        addModuleAction([target, e]);
                    }
                }
            });
        })
    </script>
</div>

