{% extends "@App/Event/module/displayModule.html.twig" %}

{# Données d'entrée :
- module (Module) Le module à afficher
- moduleForm (Form|null) Le formulaire d'édition du module
- userModuleInvitation (ModuleInvitation) L'invitation du module de l'utilisateur connecté
- pollProposalAddForm (Form|null) Le formulaire d'ajout d'une proposition
#}


{% set maxColModule = constant("AppBundle\\Manager\\ModuleInvitationManager::MAX_COLUMN_DISPLAYABLE") %}
{% set add_pp_form_modal_prefix = 'add_pp_fm_'~module.token %}

{% block moduleCardClass %}{{ parent() }}{% endblock moduleCardClass %}
{% block moduleHeaderClass %}{{ parent() }}{% endblock moduleHeaderClass %}
{% block moduleHeaderAttributs %}{{ parent() }}{% endblock moduleHeaderAttributs %}

{% block mhBtnFloat %}{% endblock mhBtnFloat %}

{% block moduleBody %}
    {% if module.pollModule is not null %}
        <div class="card-body card-padding-sm">
            {% set proposalList = module.pollModule.getValidPollProposal %}
            <div class="w-100 poll-container">
                <table id="pollmodule-table-{{ module.token }}" class="table-striped w-100">
                    <tbody id="pp-row-group-{{ module.token }}">
                    {# Pour chaque proposition #}
                    {% for pollProposal in module.pollModule.pollProposals if not pollProposal.deleted and pollProposal.id is not null %}
                        {{ include('@App/Event/module/pollModulePartials/pollProposalGuestResponseRowDisplay.html.twig', {
                            "pollProposal":pollProposal,
                            "userModuleInvitation":userModuleInvitation,
                            "moduleInvitations":module.moduleInvitations
                        }) }}
                    {% endfor %}
                    <tr class="tr-no-proposal">
                        <td colspan="3">{{ "pollmodule.display.no_proposal"|trans }}</td>
                    </tr>
                    </tbody>
                    {% if pollProposalAddForm is defined and pollProposalAddForm is not null %}
                        <tfoot>
                        <tr>
                            <td colspan="3">
                                <a href="#{{ add_pp_form_modal_prefix }}_modal_id" class="" data-toggle="modal"><i class="zmdi zmdi-plus-square m-t-10 m-b-10"></i>
                                    {{ "pollmodule.modal.addPollProposal.title"|trans }}</a>
                                {{ include('@App/Event/module/pollModulePartials/pollProposal_form_modal.html.twig', {
                                    'userModuleInvitation' : userModuleInvitation,
                                    'pollProposalForm' : pollProposalAddForm,
                                    'pp_form_modal_prefix' : add_pp_form_modal_prefix,
                                    'edition' : false
                                }) }}
                            </td>
                        </tr>
                        </tfoot>
                    {% endif %}
                </table>
            </div>

            <div class="text-center m-t-10 m-b-10">
                <a class="btn btn-default" id="pollModuleDisplayAllResult_{{ module.token }}_button" role="button" href="{{ path('pollModuleDisplayResultTable', {"moduleToken": module.token }) }}"
                   {% if proposalList is empty %}style="display: none;"{% endif %}>{{ "pollmodule.display.result.allresult"|trans }}</a>
                <script>
                    $('#pollModuleDisplayAllResult_{{ module.token }}_button').on('click', function (e) {
                        ajaxRequest($(this), null, e, function (responseJSON, textStatus, jqXHR) {
                            LetterAvatar.transform();
                            $('#pollModuleDisplayAllResult_{{ module.token }}_modale').modal('show');
                        }, null, null);
                    });
                </script>
            </div>
            {# Conteneur pour la modale ajouté via ajax #}
            <div id="pollModuleDisplayAllResult_{{ module.token }}_container"></div>


        </div>
    {% endif %}
{% endblock moduleBody %}

{#{% block moduleFooter %}{% endblock moduleFooter %}#}

{% block module_modal_container %}{% endblock module_modal_container %}
