{% extends "ATUserBundle::layout_cboxed.html.twig" %}

{# Données d'entrée !
- user (User) L'utilisateur dont on affiche le profil
- form_connexion_information (Form) Le formulaire des informations obligatoires
- form_app_user_info_personals (Form|null) Le formulaire pour la partie "Information basique"
- form_app_user_info_complementaries (Form|null) Le formulaire pour la partie "A propos de vous"
#}

{% block title %}
    {% spaceless %}{{ parent() }} - {{ "profile.show.page.meta_title"|trans }}{% endspaceless %}
{% endblock %}


{% block fos_user_content %}
    <div class="card" id="profile-main">
        <div class="card-header">
            <h2><span class="user-public-name">{{ user.displayableName }}</span>
                <small class="user-email">{{ user.email }}</small>
            </h2>
        </div>

        <div class="card-body">
            <div role="tabpanel">
                <ul id="profile-tabs" class="tab-nav tn-justified" role="tablist">
                    <li id="tab-profile-information" class="waves-effect">
                        <a href="#profile-information" aria-controls="profile-information" role="tab" data-toggle="tab">{{ "profile.show.tab.profile_information"|trans }}</a>
                    </li>
                    <li id="tab-profile-contacts" class="waves-effect">
                        <a href="#profile-contacts" aria-controls="profile-contacts" role="tab" data-toggle="tab">{{ "profile.show.tab.profile_contacts"|trans }}</a>
                    </li>
                    <li id="tab-profile-preferences" class="waves-effect">
                        <a href="#profile-preferences" aria-controls="profile-preferences" role="tab" data-toggle="tab">{{ "profile.show.tab.profile_preferences"|trans }}</a>
                    </li>
                </ul>

                <div class="tab-content">
                    <div role="tabpanel" class="tab-pane" id="profile-information">
                        <div id="profile-main">
                            <div class="pm-overview c-overflow">
                                <div class="pmo-pic">
                                    <div class="p-relative">
                                        {#TODO : user avatar#}
                                        <a href="#"> <img class="img-responsive" src="{{ asset('bundles/atuser/profile/avatar_default.png') }}" alt="AVATAR"> </a>
                                        {#<div class="pmop-message">
                                            <a href="{{ path("fos_user_profile_edit") }}" class="btn palette-White bg btn-float z-depth-1"><i class="zmdi zmdi-edit"></i></a>
                                        </div>#}

                                        <a href="#" class="pmop-edit"> <i class="zmdi zmdi-camera"></i> <span class="hidden-xs">{{ "profile.show.page.avatar_update"|trans }}</span> </a>
                                    </div>

                                    <div class="pmo-stat">
                                        <h2 class="m-0 c-white">156</h2>
                                        Total Invitations
                                    </div>

                                    {#<div class="pmo-block pmo-contact hidden-xs">#}
                                        {#<h2>Contact</h2>#}

                                        {#<ul>#}
                                            {#<li><i class="zmdi zmdi-email"></i> {{ app.user.email }}</li>#}
                                            {#<li><i class="zmdi zmdi-phone"></i> 00971 12345678 9</li>#}
                                            {#<li><i class="zmdi zmdi-facebook-box"></i> malinda.hollaway</li>#}
                                            {#<li><i class="zmdi zmdi-google"></i> malinda.hollaway</li>#}
                                            {#<li>#}
                                                {#<i class="zmdi zmdi-pin"></i>#}
                                                {#<address class="m-b-0 ng-binding">#}
                                                    {#44-46 Morningside Road,<br> Edinburgh,<br> Scotland#}
                                                {#</address>#}
                                            {#</li>#}
                                        {#</ul>#}
                                    {#</div>#}
                                </div>
                            </div>

                            <div class="pm-body clearfix">
                                {{ include('@ATUser/Profile/partials/profile_about.html.twig', {
                                    'user':user,
                                    'form_connexion_information':form_connexion_information,
                                    'form_app_user_info_personals':form_app_user_info_personals,
                                    'form_contact_details':form_contact_details,
                                    'form_app_user_info_complementaries':form_app_user_info_complementaries
                                }) }}
                            </div>
                        </div>
                    </div>
                    <div role="tabpanel" class="tab-pane" id="profile-contacts">
                        Contacts
                        {#{{ include('@ATUser/Contact/partials/display_contacts.html.twig', {'contacts':user.contacts}) }}#}
                    </div>
                    <div role="tabpanel" class="tab-pane" id="profile-preferences">
                        Préférences
                        {#{{ include('@ATUser/Profile/partials/profile_preferences.html.twig') }}#}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock fos_user_content %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset("bundles/app/css/jquery.bootgrid.css") }}">
    <link rel="stylesheet" href="{{ asset("bundles/app/css/selectize.bootstrap3.css") }}">
    <link rel="stylesheet" href="{{ asset("bundles/app/css/selectize.at.css") }}">
{% endblock stylesheets %}

{% block top_javascripts %}
    {{ parent() }}
    <script src="{{ asset("bundles/app/js/jquery.bootgrid-updated.js") }}"></script>
    <script src="{{ asset("bundles/app/js/selectize-standalone.min.js") }}"></script>
    <script src="{{ asset("bundles/app/js/at-selectize.js") }}"></script>

{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('bundles/atuser/js/profile/at-about.js') }}"></script>
{% endblock javascripts %}