{% extends "ATUserBundle::layout_cboxed.html.twig" %}

{# Données d'entrée :
- user (AccountUser) L'utilisateur dont on affiche le profil
- form_contact_details (Form|null) Le formulaire pour la partie "Informations Personnelles"
- form_contact_details (Form|null) Le formulaire pour la partie "Coordonnées"
- form_app_user_info_complementaries (Form|null) Le formulaire pour la partie "A propos de vous"
- form_appuseremail (Form) Ajout d'un AppUserEmail au compte
#}

{% block title %}
    {% spaceless %}{{ parent() }} - {{ "profile.show.page.meta_title"|trans }}{% endspaceless %}
{% endblock %}


{% block fos_user_content %}
    <div class="card" id="profile-card">
        <div class="card-header">
            <h2><span class="user-public-name">{{ user.displayableName }}</span>
                <small class="user-email">{{ user.email }}</small>
            </h2>
        </div>

        <div class="card-body">
            <div role="tabpanel">
                <ul id="profile-tabs" class="tab-nav tn-justified" role="tablist">
                    <li id="tab-profile-information" class="waves-effect">
                        <a href="#profile-information" aria-controls="profile-information" role="tab" data-toggle="tab">{{ "profile.show.tab.profile_information"|trans }}</a>
                    </li>
                    <li id="tab-profile-contacts" class="waves-effect">
                        <a href="#profile-contacts" aria-controls="profile-contacts" role="tab" data-toggle="tab">{{ "profile.show.tab.profile_contacts"|trans }}</a>
                    </li>
                    <li id="tab-profile-preferences" class="waves-effect">
                        <a href="#profile-preferences" aria-controls="profile-preferences" role="tab" data-toggle="tab">{{ "profile.show.tab.profile_preferences"|trans }}</a>
                    </li>
                </ul>

                <div class="tab-content">
                    <div role="tabpanel" class="tab-pane" id="profile-information">
                        {{ include('@ATUser/Profile/partials/profile_about.html.twig', {
                            'user':user,
                            'form_app_user_info_personals':form_app_user_info_personals,
                            'form_contact_details':form_contact_details,
                            'form_app_user_info_complementaries':form_app_user_info_complementaries
                        }) }}
                    </div>
                    <div role="tabpanel" class="tab-pane" id="profile-contacts">
                        {# User -> Contacts|ContactGroups #}
                        {{ include('@ATUser/Profile/partials/profile_connections.html.twig', {
                            'contacts': user.applicationUser.contacts,
                            'contactGroups': user.applicationUser.contactGroups}) }}
                    </div>
                    <div role="tabpanel" class="tab-pane" id="profile-preferences">
                        Préférences
                        {#{{ include('@ATUser/Profile/partials/profile_preferences.html.twig') }}#}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock fos_user_content %}

{% block page_modal_container %}
    {{ parent() }}
    <div id="editAppUserEmail_modalContainer">{# where  modals to add/edit AppUserEmail will be added by Ajax request #}</div>
{% endblock page_modal_container %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset("bundles/app/css/jquery.bootgrid.css") }}">
    <link rel="stylesheet" href="{{ asset("bundles/app/css/selectize.bootstrap3.css") }}">
    <link rel="stylesheet" href="{{ asset("bundles/app/css/selectize.at.css") }}">
{% endblock stylesheets %}

{% block top_javascripts %}
    {{ parent() }}
    <script src="{{ asset("bundles/app/js/jquery.bootgrid-updated.js") }}"></script>
    <script src="{{ asset("bundles/app/js/selectize-standalone.min.js") }}"></script>
    <script src="{{ asset("bundles/app/js/at-selectize.js") }}"></script>

{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('bundles/atuser/js/profile/user-profile.js') }}"></script>
{% endblock javascripts %}