{% extends "@App/Event/partials/invitations/invitations_new_forms.html.twig" %}
{# Données d'entrée :
- userEventInvitation (EventInvitation) L'invitation à afficher (incluant l'événement concerné)
- invitationsForm (Form) Formulaire permettant d'ajouter des emails
#}

{% block form_start %}
    {{ form_start(invitationsForm , {'action':path('wizardNewEvent',{'token':userEventInvitation.event.token,
        'stepIndex':constant("AppBundle\\Controller\\EventController::WIZARD_NEW_EVENT_STEP_INVITATIONS")})}) }}
{% endblock form_start %}

{% block action_buttons %}
    <div class="text-center">
        <div>
            <button type="submit" class="btn btn-primary m-b-10" id="invitations_preview" name="sendInvitations" value="0">{{ "event.wizard.button.preview"|trans }}</button>
            <button type="submit" class="btn btn-default m-b-10" id="invitations_sendInvitations" name="sendInvitations" value="1">{{ "event.wizard.button.send_invitations"|trans }}</button>
        </div>
        <a href="{{ path('wizardNewEvent',{'token':userEventInvitation.event.token,'stepIndex':constant("AppBundle\\Controller\\EventController::WIZARD_NEW_EVENT_STEP_PROFILE")}) }}"
           class="btn btn-default waves-effect m-b-10" role="button">{{ "global.button.previousStep"|trans }}</a>
    </div>
{% endblock action_buttons %}

{% block js_document_ready %}
    $('#shareEventFB_container').remove();
    $('#event_public_invitation_display').remove();
{% endblock js_document_ready %}