{% extends "@App/Event/partials/profile/eventInvitation_profile_form.html.twig" %}
{# Données d'entrée :
- userEventInvitation (EventInvitation) Invitation de l'utilisateur de l'utilisateur
- userEventInvitationForm (Form) Formulaire du profil de l'invité pour l'invitation
#}

{% set wizard_context = true %}

{% block form_start %}
    {{ form_start(userEventInvitationForm, {'attr':{'id':userEventInvitationForm.vars.id}, 'action': path('wizardNewEventStep3', {'token':userEventInvitation.event.token})}) }}
{% endblock form_start %}

{% block action_buttons %}
    <div class="text-center">
        <a href="{{ path('wizardNewEventStep2',{'token':userEventInvitation.event.token}) }}" class="btn btn-flat m-b-10" role="button">{{ "global.button.previousStep"|trans }}</a>
        <button id="profile_form_submit" type="submit" class="btn {{ userEventInvitation.displayableName(false) is empty?"btn-primary":"btn-link b-1" }} m-b-10">
            {{ userEventInvitation.displayableName(false) is empty?"global.button.nextStep"|trans:"global.button.save"|trans }}</button>
    </div>
{% endblock action_buttons %}

{#<script>#}
    {% block submitEventInvitationProfileForm_succes %}
        $('.disabling-cover').remove();
    {% endblock submitEventInvitationProfileForm_succes %}

    {% block js_document_ready %}
    {% endblock js_document_ready %}
{#</script>#}
