{% extends ":Email:template_email.html.twig" %}
{# Données :
- recipient_name (string) Le nom du destinaire
- eventInvitation (EventInvitation) L'invitation à envoyer
- organizerNames (string) Le noms du.des organisateur.s à faire apparaître dans la signature
#}

{% block subject_email %}{{ 'eventInvitation.email.invitation.subject'|trans }}{% endblock %}

{% block text_body %}
    {% if message is empty %}
        {{ "eventInvitation.email.invitation.body.paragraph.first_part"|transchoice(organizerNames|split(',')|length, {"%event_name%":eventInvitation.event.name}) }}
        {% if eventInvitation.event.description is not empty and eventInvitation.event.description != '<p><br></p>' %}
            {{ eventInvitation.event.description|raw }}
        {% endif %}
    {% else %}
        {{ message }}
    {% endif %}

    {{ "eventInvitation.email.invitation.body.paragraph.text_link"|trans }}
    {{ url('displayEventInvitation',{'token':eventInvitation.token}) }}
    {{ "eventInvitation.email.invitation.body.paragraph.warning_secret"|trans }}
{% endblock %}
{% block text_signature %}{{ organizerNames is not empty?organizerNames:"email.signature.organizers"|trans }}{% endblock text_signature %}

{% block html_body %}
    {% if message is empty %}
        <p>{{ "eventInvitation.email.invitation.body.paragraph.first_part"|transchoice(organizerNames|split(',')|length, {"%event_name%":eventInvitation.event.name}) }}</p>
        {% if eventInvitation.event.description is not empty and eventInvitation.event.description != '<p><br></p>' %}
            <div style="background: #f5f5f5; border: 1px solid #e3e3e3; border-radius: 2px; padding: 0 9px">
                {{ eventInvitation.event.description|raw }}
            </div>
        {% endif %}
    {% else %}
        <p>{{ message|nl2br }}</p>
    {% endif %}
    <p>{{ "eventInvitation.email.invitation.body.paragraph.text_link"|trans }}
        <a href="{{ url('displayEventInvitation', {'token':eventInvitation.token}) }}">
            {{ url ('displayEventInvitation', {'token':eventInvitation.token}) }}</a>
    </p><p style="text-align:center"><i>{{ "eventInvitation.email.invitation.body.paragraph.warning_secret"|trans }}</i></p>
{% endblock %}
{% block html_signature %}
    <h4>{% if organizerNames is not empty %}{{ organizerNames }}{% else %}{{ "email.signature.organizers"|trans }}{% endif %}</h4>
{% endblock %}