{% extends ":Email:template_email.html.twig" %}
{# Données :
- recipient_name (string) Le nom du destinaire
- eventInvitation (EventInvitation) L'invitation à envoyer
- organizerNames (string) Le noms du.des organisateur.s à faire apparaître dans la signature
#}

{% block subject_email %}{{ 'eventInvitation.email.recap.subject'|trans({"%eventName%":eventInvitation.event.name})|raw  }}{% endblock %}

{% block text_body %}
    {{ 'eventInvitation.email.recap.body.paragraph'|trans({"%event_name%":eventInvitation.event.name})|raw }}
    {{ url('displayEventInvitation',{'token':eventInvitation.token}) }}
    {{ "eventInvitation.email.invitation.body.paragraph.warning_secret"|trans }}
{% endblock %}
{% block text_signature %}{{ organizerNames is not empty?organizerNames:"email.signature.organizers"|trans }}{% endblock text_signature %}

{% block html_body %}
    <p>{{ "eventInvitation.email.recap.body.paragraph"|trans({"%event_name%":eventInvitation.event.name}) }}<br> <a
                href="{{ url('displayEventInvitation', {'token':eventInvitation.token}) }}">{{ url('displayEventInvitation', {'token':eventInvitation.token}) }}</a>
    </p>
    <p style="text-align:center"><i>{{ "eventInvitation.email.invitation.body.paragraph.warning_secret"|trans }}</i></p>
{% endblock %}
{% block html_signature %}
    <h4>{% if organizerNames is not empty %}{{ organizerNames }}{% else %}{{ "email.signature.organizers"|trans }}{% endif %}</h4>
{% endblock %}
