{% extends '@ATUser/layout.html.twig' %}

{% block meta_title %}
    {% spaceless %}{{ parent() }} - {{ "security.page.meta_title"|trans }}{% endspaceless %}
{% endblock %}

{# Vidage du menu latéral #}
{% block sidebar_collapse_cmd %}{% endblock %}
{% block s_main_menu %}{% endblock s_main_menu %}

{% block main_section_id %}{% endblock %}
{% block main_content_class %}{{ parent() }} c-boxed{% endblock %}

{% block fos_user_content %}
    <div class="card">
        <div class="card-header">
            <h1>{{ "security.page.title"|trans }}</h1>
        </div>
        <div class="card-body card-padding">
            {{ include('@ATUser/Security/partials/login_form.html.twig') }}
        </div>
    </div>
{% endblock fos_user_content %}

{% block javascripts %}
    {{ parent() }}
{% endblock %}